/* wbCommon.css */

/* txt */

.txt_point {color:#f78f33}
.txt_green {color:#fe842a}
.txt_alert {color:#f78f33}
.txt_alert:before {background:url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_txt_alert.png') no-repeat;}
.asterisk:after {color:#f78f33}

/* EOD : txt */

/* checkBox & Radio */

/* checkbox */

input[type="checkbox"] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/button/common_chk.png') no-repeat;}
input[type="checkbox"]:checked + label:before , input[type="checkbox"][disabled]:checked + label:before  {background:url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/button/common_chk.png') no-repeat -30px center;}
input[type="checkbox"][disabled] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/button/common_chk.png') no-repeat -60px center;}

.checkList.button input[type="checkbox"]:checked + label {background: #fe842a; border: 1px solid #fe842a;}
.checkList.button input[type="checkbox"]:focus + label:before { outline:1px solid #fe842a; }

/* EOD : checkbox */

/* radio */

input[type="radio"] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/button/common_radio.png') no-repeat;}
input[type="radio"]:checked + label:before , input[type="radio"][disabled]:checked + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/button/common_radio.png') no-repeat -30px center;}
input[type="radio"][disabled] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/button/common_radio.png') no-repeat -60px center;}

.radioList.button input[type="radio"]:checked + label {background:#fe842a; border: 1px solid #fe842a; color:white}
.radioList.button input[type="radio"]:focus + label:before { outline:1px solid #fe842a; }

/* EOD : radio */

/* EOD : checkBox & Radio */

/* button */

.btn_sr_blue , .btn_s_blue , .btn_m_blue {background:#fe842a; border: 1px solid #fe842a;}
.btn_sr_blue:hover , .btn_s_blue:hover , .btn_m_blue:hover {background:#f78f33;  border: 1px solid #f78f33;}
.btn_m_blue_gra , .btn_s_blue_gra {background:#fe842a; background:linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%);}
.btn_m_blue_gra:hover , .btn_s_blue_gra:hover {background: #f78f33; background:linear-gradient(90deg, rgba(254,132,42,1) 0%, rgba(254,132,42,1) 100%);}

.btn_s_black:hover , .btn_m_black:hover {background: #fffaea;}

/* EOD : button */

/* icon */

.icon_new {background: url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_new.png') no-repeat;}
.icon_search {background: url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_blue_search.png') no-repeat;}
.icon_q {background: url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_q.png') no-repeat;}
.icon_q:hover {background: url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_q_hover.png') no-repeat;}

/* EOD : icon */

/* label */

.label_s_blue {background-color: #f78f33; border: 1px solid #f78f33;}

/* EOD : label */

.top_banner {background-color:#fe951d}
.tob_banner_btnBox .btn_today {background-color:#fe842a}
.tob_banner_btnBox .btn_close {background-color:#f78f33}

.service_membership > li:first-child > a {color:#f78f33}
.mainBannerBox .paginationIn .control_paging > li > span.now_num {color:#f78f33}

.gnb .twoDepth > li > a:after {background:#fe842a; background:linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%);}

.pagination a.active {background:#fe842a;}
.moreBox .more_btn:hover {background-color:#fe842a; border: 1px solid #fe842a;}

/* search */

.searchBox .textBoxIn {border-color: #6eb2a8; border-image-source:linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%);}
.searchBox .textBoxIn .inputBox input::placeholder {color:#f78f33}

/* EOD : search */

.table_normal tbody tr td .linkBox.arrow > a .txt {color:#f78f33}
.table_normal tbody tr td .linkBox > a:hover  {color:#f78f33}
.table_normal tbody tr td .linkBox.arrow > a:after  {background: url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_board_link_arrow.png') no-repeat;}

.tab_arrow > li .cnt {background: #fe842a;}

.viewBox .file_area ul li a {color:#f78f33}
.faq_list li.active a {color:#f78f33}

/* popup */

.popup_wrap .popupH , .windowPopH {background:#fe842a; background:linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%);}

/* EOD : popup */

/* table */

.table_normal tbody tr.notice td {background:#fffaea}
.table_normal tbody tr.notice td:first-child {color:#f78f33}
.table_normal tbody tr td .linkBox > a:hover .txt {color:#f78f33}

/* EOD : table */

.gnb > li > a:before {background:#fe842a; background:linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%);}
.header .customerInfo .num li , .header .customerInfo .mail {color:#fe842a}
.header .customerInfo .num li + li {color: #f78f33;}


/* EOD : wbCommon.css */


/* wbUser.css */

/* Layout */

.content_menuBoxIn:before {background:#fe842a; background:linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%);}
.content_menu .familysite {background-color:#f76f33}
.content_menu .familysite .pagination .control_paging {color:#d7d7d7}

.cop_menu > li:nth-child(2) > a {color:#f78f33}
.hot_number .number {color:#f78f33}

.sub_nav:before {background:#fe842a; background:linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%);}
.sub_nav > li > a:hover, .sub_nav > li.active a {background-color: #f76f33;}

.customer_areaBox .infoBox .num , .customer_areaBox .infoBox .mail {color:#f78f33}
.service_membership > li:first-child > a:hover , .cop_menu > li:nth-child(2) > a:hover {color:#fe842a}

.gnb > li:hover > a > span {color: #f78f33}
.gnb > li > a > span:after {background-color: #f78f33;}

/* EOD : Layout */

/* Popup */

.main_Pop {background:#fe842a; background:linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%);}
.main_Pop .main_PopC {border: 5px solid #ffe1ba;}
.main_Pop .main_PopF_L {background-color: #b15d1d;}
.main_Pop .main_PopF_R .btn_close {background: #985117;}

/* EOD : Popup */

/* main */

.ProcessBox .btn_like.active  {background:#fe842a}
.ProcessBox .serviceBox , .ProcessBox .serviceBox .star_service {background-color:#fe842a}
.ProcessBox .serviceBox .demo_service {background-color:#f78f33}
.ProcessBox .serviceBox .star_service .star_score {background:url("../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_star_score.png") 0 0 repeat-x}
.ProcessBox .thumBox .contentBox .thum_label , .process_listBox .thumBox .contentBox .thum_label {color:#fe842a}
.ProcessBox .thumBox .contentBox .thum_tit:hover {color:#f78f33}

.main_notice .tit .txt:hover {color:#f78f33}
.main_notice .tit .txt:before , .main_notice .tit .txt:after {background:#fe842a}

.count_moreBox .numBox .now_num {color:#fe842a}

.customerBox .txtBox .num {color:#f78f33}
.customerBox .txtBox .num + .num {color:#fe842a}
.customerBox .txtBox .mail {color:#f78f33}
.customerBox .imgBox .icon_tel {background:url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_main_customer.png') no-repeat; background-size: cover;}

.intro_content {background:#d5dafa; background:linear-gradient(90deg, rgba(254,245,216,1) 8%, rgba(255,230,212,1) 89%);}
.intro_slider_main .slick-track .slick-slide > div > div .txtBox a {color:#f78f33}
.intro_slider_main .slick-track .slick-slide > div > div .txtBox a:after {border-bottom: 2px solid #f78f33;}
.intro_slider_main .slick-track .slick-slide > div > div .txtBox a:before {background:url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_intro_detail_arrow.png') no-repeat;}
.intro_slider_nav .slick-track .slick-slide.slick-current > div .label {color:#f78f33}
.intro_slider_nav .slick-track .slick-slide.slick-current > div .imgBox {border:2px solid #f78f33;}

/* EOD : main */

/* sub */

/* 교육원소개 */

/* 연혁 */

.history_year_circle {background-color:#fe842a;}

/*  EOD : 연혁 */

/* EOD : 교육원소개 */

/* 훈련과정 */

/* 훈련 일정 */

.planLinkBox > ul > li.active a {border:1px solid #f78f33;}
.planLinkBox > ul > li.active a.link_calender {background:#f78f33 url("../../../..https://webpi.github.io/step_portal/images/template9/resp/default/icon/icon_datepicker_active.png") no-repeat 18px 9px}
.planLinkBox > ul > li.active a.link_list {background:#f78f33 url("../../../..https://webpi.github.io/step_portal/images/template9/resp/default/icon/icon_list_active.png") no-repeat 18px 9px}

/* EOD :  훈련 일정 */

/* 훈련 과정 리스트 */

.process_listBox .thumBox .btn_like.active {background:#fe842a}
.process_listBox .serviceBox , .process_listBox .serviceBox .star_service {background-color:#fe842a}
.process_listBox .serviceBox .demo_service {background-color:#f78f33}
.process_listBox .serviceBox .star_service .star_score {background:url("../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_star_score.png") 0 0 repeat-x}
.process_listBox .contentBox .thum_label {color:#fe842a}
.process_listBox .thumBox:hover .thum_tit {color:#f78f33}

/* EOD : 훈련 과정 리스트 */

/* 훈련 과정 상세 */

.lectureBoxL .btn_blue {background: #fe842a; background: linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.lectureBoxL .btn_blue:hover {background: #f78f33; background: linear-gradient(90deg, rgba(86,107,236,1) 0%, rgba(86,107,236,1) 100%);}
.list_contents > ul > li > .class {color:#f78f33}
.list_contents_dpeth > .list.active a {color:#f78f33}

.join_write_process > ul > li.active .stepIn {background-color:#fe842a;}
.join_write_process > ul > li:first-child.active .step:after {border-left: 24px solid #fe842a;}
.join_write_comp .circle {background-color: #fe842a;}
.join_write_comp p {color: #fe842a;}

/* EOD : 훈련 과정 상세 */

/* EOD : 훈련과정 */

/* 마이페이지 */

/* 마이 홈 */

.chart .progress .graph01 .bar , .myH_Status .circle.color01 {background:#32b0de}
.chart .progress .graph02 .bar , .myH_Status .circle.color02 {background:#fe842a}
.chart .progress .graph03 .bar , .myH_Status .circle.color03 {background:#825ecc}
.chart .progress .graph04 .bar , .myH_Status .circle.color04 {background:#f84f4f}
.chart .progress .graph05 .bar , .myH_Status .circle.color05 {background:#2dac5c}
.chart .progress .graph06 .bar , .myH_Status .circle.color06 {background:#fe842a}
.chart .progress .graph07 .bar , .myH_Status .circle.color07 {background:#555}

.wgBox .progressBarIn .bar {background:#fe842a}
.wgBox .infoBox .dateBox .data strong , .wgBox .progressPer .num , .sub_contentBox .pagination .paging > li > span.now_num {color:#f78f33}
.wgBox .buttonBox > a, .wgBox .buttonBox > button , .wgBox.type03 .buttonBox > a, .wgBox.type04 .buttonBox > button {background:#fe842a; background:linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%); }
.wgBox .buttonBox > a:hover , .wgBox .buttonBox > button:hover , .wgBox.type03 .buttonBox > a:hover , .wgBox.type04 .buttonBox > button:hover {background: #f78f33; background: linear-gradient(90deg, rgba(254,132,42,1) 0%, rgba(254,132,42,1) 100%);}
.wgBox .labelBox > li .label_blue {background-color:#fe842a; border:#fe842a}

.wgBox .txtBox a.tit:hover , .wgBox .txtBox .sub_infoBox .info.comp , .sub_contentBox .listBoxIn .txtBox a:hover {color: #fe842a;}

/* EOD : 마이 홈 */

/* 나의 학습 */

.ThumBox .txtBox .label , .progressWrap .progressPer .num {color: #fe842a;}
.star_review .review_txt {color: #fe842a;}
.progressWrap .progressBarIn .bar {background-color:#fe842a;}

.star_review .starList {background: url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_star_radio.png') no-repeat}
.star_review .starList input[type="radio"]:checked + label , .starList input[type="radio"]:hover + label {background: url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_star_radio_active.png') no-repeat}

/* EOD : 나의 학습 */

/* 관심 과정 */

.ThumBox .likeBox span , .ThumBox .txtBox a.tit:hover {color: #fe842a;}
.ThumBox .likeBox .icon_heart {background: url('../../../..https://webpi.github.io/step_portal/images/template9/resp/orange/icon/icon_heart.png') no-repeat;}

/* EOD : 관심 과정 */

.list_Process .txtBox .label ,  .list_study .txtBox .label , .list_Book .txtBox .tit {color: #fe842a;}

/* EOD : 마이페이지 */

/* memberShip */

.tc_terms_list .stepBox > a {background-color: #fe842a;}
.tc_terms_list .list.active .stepBox > a {color: #fe842a;}
.link_download {color: #fe842a;}

.ms_procees > ul > li.active .ms_Circle {background-color: #fe842a;  border: 2px solid #fe842a;}
.ncsTypeBox .tit {background-color: #fe842a;}
.ncsTypeBox .list_type li.active a {color: #fe842a;}

/* EOD : memberShip */


.search_wrap .search_top .search_total .keyword, .search_wrap .search_top .search_total .cnt {color: #fe842a;}


@media only all and (max-width: 640px) {


    .gnb .twoDepth > li > a:hover {color: #f78f33;}
    .planLinkBox > ul > li.active a.link_calender {background: #f78f33 url('../../../..https://webpi.github.io/step_portal/images/template9/resp/default/icon/icon_datepicker_active.png') no-repeat 9px 9px}
    .planLinkBox > ul > li.active a.link_list {background: #f78f33 url('../../../..https://webpi.github.io/step_portal/images/template9/resp/default/icon/icon_list_active.png') no-repeat 9px 9px;}

}

/* EOD : sub */


/* EOD : wbUser.css */


/* datepicker.css */

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a {color: #566bec;}
.ui-datepicker .ui-datepicker-header {background: #fe842a; background:linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%)}
.ui-datepicker-current-day a {background-color: #fe842a !important}

/* EOD : datepicker.css */

/* fullcalendar.css */


a.fc-more  {color:#f76f33;}

.fc-unthemed .fc-popover .fc-header {background: #fe842a; background: linear-gradient(90deg, rgba(255,167,15,1) 8%, rgba(254,132,42,1) 89%)}

/* EOD : fullcalendar.css */


/* jquery.mCustomScrollbar.css */

.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color:#fe842a}

.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color:#fe842a}

/* EOD : jquery.mCustomScrollbar.css */