@charset "utf-8";


input[disabled], textarea:disabled {
	color: #919191;
	background-color: #f5f5f5;
}
div.selectBox { 
	border: 1px solid #dedede;
	background: #ffffff url('/images/template6/resp/default/usr/bg_select.png') right center no-repeat;
}
select {
	border: none;
}
textarea {
	border: 1px solid #dedede;
	background: #ffffff;
}
.searchBox {
	background: #f5f5f5;
}

/* text */
.error {
	color: #f0564c;
}
.warning {
	color: #f0564c;
}
.success {
	color: #17adad;
}

/* box */
.boxGray {
	background: #f5f5f5;
}
.borderBox {
	border: 1px solid #dedede;
}
.textBox.scrollBox {
	border: 1px solid #dedede;
}
.textBox em {
    color: #0c50a1;
}
.msgBox.success {
	border: 1px solid #8bd6d6;
	color: #17adad;
	background: #eff9f9;
}

.msgBox.success strong {
	color: #f0564c;
}
.msgBox.success:before {
	background: url('/images/template6/resp/default/usr/icon_msgbox_success.png') center center no-repeat;
}

/* icon */
.icon {
	color: #ffffff;
}
.icon.refund {
	border: 1px solid #003464;
	color: #003464;
	background: #ffffff;
}
.icon.noRefund {
	border: 1px solid #003464;
	color: #003464;
	background: #ffffff;
}
.icon.individual {
	border: 1px solid #f0564c;
	color: #ffffff;
	background: #f0564c;
}
.icon.company {
	border: 1px solid #17adad;
	color: #ffffff;
	background: #17adad;
}
.icon.mobile {
	border: 1px solid #4587d1;
	color: #ffffff;
	background: #4587d1;
}
.icon.pc {
	border: 1px solid #919191;
	color: #ffffff;
	background: #919191;
}
.icon.movie {
	border: 1px solid #5e5e5e;
	color: #ffffff;
	background: #5e5e5e;
}
.icon.data {
	border: 1px solid #f68b1f;
	color: #ffffff;
	background: #f68b1f;
}
.icon.course {
    padding-bottom: 0px;
	border: 1px solid #225fa4;
	color: #ffffff;
	background: #225fa4;
}

.icon.event { /* 이벤트 */
	border: 1px solid #f68b1f;
	color: #f68b1f;
	background: #fef6ed;
}
.icon.best { /* 베스트 */
	border: 1px solid #4587d1;
	color: #4587d1;
	background: #f0f6fb;
}
.icon.new.type2 { /* 신규 */
	border: 1px solid #17adad;
	color: #17adad;
	background: #edf9f9;
}
.icon.recommend { /* 추천 */
	border: 1px solid #f0564c;
	color: #f0564c;
	background: #fef2f1;
}
.icon.popularity { /* 인기 */
	border: 1px solid #225fa4;
	color: #225fa4;
	background: #eef2f8;
}
.icon.book { /* 교재 */
	border: 1px solid #77a4d8;
	color: #ffffff;
	background: #77a4d8;
}
.icon.share { /* 모바일병행 */
	border: 1px solid #3faa53;
	color: #ffffff;
	background: #3faa53;
}


.icon.lock {
	background: url('/images/template6/resp/default/usr/icon_lock.png') center 5px no-repeat;
}
.icon.normal {
	border: 1px solid #e7e9ea;
	color: #61696f;
	background: #e7e9ea;
}
.icon.question {
	border: 1px solid #e5eef6;
	color: #0057a8;
	background: #e5eef6;
}
.icon.progress {
	border: 1px solid #51c2c2;
	color: #17adad;
	background: #ffffff;
}
.icon.standby {
	border: 1px solid #f48079;
	color: #f0564c;
	background: #ffffff;
}
.icon.end {
	border: 1px solid #adadad;
	color: #919191;
	background: #ffffff;
}
.icon.member {
	color: #292f37;
	background: url('/images/template6/resp/default/usr/icon_member.png') 0 2px no-repeat;
}
.icon.feed {
	color: #292f37;
	background: url('/images/template6/resp/default/usr/icon_feed.png') 0 3px no-repeat;
}
.icon.notice {
	border: 1px solid #333333;
	color: #333333;
	background: #ffffff;
}
.grade span {
	background: url('/images/template6/resp/default/usr/icon_grade.png') 0 0 no-repeat;
}
.grade span.active {
	background: url('/images/template6/resp/default/usr/icon_grade_active.png') 0 0 no-repeat;
}
.grade span.num {
	color: #f0564c;
	background: none;
}

/* button */
.boardWrite table td button, .inclub button, .review .btnView, .btnShortcut, #sub .remote li > div button { /* ash */
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background: #f5f5f5;
} 
.boardWrite table td button:hover, .inclub button:hover, .review .btnView:hover, .btnShortcut:hover, #sub .remote li > div button:hover {
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
	background: #fefefe;
} 

.btnClassroom, .btnSurvey, .btnWrite, .btnConfirm, .btnSurveyDone, .btnJoin, .btnSave, .btnWithdrawal, .register .btnNext, 
.btnEntrance, .findIdpw .btnLogin, .btnCertify, .btnNext, .btnAgree, .btnReset, .btnYes,
.btnRegisterDone, .inside.btnDownload, .btnModify { /* blue */
	border: 1px solid #225fa4;
	color: #ffffff;
	background: #225fa4;
}
.btnClassroom:hover, .btnSurvey:hover, .btnWrite:hover, .btnConfirm:hover, .btnSurveyDone:hover, .btnJoin:hover, .btnSave:hover, .btnWithdrawal:hover, .register .btnNext:hover, 
.btnEntrance:hover, .findIdpw .btnLogin:hover, .btnCertify:hover, .btnNext:hover, .btnAgree:hover, .btnReset:hover, .btnYes:hover,
.btnRegisterDone:hover, .inside.btnDownload:hover, .btnModify:hover {
	border: 1px solid #225fa4;
	color: #225fa4;
	background: #eef2f8;
}
.btnSearch, .btnResult, .btnDelivery, .btnDelete, .btnCancel, .btnTemporaryDone, .btnReturn, .btnUnfollow, .btnClose, .btnCategory, .btnList, 
.btnAdd, .findIdpw .btnPwFind, .floatLeft .btnPrev, .floatLeft .btnNext, .inclub .btnWithdrawal, .btnJoinNext, .btnJoinNot, .btnRecommend, .btnNo,
.course+.btnArea .btnList, .inside.btnView, .courseView .content .lecture .textBox .btnArea .btnView,
.popup .certificate .btnCertificate:hover  {/* gray */
	border: 1px solid #919191;
	color: #ffffff;
	background: #919191; 
}
.btnSearch:hover, .btnResult:hover, .btnDelivery:hover, .btnDelete:hover, .btnCancel:hover, .btnTemporaryDone:hover, .btnReturn:hover, .btnUnfollow:hover, .btnClose:hover, .btnCategory:hover, .btnList:hover, 
.btnAdd:hover, .findIdpw .btnPwFind:hover, .floatLeft .btnPrev:hover, .floatLeft .btnNext:hover, .inclub .btnWithdrawal:hover, .btnJoinNext:hover, .btnJoinNot:hover, .btnRecommend:hover, .btnNo:hover,
.course+.btnArea .btnList:hover, .inside.btnView:hover, .courseView .content .lecture .textBox .btnArea .btnView:hover {
	border: 1px solid #919191;
	color: #919191;
	background: #f6f6f6;
}

.btnReceive {
	border: 1px solid #17adad;
	color: #ffffff;
	background: #17adad;
}
.btnReceive:hover {
	border: 1px solid #17adad;
	color: #17adad;
	background: #edf9f9;
}
#sub .thumbnList.type2 li li > div.state .btnCancel, .btnJoinCancel {/* red */
	border: 1px solid #f0564c;
	color: #ffffff;
	background: #f0564c;
}
#sub .thumbnList.type2 li li > div.state .btnCancel:hover, .btnJoinCancel:hover {
	border: 1px solid #f0564c;
	color: #f0564c;
	background: #fef2f1;
}
div.book .box .textBox .title .btnList {
    border: none;
    color: #ffffff;
    background: #919191;
}
.btnPreview {
	border: 1px solid #2972c4;
	color: #ffffff;
	background: #2972c4;
}
.btnPreview:hover {
 	border: 1px solid #2972c4;
	color: #2972c4;
	background: #eef4fa;
}
.btnRegister { /* yellow */
	border: 1px solid #f68b1f;
	color: #ffffff;
	background: #f68b1f;
}
.btnRegister:hover {
	border: 1px solid #f68b1f;
	color: #f68b1f;
	background: #fef6ed;
}

.textBox .btnDelivery, .feed .btnCommentWrite, .thumbnList li .btnArea .btnBook {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background-color: #f5f5f5;
}
.popup .certificate .btnCertificate  {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background-color: #f5f5f5;
	background-image: none;
}
.btnCertificate {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;	
	background: #f5f5f5 url('/images/template6/resp/default/button/btn_certificate.png') 74px center no-repeat;
}
.btnCertificate:hover {
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
	background: #fefefe url('/images/template5/resp/default/button/btn_certificate.png') 74px center no-repeat;
}
.textBox .btnDelivery, .feed .btnCommentWrite {	
	background: #f5f5f5 url('/images/template5/resp/default/button/btn_delivery.png') 60px center no-repeat;
}
.textBox .btnDelivery:hover, .feed .btnCommentWrite:hover {	
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
}
.textBox .btnDelivery.active, .feed .btnCommentWrite.active {
	background: #f5f5f5 url('/images/template5/resp/default/button/btn_delivery_active.png') 60px center no-repeat;
}

.paging a { /* paging */
    border: none;
}
.paging a:hover,
.paging a.active { 
    border: 1px solid #4587d1;
    color: #ffffff;
    background: #4587d1;
}
.paging .btnFirst {
    border: 1px solid #ffffff;
    background: #ffffff url('/images/template6/resp/default/button/btn_paging.png') -1px -1px no-repeat;
}
.paging .btnFirst:hover {
    border: 1px solid #4587d1;
	background: #4587d1 url('/images/template6/resp/default/button/btn_paging_hover.png') -1px -1px no-repeat;
}
.paging .btnPrev {
    border: 1px solid #ffffff;
	background: #ffffff url('/images/template6/resp/default/button/btn_paging.png') -31px -1px no-repeat;
}
.paging .btnPrev:hover {
    border: 1px solid #4587d1;
	background: #4587d1 url('/images/template6/resp/default/button/btn_paging_hover.png') -31px -1px no-repeat;
}
.paging .btnNext {
    border: 1px solid #ffffff;
    background: #ffffff url('/images/template6/resp/default/button/btn_paging.png') -61px -1px no-repeat;
}
.paging .btnNext:hover {
    border: 1px solid #4587d1;
	background: #4587d1 url('/images/template6/resp/default/button/btn_paging_hover.png') -61px -1px no-repeat;
}
.paging .btnLast {
	border: 1px solid #ffffff;
    background: #ffffff url('/images/template6/resp/default/button/btn_paging.png') -91px -1px no-repeat;
}
.paging .btnLast:hover {
    border: 1px solid #4587d1;
	background: #4587d1 url('/images/template6/resp/default/button/btn_paging_hover.png') -91px -1px no-repeat;
}

.listAttach li a {
	color: #5e5e5e;
}
.listAttach .btnDefault, .softwareDown .btnDefault {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background: #f5f5f5;
}
.listAttach .btnDownload, .softwareDown .btnDownload {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background: #f5f5f5 url('/images/template5/resp/default/button/btn_download.png') 61px center no-repeat;
}
.listAttach .btnDefault:hover, .softwareDown .btnDefault:hover {
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
	background: #fefefe;
}
.listAttach .btnDownload:hover, .softwareDown .btnDownload:hover {
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
	background: #fefefe url('/images/template5/resp/default/button/btn_download.png') 61px center no-repeat;
}
.listAttach .btnDelete, .listAttach .btnDelete:hover {
	background: url('/images/template6/resp/default/button/btn_delete.png') 0 0 no-repeat;
}

/* tab */
.contentsBox .tab:before {
	border-bottom: 1px solid #c4c4c4;
}
.tab ul li a {
	border: solid 1px #c4c4c4;
	color: #5e5e5e;
}
.tab ul li.active a,
.tab ul li a:hover {
	border: 1px solid #77a4d8;
	color: #ffffff;
	background: #77a4d8;
}
.tab li.active:before,
.tab li:hover:before {
	border-top: 9px solid #77a4d8;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.tab.type2 {
	border-left: none;
}

.tab.type2 .btnPrev {
	border: 1px solid #c4c4c4;
    background: #ffffff url('/images/template6/resp/default/button/btn_tab.png') 0px center no-repeat;
}
.tab.type2 .btnNext {
	border: 1px solid #c4c4c4;
    background: #ffffff url('/images/template6/resp/default/button/btn_tab.png') -30px center no-repeat;
}
.contentsBox .tab.type2 .btnPrev:before,
.contentsBox .tab.type2 .btnNext:before {
	background: #ffffff;
} 

.tab+.category {
	border: solid #e9e9e9;
	border-width: 0px 1px 1px 1px;
}
.tab+.category > span:before {
	background: #919191;
} 

.step li {
	background: #e7e9ea;
}
.step li:before {
	border-left: 27px solid #ffffff;
	border-top: 55px solid transparent;
	border-bottom: 55px solid transparent;
}
.step li:after {
	border-left: 27px solid #e7e9ea;
	border-top: 55px solid transparent;
	border-bottom: 55px solid transparent;
}
.step li:first-child:before {
	border-left: 1px solid #e7e9ea;
	border-top: none;
	border-bottom: none;
}
.step li:first-child.active:before {
	border-left: 1px solid #0c50a1;
	border-top: none;
	border-bottom: none;
}
.step li.active {
	background: #0c50a1;
}
.step li.active:after {
	border-left: 27px solid #0c50a1;
}
.step li > div > p {
	color: #61696f;
}
.step li > div > p > span {
	color: #8e9599;
	border-bottom: 1px solid #a7acaf;
}
.step li.active > div > p {
	color: #ffffff;
}
.step li.active > div > p > span {
	color: #72b4f2;
	border-bottom: 1px solid #60a5e9;
}
.step li .step01 {
	background: url('/images/template6/resp/default/usr/step_01.png') 61px 11px no-repeat;
}
.step li .step02 {
	background: url('/images/template6/resp/default/usr/step_02.png') 73px 11px no-repeat;
}
.step li .step03 {
	background: url('/images/template6/resp/default/usr/step_03.png') 73px 11px no-repeat;
}
.step li .step04 {
	background: url('/images/template6/resp/default/usr/step_04.png') 65px 11px no-repeat;
}
.step li.active .step01 {
	background: url('/images/template6/resp/default/usr/step_active_01.png') 61px 11px no-repeat;
}
.step li.active .step02 {
	background: url('/images/template6/resp/default/usr/step_active_02.png') 73px 11px no-repeat;
}
.step li.active .step03 {
	background: url('/images/template6/resp/default/usr/step_active_03.png') 73px 11px no-repeat;
}
.step li.active .step04 {
	background: url('/images/template6/resp/default/usr/step_active_04.png') 65px 11px no-repeat;
}

.register .step li {
	color: #919191;
	background: #ffffff;
}
.register .step li:before {
	content: " ";
	border-left: 25px solid #e9e9e9;
	border-top: 36px solid transparent;
	border-bottom: 36px solid transparent;
}
.register .step li:first-child:before {
    border-left: 24px solid #ffffff;
    border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
}
.register .step li.active:first-child:before {
    border-left: 24px solid #f5f5f5;
    border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
}
.register .step li.active {
	color: #2c2c2c;
	background: #f5f5f5;
}
.register .step li span { 
    color: #c4c4c4;
}
.register .step li.active span {
    color: #f68b1f;
}
.register .step li span {	
	background: url('/images/template6/resp/blue/usr/img_step.png') 0px 0px no-repeat;
}
.register .step li + li span {
	background: url('/images/template6/resp/blue/usr/img_step.png') -42px 0px no-repeat;
}
.register .step li.active span {	
	background: url('/images/template6/resp/blue/usr/img_step.png') 0px -42px no-repeat;
}
.register .step li + li.active span {
	background: url('/images/template6/resp/blue/usr/img_step.png') -42px -42px no-repeat;
}

/* layout */
#container #sub .contentsWrap {
	background: #ffffff;
}
#contents > .headingBox .location {
	color: #61696f;
}
#container #sub .contentsWrap .location strong {
	color: #61696f;
}
.popup > h3 {
	color: #ffffff;
	background: #00346e;
	border-bottom: 3px solid #f68b1f;
}
.popup > .btnClose,
.popup > .btnClose:hover {
    border: none;
	background: url('/images/template6/resp/default/button/popup_btn_close.png') center center no-repeat;
}
.popup .contentsWrap .contentsBox {
	background: #ffffff;
}

/* board */
table th.asterisk:before {
	color: #f0564c;
}
table td {
    border-top: 1px solid #e9e9e9;
}
table tbody tr:first-child td {
    border-top: none;
}
.boardList, .boardWrite, .boardView {
	border-top: 2px solid  #5e5e5e;
	border-bottom: 1px solid #dedede;
}	

.boardList tbody tr:hover { /* boardList */
	background: #f5f8fc;
} 
.boardList table th {
	border-bottom: 1px solid #dedede;
	background: #fafafa;
}

.boardView table thead th { /* boardView */
	border-bottom: 1px solid #e9e9e9;
	background: #fafafa;
}
.boardView table thead tr:first-child th {
	border-top: none;
}
.boardView table tbody th {
	border-top: 1px solid #e9e9e9;
	border-bottom: none;
	background: #fafafa;
}
.boardView table tbody tr:first-child th {
	border-top: none;
}
.boardView td.info {
	border-bottom: 1px solid #dedede;
	background: #fafafa;
}
.boardView td.info p span {
    color: #5e5e5e;
}
.boardView td.info p span+span:before {
    color: #dedede;
}

.boardWrite table th { /* boardWrite */
	border-top: 1px solid #e9e9e9;
	background: #fafafa;
}
.boardWrite table tbody tr:first-child td {
    border-top: none;
}
.boardWrite .inclubImage {
    border: 1px solid #dedede;
}
.boardWrite td ul.grade li  label span {
    background: url('/images/template6/resp/default/usr/icon_grade_active.png') 0 0 no-repeat;
}
.boardView td .info, .boardWrite td .info {
    color: #919191;
}

.table {
	border-top: 1px solid #dedede;
}
.table th {
	border-left: 1px solid #e9e9e9;
	border-bottom: 1px solid #dedede;
	background: #e9eef4;
}
.table th:first-child {
	border-left: none;
}
.table th.diagonal {  /* 표 대각선 */
	background: #f3f4f4 url('/images/template6/resp/default/usr/bg_diagonal.png') 0 0 no-repeat;
	background-size: 50% 100%;
}
.table th.diagonal.top {
	border-bottom: none;
}
.table th.diagonal.bottom {
    border-top: none;
	background-position: right bottom;
}
.table td.cellEm {
	background: #fef5f6;
}
.table tbody th {
    background: #e9eef4;
}
.table td {
	border: solid #e9e9e9;
	border-width: 0px 0px 1px 1px;
}
.table td:first-child {
	border-left: none;
}
.boardWrite td .listAttach {
	border: 1px solid #dedede;
	background: #fafafa;
}

.thumbnList li { /* thumbnList */
	border: 1px solid #dedede;
}
.thumbnList li:hover {
	border: 1px solid #919191;
}
.thumbnList li .btnArea .info {
	color: #f0564c;
}
.thumbnList li .iconBox.type2 {
	border-top: 1px solid #d9dddf;
}

#crsRegList .thumbnList.type2,
.totalList+.thumbnList.type2 {
	border-top: 1px solid #c4c4c4;
}
.thumbnList.type2 li,
.thumbnList.type2 li:hover {
	border: none;
	border-bottom: 1px solid #c4c4c4;
}
.thumbnList.type2 li > div:first-child {
	border-width: 0px 0px 1px 0px ;
}
.thumbnList.type2 li:first-child > div {
	border-top: 2px solid #5e5e5e;
	border-bottom: 1px solid #dedede;
}
.thumbnList.type2 li .progressRate > span.num {
	color: #f68b1f;
}
.thumbnList.type2 li .progressRate .rate {
	background: #fde8d2;
}
.thumbnList.type2 li .progressRate .rate > span {
	background: #f68b1f;
}
.btnSchedule {
	color: #0057a8;
}

.totalList .floatRight a {
	border: 1px solid #c4c4c4;
}
.totalList .floatRight a.active {
	border: 1px solid #5e5e5e;
}
.totalList .floatRight a.list {
	background: #ffffff url('/images/template6/resp/default/button/btn_tab_list.png') center center no-repeat;
}
.totalList .floatRight a.list.active {
	background: #ffffff url('/images/template6/resp/default/button/btn_tab_list_active.png') center center no-repeat;
}
.totalList .floatRight a.thumbnail {
	background: #ffffff url('/images/template6/resp/default/button/btn_tab_thumbnail.png') center center no-repeat;
}
.totalList .floatRight a.thumbnail.active {
	background: #ffffff url('/images/template6/resp/default/button/btn_tab_thumbnail_active.png') center center no-repeat;
}

/* contents */
.boardWrite.findIdpw { /* findIdPw */
	border: none;
}
.boardWrite.findIdpw table th, .boardWrite.findIdpw table td {
	border: none;
	background: none;
}
.boardWrite.findIdpw .info {
	background: #f5f5f5;
}

.course { /*course*/
	border-bottom: 1px solid #dedede;
}
.course > .title {
	border-top: 1px solid #dedede;
	background: #f5f5f5;
}
.course .share button {
	border: 1px solid #aeb4b7;
	background: #f8f8f9 url('/images/template6/resp/default/button/btn_share_select.png') center 15px no-repeat;
}
.course .share .btnSelect.active {
	background-image: url('/images/template6/resp/default/button/btn_share_select_active.png');
}
.course .share .btnSelect:hover:before {
    color: #ffffff;
    background: #444444;
}
.course .share .btnSelect:hover:after {
    border-top: 6px solid #444444;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.course > .imgBox {
	border: 1px solid #dedede;
}
.course .sns a {
	background-image: url('/images/template6/resp/default/usr/icon_sns.png');
	background-repeat: no-repeat;
}
.course .sns a.facebook {
	background-position: 0 0;
}
.course .sns a.twitter {
	background-position: -36px 0;
}
.course .sns a.url {
	background-position: -72px 0;
}
.course .sns a.kakaotalk {
	background-position: -108px 0;
}
.course .sns a.band {
	background-position: -144px 0;
}
.courseView .content .lecture > .info:first-child {
	color: #f0564c;
}
.courseView .content .lecture .textBox p > span+span:before {
	color: #dedede;
}
div.book {
    border: 1px solid #dedede;
}
.courseView .content .book ul > li {
    border-top: 1px solid #e9e9e9;
}
.courseView .content .book ul > li:first-child {
    border-top: none;
}
div.book .box .imgBox {
	border: 1px solid #dedede;
}
div.book .box .imgBox .badge {
	background: url('/images/template6/resp/default/usr/badge_book_type1.png') 0 0 no-repeat;
}
div.book .box .imgBox .badge.type2 {
    background: url('/images/template6/resp/default/usr/badge_book_type2.png') 0 0 no-repeat;
}
div.book .box .textBox p span {
    color: #5e5e5e;
}
div.book .box .textBox p span:before {
    color: #dedede;
}
div.book .box .btnView {
    color: #ffffff;
    background: #4587d1 url('/images/template6/resp/default/button/btn_view.png') 137px center no-repeat;
}
div.book .box .btnView.active {
    background: #4587d1 url('/images/template6/resp/default/button/btn_view_active.png') 137px center no-repeat;
}
.courseView .content .book > strong {
    border-bottom: 1px solid #e9e9e9;
    background: #f5f5f5 url('/images/template6/resp/default/usr/bult_book.png') 30px 11px no-repeat;
}
.book .view {
    border-top: 1px solid #e9e9e9;
    background: #f5f5f5;
}
.courseView .content h5, .view h6 {
    background: url('/images/template6/resp/default/usr/bult_courseDetail_h5.png') 0 4px no-repeat;
}
.courseEplg li p:first-child:before, .appraisal li p:first-child:before {
	background: #919191;
}
.courseEplg li p.name {
	color: #919191;
}
.toolBar .btnArea .btnRegister {
	border: solid #dedede;
	border-width: 1px;
	color: #4587d1;
	background: #ffffff url('/images/template6/resp/default/button/btn_toolbar_register.png') 10px center no-repeat;
	background-size: 22px 22px;
}
.toolBar .btnArea .btnRegister:hover {
	border: solid #c4c4c4;
	border-width: 1px;
	background: #f7f7f7 url('/images/template6/resp/default/button/btn_toolbar_register.png') 10px center no-repeat;
	background-size: 22px 22px;
}
.toolBar .btnArea .btnRegister p {
	color: #4587d1;
}
.toolBar .btnArea .btnTop,
.toolBar .btnArea .btnTop:hover {
	border: 1px solid #c4c4c4;
	background: #ffffff url('/images/template6/resp/default/button/btn_top_mobile.png') center 8px no-repeat;
}
.toolBar .btnArea .btnTop span {
	color: #919191;
}
.toolBar .btnArea .btnRegister.disable {
	color: #c4c4c4;
	background: #ffffff url('/images/template6/resp/default/button/btn_toolbar_register_disable.png') 10px center no-repeat;
	background-size: 22px 22px;
}
.toolBar .btnArea .btnRegister.disable:hover {
	border: solid #dedede;
	border-width: 1px;
}
.toolBar .btnArea .btnRegister.disable p {
	color: #4c4c4;
}
.courseView .content .thumbnList {
	border: none;
}
.courseView .content .thumbnList.book li {
	border: none;
}
.courseView .content .thumbnList.book li .imgBox {
	border: 1px solid #dedede;
}
.courseView .content .thumbnList .bx-prev {
	background: url('/images/template6/resp/default/button/btn_slider_prev.png') 0 0 no-repeat;
}
.courseView .content .thumbnList .bx-next {
	background: url('/images/template6/resp/default/button/btn_slider_next.png') 0 0 no-repeat;
}
.thumbnList .textBox .title > a+span.info {
	color: #f0564c;
}

.tab+div.category { /* FAQ */
	border: 1px solid #d9dddf;
	border-top: none;
}
.tab+div.category>span {
	color: #61696f;
	border: 1px solid #d9dddf;
}
.tab+div.category>span:hover, .tab+div.category>span.active {
	border: 1px solid #61696f;
}

.profileImg {
	background: url('/images/template6/resp/default/usr/bg_default_profile.png') center center no-repeat;
	background-size: 100%;
}
.profileBg {
	background: url('/images/template6/resp/default/usr/bg_profile.png') 0 0 no-repeat;
	background-size: 100%;
}

.expand .btnMore {
	border: none;
	background: #c4c4c4 url('/images/template6/resp/default/button/register_btn_more.png') center center no-repeat;
}
.expand .btnMore:hover {
	border: none;
	background: #919191 url('/images/template6/resp/default/button/register_btn_more.png') center center no-repeat;
}

.review .imgBox, .lecture .imgBox {  /* 리뷰n리플(상세), 교재보기팝업, 강사정보 */
	border-top: 2px solid #5e5e5e;
	border-bottom: 1px solid #dedede;
}
.review .imgBox img,
.lecture .imgBox img {
	border: 1px solid #dedede;
}
.review .textBox {
	border-bottom: 1px solid #e9e9e9;
}
.popup .review .imgBox, .popup .review .boardView {
	border-top: none;
}
.popup .review .title {
	border: solid #dedede;
	border-width: 1px 0;
	background: #f5f5f5;
}

/* popup */
.register h3 {
	color: #ffffff;
	background: #5e5e5e;
}
.register .floatRight .btnReset, .register .floatRight .btnClose {
	border: none;
	border-left: 1px solid #ffffff;
}
.register .floatRight .btnReset, .register .floatRight .btnReset:hover {
	background: #5e5e5e
		url('/images/template6/resp/default/button/popup_register_btn_reset.png')
		center center no-repeat;
}

.register .floatRight .btnClose {
	background: #f68b1f
		url('/images/template6/resp/default/button/popup_register_btn_close.png') center center no-repeat;
}
.register .boardList td .imgBox {
	border: 1px solid #d9dddf;
}
.dormant .imgBox { /* 휴면회원 팝업 */
	background: url('/images/template6/resp/default/usr/icon_dormant.png') 0 0 no-repeat;
}
.certify .imgBox { /* 본인인증 팝업 */
    background: url(/images/template6/resp/default/usr/icon_certify.png) 0 0 no-repeat;
}
@media all and (max-width: 1023px) {
	.boardList thead,
	.boardList tbody td {
		border: none;
	}
	.boardList tbody tr {
		border-bottom: 1px solid #e9e9e9;
	}

	.paging a {
		line-height: 30px;
	}

	.paging a:hover { 
		border: 1px solid transparent;
		color: inherit;
		background: none;
		line-height: 28px;
	}

	.paging a.active {
		line-height: 28px;
	}

	.paging a.active:hover { 
		border: 1px solid #4587d1;
		color: #fff;
		background: #4587d1;
	}

	.paging .btnFirst,
	.paging .btnPrev,
	.paging .btnNext,
	.paging .btnLast {
		line-height: 28px;
	}

	.paging .btnFirst:hover,
	.paging .btnPrev:hover,
	.paging .btnNext:hover,
	.paging .btnLast:hover {
		border: 1px solid transparent;
		background-image: url("/images/template6/resp/default/button/btn_paging.png");
		background-color: transparent;
	}

	.paging .btnFirst:hover {
		background-position: -1px -1px;
	}

	.paging .btnPrev:hover {
		background-position: -31px -1px;
	}

	.paging .btnNext:hover {
		background-position: -61px -1px;
	}
	.paging .btnLast:hover {
		background-position: -91px -1px;
	}
}
