@charset "utf-8";

.webModule27 {
	padding: 30px 28px;
}
.webModule27 .customer li .tel {
	letter-spacing: -2px;
}
.webModule23 div.banner li a {
	letter-spacing: -1px;
}



/* common */

.selectBox {
	border: none;
	background: none;
}
.selectBox select {
	border: 1px solid #d9dddf;
	top: 0px;
	padding: 4px 5px;	
	background: #ffffff;
}


button {
	min-width: 40px;
}

button.inside {
	min-width: 50px;
}
.btnCertificate {
	padding-right: 0;
	letter-spacing: -0.5px;
}
.listAttach .btnDownload {
	min-width: 62px;
}
.tab ul li {
	min-width: 33%;
}