.ir { visibility: hidden; overflow: hidden; position: absolute; width: 1%; height: 1%; margin: 0; padding: 0; font-size: 1%; line-height: 1%; }

.section-main { word-wrap: break-word; word-break: keep-all; -ms-word-break: break-all; overflow-wrap: break-word; }

.section-main h1, .section-main h2, .section-main h3, .section-main h4, .section-main h5, .section-main h6 { margin: 0; padding: 0; font-family: inherit; }

.section-main ul, .section-main ol, .section-main li { margin: 0; padding: 0; list-style: none; }

.section-main button { display: initial; min-width: auto; height: auto; margin: 0; padding: 0; font-size: inherit; }

.section-main .main-top { margin: 0 15px; padding-top: 9px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; }

.section-main .main-top-tit { position: relative; margin-right: 9px; padding-top: 30px; font-size: 11px; color: #17adad; font-weight: 700; background: #f5f5f5; text-align: center; width: 50px; height: 50px; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.section-main .main-top-tit:before { content: ""; position: absolute; left: 50%; top: 11px; width: 20px; height: 17px; margin-left: -9.5px; background: url("/images/template8/resp/default/usr/ico_monitor.png") no-repeat 0 0; background-size: cover; }

.section-main .main-top-dsc { font-size: 13px; line-height: 1.4; }

.section-main .main-lnb { margin: 9px 12px -6px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.section-main .main-lnb-btn { position: relative; width: calc((100% - 42px) / 7); height: 65px; margin: 0 3px 6px; padding: 40px 5px 0; font-size: 15px; color: #fff; font-weight: 700; background: #4587d1; text-align: center; -webkit-box-flex: none; -webkit-flex: none; -moz-flex: none; -ms-flex: none; flex: none; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.section-main .main-lnb-btn:before { content: ""; position: absolute; left: 50%; }

.section-main .main-lnb-btn.on { background: #f68b1f; }

.section-main .main-lnb .btn-lnb-my:before { top: 10px; width: 23px; height: 22px; margin-left: -11.5px; background: url("/images/template8/resp/default/usr/ico_class.png") no-repeat 0 0; background-size: cover; }

.section-main .main-lnb .btn-lnb-lecture:before { top: 11px; width: 27px; height: 19.5px; margin-left: -13.5px; background: url("/images/template8/resp/default/usr/ico_notepen.png") no-repeat 0 0; background-size: cover; }

.section-main .main-lnb .btn-lnb-cyperthtme:before { top: 9px; width: 15px; height: 23px; margin-left: -7.5px; background: url("/images/template8/resp/default/usr/ico_theme.png") no-repeat 0 0; background-size: cover; }

.section-main .main-lnb .btn-lnb-knowledge:before { top: 10px; width: 21px; height: 24px; margin-left: -10.5px; background: url("/images/template8/resp/default/usr/ico_light.png") no-repeat 0 0; background-size: cover; }

.section-main .main-banner { margin: 10px 15px 0; }

.section-main .main-banner .item { text-align: center; }

.section-main .main-banner .img { display: inline-block; width: 100%; height: 296px; vertical-align: top; }

.section-main .main-banner .slick-dots { position: absolute; left: 0; bottom: 10px; width: 100%; font-size: 0; text-align: center; }

.section-main .main-banner .slick-dots li { display: inline-block; margin-left: 7px; vertical-align: top; }

.section-main .main-banner .slick-dots li button { overflow: hidden; border: 0; background: #999; text-indent: -9999px; width: 8px; height: 8px; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; }

.section-main .main-banner .slick-dots li:first-child { margin-left: 0; }

.section-main .main-banner .slick-dots li.slick-active button { background: #225fa4; }

.section-main .main-recom { position: relative; margin: 43px 15px 0; }

.section-main .main-recom-tit { font-size: 18px; }

.section-main .main-recom-items { position: relative; margin-top: 9px; }

.section-main .main-recom-items .slick-list { margin: 0 -5px; }

.section-main .main-recom-items .slick-slide { padding: 0 5px; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.section-main .main-recom-items .item { text-align: center; }

.section-main .main-recom-items .item a { display: block; }

.section-main .main-recom-items .item .thumb { position: relative; overflow: hidden; display: block; padding-top: 68.75%; }

.section-main .main-recom-items .item .img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; vertical-align: top; }

.section-main .main-recom-items .item .subject { height: 57px; padding: 0 10px; font-size: 13px; color: #222; background: #f5f5f5; text-align: center; line-height: 1.3; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }

.section-main .main-recom-items .item .subject span { overflow: hidden; display: -webkit-box; display: -ms-box; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; word-wrap: break-word; word-break: keep-all; }

.section-main .main-recom-items .slick-dots { position: absolute; right: 0; top: -20px; font-size: 0; }

.section-main .main-recom-items .slick-dots li { display: inline-block; margin-left: 7px; vertical-align: top; }

.section-main .main-recom-items .slick-dots li button { overflow: hidden; border: 0; background: #999; text-indent: -9999px; width: 8px; height: 8px; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; }

.section-main .main-recom-items .slick-dots li:first-child { margin-left: 0; }

.section-main .main-recom-items .slick-dots li.slick-active button { background: #225fa4; }

.section-main .main-recom-items .btn-prev { left: 5px; }

.section-main .main-recom-items .btn-prev:before { background: url("/images/template8/resp/default/usr/btn_slide_prev.png") no-repeat 0 0; }

.section-main .main-recom-items .btn-next { right: 5px; }

.section-main .main-recom-items .btn-next:before { background: url("/images/template8/resp/default/usr/btn_slide_next.png") no-repeat 0 0; }

.section-main .main-recom-items .btn-prev, .section-main .main-recom-items .btn-next { position: absolute; top: 50%; margin-top: -13px; border: 0; background: rgba(242, 242, 242, 0.8); width: 26px; height: 26px; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; }

.section-main .main-recom-items .btn-prev:before, .section-main .main-recom-items .btn-next:before { content: ""; position: absolute; top: 50%; left: 50%; width: 8px; height: 12px; margin: -6px 0 0 -4px; background-size: cover; }

.section-enrolment { padding-bottom: 40px; word-wrap: break-word; word-break: keep-all; -ms-word-break: break-all; overflow-wrap: break-word; }

.section-enrolment h1, .section-enrolment h2, .section-enrolment h3, .section-enrolment h4, .section-enrolment h5, .section-enrolment h6 { margin: 0; padding: 0; font-family: inherit; }

.section-enrolment form, .section-enrolment fieldset, .section-enrolment legend { margin: 0; padding: 0; border: 0; }

.section-enrolment caption span, .section-enrolment legend span { visibility: hidden; overflow: hidden; position: absolute; width: 1%; height: 1%; font-size: 1%; }

.section-enrolment ul, .section-enrolment ol, .section-enrolment li { margin: 0; padding: 0; list-style: none; }

.section-enrolment button { display: initial; min-width: auto; height: auto; margin: 0; padding: 0; font-size: inherit; }

.section-enrolment .enrolment-tit { height: 40px; font-size: 16px; color: #fff; background: #4587d1; text-align: center; line-height: 40px; }

.section-enrolment .enrolment-top { padding: 18px 15px; background: #f5f5f5; }

.section-enrolment .enrolment-top-tit { font-size: 14px; }

.section-enrolment .enrolment-top-items { overflow: hidden; margin: 18px -5px -10px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.section-enrolment .enrolment-top-items li { width: calc((100% - 40px) / 4); margin: 0 5px 10px; -webkit-box-flex: none; -webkit-flex: none; -moz-flex: none; -ms-flex: none; flex: none; }

.section-enrolment .enrolment-top-items .item { position: relative; display: block; }

.section-enrolment .enrolment-top-items .item-label { display: block; height: 40px; padding: 0 10px; font-size: 14px; color: #fff; font-weight: 700; background: #225fa4; text-align: center; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.section-enrolment .enrolment-top-items .item-label span { overflow: hidden; color: #fff; overflow: hidden; display: -webkit-box; display: -ms-box; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; word-wrap: break-word; word-break: keep-all; }

.section-enrolment .enrolment-top-items .item-i { visibility: hidden; position: absolute; width: 1%; height: 1%; z-index: -9999; }

.section-enrolment .enrolment-top-items .item-i:checked + .item-label { border: 1px solid #225fa4; background: #e4e9ef; }

.section-enrolment .enrolment-top-items .item-i:checked + .item-label span { color: #225fa4; }

.section-enrolment .enrolment-top-items .item-i:checked + .item-label:before { content: ""; position: absolute; left: 3px; top: 2px; background: #225fa4 url("/images/template8/resp/default/usr/ico_check_small.png") no-repeat 50% 50%; background-size: 7px auto; width: 10px; height: 10px; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; }

.section-enrolment .enrolment-search { overflow: hidden; position: relative; height: 34px; margin-top: 18px; padding-top: 18px; border-top: 1px dotted #c8c8c8; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.section-enrolment .enrolment-search .btn-enrolment-folding { position: absolute; right: 0; top: 12px; padding: 4px 7px; border: 0; font-size: 14px; font-weight: 700; color: #555; background: none; }

.section-enrolment .enrolment-search .btn-enrolment-folding:after { content: ""; display: inline-block; width: 11px; height: 5px; margin-left: 2px; background: url("/images/template8/resp/default/usr/ico_arw_down.png") no-repeat 0 0; background-size: 100%; vertical-align: middle; }

.section-enrolment .enrolment-search .btn-enrolment-folding.active:after { background-image: url("/images/template8/resp/default/usr/ico_arw_up.png"); }

.section-enrolment .enrolment-search.on { height: auto; }

.section-enrolment .enrolment-search-tit { font-size: 14px; }

.section-enrolment .enrolment-search-box { margin-top: 18px; }

.section-enrolment .enrolment-search-items { overflow: hidden; margin: 18px -5px -10px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.section-enrolment .enrolment-search-items li { width: calc((100% - 40px) / 4); margin: 0 5px 10px; -webkit-box-flex: none; -webkit-flex: none; -moz-flex: none; -ms-flex: none; flex: none; }

.section-enrolment .enrolment-search-items .item { position: relative; display: block; }

.section-enrolment .enrolment-search-items .item-label { height: 25px; padding: 0 10px; font-size: 13px; color: #fff; font-weight: 700; background: #555; text-align: center; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.section-enrolment .enrolment-search-items .item-label span { color: #fff; overflow: hidden; display: -webkit-box; display: -ms-box; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; word-wrap: break-word; word-break: keep-all; }

.section-enrolment .enrolment-search-items .item-i { visibility: hidden; position: absolute; width: 1%; height: 1%; z-index: -9999; }

.section-enrolment .enrolment-search-items .item-i:checked + .item-label { border: 1px solid #555; color: #555; background: #f5f5f5; }

.section-enrolment .enrolment-search-items .item-i:checked + .item-label span { color: #555; }

.section-enrolment .enrolment-search-items .item-i:checked + .item-label:before { content: ""; position: absolute; left: 3px; top: 2px; background: #555 url("/images/template8/resp/default/usr/ico_check_small.png") no-repeat 50% 50%; background-size: 7px auto; width: 10px; height: 10px; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; }

.section-enrolment .enrolment-search-bot { margin-top: 18px; font-size: 0; }

.section-enrolment .enrolment-search-bot .istyle { width: calc(100% - 71px - 64px); height: 33px; padding: 0 9px; border: 1px solid #225fa4; font-size: 14px; font-weight: 700; background: #fff; vertical-align: top; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; }

.section-enrolment .enrolment-search-bot .btn-enrolment-search { width: 71px; height: 33px; border: 0; font-size: 14px; color: #fff; font-weight: 700; background: #225fa4; vertical-align: top; }

.section-enrolment .enrolment-search-bot .btn-enrolment-search:before { content: ""; display: inline-block; margin-right: 1px; background: url("/images/template8/resp/default/usr/ico_search.png") no-repeat 0 0; background-size: cover; vertical-align: middle; width: 13px; height: 13px; }

.section-enrolment .enrolment-search-bot .btn-enrolment-reset { width: 64px; height: 33px; border: 0; font-size: 14px; color: #222; font-weight: 700; background: none; text-decoration: underline; }

.section-enrolment .enrolment-search-bot .btn-enrolment-reset:before { content: ""; display: inline-block; width: 11px; height: 14px; margin: -2px 1px 0 0; background: url("/images/template8/resp/default/usr/ico_reset.png") no-repeat 0 0; background-size: 100%; vertical-align: middle; }

.section-enrolment .enrolment-contents { overflow: hidden; margin: 40px 15px 0; }

.section-enrolment .enrolment-contents .contents-list { overflow: hidden; margin: 0 -10px -10px 0; }

.section-enrolment .enrolment-contents .contents-list:after { content: ''; display: table; clear: both; height: 0; font-size: 0; line-height: 0; }

.section-enrolment .enrolment-contents .contents-item { overflow: hidden; float: left; width: 320px; margin: 0 10px 10px 0; }

.section-enrolment .enrolment-contents .contents-item .thumb { overflow: hidden; display: block; position: relative; width: 320px; height: 220px; }

.section-enrolment .enrolment-contents .contents-item .img { width: 100%; height: 100%; vertical-align: top; }

.section-enrolment .enrolment-contents .contents-item-info { height: 130px; padding: 10px; background: #f5f5f5; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

.section-enrolment .enrolment-contents .contents-item-info .subject { display: block; height: 32px; font-size: 13px; line-height: 1.3; overflow: hidden; display: -webkit-box; display: -ms-box; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; word-wrap: break-word; word-break: keep-all; }

.section-enrolment .enrolment-contents .contents-item-info .date { display: block; margin-top: 6px; font-size: 12px; color: #222; line-height: 1.3; }

.section-enrolment .enrolment-contents .contents-item-info .date em { color: #5e5e5e; }

.section-enrolment .enrolment-contents .contents-item-bot { margin-top: 8px; text-align: center; }

.section-enrolment .enrolment-contents .contents-item .btn-contents-item { display: inline-block; height: 29px; padding: 0 8px; font-size: 13px; color: #fff; font-weight: 700; background: #225fa4; vertical-align: top; line-height: 29px; }

.section-enrolment .enrolment-contents .contents-empty { position: relative; padding: 70px 0; font-size: 16px; font-weight: 700; text-align: center; }

.section-enrolment .enrolment-contents .contents-empty:before { content: ""; display: block; margin: 0 auto 30px; background: #f5f5f5 url("/images/template8/resp/default/usr/ico_empty_contents.png") no-repeat 50% 50%; background-size: auto 40px; width: 100px; height: 100px; border-radius: 100px; -webkit-border-radius: 100px; -moz-border-radius: 100px; }

.bottom-menu { list-style: none; margin: 50px 0 0 0; padding: 0; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }

.bottom-menu li { position: relative; width: calc(100% / 3); padding-right: 1px; background: #d3d3d3; text-align: center; }

.bottom-menu li:after { content: ""; position: absolute; right: 0; top: 50%; width: 1px; height: 18px; margin-top: -9px; background: #bebebe; }

.bottom-menu li a { display: block; height: 30px; font-size: 13px; color: #fff; font-weight: 700; line-height: 30px; }

.bottom-menu li a.btn-notice:before { width: 12px; height: 15px; background: url("/images/template8/resp/default/usr/ico_alarm.png") no-repeat 0 0; background-size: 100%; }

.bottom-menu li a.btn-cscenter:before { width: 12px; height: 12px; background: url("/images/template8/resp/default/usr/ico_phone.png") no-repeat 0 0; background-size: 100%; }

.bottom-menu li a.btn-membership:before { width: 18px; height: 9px; background: url("/images/template8/resp/default/usr/ico_membership.png") no-repeat 0 0; background-size: 100%; }

.bottom-menu li a:before { content: ""; display: inline-block; margin-right: 2px; vertical-align: middle; }

.bottom-menu li:last-child { padding-right: 0; }

.bottom-menu li:last-child:after { display: none; }

@media only screen and (max-width: 1280px) { .section-enrolment .enrolment-contents .contents-item { width: calc((100% - 40px) / 4); }
  .section-enrolment .enrolment-contents .contents-item .thumb { width: auto; height: auto; padding-top: 68.75%; }
  .section-enrolment .enrolment-contents .contents-item .thumb .img { position: absolute; left: 0; top: 0; } }

@media only screen and (max-width: 1024px) { .section-main .main-lnb-btn { width: calc((100% - 30px) / 5); font-size: 12px; }
  .section-enrolment .enrolment-top-items li { width: calc((100% - 30px) / 3); }
  .section-enrolment .enrolment-top-items .item-label { font-size: 12px; }
  .section-enrolment .enrolment-search-items li { width: calc((100% - 30px) / 3); }
  .section-enrolment .enrolment-search-items .item-label { font-size: 12px; }
  .section-enrolment .enrolment-contents .contents-item { width: calc((100% - 30px) / 3); } }

@media only screen and (max-width: 720px) { .section-main .main-lnb-btn { width: calc((100% - 24px) / 4); }
  .section-main .main-banner .item { position: relative; padding-top: 44.84848%; }
  .section-main .main-banner a { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
  .section-main .main-banner .img { height: 100%; }
  .section-enrolment .enrolment-top-items .item { position: relative; display: block; }
  .section-enrolment .enrolment-top-items .item-label { padding: 0 5px; }
  .section-enrolment .enrolment-search-items .item { position: relative; display: block; }
  .section-enrolment .enrolment-search-items .item-label { padding: 0 5px; }
  .section-enrolment .enrolment-contents .contents-item { width: calc((100% - 20px) / 2); } }

@media only screen and (max-width: 480px) { .section-main .main-lnb-btn { width: calc((100% - 18px) / 3); } }

@media only screen and (max-width: 320px) { .section-main .main-lnb-btn { width: calc((100% - 12px) / 2); font-size: 13px; }
  .section-enrolment .enrolment-contents .contents-item-info { height: 145px; } }
/*# sourceMappingURL=maps/mobile.css.map */
