<h3 class="tit-h3"><span>컨택 히스토리</span></h3>

<div class="contact-history-box">
    <div class="history-box-item">
        <ul>
            <li><em class="badge clr4">2차면접</em> <span class="date">(`2019.12.31)</span></li>
            <li><a href="#">유니베라</a></li>
            <li>유통 기획 및 마케팅 담당</li>
            <li>메모 : 1차면접관련 안내 완료, 회사관련 후보자 인식 좋음</li>
        </ul>

        <div class="box-item-btn">
            <button type="button" class="btn">수정</button>
        </div>
    </div>

    <div class="history-box-item">
        <ul>
            <li><em class="badge clr7">추천</em> <span class="date">(`2019.12.31)</span></li>
            <li><a href="#">유니베라</a></li>
            <li>유통 기획 및 마케팅 담당</li>
            <li>메모 : 1차면접관련 안내 완료, 회사관련 후보자 인식 좋음</li>
        </ul>

        <div class="box-item-btn">
            <button type="button" class="btn">수정</button>
        </div>
    </div>
</div>

<button type="button" class="btn-add">추가</button>