                            <h3 class="tit-h3">Looking for a job?</h3>

                            <div class="cpn-content-list">
                                <article class="cpn-content-list-item" include-html="https://webpi.github.io/jobindex/component/comm/cpn_content_list_item.html"></article>

                                <article class="cpn-content-list-item" include-html="https://webpi.github.io/jobindex/component/comm/cpn_content_list_item.html"></article>
                            </div>