/* wbCommon.css */

/* txt */

.txt_point {color:#485ddd}
.txt_green {color:#566bec}
.txt_alert {color:#485ddd}
.txt_alert:before {background:url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_txt_alert.png') no-repeat;}
.asterisk:after {color:#485ddd}

/* EOD : txt */

    /* checkBox & Radio */

    /* checkbox */

    input[type="checkbox"] + label:before {background:url('../https://webpi.github.io/step_portal/images/template10/resp/navy/button/common_chk.png') no-repeat;}
    input[type="checkbox"]:checked + label:before , input[type="checkbox"][disabled]:checked + label:before  {background:url('../https://webpi.github.io/step_portal/images/template10/resp/navy/button/common_chk.png') no-repeat -30px center;}
    input[type="checkbox"][disabled] + label:before {background:url('../https://webpi.github.io/step_portal/images/template10/resp/navy/button/common_chk.png') no-repeat -60px center;}

    .checkList.button input[type="checkbox"]:checked + label {background: #566bec; border: 1px solid #566bec;}
    .checkList.button input[type="checkbox"]:focus + label:before { outline:1px solid #566bec; }

    /* EOD : checkbox */

    /* radio */

    input[type="radio"] + label:before {background:url('../https://webpi.github.io/step_portal/images/template10/resp/navy/button/common_radio.png') no-repeat;}
    input[type="radio"]:checked + label:before , input[type="radio"][disabled]:checked + label:before {background:url('../https://webpi.github.io/step_portal/images/template10/resp/navy/button/common_radio.png') no-repeat -30px center;}
    input[type="radio"][disabled] + label:before {background:url('../https://webpi.github.io/step_portal/images/template10/resp/navy/button/common_radio.png') no-repeat -60px center;}

    .radioList.button input[type="radio"]:checked + label {background:#566bec; border: 1px solid #566bec; color:white}
    .radioList.button input[type="radio"]:focus + label:before { outline:1px solid #566bec; }

    /* EOD : radio */

/* EOD : checkBox & Radio */

/* button */

.btn_sr_blue , .btn_s_blue , .btn_m_blue {background:#566bec; border: 1px solid #566bec;}
.btn_sr_blue:hover , .btn_s_blue:hover , .btn_m_blue:hover {background:#485ddd;  border: 1px solid #485ddd;}
.btn_m_blue_gra , .btn_s_blue_gra {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.btn_m_blue_gra:hover , .btn_s_blue_gra:hover {background: #485ddd; background:linear-gradient(90deg, rgba(86,107,236,1) 0%, rgba(86,107,236,1) 100%);}

.btn_s_black:hover , .btn_m_black:hover {background: #f7f8ff;}

/* EOD : button */

/* icon */

.icon_new {background: url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_new.png') no-repeat;}
.icon_search {background: url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_blue_search.png') no-repeat;}
.icon_q {background: url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_q.png') no-repeat;}
.icon_q:hover {background: url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_q_hover.png') no-repeat;}

/* EOD : icon */

/* label */

.label_s_blue {background-color: #485ddd; border: 1px solid #485ddd;}

/* EOD : label */

.top_banner {background-color:#4e77ec}
.tob_banner_btnBox .btn_today {background-color:#566bec}
.tob_banner_btnBox .btn_close {background-color:#485ddd}

.service_membership > li:first-child > a {color:#485ddd}
.mainBannerBox .paginationIn .control_paging > li > span.now_num {color:#485ddd}

.gnb .twoDepth > li > a:after {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}

.pagination a.active {background:#566bec;}
.moreBox .more_btn:hover {background-color:#566bec; border: 1px solid #566bec;}

/* search */

.searchBox .textBoxIn {border-color: #6eb2a8; border-image-source:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.searchBox .textBoxIn .inputBox input::placeholder {color:#485ddd}

/* EOD : search */

.table_normal tbody tr td .linkBox.arrow > a .txt {color:#485ddd}
.table_normal tbody tr td .linkBox > a:hover  {color:#485ddd}
.table_normal tbody tr td .linkBox.arrow > a:after  {background: url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_board_link_arrow.png') no-repeat;}

.tab_arrow > li .cnt {background: #566bec;}

.viewBox .file_area ul li a {color:#485ddd}
.faq_list li.active a {color:#485ddd}

/* popup */

.popup_wrap .popupH , .windowPopH {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}

/* EOD : popup */

/* table */

.table_normal tbody tr.notice td {background:#f7f8ff}
.table_normal tbody tr.notice td:first-child {color:#485ddd}
.table_normal tbody tr td .linkBox > a:hover .txt {color:#485ddd}

/* EOD : table */

.gnb > li > a:before {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.header .customerInfo .num li , .header .customerInfo .mail {color:#566bec}
.header .customerInfo .num li + li {color:#485ddd}

/* EOD : wbCommon.css */


/* wbUser.css */

    /* Layout */

    .content_menuBoxIn:before {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
    .content_menu .familysite {background-color:#485ddd}
    .content_menu .familysite .pagination .control_paging {color:#d7d7d7}

    .cop_menu > li:nth-child(2) > a {color:#485ddd}
    .hot_number .number {color:#485ddd}

    .sub_nav:before {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
    .sub_nav > li > a:hover, .sub_nav > li.active a {background-color: #485ddd;}

    .customer_areaBox .infoBox .num , .customer_areaBox .infoBox .mail {color:#485ddd}
    .service_membership > li:first-child > a:hover , .cop_menu > li:nth-child(2) > a:hover {color:#566bec}

    .gnb > li:hover > a > span {color: #485ddd}
    .gnb > li > a > span:after {background-color: #485ddd;}


    /* EOD : Layout */

    /* Popup */

    .main_Pop {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 8%, rgba(86,107,236,1) 89%)}
    .main_Pop .main_PopC {border: 5px solid #c2e7f5}
    .main_Pop .main_PopF_L {background-color: #455cce;}
    .main_Pop .main_PopF_R .btn_close {background: #3b4da5;}

    /* EOD : Popup */

    /* main */

    .ProcessBox .btn_like.active  {background:#566bec}
    .ProcessBox .serviceBox , .ProcessBox .serviceBox .star_service  {background-color:#566bec}
    .ProcessBox .serviceBox .demo_service {background-color:#485ddd}
    .ProcessBox .serviceBox .star_service .star_score {background:url("../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_star_score.png") 0 0 repeat-x}
    .ProcessBox .thumBox .contentBox .thum_label , .process_listBox .thumBox .contentBox .thum_label {color:#566bec}
    .ProcessBox .thumBox .contentBox .thum_tit:hover {color:#485ddd}

    .main_notice .tit .txt:hover {color:#485ddd}
    .main_notice .tit .txt:before , .main_notice .tit .txt:after {background:#566bec}

    .count_moreBox .numBox .now_num {color:#566bec}

    .customerBox .txtBox .num {color:#485ddd}
    .customerBox .txtBox .num + .num {color:#566bec}
    .customerBox .txtBox .mail {color:#485ddd}
    .customerBox .imgBox .icon_tel {background:url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_main_customer.png') no-repeat; background-size: cover;}

    .intro_content {background:#d5dafa; background:linear-gradient(90deg, rgba(203,239,249,1) 8%, rgba(213,218,250,1) 89%);}
    .intro_slider_main .slick-track .slick-slide > div > div .txtBox a {color:#485ddd}
    .intro_slider_main .slick-track .slick-slide > div > div .txtBox a:after {border-bottom: 2px solid #485ddd;}
    .intro_slider_main .slick-track .slick-slide > div > div .txtBox a:before {background:url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_intro_detail_arrow.png') no-repeat;}
    .intro_slider_nav .slick-track .slick-slide.slick-current > div .label {color:#485ddd}
    .intro_slider_nav .slick-track .slick-slide.slick-current > div .imgBox {border:2px solid #485ddd;}

    /* EOD : main */

    /* sub */

        /* 교육원소개 */

            /* 연혁 */

            .history_year_circle {background-color:#566bec;}

            /*  EOD : 연혁 */

         /* EOD : 교육원소개 */

        /* 훈련과정 */

            /* 훈련 일정 */

            .planLinkBox > ul > li.active a {border:1px solid #485ddd;}
            .planLinkBox > ul > li.active a.link_calender {background:#485ddd url("../https://webpi.github.io/step_portal/images/template10/resp/default/icon/icon_datepicker_active.png") no-repeat 18px 9px}
            .planLinkBox > ul > li.active a.link_list {background:#485ddd url("../https://webpi.github.io/step_portal/images/template10/resp/default/icon/icon_list_active.png") no-repeat 18px 9px}


            /* EOD :  훈련 일정 */

            /* 훈련 과정 리스트 */

            .process_listBox .thumBox .btn_like.active {background:#566bec}
            .process_listBox .serviceBox , .process_listBox .serviceBox .star_service {background-color:#566bec}
            .process_listBox .serviceBox .demo_service {background-color:#485ddd}
            .process_listBox .serviceBox .star_service .star_score {background:url("../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_star_score.png") 0 0 repeat-x}
            .process_listBox .contentBox .thum_label {color:#566bec}
            .process_listBox .thumBox:hover .thum_tit {color:#485ddd}

            /* EOD : 훈련 과정 리스트 */

            /* 훈련 과정 상세 */

            .lectureBoxL .btn_blue {background: #566bec; background: linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
            .lectureBoxL .btn_blue:hover {background: #485ddd; background: linear-gradient(90deg, rgba(86,107,236,1) 0%, rgba(86,107,236,1) 100%);}
            .list_contents > ul > li > .class {color:#485ddd}
            .list_contents_dpeth > .list.active a {color:#485ddd}

            .join_write_process > ul > li.active .stepIn {background-color:#566bec;}
            .join_write_process > ul > li:first-child.active .step:after {border-left: 24px solid #566bec;}
            .join_write_comp .circle {background-color: #566bec;}
            .join_write_comp p {color: #566bec;}

            /* EOD : 훈련 과정 상세 */

        /* EOD : 훈련과정 */

        /* 마이페이지 */

            /* 마이 홈 */

            .chart .progress .graph01 .bar , .myH_Status .circle.color01 {background:#32b0de}
            .chart .progress .graph02 .bar , .myH_Status .circle.color02 {background:#fe842a}
            .chart .progress .graph03 .bar , .myH_Status .circle.color03 {background:#825ecc}
            .chart .progress .graph04 .bar , .myH_Status .circle.color04 {background:#f84f4f}
            .chart .progress .graph05 .bar , .myH_Status .circle.color05 {background:#2dac5c}
            .chart .progress .graph06 .bar , .myH_Status .circle.color06 {background:#566bec}
            .chart .progress .graph07 .bar , .myH_Status .circle.color07 {background:#555}

            .wgBox .progressBarIn .bar {background:#566bec}
            .wgBox .infoBox .dateBox .data strong , .wgBox .progressPer .num , .sub_contentBox .pagination .paging > li > span.now_num {color:#485ddd}
            .wgBox .buttonBox > a, .wgBox .buttonBox > button , .wgBox.type03 .buttonBox > a, .wgBox.type04 .buttonBox > button {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%); }
            .wgBox .buttonBox > a:hover , .wgBox .buttonBox > button:hover , .wgBox.type03 .buttonBox > a:hover , .wgBox.type04 .buttonBox > button:hover {background: #485ddd; background: linear-gradient(90deg, rgba(86,107,236,1) 0%, rgba(86,107,236,1) 100%);}
            .wgBox .labelBox > li .label_blue {background-color:#566bec; border:#566bec}

            .wgBox .txtBox a.tit:hover , .wgBox .txtBox .sub_infoBox .info.comp , .sub_contentBox .listBoxIn .txtBox a:hover {color: #566bec;}

            /* EOD : 마이 홈 */

            /* 나의 학습 */

            .ThumBox .txtBox .label , .progressWrap .progressPer .num {color: #566bec;}
            .star_review .review_txt {color: #566bec;}
            .progressWrap .progressBarIn .bar {background-color:#566bec;}

            .star_review .starList {background: url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_star_radio.png') no-repeat}
            .star_review .starList input[type="radio"]:checked + label , .starList input[type="radio"]:hover + label {background: url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_star_radio_active.png') no-repeat}

            /* EOD : 나의 학습 */

            /* 관심 과정 */

            .ThumBox .likeBox span , .ThumBox .txtBox a.tit:hover {color: #566bec;}
            .ThumBox .likeBox .icon_heart {background: url('../https://webpi.github.io/step_portal/images/template10/resp/navy/icon/icon_heart.png') no-repeat;}

            /* EOD : 관심 과정 */

             .list_Process .txtBox .label ,  .list_study .txtBox .label , .list_Book .txtBox .tit {color: #566bec;}

        /* EOD : 마이페이지 */

        /* memberShip */

        .tc_terms_list .stepBox > a {background-color: #566bec;}
        .tc_terms_list .list.active .stepBox > a {color: #566bec;}
        .link_download {color: #566bec;}

        .ms_procees > ul > li.active .ms_Circle {background-color: #566bec;  border: 2px solid #566bec;}
        .ncsTypeBox .tit {background-color: #566bec;}
        .ncsTypeBox .list_type li.active a {color: #566bec;}

        /* EOD : memberShip */

        .search_wrap .search_top .search_total .keyword, .search_wrap .search_top .search_total .cnt {color:#485ddd}

        @media only all and (max-width: 640px) {


        .gnb .twoDepth > li > a:hover {color:#485ddd}
        .planLinkBox > ul > li.active a.link_calender {background:#485ddd url('../https://webpi.github.io/step_portal/images/template10/resp/default/icon/icon_datepicker_active.png') no-repeat 9px 9px}
        .planLinkBox > ul > li.active a.link_list {background: #485ddd url('../https://webpi.github.io/step_portal/images/template10/resp/default/icon/icon_list_active.png') no-repeat 9px 9px;}

        }

    /* EOD : sub */


/* EOD : wbUser.css */

/* datepicker.css */

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a {color: #566bec;}
.ui-datepicker .ui-datepicker-header {background: #566bec; background: linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.ui-datepicker-current-day a {background-color: #485ddd !important;}

/* EOD : datepicker.css */


/* fullcalendar.css */

a.fc-more {color:#485ddd}

.fc-unthemed .fc-popover .fc-header {background: #566bec; background: linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}

/* EOD : fullcalendar.css */


/* jquery.mCustomScrollbar.css */

.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color:#566bec}

.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color:#566bec}

/* EOD : jquery.mCustomScrollbar.css */