/* wbCommon.css */

/* txt */

.txt_point {color:#189b53}
.txt_green {color:#2dac5c}
.txt_alert {color:#189b53}
.txt_alert:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_txt_alert.png') no-repeat;}
.asterisk:after {color:#189b53}

/* EOD : txt */

/* checkBox & Radio */

/* checkbox */

input[type="checkbox"] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/button/common_chk.png') no-repeat;}
input[type="checkbox"]:checked + label:before , input[type="checkbox"][disabled]:checked + label:before  {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/button/common_chk.png') no-repeat -30px center;}
input[type="checkbox"][disabled] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/button/common_chk.png') no-repeat -60px center;}

.checkList.button input[type="checkbox"]:checked + label {background: #2dac5c; border: 1px solid #2dac5c;}
.checkList.button input[type="checkbox"]:focus + label:before { outline:1px solid #2dac5c; }

/* EOD : checkbox */

/* radio */

input[type="radio"] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/button/common_radio.png') no-repeat;}
input[type="radio"]:checked + label:before , input[type="radio"][disabled]:checked + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/button/common_radio.png') no-repeat -30px center;}
input[type="radio"][disabled] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/button/common_radio.png') no-repeat -60px center;}

.radioList.button input[type="radio"]:checked + label {background:#2dac5c; border: 1px solid #2dac5c; color:white}
.radioList.button input[type="radio"]:focus + label:before { outline:1px solid #2dac5c; }


/* EOD : radio */

/* EOD : checkBox & Radio */

/* button */

.btn_sr_blue , .btn_s_blue , .btn_m_blue {background:#2dac5c; border: 1px solid #2dac5c;}
.btn_sr_blue:hover , .btn_s_blue:hover , .btn_m_blue:hover {background:#189b53;  border: 1px solid #189b53;}
.btn_m_blue_gra , .btn_s_blue_gra {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.btn_m_blue_gra:hover , .btn_s_blue_gra:hover {background: #189b53; background:linear-gradient(90deg, rgba(45,172,92,1) 100%, rgba(45,172,92,1) 100%); }

.btn_s_black:hover , .btn_m_black:hover {background: #f4fef8;}

/* EOD : button */

/* icon */

.icon_new {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_new.png') no-repeat;}
.icon_search {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_blue_search.png') no-repeat;}
.icon_q {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_q.png') no-repeat;}
.icon_q:hover {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_q_hover.png') no-repeat;}

/* EOD : icon */

/* label */

.label_s_blue {background-color: #189b53; border: 1px solid #189b53;}

/* EOD : label */

.top_banner {background-color:#5db93e}
.tob_banner_btnBox .btn_today {background-color:#2dac5c}
.tob_banner_btnBox .btn_close {background-color:#189b53}

.service_membership > li:first-child > a {color:#189b53}
.mainBannerBox .paginationIn .control_paging > li > span.now_num {color:#189b53}

.gnb .twoDepth > li > a:after {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}

.pagination a.active {background:#2dac5c;}
.moreBox .more_btn:hover {background-color:#2dac5c; border: 1px solid #2dac5c;}

/* search */

.searchBox .textBoxIn {border-color: #6eb2a8; border-image-source:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.searchBox .textBoxIn .inputBox input::placeholder {color:#189b53}

/* EOD : search */

.table_normal tbody tr td .linkBox.arrow > a .txt {color:#189b53}
.table_normal tbody tr td .linkBox > a:hover  {color:#189b53}
.table_normal tbody tr td .linkBox.arrow > a:after  {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_board_link_arrow.png') no-repeat;}

.tab_arrow > li .cnt {background: #2dac5c;}

.viewBox .file_area ul li a {color:#189b53}
.faq_list li.active a {color:#189b53}

/* popup */

.popup_wrap .popupH , .windowPopH {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}

/* EOD : popup */

/* table */

.table_normal tbody tr.notice td {background:#f4fef8}
.table_normal tbody tr.notice td:first-child {color:#189b53}
.table_normal tbody tr td .linkBox > a:hover .txt {color:#189b53}

/* EOD : table */

.gnb > li > a:before {background:#2dac5c;  background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.header .customerInfo .num li , .header .customerInfo .mail {color:#2dac5c}
.header .customerInfo .num li + li {color: #189b53;}

/* EOD : wbCommon.css */


/* wbUser.css */

/* Layout */

.content_menuBoxIn:before {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.content_menu .familysite {background-color:#189b53}
.content_menu .familysite .pagination .control_paging {color:#d7d7d7}

.cop_menu > li:nth-child(2) > a {color:#189b53}
.hot_number .number {color:#189b53}

.sub_nav:before {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.sub_nav > li > a:hover, .sub_nav > li.active a {background-color: #189b53;}

.customer_areaBox .infoBox .num , .customer_areaBox .infoBox .mail {color:#189b53}
.service_membership > li:first-child > a:hover , .cop_menu > li:nth-child(2) > a:hover {color:#2dac5c}

.gnb > li:hover > a > span {color: #189b53}
.gnb > li > a > span:after {background-color: #189b53;}

/* EOD : Layout */

/* Popup */

.main_Pop {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 8%, rgba(45,172,92,1) 89%);}
.main_Pop .main_PopC {border: 5px solid #d5ecc1;}
.main_Pop .main_PopF_L {background-color: #217940;}
.main_Pop .main_PopF_R .btn_close {background: #1f6835;}

/* EOD : Popup */

/* main */

.ProcessBox .btn_like.active {background:#2dac5c}
.ProcessBox .serviceBox , .ProcessBox .serviceBox .star_service {background-color:#2dac5c}
.ProcessBox .serviceBox .demo_service {background-color:#189b53}
.ProcessBox .serviceBox .star_service .star_score {background:url("../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_star_score.png") 0 0 repeat-x}
.ProcessBox .thumBox .contentBox .thum_label , .process_listBox .thumBox .contentBox .thum_label {color:#2dac5c}
.ProcessBox .thumBox .contentBox .thum_tit:hover {color:#189b53}

.main_notice .tit .txt:hover {color:#189b53}
.main_notice .tit .txt:before , .main_notice .tit .txt:after {background:#2dac5c}

.count_moreBox .numBox .now_num {color:#2dac5c}

.customerBox .txtBox .num {color:#189b53}
.customerBox .txtBox .num + .num {color:#2dac5c}
.customerBox .txtBox .mail {color:#189b53}
.customerBox .imgBox .icon_tel {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_main_customer.png') no-repeat; background-size: cover;}

.intro_content {background:#d5dafa; background:linear-gradient(90deg, rgba(237,247,216,1) 9%, rgba(213,238,222,1) 89%);}
.intro_slider_main .slick-track .slick-slide > div > div .txtBox a {color:#189b53}
.intro_slider_main .slick-track .slick-slide > div > div .txtBox a:after {border-bottom: 2px solid #189b53;}
.intro_slider_main .slick-track .slick-slide > div > div .txtBox a:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_intro_detail_arrow.png') no-repeat;}
.intro_slider_nav .slick-track .slick-slide.slick-current > div .label {color:#189b53}
.intro_slider_nav .slick-track .slick-slide.slick-current > div .imgBox {border:2px solid #189b53;}

/* EOD : main */

/* sub */

/* 교육원소개 */

/* 연혁 */

.history_year_circle {background-color:#2eac5b;}

/*  EOD : 연혁 */

/* EOD : 교육원소개 */

/* 훈련과정 */

/* 훈련 일정 */

.planLinkBox > ul > li.active a {border:1px solid #189b53;}
.planLinkBox > ul > li.active a.link_calender {background:#189b53 url("../../../..https://webpi.github.io/step_portal/images/template10/resp/default/icon/icon_datepicker_active.png") no-repeat 18px 9px}
.planLinkBox > ul > li.active a.link_list {background:#189b53 url("../../../..https://webpi.github.io/step_portal/images/template10/resp/default/icon/icon_list_active.png") no-repeat 18px 9px}

/* EOD :  훈련 일정 */

/* 훈련 과정 리스트 */

.process_listBox .thumBox .btn_like.active {background:#2dac5c}
.process_listBox .serviceBox , .process_listBox .serviceBox .star_service {background-color:#2dac5c}
.process_listBox .serviceBox .demo_service {background-color:#189b53}
.process_listBox .serviceBox .star_service .star_score {background:url("../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_star_score.png") 0 0 repeat-x}
.process_listBox .contentBox .thum_label {color:#2dac5c}
.process_listBox .thumBox:hover .thum_tit {color:#189b53}

/* EOD : 훈련 과정 리스트 */

/* 훈련 과정 상세 */

.lectureBoxL .btn_blue {background: #2dac5c; background: linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%); }
.lectureBoxL .btn_blue:hover {background: #189b53; background: linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.list_contents > ul > li > .class {color:#189b53}
.list_contents_dpeth > .list.active a {color:#189b53}

.join_write_process > ul > li.active .stepIn {background-color:#2dac5c;}
.join_write_process > ul > li:first-child.active .step:after {border-left: 24px solid #2dac5c;}
.join_write_comp .circle {background-color: #2dac5c;}
.join_write_comp p {color: #2dac5c;}

/* EOD : 훈련 과정 상세 */

/* EOD : 훈련과정 */

/* 마이페이지 */

/* 마이 홈 */

.chart .progress .graph01 .bar , .myH_Status .circle.color01 {background:#32b0de}
.chart .progress .graph02 .bar , .myH_Status .circle.color02 {background:#fe842a}
.chart .progress .graph03 .bar , .myH_Status .circle.color03 {background:#825ecc}
.chart .progress .graph04 .bar , .myH_Status .circle.color04 {background:#f84f4f}
.chart .progress .graph05 .bar , .myH_Status .circle.color05 {background:#2dac5c}
.chart .progress .graph06 .bar , .myH_Status .circle.color06 {background:#2dac5c}
.chart .progress .graph07 .bar , .myH_Status .circle.color07 {background:#555}

.wgBox .progressBarIn .bar {background:#2dac5c}
.wgBox .infoBox .dateBox .data strong , .wgBox .progressPer .num , .sub_contentBox .pagination .paging > li > span.now_num {color:#189b53}
.wgBox .buttonBox > a, .wgBox .buttonBox > button , .wgBox.type03 .buttonBox > a, .wgBox.type04 .buttonBox > button {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.wgBox .buttonBox > a:hover , .wgBox .buttonBox > button:hover , .wgBox.type03 .buttonBox > a:hover , .wgBox.type04 .buttonBox > button:hover {background: #189b53; background: linear-gradient(90deg, rgba(45,172,92,1) 0%, rgba(45,172,92,1) 100%);}
.wgBox .labelBox > li .label_blue {background-color:#2dac5c; border:#2dac5c}

.wgBox .txtBox a.tit:hover , .wgBox .txtBox .sub_infoBox .info.comp , .sub_contentBox .listBoxIn .txtBox a:hover {color: #2dac5c;}

/* EOD : 마이 홈 */

/* 나의 학습 */

.ThumBox .txtBox .label , .progressWrap .progressPer .num {color: #2dac5c;}
.star_review .review_txt {color: #2dac5c;}
.progressWrap .progressBarIn .bar {background-color:#2dac5c;}

.star_review .starList {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_star_radio.png') no-repeat}
.star_review .starList input[type="radio"]:checked + label , .starList input[type="radio"]:hover + label {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_star_radio_active.png') no-repeat}

/* EOD : 나의 학습 */

/* 관심 과정 */

.ThumBox .likeBox span , .ThumBox .txtBox a.tit:hover {color: #2dac5c;}
.ThumBox .likeBox .icon_heart {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/green/icon/icon_heart.png') no-repeat;}

/* EOD : 관심 과정 */

.list_Process .txtBox .label , .list_study .txtBox .label , .list_Book .txtBox .tit {color: #2dac5c;}

/* EOD : 마이페이지 */

/* memberShip */

.tc_terms_list .stepBox > a {background-color: #2dac5c;}
.tc_terms_list .list.active .stepBox > a {color: #2dac5c;}
.link_download {color: #2dac5c;}

.ms_procees > ul > li.active .ms_Circle {background-color: #2dac5c;  border: 2px solid #2dac5c;}
.ncsTypeBox .tit {background-color: #2dac5c;}
.ncsTypeBox .list_type li.active a {color: #2dac5c;}

.search_wrap .search_top .search_total .keyword, .search_wrap .search_top .search_total .cnt  {color: #2dac5c;}


/* EOD : memberShip */

@media only all and (max-width: 640px) {

    .gnb .twoDepth > li > a:hover {color: #189b53;}
    .planLinkBox > ul > li.active a.link_calender {background: #189b53 url('../../../..https://webpi.github.io/step_portal/images/template10/resp/default/icon/icon_datepicker_active.png') no-repeat 9px 9px}
    .planLinkBox > ul > li.active a.link_list {background: #189b53 url('../../../..https://webpi.github.io/step_portal/images/template10/resp/default/icon/icon_list_active.png') no-repeat 9px 9px;}

}

/* EOD : sub */


/* EOD : wbUser.css */


/* datepicker.css */

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a {color: #566bec;}
.ui-datepicker .ui-datepicker-header {background: #2dac5c; background: linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.ui-datepicker-current-day a {background-color: #189b53 !important;}

/* EOD : datepicker.css */


/* fullcalendar.css */

a.fc-more {color: #189b53}

.fc-unthemed .fc-popover .fc-header {background: #2dac5c; background: linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}

/* EOD : fullcalendar.css */


/* jquery.mCustomScrollbar.css */

.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color:#2dac5c}

.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color:#2dac5c}

/* EOD : jquery.mCustomScrollbar.css */