/* wbCommon.css */

/* txt */

.txt_point {color:#f84f4f}
.txt_green {color:#fd7070}
.txt_alert {color:#f84f4f}
.txt_alert:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/icon/icon_txt_alert.png') no-repeat;}
.asterisk:after {color:#f84f4f}

/* EOD : txt */

/* checkBox & Radio */

/* checkbox */

input[type="checkbox"] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/button/common_chk.png') no-repeat;}
input[type="checkbox"]:checked + label:before , input[type="checkbox"][disabled]:checked + label:before  {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/button/common_chk.png') no-repeat -30px center;}
input[type="checkbox"][disabled] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/button/common_chk.png') no-repeat -60px center;}

.checkList.button input[type="checkbox"]:checked + label {background: #fd7070; border: 1px solid #fd7070;}
.checkList.button input[type="checkbox"]:focus + label:before { outline:1px solid #fd7070; }

/* EOD : checkbox */

/* radio */

input[type="radio"] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/button/common_radio.png') no-repeat;}
input[type="radio"]:checked + label:before , input[type="radio"][disabled]:checked + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/button/common_radio.png') no-repeat -30px center;}
input[type="radio"][disabled] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/button/common_radio.png') no-repeat -60px center;}

.radioList.button input[type="radio"]:checked + label {background:#fd7070; border: 1px solid #fd7070; color:white}
.radioList.button input[type="radio"]:focus + label:before { outline:1px solid #fd7070; }

/* EOD : radio */

/* EOD : checkBox & Radio */

/* button */

.btn_sr_blue , .btn_s_blue , .btn_m_blue {background:#fd7070; border: 1px solid #fd7070;}
.btn_sr_blue:hover , .btn_s_blue:hover , .btn_m_blue:hover {background:#f84f4f;  border: 1px solid #f84f4f;}
.btn_m_blue_gra , .btn_s_blue_gra {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.btn_m_blue_gra:hover , .btn_s_blue_gra:hover {background: #f84f4f; background:linear-gradient(90deg, rgba(248,145,189,1) 0%, rgba(248,145,189,1) 100%);}

.btn_s_black:hover , .btn_m_black:hover {background: #fff3f3;}

/* EOD : button */

/* icon */

.icon_new {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/icon/icon_new.png') no-repeat;}
.icon_search {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/icon/icon_blue_search.png') no-repeat;}
.icon_q {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/icon/icon_q.png') no-repeat;}
.icon_q:hover {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/icon/icon_q_hover.png') no-repeat;}

/* EOD : icon */

/* label */

.label_s_blue {background-color: #f84f4f; border: 1px solid #f84f4f;}

/* EOD : label */

.top_banner {background-color: #fc7e8b;}
.tob_banner_btnBox .btn_today {background-color:#fd7070}
.tob_banner_btnBox .btn_close {background-color:#f84f4f}

.service_membership > li:first-child > a {color:#f84f4f}
.mainBannerBox .paginationIn .control_paging > li > span.now_num {color:#f84f4f}

.gnb .twoDepth > li > a:after {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%)}

.pagination a.active {background:#fd7070;}
.moreBox .more_btn:hover {background-color:#fd7070; border: 1px solid #fd7070;}

/* search */

.searchBox .textBoxIn {border-color: #6eb2a8; border-image-source:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%)}
.searchBox .textBoxIn .inputBox input::placeholder {color:#f84f4f}

/* EOD : search */

.table_normal tbody tr td .linkBox.arrow > a .txt {color:#f84f4f}
.table_normal tbody tr td .linkBox > a:hover  {color:#f84f4f}
.table_normal tbody tr td .linkBox.arrow > a:after  {background: url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/icon/icon_board_link_arrow.png') no-repeat;}

.tab_arrow > li .cnt {background: #fd7070;}

.viewBox .file_area ul li a {color:#f84f4f}
.faq_list li.active a {color:#f84f4f}

/* popup */

.popup_wrap .popupH , .windowPopH {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}

/* EOD : popup */

/* table */

.table_normal tbody tr.notice td {background:#fff3f3}
.table_normal tbody tr.notice td:first-child {color:#f84f4f}
.table_normal tbody tr td .linkBox > a:hover .txt {color:#f84f4f}

/* EOD : table */

.gnb > li > a:before {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.header .customerInfo .num li , .header .customerInfo .mail {color:#fd7070}
.header .customerInfo .num li + li {color: #f84f4f;}

/* EOD : wbCommon.css */


/* wbUser.css */

/* Layout */


.content_menuBoxIn:before {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.content_menu .familysite {background-color:#f84f4f}
.content_menu .familysite .pagination .control_paging {color:#d7d7d7}

.cop_menu > li:nth-child(2) > a {color:#f84f4f}
.hot_number .number {color:#f84f4f}

.sub_nav:before {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%)}
.sub_nav > li > a:hover, .sub_nav > li.active a {background-color: #f84f4f;}

.customer_areaBox .infoBox .num , .customer_areaBox .infoBox .mail {color:#f84f4f}
.service_membership > li:first-child > a:hover , .cop_menu > li:nth-child(2) > a:hover {color:#fd7070}

.gnb > li:hover > a > span {color: #f84f4f}
.gnb > li > a > span:after {background-color: #f84f4f;}

/* EOD : Layout */

/* Popup */

.main_Pop {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%)}
.main_Pop .main_PopC {border: 5px solid #fed7da}
.main_Pop .main_PopF_L {background-color:#d95d69}
.main_Pop .main_PopF_R .btn_close {background:#ce525e}

/* EOD : Popup */

/* main */

.ProcessBox .btn_like.active {background:#fd7070}
.ProcessBox .serviceBox , .ProcessBox .serviceBox .star_service {background-color:#fd7070}
.ProcessBox .serviceBox .demo_service {background-color:#f84f4f}
.ProcessBox .serviceBox .star_service .star_score {background:url("../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/icon/icon_star_score.png") 0 0 repeat-x}
.ProcessBox .thumBox .contentBox .thum_label , .process_listBox .thumBox .contentBox .thum_label {color:#fd7070}
.ProcessBox .thumBox .contentBox .thum_tit:hover {color:#f84f4f}

.main_notice .tit .txt:hover {color:#f84f4f}
.main_notice .tit .txt:before , .main_notice .tit .txt:after {background:#fd7070}

.count_moreBox .numBox .now_num {color:#fd7070}

.customerBox .txtBox .num {color:#f84f4f}
.customerBox .txtBox .num + .num {color:#fd7070}
.customerBox .txtBox .mail {color:#f84f4f}
.customerBox .imgBox .icon_tel {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/icon/icon_main_customer.png') no-repeat; background-size: cover;}

.intro_content {background:#d5dafa; background: linear-gradient(90deg, rgba(253,231,244,1) 8%, rgba(255,226,226,1) 89%)}
.intro_slider_main .slick-track .slick-slide > div > div .txtBox a {color:#f84f4f}
.intro_slider_main .slick-track .slick-slide > div > div .txtBox a:after {border-bottom: 2px solid #f84f4f;}
.intro_slider_main .slick-track .slick-slide > div > div .txtBox a:before {background:url('../../../..https://webpi.github.io/step_portal/images/template10/resp/pink/icon/icon_intro_detail_arrow.png') no-repeat;}
.intro_slider_nav .slick-track .slick-slide.slick-current > div .label {color:#f84f4f}
.intro_slider_nav .slick-track .slick-slide.slick-current > div .imgBox {border:2px solid #f84f4f;}

/* EOD : main */

/* sub */

/* EOD : sub */


/* EOD : wbUser.css */

/* datepicker.css */

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a {color: #566bec;}
.ui-datepicker .ui-datepicker-header {background: #fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%)}
.ui-datepicker-current-day a {background-color: #fd7070 !important}

/* EOD : datepicker.css */

/* fullcalendar.css */

a.fc-more  {color: #f84f4f;}

.fc-unthemed .fc-popover .fc-header {background: #fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%)}

/* EOD : fullcalendar.css */


/* jquery.mCustomScrollbar.css */

.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color:#fd7070}

.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color:#fd7070}

/* EOD : jquery.mCustomScrollbar.css */