@charset "utf-8";

/* 웹폰트 CSS */
@font-face {
	font-family:'Noto Sans KR'; font-style:normal; font-weight: 300; src:url("/font/NotoSansKR-Light.woff2") format('woff2'),
			url("/font/NotoSansKR-Light.woff") format('woff'),
			url("/font/NotoSansKR-Light.otf") format('opentype');
}
@font-face {
	font-family:'Noto Sans KR'; font-style:normal; font-weight: 400; src:url("/font/NotoSansKR-Regular.woff2") format('woff2'),
			url("/font/NotoSansKR-Regular.woff") format('woff'),
			url("/font/NotoSansKR-Regular.otf") format('opentype');
}
@font-face {
	font-family:'Noto Sans KR'; font-style:normal; font-weight: 500; src:url("/font/NotoSansKR-Medium.woff2") format('woff2'),
		 	url("/font/NotoSansKR-Medium.woff") format('woff'),
		 	url("/font/NotoSansKR-Medium.otf") format('opentype');
}
@font-face {
	font-family:'Noto Sans KR'; font-style:normal; font-weight: 700; src:url("/font/NotoSansKR-Bold.woff2") format('woff2'),
		 	url("/font/NotoSansKR-Bold.woff") format('woff'),
		 	url("/font/NotoSansKR-Bold.otf") format('opentype');
}

body {
	overflow-y: scroll;
	font-family: 'Noto Sans KR', 'Nanum Gothic', 'dotum', sans-serif;
	font-size: 10px;
	line-height: 1;

	@include wordwrap;
}

.ir {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	width: 1%;
	height: 1%;
	margin: 0;
	padding: 0;
	font-size: 1%;
	line-height: 1%;
}

// layout
#wrap {
	min-width: 320px;
	padding-top: 101px;

	@include transition(padding .3s);
}

// scroll hide
.no-scroll {
	overflow: hidden;

	body {
		&:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
			background: rgba(0, 0, 0, .5);
			z-index: 10;
        }
	}
}
