@charset "utf-8";

/* main */
#container #main {
	height: 796px; 
}

#container #main > div {
	width: 50%;
	float: left;
	padding: 120px 0 0 10px;
}
#container #main > div.left {
	position: relative;
	height: 796px;
	padding: 0 10px 0 0;
}
#container #main > div > div {
	width: 490px;
}
#container #main .visual { 
	width: 100%;
}
#container #main .visual .bx-wrapper {
	max-width: 100% !important;
}
#container #main .visual li  {
	width: 19.5% !important;
	height: 796px;
	text-align: right;
}
#container #main .visual li > img {
	display: none;
}
#container #main .visual li.type1  {
	background: url('/images/template7/resp/default/usr/bg_visual01.jpg') right center no-repeat;
	/* background-size: cover; */
}
#container #main .visual li.type2 {
	background: url('/images/template7/resp/default/usr/bg_visual02.jpg') right center no-repeat;
	/* background-size: cover; */
}
#container #main .visual li.type3 {
	background: url('/images/template7/resp/default/usr/bg_visual03.jpg') right center no-repeat;
	/* background-size: cover; */
}
#container #main .visual .bx-controls-direction {
	display: none;
}
#container #main .visualPager {
	position: absolute;
	bottom: 85px;
	right: -2px;
}
#container #main .visualPager li {
	float:left;
}
#container #main .visualPager li+li {
	margin-left: 1px;
}
#container #main .visualPager li a {
	display: block;
	width: 156px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 1.15em;
	font-weight: 700;
	background: url('/images/template7/resp/default/usr/bg_main_visual_pager.png') 0 0 repeat;
}
#container #main .visualPager li a:hover,
#container #main .visualPager li a.active {
	line-height: 48px;
	border: 1px solid #ffa120;
	color: #ffa120;
	background: #2c2c2c;
}


#container #main .searchBox {
	padding: 20px 0 15px 0;
	margin: 0;
	text-align: center;
	background: #ffffff;
}
#container #main .searchBox label {
	margin-right: 10px;
	color: #f26f13;
	font-size: 1.15em;
	font-weight: 700;
}
#container #main .searchBox .search {
	position: relative;
	display: inline-block;
	width: 306px;
}
#container #main .searchBox .search input {
	width: 100%;
	height: 38px;
	padding: 0 65px 0 10px;
	border: 2px solid #f26f13;
	background: #ffffff;
}
#container #main .searchBox .search .btnSearch {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 55px;
	height:38px;
	padding:0;
	border: none;
	font-size: 0;
	background: #f26f13 url('/images/template7/resp/default/button/btn_main_search.png') center center no-repeat;;
}
#container #main .link {
	margin-bottom: 15px;
	border: 1px solid #dedede;
}
#container #main .link .title {
	line-height: 28px;
	padding: 0 18px;
	font-weight: 700;
	background: #f5f5f5;
}
#container #main .link ul {
	overflow: hidden;
	padding: 10px 10px 10px 10px;
}
#container #main .link ul li {
	float: left;
	width: 20%;
	text-align: center;
}

#container #main .link ul li a {
	display: block;
	height: 92px;
	line-height: 160px;
	background-image: url('/images/template7/resp/orange/usr/icon_main_link01.png');
	background-position: center 5px;
	background-repeat: no-repeat;
}
#container #main .link ul li+li a {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link02.png');
}
#container #main .link ul li+li+li a {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link03.png');
}
#container #main .link ul li+li+li+li a {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link04.png');
}
#container #main .link ul li+li+li+li+li a {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link05.png');
}
#container #main .link ul li+li+li+li+li+li a {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link06.png');
}
#container #main .link ul li a:hover {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link01_hover.png');
}
#container #main .link ul li+li a:hover {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link02_hover.png');
}
#container #main .link ul li+li+li a:hover {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link03_hover.png');
}
#container #main .link ul li+li+li+li a:hover {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link04_hover.png');
}
#container #main .link ul li+li+li+li+li a:hover {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link05_hover.png');
}
#container #main .link ul li+li+li+li+li+li a:hover {
	background-image: url('/images/template7/resp/orange/usr/icon_main_link06_hover.png');
}

#container #main .course {
	overflow: auto;
	margin-bottom: 15px;
}
#container #main .course .tab li {
	position:relative;
	float: left;
	width: 164px;
	height: 48px;
	margin-left: -1px;
	
}
#container #main .course .tab li:first-child {
	margin-left: 0;
}
#container #main .course .tab li a {
	display: block;
	height: 100%;
	line-height: 48px;
	border: 1px solid #dedede;
	text-align: center;
	font-size: 1.15em;
	font-weight: 700;
	letter-spacing: -0.5px;
	background: #ffffff;
}
#container #main .course .tab li a:before {
	content: " ";
	display: inline-block;
	width: 19px;
	height: 20px;
    vertical-align: -3px;
    margin-right: 6px;
	background-image: url('/images/template7/resp/default/usr/icon_main_tab02.png');
	background-position: 0 0;
	background-repeat: no-repeat;
}
#container #main .course .tab li+li a:before {
	width: 18px;
	height: 17px;
	background-image: url('/images/template7/resp/default/usr/icon_main_tab03.png');
}
#container #main .course .tab li+li+li a:before {
	width: 12px;
	height: 16px;
	background-image: url('/images/template7/resp/default/usr/icon_main_tab01.png');
}

#container #main .course .tab li.active a:before,
#container #main .course .tab li:hover a:before {
	background-image: url('/images/template7/resp/default/usr/icon_main_tab02_hover.png');
}
#container #main .course .tab li+li.active a:before,
#container #main .course .tab li+li:hover a:before  {
	background-image: url('/images/template7/resp/default/usr/icon_main_tab03_hover.png');
}
#container #main .course .tab li+li+li.active a:before,
#container #main .course .tab li+li+li:hover a:before  {
	background-image: url('/images/template7/resp/default/usr/icon_main_tab01_hover.png');
}





#container #main .course .tab li.active a,
#container #main .course .tab li:hover a {
	border: 1px solid #f68b1f;
	color: #ffffff;
	background: #f68b1f;
}
#container #main .course .tab li.active:before,
#container #main .course .tab li:hover:before {
	position: absolute;
	bottom: -9px;
	left: 50%;
	margin-left: -10px;
	content: " ";
	display: block;
	border-top: 9px solid #f68b1f;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
#container #main .course .list {
	clear: both;
	overflow: hidden;
	height: 248px;
	padding: 28px 22px 20px;
	border: solid #dedede;
	border-width: 0px 1px 1px 1px;
	background: #f5f5f5;
}
#container #main .course .list li {
	float: left;
	width: 180px;
	padding: 0 20px;
}
#container #main .course .list li .imgBox {
	position: relative;
	width: 180px;
	height: 122px;
}
#container #main .course .list li .imgBox img {
	width: 100%;
	height: 100%;
	max-height: 200px;
}

#container #main .course .list li a:hover .imgBox:before {
	position: absolute;
	top: 0;
	left: 0;
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background: url('/images/template7/resp/default/usr/dim_main_course.png') 0 0 repeat;
}
#container #main .course .list li a:hover .imgBox:after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: "자세히 보기";
	display: block;
	margin: -14px 0 0 -43px;
	width: 87px;
	height: 28px;
	line-height: 28px;
	border: 2px solid #ffa120;
	text-align: center;
	color: #ffa120;
}


#container #main .course .list li .textBox strong {
	display: block;
	display: -webkit-box;
	margin-top: 7px;
	line-height: 18px;
	max-height: 34px;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap:break-word;
}
#container #main .course .list li a:hover .textBox strong {
	color: #f26f13;
}


#container #main .customer {
	overflow: hidden;
}
#container #main .customer li {
	float: left;
	width: 163px;
	height: 80px;
	padding: 20px 0 0 15px;
	background: #2c6fc7;
}
#container #main .customer li:first-child {
	width: 164px;
}
#container #main .customer li span {
	display: block;
	margin-bottom: 4px;
	color: #8bd6ff;
	font-weight: 700;
}
#container #main .customer li strong,
#container #main .customer li a.tel {
	display: block;
	color: #ffffff;
	font-size: 1.54em;
}
#container #main .customer li a.tel {
	display: none;
	font-weight: 700;
} 

#container #main .customer li+li {
	background: #1586de;
}
#container #main .customer li+li+li {
	background: #15a0ed;
}
#container #main .customer li.download {
	padding: 0;
}
#container #main .customer li.download > a {
	display: block;
	height: 100%;
	padding: 18px 0 0 15px;
	background: url('/images/template7/resp/default/usr/icon_main_download.png') 102px center no-repeat;
}
#container #main .customer li > a strong {
	line-height: 22px;
	color: #ffffff;
	font-size: 1.15em;
	letter-spacing: -1px;
}


#container #main .notice {
	clear: both;
	position: relative;
	height: 50px;
	padding: 0 0 0 125px;
	border: 1px solid #dedede;
	background: #f5f5f5;
	margin-bottom: 15px;
}
#container #main .notice .bx-pager {
	display: none;
}
#container #main .notice .bx-prev,
#container #main .notice .bx-next {
	position: absolute;
	right: 8px;
	width: 9px;
	height: 7px;
	font-size: 0;
}
#container #main .notice .bx-prev {
	top: 27px;
	background: url('/images/template7/resp/default/button/btn_main_slider_prev.png') 0 0 no-repeat;
}
#container #main .notice .bx-next {
	top: 14px;
	background: url('/images/template7/resp/default/button/btn_main_slider_next.png') 0 0 no-repeat;
}

#container #main .notice .title {
	display: inline-block;
	position: absolute;
	top: -1px;
	left: -1px;
	width: 75px;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	font-weight: 700;
	text-align: right;
	background: #f68b1f;
}
#container #main .notice .title:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 75px;
    border-bottom: 50px solid #f68b1f;
    border-left: 2px solid #f68b1f;
    border-right: 40px solid transparent;
}
#container #main .notice .list li {
	position: relative;
	padding: 0 125px 0 11px;
	background: url('/images/template7/resp/orange/usr/bult_main_notice.png') 0 center no-repeat;
}
#container #main .notice .list li a {
	overflow: hidden;
	display: block;
	width: 100%;
	line-height: 48px;
	font-weight: 700;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal
}
#container #main .notice .list li span {
	position: absolute;
	top: 0;
	right: 41px;
	line-height: 48px;
	color: #919191;
}

/*course*/
.contentsBox .course {
	overflow: hidden;
	margin-bottom: 10px;
	padding-bottom: 20px;
/* 	border-bottom: 1px solid #dedede; */
}
.contentsBox .course > .title {
	position: relative;
	margin-bottom: 20px;
	padding: 20px 20px 20px 20px;
    border-top: 1px solid #dedede;
    background: #f5f5f5;
}
.contentsBox .course > .title > h4 {
	margin: 10px 0px 0px 0;
	font-size: 1.69em;
	line-height: 1.2em;
}
.contentsBox .course > .title > .location {
	margin-top: 10px;
}
.contentsBox .course > .title > .location span {
	margin-right: 5px;
}
.contentsBox .course > .title > .location span+span {
	margin-left: 5px;
}
.contentsBox .course .share {
	position: absolute;
	right: 5px;
	bottom: 27px;
}
.contentsBox .course .share a {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 0;
}
.contentsBox .course .share a:hover:before {
	position: absolute;	
	display: inline-block;
	top: -37px;
	left: 50%;
    margin-left: -30px;	
    padding: 0 5px 0 5px;
	min-width: 45px;
	height: 26px;
	line-height: 26px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	text-align: center;
	white-space: nowrap;	
	z-index: 99;
}
.contentsBox .course .share a:hover:after {
	content: " ";	
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -3px;
}
.contentsBox .course .share .btnSelect:hover:before {
	content: "찜하기";
}
.contentsBox .course .share .btnLike:hover:before {
	content: "좋아요";
}
.contentsBox .course .share .btnRecommend:hover:before {
	content: "추천하기";
}
.contentsBox .course .share a > span {
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
}
.contentsBox .course > .imgBox {
	float: left;
	width: 350px;
	height: 230px;
	margin-left: 20px;
	margin-bottom: 20px;	
}
.contentsBox .course > .imgBox > img {
	float: left;
	width: 350px;
	height: 230px;
}
.contentsBox .course .imgBox .scrollBox {
	display: none;
}
.contentsBox .course > .textBox {
	display: inline-block;
	width: 375px;
	margin: 0px 0 20px 0;
}
.contentsBox .course .textBox dl {
	display: block;
	margin-left: 30px;
}
.contentsBox .course .textBox dt {
	float: left;
    font-weight: 700;
	line-height: 28px; 
}
.contentsBox .course .textBox dd {
	margin-left: 90px;
	margin-bottom: 5px;
	padding-top: 3px;
	line-height: 20px;	
}
.contentsBox .course .textBox dd .selectBox {
	max-width: 100%;
	height: 28px;
	margin-top: -3px;
}
.contentsBox .course .textBox dd .selectBox select {
	margin-top: 0;
} 
.contentsBox .course .sns {
    clear: both;
    float: left;
    display: block;
/*     width: 158px; */
	margin-right: 3px;
	padding-top: 7px;
	padding-left: 30px;
	font-size: 0;
}
.contentsBox .course .sns a {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-right: 6px;
	background-image: url(/images/template6/resp/default/usr/icon_sns.png);
    background-repeat: no-repeat;
}
.contentsBox .course .sns a.facebook {
    background-position: 0 0;
}
.contentsBox .course .sns a.twitter {
    background-position: -36px 0;
}
.contentsBox .course .sns a.url {
    background-position: -72px 0;
}
.contentsBox .course .sns a.kakaotalk {  
	display: none;
}
.contentsBox .course .sns a.band {  
	display: none;
}
.contentsBox .course .btnArea {
	float: left;
}
.contentsBox .course .btnArea .btnPreview {
	float: left;
	width: 110px;
	height: 36px;
	margin-top: 7px;
	padding: 0 0 0 10px;
	border: 1px solid #17adad;
	color: #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background: #17adad url('/images/template7/resp/orange/button/btn_preview.png') 18px center no-repeat;
}
.contentsBox .course .btnArea .btnPreview:hover {
	border: 1px solid #17adad;
	color: #48b8b8;
	background: #edf9f9 url('/images/template7/resp/orange/button/btn_preview_active.png') 18px center no-repeat;
}

.contentsBox .course .btnArea .btnRegister {
	margin: 0 auto;
	width: 325px;
	height: 50px;
}
.contentsBox .course .btnArea button p {
	font-size: 1em;
}
.contentsBox.courseView > .btnArea  { /* 목록 버튼 */
	margin: 20px 0;
}
.contentsBox.courseView .btnArea .btnList {
	min-width: 80px;
	height: 34px;
	padding: 0 15px;
	font-size: 13px;
}
.contentsBox .course+.btnArea+.tab li {
	min-width: auto;
	width: 33.33%;
	width: calc(100%/3 + 1px );
}
.contentsBox .course+.btnArea+.tab li:first-child {
	width: 33.33%;
	width: calc(100%/3);
}
.courseView .content {
	padding-top: 1px;
	line-height: 25px;
}
.courseView .content h5, .view h6 {
	font-size: 1.54em;	
}
.courseView .content h5:before, .view h6:before {
	content: " ";
	display: inline-block;
	width: 14px;
	height: 14px; 
	margin-right: 10px;
	border-radius: 2px;
	background: #ffa120 url(/images/template7/resp/default/usr/bult_courseDetail_h5.png) center center no-repeat;
}
.courseView .content h6 {
	font-size: 1.23em; /* 16/13 */
}
.courseView .content p {
	line-height: 25px;
}
.courseView .content>p+p {
	margin-top: 10px;
}
.courseView .content .lecture>.info:first-child {
	display: block;
	margin-bottom: 20px;
}
.courseView .content .lecture .profileImg {
	position: relative;
	float: left;
	overflow: hidden;
	width: 110px;
	height: 110px;
	vertical-align: top;
    background: url(/images/template6/resp/default/usr/bg_default_profile.png) center center no-repeat;
    background-size: 100%;
}
.profileBg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.profileBg {
    background: url(/images/template6/resp/default/usr/bg_profile.png) 0 0 no-repeat;
    background-size: 100%;
}
.profileImg img {
    width: 100%;
    height: 100%;
}
.courseView .content .lecture .textBox {
	display: inline-block;
	width: 615px;
	padding-left: 20px;
	vertical-align: top;
}
.courseView .content .lecture .textBox .name {
	font-weight: 700;
}
.courseView .content .lecture .textBox p+p {
	margin-bottom: 10px;
}
.courseView .content .lecture .textBox p>span+span:before {
	content: "|";
	padding: 0 5px 0 1px;
}
.courseView .content .lecture .textBox .btnArea {
	text-align: left;
}
.courseView .content .lecture .textBox .btnArea .btnView {
	min-width: 0;
	width: 87px;
	height: 34px;
	padding: 0;
	font-size: 13px;
	font-weight: 400;
}
div.book {
    border: 1px solid #dedede;
}
div.book .box {
	position: relative;
	padding: 30px;
}
div.book .box .imgBox {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 132px;
}
div.book .box .imgBox img {
	width: 100%;
	height: 100%;
}
div.book .box .imgBox .badge {
	position: absolute;
	top: -10px;
	left: -10px;
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	font-weight: 700;
}
div.book .box .textBox {
	display: inline-block;
	padding: 0 30px 0 15px;
	vertical-align: top;
}
div.book .box .textBox .title {
	margin-bottom: 7px;
	font-size: 1.15em;
	font-weight: 700;
}
div.book .box .textBox p span {
	margin-right: 13px;
}
div.book .box .textBox p span+span:before {
	content: "|";
	padding-right: 15px;
}
div.book .box .textBox .title .btnList {
	min-width: 0;
	width: 84px;
	height: 22px;
	padding: 0;
	font-size: 0.85em; /* 13/15 */
	font-weight: 400;
}
div.book .box .textBox .title .btnList:after {
	content: ">";
	display: inline-block;
	margin-top: 2px;
	padding-left: 5px;
	vertical-align: top;
	font-size: 0.5em;
}
div.book .box .btnView {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 200px;
	height: 25px;
	padding: 0 50px;
	margin-left: -100px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: left;
	font-size: 1em;
}
div.book .box .btnView,
div.book .box .btnView:hover {
	border: none;
    color: #ffffff;
    background: #f26f13 url('/images/template7/resp/default/button/btn_view.png') 137px center no-repeat;
}
div.book .box .btnView.active {
    background: #f26f13 url('/images/template7/resp/default/button/btn_view_active.png') 137px center no-repeat;
}
.courseView .content .book+.book {
	margin-top: 30px;
}
.courseView .content .book>strong {
	display: block;
	height: 34px;
	line-height: 34px;
	padding-left: 57px;
	font-size: 1.15em;
	font-weight: 700;
}
.view {
	padding: 15px 30px 50px;
	line-height: 25px;
    border-top: 1px solid #e9e9e9;
    background: #f5f5f5;
}
.book .view h6+p > strong {
	display: block;
	font-size: 1.15em;
}
.courseView .content ol li p.title { 
	margin-bottom: 5px;
	font-size: 1.15em;
	font-weight: 700;
}
.courseView .content ol li p.title+ol {
	margin-bottom: 30px;
}
.courseEplg { /* �����ı� �� �ڸ�Ʈ */
	border-top: 2px solid #61696f;
}
.courseEplg li, .appraisal li {
	position: relative;
	border-bottom: 1px solid #e7e9ea;
	padding: 15px 160px 15px 20px;
}
.courseEplg li p, .appraisal li p {
	position: relative;
	padding-left: 10px;
	line-height: 22px;
}
.courseEplg li p:first-child:before, .appraisal li p:first-child:before {
	content: " ";
	position: absolute;
	top: 9px;
	left: 0;
	display: block;
	width: 3px;
	height: 3px;
	background: #919191;
}
.courseEplg li .grade, .appraisal li .grade {
	position: absolute;
	top: 11px;
	right: 20px;
}
.courseEplg li p.name, .appraisal li p span {
	display: inline-block;
	margin-top: 3px;
}
.appraisal li p span+span:before {
	content: "|";
	padding: 0 12px 0 10px;
	font-size: 10px;
}
.toolBar {
	position: absolute;
	left: 50%;
	margin-left: 333px;
	bottom: 177px;
	z-index: 999;
}
.toolBar .btnArea button {
	float: left;
}
.toolBar .btnArea button+button {
	margin: 0;
}
.toolBar .btnArea .btnRegister {
	width: 122px;
	height: 45px;
	padding: 0 0 0 32px;
}
.toolBar .btnArea .btnRegister p {
	font-size: 0.85em;
}
.toolBar .btnArea .btnTop {
	min-width: 45px;
	height: 45px;
	padding: 19px 0 0 0;
	font-size: 0.92em;
}
.bx-pager-item {
	display: none;
}
.courseView .content .thumbnList {
	overflow: inherit;
	position: relative;
	width: 675px;
	margin: 0 auto;
}
.courseView .content .thumbnList li {
	width: 155px !important;
	margin-left: 0;
	margin-right: 14px;
}
.courseView .content .thumbnList li .imgBox img {
	width: 100%;
	height: 100px;
}
.courseView .content .thumbnList .textBox .title > span.info {
	display: block;
	color: #f0564c;
}
.courseView .content .thumbnList.book li {
	width: 160px !important;
	margin-right: 10px;
	text-align: center;
}
.courseView .content .thumbnList.book li .imgBox {
	width: 107px;
	height: 156px;
	margin: 0 auto;
}
.courseView .content .thumbnList.book li .imgBox img {
	width: 100%;
	height: 100%;
}
.courseView .content .thumbnList.book li .textBox {
	padding: 15px 10px 20px 10px;
}
.courseView .content .thumbnList.book li .btnArea {
	text-align: center;
}
.courseView .content .thumbnList .bx-prev, .courseView .content .thumbnList .bx-next {
	position: absolute;
	top: 50%;
	width: 25px;
	height: 134px;
	margin-top: -67px;
	font-size: 0;
}
.courseView .content .thumbnList .bx-prev {
	left: -30px;
	background: url(/images/template7/resp/default/button/btn_slider_prev.png) 0 0 no-repeat;
}
.courseView .content .thumbnList .bx-next {
	right: -30px;
	    background: url(/images/template7/resp/default/button/btn_slider_next.png) 0 0 no-repeat;
}
.courseView .content .thumbnList.book .bx-prev, .courseView .content .thumbnList.book .bx-next {
	top: 55px;
	margin-top: 0;
}
.courseView .content .thumbnList .bx-viewport {
	height: auto !important;
}

/* 소개 */
.introduce {
	padding: 252px 0 30px 0;
	background: url('/images/template7/resp/orange/usr/bg_introduce.png') center 0 no-repeat;
}
.introduce .textBox {
	margin-top: 22px;
}
.introduce .textBox p {
	line-height: 25px;
	font-size: 1.15em;
}
.introduce .textBox p > strong {
	font-size: 1.2em;
	vertical-align: 0px;
}

.introduce .video {
	width: 362px;
	height: 278px;
	margin-top: 50px;
	background: #000000;
}

/* 인사말 */
.greeting {
	background: url('/images/template7/resp/orange/usr/bg_greeting.png') right top no-repeat;
}
.greeting .title {
	width: 490px;
	margin-bottom: 76px;
}
.greeting .title > div {
	margin-bottom: 10px;
	line-height: 28px;
	font-size: 1.54em;
	    letter-spacing: -1.2px;
}
.greeting .title > div > span {
	color: #1586de;
	font-weight: 700;
}
.greeting .title > p {
	line-height: 18px;
	color: #b5b5b5;
}
.greeting .textBox > strong {
	display: block;
	margin-bottom: 20px;
	line-height: 1;
	font-size: 1.38em;
}
.greeting .textBox > p {
	margin-bottom: 10px;
}
.greeting .box {
	display: table;
	width: 100%;
	margin-top: 25px;
}
.greeting .box > div {
	display: table-cell;
}
.greeting .box > div.imgBox {
	width: 235px;
	padding-right: 25px;
}

/* 수상내역 */
.prize .boxGray {
	margin: 25px 0 50px;
	background: #f5f5f5 url('/images/template7/resp/default/usr/bg_prize.png') right 100px no-repeat;
}
.prize .boxGray ul li {
	display: table;
	width: 100%;
}
.prize .boxGray ul li+li {
	margin-top: 8px;
}
.prize .boxGray ul li > div {
	display: table-cell;
	line-height: 22px;
	color: #919191;
	font-weight: 700;
	vertical-align: top;
}
.prize .boxGray ul li > div.year {
	width: 56px;
	color: #1586de;
	font-size: 1.23em;
}
.prize > ul {
    overflow: auto;
	margin-left: 27px;
}
.prize > ul li {
	float:left;
	width: 214px;
	margin: 0 8px 35px 8px;
	text-align: center;
} 
.prize > ul li .imgBox {
	position: relative;
    padding: 4px 0 21px 0;
    background: url(/images/template7/resp/default/usr/bg_prize_frame.png) 17px 0 no-repeat;
}
.prize > ul li .imgBox img {
	margin: 0 auto;
	width: 172px;
	height: 228px;
}
.prize > ul li .imgBox:before {
	content: " ";
	position: absolute;
	top: 4px;
	left: 50%;
	display: block;
	margin-left: -86px;
	width: 172px;
	height: 228px;
	-webkit-box-shadow: inset 12px 12px 35px -12px rgba(0,0,0,0.11);
	-moz-box-shadow: inset 12px 12px 35px -12px rgba(0,0,0,0.11);
	box-shadow: inset 12px 12px 35px -12px rgba(0,0,0,0.11);
}
.prize > ul li .textBox {
	padding: 0 10px;
	line-height: 18px;
	letter-spacing: -1px;
}

/* 찾아오시는 길 */
.map .tab li {
	width: 249px;
}
.map .imgBox {
	width: 100%;
	border: 1px solid #dedede;
}
.map .imgBox {
	width: 100%;
}
.map .route > div {
	padding: 30px 0 20px 0;
}
.map .route > div+div {
	border-top: 1px solid #dedede;
}
.map .route > div > h4 {
	margin: 0 0 17px 0;
	padding-left: 23px;
	background: url('/images/template7/resp/default/usr/icon_address.png') 0 0 no-repeat;
}
.map .route > div+div > h4 {
	background: url('/images/template7/resp/default/usr/icon_traffic.png') 0 0 no-repeat;
}
.map .route > div > ul li {
	position: relative;
	margin-bottom: 10px;
}
.map .route > div > ul li > strong {
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	color: #1586de;
}
.map .route > div > ul li > p {
	padding-left: 70px;
}

.map .route > div > .box {
	display: table;
	width: 100%;
}
.map .route > div > .box+.box {
	margin-top: 20px;
}
.map .route > div > .box > div {
	display: table-cell;
	vertical-align: top;
}
.map .route > div > .box > div:first-child {
	width: 125px;
}
.map .route > div > .box > div:first-child > strong {
	display: block;
	padding-left: 47px;
	line-height: 34px;
	color: #1586de;
	font-size: 1.23em;
}
.map .route > div > .box > div:first-child > strong.bus {
	background: url('/images/template7/resp/default/usr/icon_bus.png') 0 0 no-repeat;
}
.map .route > div > .box > div:first-child > strong.taxi {
	background: url('/images/template7/resp/default/usr/icon_taxi.png') 0 0 no-repeat;
}
.map .route > div > .box > div:first-child > strong.car {
	background: url('/images/template7/resp/default/usr/icon_car.png') 0 0 no-repeat;
}
.map .route > div > .box > div:first-child > strong.train {
	background: url('/images/template7/resp/default/usr/icon_train.png') 0 0 no-repeat;
}
.map .route > div > .box > div:first-child > strong.subway {
	background: url('/images/template7/resp/default/usr/icon_subway.png') 0 0 no-repeat;
}
.map .route > div > .box > div ul {
	margin-top: 8px;
}
.map .route > div > .box > div ul li {
	margin-bottom: 5px;
}
.map .route > div > .box > div ul li > strong,
.map .route > div > .box > div ul li > p {
	line-height: 22px;
}
.map .busR {
	color: #f0564c;
}
.map .busB {
	color: #2c6fc7;
}
.map .busG {
	color: #50a332;
}




/* HRD서비스 */
.guide > .boxGray {
	padding: 30px 30px 30px 190px;	
	background: #f5f5f5 url('/images/template7/resp/default/usr/icon_guide01.png') 0 0 no-repeat; 
}
.guide.type2 > .boxGray {
	background: #f5f5f5 url('/images/template7/resp/default/usr/icon_guide02.png') 0 0 no-repeat; 
}
.guide.type3 > .boxGray {
	background: #f5f5f5 url('/images/template7/resp/default/usr/icon_guide03.png') 0 0 no-repeat; 
}
.guide.type4 > .boxGray {
	background: #f5f5f5 url('/images/template7/resp/default/usr/icon_guide04.png') 0 0 no-repeat; 
}
.guide.type5 > .boxGray {
	background: #f5f5f5 url('/images/template7/resp/default/usr/icon_guide05.png') 0 0 no-repeat; 
}
.guide > .boxGray > strong {
	display: block;
	margin-bottom: 12px;
	line-height: 1;
	color: #1586de;
	font-size: 2.3em;
	font-weight: 400;
}
.guide > .boxGray > p {
	line-height: 20px;
	color: #5e5e5e;
    font-weight: 700;
}
.guide > h4 {
	padding-left: 31px;	
    line-height: 23px;
	background: url('/images/template7/resp/orange/usr/bult_guide.png') 0 0 no-repeat; 
}
.guide > .textBox+.imgBox {
	margin-top: 25px;
}
.guide > .table {
	margin-top: 20px;
}
.guide > .table td ul li {
	float: left;
	min-width: 50%;
	text-align: left;
} 
.guide > .table+.table td ul li {
	min-width: 33.33%;
}
.guide > .process ul {
	overflow: auto;
}
.guide > .process ul li {
	float: left;
	width: 33.33%;
	padding: 105px 25px 16px;
	text-align: center;
	background: url('/images/template7/resp/orange/usr/icon_elearning01.png') center 15px no-repeat;
}
.guide > .process ul li+li {
	background: url('/images/template7/resp/orange/usr/icon_elearning02.png') center 15px no-repeat;
}
.guide > .process ul li+li+li {
	background: url('/images/template7/resp/orange/usr/icon_elearning03.png') center 15px no-repeat;
}
.guide > .process ul li strong {
	display: block;
	margin: 13px 0 8px 0;
	line-height: 22px;
	color: #2c6fc7;
	font-size: 1.15em;
}
.guide > .process ul li p {
	line-height: 20px; 
	letter-spacing: -0.5px;
}
.guide > .mobileService {
	margin-top: 25px;
	padding-left: 288px;
	background: url('/images/template7/resp/default/usr/img_phone.png') 39px 0px no-repeat;
}

.guide > .mobileService li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 35px;
}
.guide > .mobileService li > span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	font-size: 1.23em;
	font-weight: 700;
	background: url('/images/template7/resp/orange/usr/bg_guide_number.png') 0 0 no-repeat;
}
.guide > .mobileService li > strong {
	display: block;
	margin-bottom: 7px;
	line-height: 22px;
	font-size: 1.15em;
}
.guide > .mobileService li >  p {
	line-height: 20px;
}
.guide > .isd  {
	margin-top: 40px;
}
.guide > .isd li {
	display: table;
	height: 160px;
	margin-bottom: 20px;
	padding-left: 190px;
	vertical-align: middle;
	background: url('/images/template7/resp/default/usr/icon_content01.png') 0 0 no-repeat;
}
.guide > .isd li+li {
	background: url('/images/template7/resp/default/usr/icon_content02.png') 0 0 no-repeat;
}
.guide > .isd li+li+li {
	background: url('/images/template7/resp/default/usr/icon_content03.png') 0 0 no-repeat;
}
.guide > .isd li:nth-child(2) {
	margin-left: 110px;
}
.guide > .isd li > div {
	display: table-cell;
	vertical-align: middle;
}
.guide > .isd li > div > strong {
	display: block;
	margin-bottom: 13px;
	font-size: 1.23em;
}

.guide > .portfolio li {
	margin-bottom: 40px;
}
.guide > .portfolio li .title {
    overflow: hidden;
	margin-bottom: 15px;
	padding: 10px 15px;
	background: #f5f5f5;
 }
.guide > .portfolio li .title > strong {
	font-size: 1.15em;
	line-height: 25px;
}
.guide > .portfolio li .title > strong.company {
	color: #5e5e5e;
}
.guide > .portfolio li .title > strong+strong:before {
	content: "|";
	padding: 0 15px;
	color: #cbcbcb;
}
.guide > .portfolio li .title > .logo {
	float: right;
    line-height: 25px;
}
.guide > .portfolio li .contents {
	font-size: 0;
}
.guide > .portfolio li .contents img {
	display: inline-block;
}
.guide > .portfolio li .contents img+img {
	margin-left: 15px;
}
.guide > .contentProcess {
	overflow: hidden;
	margin-top: 25px;
}
.guide > .contentProcess li {
	position: relative;
	float: left;
	width: 139px;
	line-height: 80px;
	margin-right: 8px;
	padding-left: 20px;
	text-align: center;
	color: #2c6fc7;
	font-size: 1.15em;
	font-weight: 700;
	background: #98daff;
}
.guide > .contentProcess li+li {
	background: #aae0ff;
}
.guide > .contentProcess li+li+li {
	background: #d1eeff;
}
.guide > .contentProcess li+li+li+li {
	background: #e1f4ff;
}
.guide > .contentProcess li+li+li+li+li {
	background: #eaf7ff;
}

.guide > .contentProcess li:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border-left: 14px solid #ffffff;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
}
.guide > .contentProcess li:after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: -14px;
	border-left: 14px solid #98daff;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	z-index: 99;
}
.guide > .contentProcess li+li:after {
	border-left: 14px solid #aae0ff;;
}
.guide > .contentProcess li+li+li:after {
	border-left: 14px solid #d1eeff;
}
.guide > .contentProcess li+li+li+li:after {
	border-left: 14px solid #e1f4ff;
}
.guide > .contentProcess li+li+li+li+li:after {
	border-left: 14px solid #eaf7ff;
}		
	
	

.guide > .mcp li {
	float: left;
	width: 33.33%;
	height: 200px;
	line-height: 200px;
	text-align: center;
}
.guide > .mcp li > div > p {
	line-height: 20px;
}
.guide > .mcp li+li > div {
	position: relative;
	margin-top: 40px;
	padding: 10px 0 0 17px;
	line-height: 20px;
	text-align: left;
	width: 192px;
	height: 118px;
	color: #5e5e5e;
	font-weight: 700;
	background: #f5f5f5;
}
.guide > .mcp li+li > div:before {
	content: " ";
	position: absolute;
	top: 50%;
	right: -47px;
	margin-top: -77px;
	border-left: 47px solid #f5f5f5;
	border-top: 77px solid transparent;
	border-bottom: 77px solid transparent;
}
.guide > .mcp li+li+li {
    padding-top: 50px;
	font-size: 1.15em;
	font-weight: 700;
	background: url('/images/template7/resp/default/usr/icon_mcp.png') center 29px no-repeat;
}



/* softwareDown */
.softwareDown h4:first-child {
	margin-top: 0;
}
.softwareDown ul {
	overflow: auto;
}
.softwareDown li {
	float: left;
	width: 235px;
	margin-right: 10px;
	margin-bottom: 20px;
	border: 1px solid #dedede;
}
.softwareDown li:nth-child(3n) {
	margin-right: 0px;
}
.softwareDown li .imgBox {
	height: 150px;
	line-height: 150px;
	text-align: center;
}
.softwareDown li .imgBox img {
	width: auto;
	height: auto;
}
.softwareDown li .textBox {
	height: 190px;
	padding: 25px 20px;
	background: #fafafa; 
}
.softwareDown li .textBox strong {
	display: block;
	line-height: 23px;
	font-size: 1.23em; /* 16/13 */
}
.softwareDown li .textBox span {
	display: block;
	margin-top: 13px;
	line-height: 22px;
}
.softwareDown li .textBox button {
	display: block;
	min-width: 0px;
	height: 23px;
	margin-top: 14px;
	margin-left: 0;
	padding: 0 25px 0 10px;
	border: 1px solid #c4c4c4;
	font-size: 0.92em;
	background: #f5f5f5 url('/images/template7/resp/default/button/btn_download.png') 61px center no-repeat;
}
.softwareDown li .textBox button:hover {
	border: 1px solid #5e5e5e;
	background: #fefefe url('/images/template7/resp/default/button/btn_download.png') 61px center no-repeat;
}

/* 학습장애해결방법 */
.disability .tab ul li {
	width: 25%;	
}
.disability .box .title {
	margin-bottom: 30px;
	padding: 10px 15px;
	line-height: 25px;
	font-size:1.23em;
	font-weight: 700;
	background: #f5f5f5;
}
.disability .box ul li {
	display: table;
	width: 100%;
	margin-bottom: 15px;
}
.disability .box ul li > div {
	display: table-cell;
	vertical-align: top;
}
.disability .box ul li > div.step {
	width: 87px;
}
.disability .box ul li > div.step > span {
	display: block;
	width: 72px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	font-size: 1.23em;
	font-weight: 700;
	background: url('/images/template7/resp/orange/usr/bg_disability_step.png') 0 0 no-repeat;
}
.disability .box ul li > div.contents p {
	display: block;
	margin-bottom: 15px;
	line-height: 22px;
}
.disability .box ul li > div.contents p > strong {
	vertical-align: 0px;
}
.disability .box ul li > div.contents img {
	margin-bottom: 15px;
}

/* 학습가이드 */
.learning > .tab li {
	min-width: inherit !important;
	width: 373px;
}
.learningGuide li {
	width: 100%;
	margin-bottom: 50px;
}
.learningGuide li > div {
	display: block;
	vertical-align: top;
}
.learningGuide li > div.step {
	width: 87px;
}
.learningGuide li > div.step > span {
	display: block;
	width: 72px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #ffffff;
	font-size: 1.23em;
	font-weight: 700;
	background: url('/images/template7/resp/orange/usr/bg_guide_step.png') 0 0 no-repeat;
}
.learningGuide li > div.imgBox {
	position: relative;
	margin-top: -22px;
}
.learningGuide li > div.imgBox > strong {
	display: inline-block;
	margin-bottom: 15px;
	padding-left: 90px;
	line-height: 22px;
}


/* 사이트맵 */
.siteMap > ul {
	overflow: auto;
}
.siteMap > ul > li {
	float: left;
	width: 170px;
	margin-left: 15px;
}
.siteMap > ul > li:first-child {
	margin-left: 0;
}
.siteMap > ul > li > h4 {
    margin: 0 0 5px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffa120;
    color: #f68b1f;
    padding-left: 10px;
}
.siteMap > ul > li > ul > li {
	padding: 10px 0;
    line-height: 20px;
    border-top: 1px solid #eeeeee;
    font-size: 1em;
    font-weight: 700;
    padding-left: 10px;
}
.siteMap > ul > li > ul > li:first-child {
	border-top: none;
}
.siteMap > ul > li > ul > li a {
	color: #5e5e5e;
}

.mobileView {
	display: none;
}

/* LYW 추가 / 댓글작성 */

.writeBox input[type="radio"] {position:absolute;top: 2px;left: 2px;width:13px;height:13px;margin:0;padding:0;border:none;margin:0;}
.writeBox input[type="radio"] + label {position:relative;z-index:3;padding: 0 0 0 20px;line-height: 16px;font-size: 14px;cursor:pointer;display:inline-block;color:#222;font-weight:400;}
.writeBox input[type="radio"] + label:before {content: ''; position: absolute; top: 0; left: 0; width:16px; height:16px; background: url("../../../images/template5/resp/default/button/btn_radio.png") no-repeat 0 0;  background: none \0/ /*ie8*/;}
.writeBox input[type="radio"]:checked + label:before {background-position:-16px 0}

.writeBox {margin:20px 0 20px; padding:20px 25px; background-color:#f5f5f5; border:1px solid #dedede;}
.open_area {position:relative; margin:0 0 10px}
.open_area .txt {font-weight:bold; position:absolute; top:5px; left:0}
.open_area > label {margin:0 0 0 15px; cursor:pointer}

.open_area .inputList { overflow:hidden; margin:-5px 0 0 60px; }
.open_area .inputList li { position:relative; float:left; margin:5px 10px 0 0; }
.write_area {position:relative; height:66px; padding:0 80px 0 0}
.write_area > textarea {border: 1px solid #dedede; background: #ffffff; height:100%; padding:0; resize:none}
.write_area > button {position:absolute; min-width:auto; width:80px; height:100%; padding:0; top:0; right:0; background-color:#225fa4; color:white; font-size:13px; font-weight:bold}

.replyBox {margin:0 0 20px; border-top:2px solid #222; border-bottom:1px solid #dedede} 
.replyBox textarea { resize:none; border:1px solid #dedede; }
.replyBox > ul > li {position:relative; padding:20px 15px; border-top:1px solid #dedede}
.replyBox > ul > li:first-child {border-top:0}
.replyBox > ul > li .content {position:relative; margin:0 240px 0 0}
.replyBox > ul > li .content span {vertical-align:middle; margin:0 2px 0 0;}
.replyBox > ul > li .content .tool { }
.replyBox > ul > li .content .tool > ul { display: inline-block; position:relative; top:1px; vertical-align:top; }
.replyBox > ul > li .content .tool > ul > li {float:left; margin:0 2px}
.replyBox > ul > li .content .tool > ul > li a { position:relative; margin:0 2px 0 0; font-weight:bold; font-size:12px; }
.replyBox > ul > li .content .tool > ul > li a:after { content:''; position:absolute; bottom:-1px; left:0; width:100%; height:1px; background-color:#2c2c2c; }
.replyBox > ul > li .content .tool > ul > li a:hover { color:#225fa4; }
.replyBox > ul > li .content .tool > ul > li a:hover:after { background:#225fa4; }
.replyBox > ul > li .content .inputBox {margin:0 65px 0 0}
.replyBox > ul > li .content .inputBox input {width:100%; height:32px;}
.replyBox > ul > li .content .modifyBox {position:absolute; top:0; right:0}
.replyBox > ul > li .content .modifyBox ul { padding:10px 0; }
.replyBox > ul > li .content .modifyBox a {position:relative; line-height:32px; font-size:12px; font-weight:bold; margin:0 2px}
.replyBox > ul > li .content .modifyBox a:after {content:""; position:absolute; bottom:-1px; left:0; width:100%; height:1px; background-color:#2c2c2c}
.replyBox > ul > li .content .modifyBox a:hover { color:#225fa4; }
.replyBox > ul > li .content .modifyBox a:hover:after { background:#225fa4; }
.replyBox > ul > li .content .modifyBox > ul > li {float:left; margin:0 2px}

.replyBox > ul > li .dataBox {position: absolute; top: 50%; right: 15px; margin: -7px 0 0; font-size:13px;}
.replyBox > ul > li .dataBox .name {position:relative; padding:0 15px 0 0; color:#919191; }
.replyBox > ul > li .dataBox .name:after {content:""; position:absolute; top:50%; right:0; width:1px; height:10px; margin:-3px 0 0; background:#e3e3e3}

.replyBox > ul > li .dataBox .date {margin:0 0 0 15px; color:#919191;}
.replyBox .no_data {text-align:center;  margin:10px 0; font-size:13px; color:#919191;}

.btn_more {width:100%; height:25px; padding:0; text-align:center; color:#5e5e5e; font-size:13px; background-color:white; border: 1px solid #dedede}

/* EOD : LYW 추가 / 댓글작성 */


@media screen and (max-width: 1023px) {
	#container #main {
	    overflow: hidden;
		height: auto;
		padding: 0 0 30px 0;
	}
	#container #main > div {
		width: 100%;
		padding: 0;
	}
	#container #main > div > div {
		width: 100%;
	}
	
	#container #main .visualPager {
		display: none;
	}
	#container #main > div.left,
	#container #main .visual li  {
		height: 526px;
		padding: 0;
	}
	#container #main .visual li.type1  {
		background: url('/images/template7/resp/default/usr/bg_mobile_visual01.jpg') center center no-repeat;
		background-size: cover;
	}
	#container #main .visual li.type2 {
		background: url('/images/template7/resp/default/usr/bg_mobile_visual02.jpg') center center no-repeat;
		background-size: cover;
	}
	#container #main .visual li.type3 {
		background: url('/images/template7/resp/default/usr/bg_mobile_visual03.jpg') center center no-repeat;
		background-size: cover;
	}	
	#container #main .course .tab li {
		width: 33.33%;
	}
	#container #main .course .list {
		height: auto;
	}
	#container #main .course .list li .imgBox {
		margin: 0 auto;
		width: 100%;
		height: auto;
	}
	#container #main .course .list li {
		width: 50%;
		margin: 0;
		text-align: center;
	}
	
	
	#container #main .customer li,
	#container #main .customer li:first-child {
		width: 33.33%;
	}
	
	.contentsBox .course > .title > h4 {
		padding: 0;
	}
	.courseView .content {
		padding: 0 20px;
	}
	.courseView .content .thumbnList {
		width: 100%;
	}
	.courseView .content .thumbnList ul {
		width: 100% !important;
	}
	.courseView .content .thumbnList li {
		width: 23% !important;
		margin: 0 1%;
		margin-bottom: 2%;
	}
	.introduce {
		margin-top: 30px;
		padding: 252px 20px 30px 20%;
	}
	.greeting, .prize {
		margin: 30px 20px;
	}	
	.prize > ul {
		margin-left: 0;
		text-align: center;
	}
	.prize > ul li {
		float: none;
		display: inline-block;
	} 
	
	.contentsBox .map .tab ul li {
		min-width: 33.33%;
		width: 33.33%;
	}
	.map .imgBox {
		width: 100%;
	}
	.map .route {
		padding: 0 20px;
	}
	
	.softwareDown {
		padding: 30px 20px 0 20px;
	}
	.softwareDown li,
	.softwareDown li:nth-child(3n) {
		display: table;
		width: 49%;
		margin-right: 0;
	}
	.softwareDown li:nth-child(2n) {
		margin-left: 2%;
	}
	.softwareDown li > div {
		display: table-cell;
	} 
	.softwareDown li > div.imgBox {
		width: 150px;
	}
	.siteMap {
		padding: 30px 20px 0 20px;
	}
	.siteMap > ul > li {
		width: 24%;
		margin-left: 1%;
	}
	.guide > h4 {
		margin-left: 20px;
		margin-right: 20px;
	}
	.guide > .textBox,
	.guide > .isd {
		padding: 0 20px;
	}
	.guide > .mobileService { 
		padding-right: 20px;
	}
	.guide > .portfolio li .contents img {
		width: 22.5%;
		margin-left: 2%
	}
	.guide > .portfolio li .contents img+img {
		margin-lefT: 2%;
	}
	.guide > .contentProcess {
		padding: 0 20px;
	}
	.guide > .contentProcess li {
		width: 18%;
	}
	.disability {
		display: none;
	}
	.mobileView {
	    display: block;
	    padding: 30px 20px;
	    font-size: 1.15em;
	    text-align: center;
	    line-height: 25px;
	}
	.learning > .tab li {
		width: 50%;
		min-width: none;
	}
	.learning > .tabLayer0,
	.learning > .tabLayer1 {
		padding: 0 20px;
	}
	.guide > .portfolio li .title > .logo {
		display: none;
	}
	.learningGuide li > div.imgBox {
		margin-top: 0px;
	}
	.learningGuide li > div.imgBox > strong {
		display: block;
		padding-left: 0px;
		line-height: 18px;
	}	
	/* LYW 추가 / 댓글 작성 */
	.writeBox {margin:20px 20px}
	.replyBox {margin:0 20px 20px}
	.moreBox {margin:0 20px}
	/* EOD : LYW 추가 / 댓글 작성  */
}
@media screen and (max-width: 800px) {
	.softwareDown li,
	.softwareDown li:nth-child(3n) {
		width: 100%;
	}
	.softwareDown li:nth-child(2n) {
		margin-left: 0;
	}
}
@media screen and (max-width: 767px) {
	#container #main > div.left,
	#container #main .visual li  {
		height: 350px;
	}
	#container #main .customer li a.tel {
		display: block;
	} 
	#container #main .customer li strong.tel {
		display: none;
	}
	#container #main .customer li p {
		display: none;
	}
	.contentsBox .course > .imgBox {
		display: none;
	}
	.contentsBox .course > .textBox {
		width: 100%;
	}
	.contentsBox .course .sns {
		float: right;
		width: auto;
		padding: 0;
		display: inline-block;
		vertical-align: top;
	}
	.contentsBox .course .btnArea {
		float: right;
		padding: 0;
	}
	.contentsBox .course .btnArea .btnPreview {
		margin: 0 8px 0 0;
	}
	div.book .box .imgBox {
		display: none;
	}
	div.book .box .textBox {
		width: 100%;
		padding: 0;
	}
	.courseView .content .thumbnList li {
		width: 49% !important;
		margin: 0 2% 2% 0;
	}
	.courseView .content .thumbnList li:nth-child(2n) {
		margin: 0 0 2% 0;
	}
	.course .btnArea .btnRegister,
	.course .btnArea .btnRegister.type2 {
		width: 100%;
	    margin-top: 10px;
	}
	.prize .boxGray {
		background: #f5f5f5;
	}
	.siteMap > ul > li {
		width: 100%;
		margin-left: 0;
	    margin-top: 35px;
	}
	.guide > .boxGray,
	.guide.type2 > .boxGray,
	.guide.type3 > .boxGray,
	.guide.type4 > .boxGray,
	.guide.type5 > .boxGray {
		padding: 30px;
		background: #f5f5f5;
	}
	.guide > .contentProcess {
		text-align: center;
	}
	.guide > .contentProcess ul {
		display: inline-block;
		height: 475px;
	}
	.guide > .contentProcess li {
		float: none;
		width: 300px;
		height: 80px;
    	line-height: 120px;
		margin: 0 0 12px 0;
		padding: 0;
	}
	.guide > .contentProcess li:before {
        border-top: 25px solid #ffffff;
    	border-left: 150px solid transparent;
    	border-right: 150px solid transparent;
	    border-bottom: none;
	}
	.guide > .contentProcess li:after {
		top: auto;
		right: 0;
		bottom: -25px;
        border-top: 25px solid #98daff;
    	border-left: 150px solid transparent;
    	border-right: 150px solid transparent;
	    border-bottom: none;
	}
	.guide > .contentProcess li+li:after {
		border-top: 25px solid #aae0ff;
    	border-left: 150px solid transparent;
	}
	.guide > .contentProcess li+li+li:after {
		border-top: 25px solid #d1eeff;
    	border-left: 150px solid transparent;
	}
	.guide > .contentProcess li+li+li+li:after {
		border-top: 25px solid #e1f4ff;
    	border-left: 150px solid transparent;
	}
	.guide > .contentProcess li+li+li+li+li:after {
		border-top: 25px solid #eaf7ff;
    	border-left: 150px solid transparent;
	}	
	.guide > .mcp li {
		float: none;
		width: 100%;
		height: 185px;
	}
	.guide > .mcp li+li > div {
	    width: 200px;
	    margin: 0 auto;
	}
	.guide > .mcp li+li > div:before {
        top: auto;
	    left: 50%;
	    right: auto;
	    bottom: -40px;
	    margin-top: 0;
	    margin-left: -135px;
	    border-top: 40px solid #f5f5f5;
	    border-left: 135px solid transparent;
	    border-right: 135px solid transparent;
	    border-bottom: none;
	}
	.learningGuide li > div {
		display: block;
		margin-bottom: 10px;
	}
	/* LYW 추가 / 댓글 작성  */

	.replyBox > ul > li .content {margin:0}									
	.replyBox > ul > li .dataBox {position:static; margin:10px 0 0}		
	.replyBox > ul > li .dataBox .name { padding:0; display:block; }
	.replyBox > ul > li .dataBox .name:after { display:none; }
	.replyBox > ul > li .dataBox .date { margin:4px 0 0 0; display:block; }
	
	.write_area {padding:0 60px 0 0}
	.write_area > button {width:60px}

	/* EOD : LYW 추가 / 댓글 작성 */
}

@media screen and (max-width: 720px) {
	.introduce {
	    padding: 252px 20px 30px 20px;
		background-size: 100%;
	}
	.greeting {
		background: none;
	}
	.greeting .title {
		width: 100%;
	}
	.guide > .mobileService {
		padding: 0 20px;
		background: none;
	}
	.guide > .isd li:nth-child(2) {
	    margin-left: 0px;
	}
}
@media screen and (max-width: 500px) {
	#container #main .course .list li .imgBox {
		width: 100%;
	}
	.introduce {
    	padding: 38% 20px 30px 20px;
		background: url(/images/template7/resp/orange/usr/bg_introduce02.png) center 0 no-repeat;
		background-size: 100%;
	}
	.introduce .textBox p {
		display: inline;
	}
	.greeting .box > div.imgBox {
		display: none;
	}
	.guide > .process ul li {
		float: none;
		width: 100%;
	}
	.map .route > div > ul li > strong {
        position: inherit;
	    display: block;
	    margin-bottom: 6px;
	}
	.map .route > div > ul li > p {
		padding-left: 0;
	}
	.map .route > div > .box,
	.map .route > div > .box > div {
		display: block;
	}
	.guide > .portfolio li .contents img {
		width: 49%;
		margin-left: 0%;
		margin-bottom: 2%;
	}
	.guide > .portfolio li .contents img+img {
		margin-left: 0%;
	}
	.guide > .portfolio li .contents img:nth-child(even) {
		margin-left: 2%;
	}
	.guide > .isd li,
	.guide > .isd li+li,
	.guide > .isd li+li+li {
	    padding-left: 0px;
	    padding-top: 190px;
	    background-position: center 0;
	}
	.guide > .isd li > div > strong {
		text-align: center;
	}
}
@media screen and (max-width: 480px) {
	#container #main .customer li {
		padding: 10px 15px;
	}
	#container #main .customer li.download > a {
		background: none;
	}
}
@media screen and (max-width: 414px) {
	#container #main > div.left,
	#container #main .visual li  {
		height: 250px;
	}
	#container #main .course .tab li a {
		font-size: 1em;
	}
	#container #main .searchBox label {
		display: none;	
	}
	.courseEplg li {
		padding: 15px 20px;
	}
	.courseEplg li .grade {
		top: auto;
		bottom: 10px;
	}
	.courseEplg li p.name {
		width: 100%;
   		padding-right: 130px;
	} 
	.introduce .video {
	    width: 100%;
	}
	.softwareDown li > div {
		display: block;
	}
	.softwareDown li > div.imgBox {
		width: 100%;
	}
}
@media screen and (max-width: 360px) {
	#container #main .link ul li a {
		font-size: 0.98em;
		letter-spacing: -0.8px;
		background-size: 55px 55px;
	}
	#container #main .customer li strong {
		font-size: 1.38em;
	    line-height: 22px;
	}	
	.courseView .content .thumbnList li {
		width: 100% !important;
		margin: 0 0 2% 0;
	}
	#container #main .notice {
		padding: 0 0 0 40px;
	}
	#container #main .notice .title {
		width: 0px;
		font-size: 0;
	}
	#container #main .notice .title:before {
	    left: 0px;
	    border-top: 50px solid #f68b1f;
	    border-bottom: none;
	    border-left-width: 0px;
	}
	.guide > .contentProcess li {
		width: 280px;
		height: 80px;
	}
	.guide > .contentProcess li:before {
    	border-left: 140px solid transparent;
    	border-right: 140px solid transparent;
	}
	.guide > .contentProcess li:after {
    	border-left: 140px solid transparent;
    	border-right: 140px solid transparent;
	}
	.guide > .contentProcess li+li:after {
    	border-left: 140px solid transparent;
	}
	.guide > .contentProcess li+li+li:after {
    	border-left: 140px solid transparent;
	}
	.guide > .contentProcess li+li+li+li:after {
    	border-left: 140px solid transparent;
	}
	.guide > .contentProcess li+li+li+li+li:after {
    	border-left: 140px solid transparent;
	}
}


@media screen and (max-width: 359px) {
	#container #main .course .tab li a:before {
		display: none;
	}
	#container #main .link ul li a {
		font-size: 0.92em;
	}
	#container #main .customer li a.tel {
	    margin-top: 5px;
        line-height: 20px;
	    font-size: 1.34em;
	}
}


/* bxSlider 동적 CSS 추가 */

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.courseList > .bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.courseList > .bx-wrapper img {
  max-width: 100%;
  display: block;
}
.courseList > .bxslider {
  margin: 0;
  padding: 0;
}
.courseList > ul.bxslider {
  list-style: none;
}
.courseList > .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.courseList > .bx-wrapper .bx-pager,
.courseList > .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.courseList > .bx-wrapper .bx-loading {
  min-height: 50px;
  /* background: url('images/bx_loader.gif') center center no-repeat #ffffff; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.courseList > .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.courseList > .bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.courseList > .bx-wrapper .bx-pager.bx-default-pager a:hover,
.courseList > .bx-wrapper .bx-pager.bx-default-pager a.active,
.courseList > .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.courseList > .bx-wrapper .bx-pager-item,
.courseList > .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.courseList > .bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.courseList > .bx-wrapper .bx-prev {
  left: 10px;
  /*  background: url('images/controls.png') no-repeat 0 -32px; */
}
.courseList > .bx-wrapper .bx-prev:hover,
.courseList > .bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.courseList > .bx-wrapper .bx-next {
  right: 10px;
  /* background: url('images/controls.png') no-repeat -43px -32px; */
}
.courseList > .bx-wrapper .bx-next:hover,
.courseList > .bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.courseList > .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.courseList > .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.courseList > .bx-wrapper .bx-controls-auto {
  text-align: center;
}
.courseList > .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  /* background: url('images/controls.png') -86px -11px no-repeat; */
  margin: 0 3px;
}
.courseList > .bx-wrapper .bx-controls-auto .bx-start:hover,
.courseList > .bx-wrapper .bx-controls-auto .bx-start.active,
.courseList > .bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.courseList > .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.courseList > .bx-wrapper .bx-controls-auto .bx-stop:hover,
.courseList > .bx-wrapper .bx-controls-auto .bx-stop.active,
.courseList > .bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.courseList > .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.courseList > .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.courseList > .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.courseList > .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}
