@charset "utf-8";

*, html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	letter-spacing: -1px;
}


#header .gnb > ul > li > a { 
	width: 237px;
}

#container #main .customer li strong {
	letter-spacing: -2px;
}



/* common */

.selectBox {
	border: none;
	background: none;
}
.selectBox select {
	border: 1px solid #dedede;
	top: 0px;
	padding: 4px 5px;	
	background: #ffffff;
}
.searchBox li label:first-child {
	width: 60px;
}
.searchBox li .btnArea {
    display: inline;
}
#container #main .customer li strong {
	letter-spacing: -0.4px;
}	


.softwareDown li .textBox strong {
	letter-spacing: -1px;
}
.softwareDown li .textBox button {
	padding: 0 25px 0 10px;
	font-size: 0.92em;
	font-family: 'Nanum Gothic','dotum', serif, arial;	
}	


button {
	min-width: 40px;
}

button.inside {
	min-width: 50px;
}