@charset "utf-8";

button, .courseView .btnArea .btnList {
	border: 1px solid #b5b5b5;
	color: #2c2c2c;
	background: #dedede;
}
button:hover, .courseView .btnArea .btnList:hover {
	border: 1px solid #2c2c2c;
	color: #2c2c2c;
	background: #fcfcfc;
}

.btnWrite, .btnReset, .btnList { /*sky*/
	border: 1px solid #50a4e6;
	color: #00346e;
	background: #add5f3;
}
.btnWrite:hover, .btnReset:hover, .btnList:hover {
	border: 1px solid #1586de;
	background: #edf6fc;
}


/* icon */
.icon {
	color: #ffffff;
}
.icon.refund {
	border: 1px solid #003464;
	color: #003464;
	background: #ffffff;
}
.icon.noRefund {
	border: 1px solid #003464;
	color: #003464;
	background: #ffffff;
}
.icon.individual {
	border: 1px solid #f0564c;
	color: #ffffff;
	background: #f0564c;
}
.icon.company {
	border: 1px solid #17adad;
	color: #ffffff;
	background: #17adad;
}
.icon.mobile {
	border: 1px solid #1586de;
	color: #ffffff;
	background: #1586de;
}
.icon.pc {
	border: 1px solid #919191;
	color: #ffffff;
	background: #919191;
}
.icon.movie {
	border: 1px solid #5e5e5e;
	color: #ffffff;
	background: #5e5e5e;
}
.icon.data {
	border: 1px solid #f68b1f;
	color: #ffffff;
	background: #f68b1f;
}
.icon.course {
    padding-bottom: 0px;
	border: 1px solid #225fa4;
	color: #ffffff;
	background: #225fa4;
}

.icon.event { /* 이벤트 */
	border: 1px solid #f68b1f;
	color: #f68b1f;
	background: #fef6ed;
}
.icon.best { /* 베스트 */
	border: 1px solid #15a0ed;
	color: #15a0ed;
	background: #edf8fe;
}
.icon.new.type2 { /* 신규 */
	border: 1px solid #17adad;
	color: #17adad;
	background: #edf9f9;
}
.icon.recommend { /* 추천 */
	border: 1px solid #f0564c;
	color: #f0564c;
	background: #fef2f1;
}
.icon.popularity { /* 인기 */
	border: 1px solid #2c6fc7;
	color: #2c6fc7;
	background: #eef4fb;
}
.icon.book { /* 교재 */
	border: 1px solid #77a4d8;
	color: #ffffff;
	background: #77a4d8;
}
.icon.share { /* 모바일병행 */
	border: 1px solid #3faa53;
	color: #ffffff;
	background: #3faa53;
}
