@charset "utf-8";

.section-pic{background:#f7f8f7 url(../img/bg_pic_lne.jpg) repeat-x 0 100%}
.section-pic .slide-area{position:relative;width:1000px;margin:0 auto}
.section-pic .slide-area .slide-box{overflow:hidden;width:1000px;height:400px}
.section-pic .prev,
.section-pic .next{position:absolute;top:50%;margin-top:-25px;cursor:pointer}
.section-pic .prev{left:-31px}
.section-pic .next{right:-31px}
.section-pic .prev em,
.section-pic .next em{position:absolute;display:none;*position:static;*display:block}

.section-pic .carot{position:absolute;bottom:10px;width:100%;text-align:center}
.section-pic .carot a{display:inline-block;width:10px;height:10px;margin-left:4px;background:url(../img/pic_caro.png) no-repeat 0 0}
.psection-picic .carot a;first-child{margin-left:0}
.section-pic .carot .active{background-position:0 -10px}

.section-cont{width:1000px;margin:30px auto 0;padding-bottom:20px;border-bottom:1px solid #d6d6d6}
.section-cont h2{margin-bottom:14px}
.section-cont .l-area{float:left;width:290px}
.section-cont .l-area .partner2{margin-top:30px}

.section-cont .m-area{float:left;width:419px;height:260px;border-left:1px solid #e5e5e5}
.section-cont .m-area h2{padding-left:30px}
.section-cont .m-area .service{position:relative;width:332px;margin:0 auto}
.section-cont .m-area .service .slide-box{overflow:hidden;width:332px;height:230px}
.section-cont .m-area .service .m-slider{*width:1000%}
.section-cont .m-area .service .prev,
.section-cont .m-area .service .next{position:absolute;top:50%;margin-top:-11px;cursor:pointer}
.section-cont .m-area .service .prev{left:-24px}
.section-cont .m-area .service .next{right:-24px}
.section-cont .m-area .service .prev em,
.section-cont .m-area .service .next em{position:absolute;display:none;*position:static;*display:block}

.section-cont .r-area{float:right;width:259px;height:260px;padding-left:30px;border-left:1px solid #e5e5e5}
.section-cont .r-area .contact{margin-top:23px}
