@charset "utf-8";

.client{padding-top:20px;border-top:1px solid #d6d6d6}

/* LNB */
#lnb{float:left;width:200px}
#lnb .menu{margin-top:17px}
#lnb .menu > li{border-bottom:1px solid #e7e7e7}
#lnb .menu a{display:block;font-family:NanumGothicWeb;font-size:14px;color:#666;font-weight:600}
#lnb .menu > li > a{height:40px;padding-left:30px;background:url(../img/bul_lnb.png) no-repeat 20px 50%;line-height:40px}
#lnb .menu > li.on{border-bottom:0}
#lnb .menu > li.on > a{color:#fff;background:#84bc00 url(../img/bul_lnb_on.png) no-repeat 20px 50%}
#lnb .menu .menu2{padding:4px 0}
#lnb .menu .menu2 a{height:30px;padding-left:30px;line-height:30px}
#lnb .menu .menu2 .on a{color:#6b9801}
.section-net #lnb .menu > li:first-child ul{border-top:1px solid #e7e7e7} 
.section-net #lnb .menu > li.on:first-child ul{margin-top:1px;border-top:0;border-bottom:1px solid #e7e7e7}

/* 테이블 */
.bbs1{width:100%;border-top:2px solid #1c9a19}
.bbs1 th,
.bbs1 td{font-family:NanumGothicWeb}
.bbs1 th{height:33px;border-bottom:1px solid #e6e6e6;font-weight:normal;color:#666;background:#f9f9f9}
.bbs1 td{padding:10px 0 9px;border-bottom:1px solid #e6e6e6;color:#333}
.bbs1 td.td-s a{color:#333}
.bbs1 th select{height:22px;border:1px slid #a9a9a9}
.td-s span{display:block;padding-left:20px}
.td-c{text-align:center}
.bbs1 .n{letter-spacing:0}

.bbs-view1{width:100%;border-top:2px solid #1c9a19}
.bbs-view1 th{height:32px;font-weight:normal;background:#f9f9f9;text-align:left}
.bbs-view1 th,
.bbs-view1 td{border-bottom:1px solid #e6e6e6;font-family:NanumGothicWeb;font-size:12px;color:#333}
.bbs-view1 .subject{height:auto;background:#fff}
.bbs-view1 .subject span{display:block;padding:12px 0 12px 20px}
.bbs-view1 .n{letter-spacing:0}
.bbs-view1 .file{display:block;margin-left:20px;padding-left:18px;background:url(../img/ico_file.jpg) no-repeat 0 0;line-height:16px}
.bbs-view1 .file a{color:#666}
.bbs-view1 .view{padding:30px 20px;line-height:24px}
.bbs-view1 .mail{color:#ba7201}

.bbs-view-bot{margin-top:10px;text-align:right}
.bbs-view-bot .btn-bbs-lst{display:inline-block;width:60px;height:21px;padding-top:7px;font-family:NanumGothicWeb;color:#333;background:url(../img/btn_bbs_lst.png) no-repeat 0 0; text-align:center}
.bbs-view-pager{margin-top:15px;border-top:1px solid #e6e6e6}
.bbs-view-pager a{display:block;padding:6px 0;border-bottom:1px solid #e6e6e6;font-family:NanumGothicWeb;color:#333}
.bbs-view-pager a span{display:inline-block;height:21px;vertical-align:middle;line-height:21px}
.bbs-view-pager a span:first-child{width:78px;margin-right:14px;padding-left:20px;border-right:1px solid #dedede}

/* 회사소개 */
.section-intro{padding-bottom:70px}
.sub-slg p{width:1000px;margin:0 auto}
.section-intro .sub-slg{background:url(../img/bg_sub_intro.png) no-repeat 50% 0}
.sub-area{width:1000px;margin:0 auto}
.sub-area #lnb{position:relative;margin-top:-20px}
.conts-area{position:relative;float:left;width:734px;margin-left:66px}
.section-intro h3{padding-top:40px}
.section-intro h3 .btn-intro-dn{position:absolute;right:32px;top:95px}
.section-intro .pln-lst{margin-top:42px}
.section-intro .pln-lst li{margin-top:20px}
.section-intro .pln-lst li:first-child{margin-top:0}

.section-intro .txt1{margin-top:20px}
.section-intro .txt2{margin-top:40px}
.section-intro .txt3{margin-top:35px}

.section-intro .ci-top span,
.section-intro .ci-top ul{float:left}
.section-intro .ci-top span{margin-right:42px}
.section-intro .ci-top li:first-child{margin-bottom:17px}
.section-intro .ci-txt{margin-top:40px}
.section-intro .ci-txt li:first-child{margin-bottom:40px}

.section-intro .aff-img{position:relative}
.section-intro .aff-img span{position:relative;display:block;background:#fff;z-index:2}
.section-intro .aff-img .aff-chart{position:absolute;left:0;top:0;z-index:1} 
.section-intro .aff-img2{margin-top:50px;padding-bottom:2px;text-align:center}
.section-intro .aff-img2 .lnk{display:block;margin-top:8px}
.section-intro .aff-img2 .btn-corp-dn{display:block;margin-top:8px;text-align:center}
.section-intro .aff-lst{margin-top:30px;padding-left:90px}
.section-intro .aff-lst li{margin-top:18px}
.section-intro .aff-lst li:first-child{margin-top:0}

/* 연혁 */
.section-his{padding-bottom:70px}
.section-his .sub-slg{background:url(../img/bg_sub_his.png) no-repeat 50% 0}
.section-his .tab-his{padding-top:35px}
.section-his .tab-his li{float:left;width:174px;margin-left:2px;background:url(../img/bg_tab_his_li.png) no-repeat 0 60px}
.section-his .tab-his li:first-child{margin-left:0}
.section-his .tab-his li h3{height:70px;padding-top:3px;font-family:NanumGothicWeb;font-size:18px;color:#333;font-weight:600;line-height:22px;text-align:center}
.section-his .tab-his li h3 a{color:#333}
.section-his .tab-his li h3 span{font-size:16px}
.section-his .tab-his li.on{background-position:-173px 60px}
.section-his .tab-his li.on h3 a{color:#1c9a19}

.section-his .his-lst{margin-top:30px}
.section-his .his-lst > li{margin-top:30px}
.section-his .his-lst > li:first-child{margin-top:0}
.section-his .his-lst .his-box h4{float:left;width:174px;padding-top:10px;text-align:center}
.section-his .his-lst .his-box ul{float:left;margin-left:16px}
.section-his .his-lst .his-box li{padding-left:9px;font-family:NanumGothicWeb;font-size:14px;color:#333;background:url(../img/bul_his_li.jpg) no-repeat 0 50%;line-height:30px}
.section-his .his-lst .his-box .fc{color:#0a60b0}

/* 사업영역 */
.section-bsi{padding-bottom:70px}
.section-bsi .sub-slg{background:url(../img/bg_sub_bsi.png) no-repeat 50% 0}
.section-bsi h3{padding-top:40px}
.section-bsi .bsi-dec{margin-top:20px}
#wrap .section-bsi .bsi-dec img{vertical-align:middle}
.section-bsi .bsi-dec a{margin-left:20px}

.section-bsi .bsi-service{margin-top:30px;padding-bottom:15px;border-bottom:1px solid #e0e0e0}
.section-bsi .bsi-service .service-lst{float:left;width:270px;padding-left:20px}
.section-bsi .bsi-service .service-lst li{font-family:NanumGothicWeb;font-size:14px;color:#666;font-weight:600;line-height:24px}
.section-bsi .bsi-service .service-lst li a{color:#666}
.section-bsi .bsi-service .service-lst .gap{padding-left:20px}
.section-bsi .bsi-service .service-lst .two-lne{line-height:18px}
.section-bsi .bsi-service .service-lst .fc{color:#016ec0}

.section-bsi .bsi-service .service{position:relative;float:left;width:380px;margin-top:80px}
.section-bsi .bsi-service .service .slide-box{overflow:hidden;width:332px;height:230px;margin:0 auto}
.section-bsi .bsi-service .service .m-slider{*width:1000%}
.section-bsi .bsi-service .service .prev,
.section-bsi .bsi-service .service .next{position:absolute;top:50%;margin-top:-11px;cursor:pointer}
.section-bsi .bsi-service .service .prev{left:0}
.section-bsi .bsi-service .service .next{right:0}
.section-bsi .bsi-service .service .prev em,
.section-bsi .bsi-service .service .next em{position:absolute;display:none;*position:static;*display:block}

.section-bsi .service-conts{margin-top:40px}
.section-bsi .service-conts .dec{position:relative;margin-top:15px;padding-left:18px}
.section-bsi .service-conts .dec2{margin-top:50px;padding-left:18px}
.section-bsi .service-conts .conts{padding-left:18px}
.section-bsi .service-conts h5{margin:30px 0 10px}
.section-bsi .service-conts .pos{position:relative}
.section-bsi .service-conts .pos span{position:relative;display:block;background:#fff;z-index:2}
.section-bsi .service-conts .pos .l-d{position:absolute;left:0;top:0;z-index:1}
.section-bsi .service-conts .myfactory{margin-top:30px}
.section-bsi .service-conts .retail-service{margin:30px 0 30px}
.section-bsi .service-conts .retail-service li:first-child{margin-bottom:30px}
.section-bsi .service-conts .retail-service2{margin-top:30px;padding-bottom:10px;background:url(../img/bg_i7_service-conts.png) no-repeat 114% -12px} 
.section-bsi .service-conts .retail-service2 li:first-child{margin-bottom:30px}
.section-bsi .service-conts .rea{padding-top:30px;background:url(../img/bg_i8_service-conts.png) no-repeat 524px 0}
.section-bsi .service-conts .rea h5:first-child{margin-top:0}
.section-bsi .service-conts .rea .auction{margin-top:40px}
.section-bsi .service-conts .bad-loans{margin-top:20px}
.section-bsi .service-conts .etc{margin-top:20px}
.section-bsi .service-conts .pjt-mng{padding-top:30px;background:url(../img/bg_i10_service-conts.png) no-repeat 468px 100%}
.section-bsi .service-conts .pjt-mng li{margin-top:26px}
.section-bsi .service-conts .pjt-mng li:first-child{margin-top:0}
.section-bsi .service-conts .pjt-mng-dec{margin-top:30px}
.section-bsi .service-conts .scope-work li{margin-top:4px}
.section-bsi .service-conts .scope-work li:first-child{margin-top:0}
.section-bsi .service-conts .fm{margin-top:30px}
.section-bsi .service-conts .bs12{position:absolute;right:35px;top:-70px;width:284px;height:191px;background:url(../img/bg_bsi12.png) no-repeat 0 0}

.section-bsi .result-lst{margin-top:20px;padding:20px;border:5px solid #e4e4e4}
.section-bsi .result-lst li{float:left;width:170px;font-family:NanumGothicWeb;ont-size:13px;line-height:24px}
.section-bsi .result-lst li a{display:block;padding-left:10px;color:#333;background:url(../img/bul_result_dot.jpg) no-repeat 0 50%}
.section-bsi .result-lst li.on a{color:#016ec0}
.section-bsi .result-bbs{margin-top:25px}
.section-bsi .result-bbs .page{margin-top:20px}

.section-net{padding-bottom:70px}
.section-net .sub-slg{background:url(../img/bg_sub_network.png) no-repeat 50% 0}
.section-net h3{padding-top:40px}
.section-net .current{margin:20px 0 0 -10px}
.section-net .current li{float:left;position:relative;margin:0 0 30px 10px}
.section-net .current li a{display:block;width:170px;padding:12px 0;text-align:center}
.section-net .current li i{position:absolute;left:0;top:0;display:block;width:100%;height:76px;background:url(../img/crnt_frame.png) no-repeat 0 0}
.section-net .search-box{margin-top:20px;padding:14px 24px;border:1px solid #e7e7e7;font-size:0;background:#f9f9f9;line-height:0}
.section-net .search-box select{margin-left:5px;padding:2px;border:1px solid #a9a9a9;font-family:NanumGothicWeb;font-size:12px;vertical-align:middle;line-height:normal}
.section-net .search-box select:first-child{margin-left:0}
.section-net .search-box select.slt{margin-left:10px}
.section-net .search-box input[type="text"]{height:20px;margin-left:10px;padding:0 5px;border:1px solid #a9a9a9;font-family:NanumGothicWeb;font-size:12px;vertical-align:middle;line-height:20px}
.section-net .search-box .btn-search{width:50px;height:22px;border:0;margin-left:5px;background:url(../img/btn_search.jpg) no-repeat 0 0;vertical-align:middle}
.section-net .network-bbs{margin-top:25px}
.section-net .network-bbs .bbs1 td{padding:5px 0 4px}
.section-net .network-bbs .page{margin-top:20px}

.section-info{padding-bottom:70px}
.section-info .sub-slg{background:url(../img/bg_sub_info.png) no-repeat 50% 0}
.section-info h3{padding-top:40px}
.section-info .info-bbs{margin-top:15px}
.section-info .info-bbs .bbs1 td{padding:9px 0 8px}
.section-info .info-bbs .page{margin-top:20px}
.section-info .info-bbs .bbs-search-box{margin-top:30px;font-size:0;line-height:0;text-align:center}
.section-info .info-bbs .bbs-search-box select,
.section-info .info-bbs .bbs-search-box input[type="text"]{font-family:NanumGothicWeb;font-size:12px;vertical-align:middle}
.section-info .info-bbs .bbs-search-box select{padding:2px 0;border:1px solid #a9a9a9}
.section-info .info-bbs .bbs-search-box input[type="text"]{width:178px;height:20px;margin-left:5px;padding:0 5px;border:1px solid #a9a9a9;line-height:20px}
.section-info .info-bbs .bbs-search-box .btn-search{width:50px;height:22px;border:0;margin-left:5px;background:url(../img/btn_search.jpg) no-repeat 0 0;vertical-align:middle}
.section-info .map-img{position:relative;overflow:hidden;width:700px;height:340px;margin-top:20px}
.section-info .comp-adrs{display:block;width:700px;height:27px;margin-top:10px;padding-top:13px;background:#f4f4f4;text-align:center}
.section-info .public-trans{margin-top:30px;padding-left:34px}
.section-info .public-trans li{float:left;margin-right:30px;font-family:NanumGothicWeb}
.section-info .public-trans .subway{padding:18px 0 0 58px;background:url(../img/ico_map_subway.png) no-repeat 0 0}
.section-info .public-trans .bus{padding:18px 0 0 58px;background:url(../img/ico_map_bus.png) no-repeat 0 0}
.section-info .public-trans span{display:block;font-size:16px;font-weight:600;color:#2c8ed0}
.section-info .public-trans p{margin-top:10px;font-size:12px;color:#333;line-height: 20px}
.section-info .map-bot{position:relative}
.section-info .map-bot .btn-print{position:absolute;right:35px;top:10px;cursor:pointer}
.section-info .rcu .bbs1 td{padding:10px 0 9px}



