@charset "UTF-8";
/* color */
#footer {
  margin-bottom: 50px; }
  #footer .footer-body {
    position: relative;
    max-width: 1190px;
    min-width: 950px;
    margin: 0 auto; }
    #footer .footer-body .btn-top-scroll {
      display: block;
      position: absolute;
      right: 4px;
      top: 6px;
      padding-top: 4px;
      font-size: 10px;
      width: 30px;
      height: 30px;
      border: 1px solid #d3d0e1;
      color: #999;
      background-color: #fff;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-family: 'ppingkr_v4' !important;
      speak: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      #footer .footer-body .btn-top-scroll:before {
        content: "";
        font-size: 15px;
        color: #f34522; }
      #footer .footer-body .btn-top-scroll:before {
        display: block;
        line-height: 7px; }
    #footer .footer-body .footer-body_lnb {
      border-top: 2px solid #333;
      border-bottom: 1px solid #ccc;
      font-size: 0;
      text-align: center; }
      #footer .footer-body .footer-body_lnb li {
        display: inline-block;
        position: relative;
        height: 39px;
        padding: 0 20px 0 21px;
        line-height: 39px; }
        #footer .footer-body .footer-body_lnb li:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 1px;
          height: 17px;
          margin-top: -8.5px;
          background: #d3d3d3; }
        #footer .footer-body .footer-body_lnb li:first-child:before {
          display: none; }
        #footer .footer-body .footer-body_lnb li a {
          font-size: 13px;
          color: #333;
          font-weight: bold; }
          #footer .footer-body .footer-body_lnb li a:hover {
            text-decoration: underline; }
    #footer .footer-body .footer-body_conts {
      position: relative;
      margin-top: 15px;
      *zoom: 1; }
      #footer .footer-body .footer-body_conts:after {
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        content: ''; }
      #footer .footer-body .footer-body_conts .footer-body_conts_logo {
        float: left;
        width: 136px;
        height: 50px;
        margin: 10px 29px 0 0;
        background: url("https://img.happyshopping.kr/img_static/img_pres/_v3/sprite_1.png") no-repeat -192px -92px; }
      #footer .footer-body .footer-body_conts .footer-body_conts_info {
        overflow: hidden; }
        #footer .footer-body .footer-body_conts .footer-body_conts_info > ul > li {
          margin-top: 6px; }
          #footer .footer-body .footer-body_conts .footer-body_conts_info > ul > li:first-child {
            margin-top: 0; }
          #footer .footer-body .footer-body_conts .footer-body_conts_info > ul > li .email {
            color: #333;
            letter-spacing: 0; }
          #footer .footer-body .footer-body_conts .footer-body_conts_info > ul > li .btn-corp-confirm {
            position: relative;
            top: -2px;
            padding: 0 5px;
            width: 87px;
            height: 14px;
            border: 1px solid #d3d3d3;
            color: #000;
            background-color: #fff;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-bottom-width: 2px; }
        #footer .footer-body .footer-body_conts .footer-body_conts_info .bar {
          position: relative;
          margin-left: 8px;
          padding-left: 11px; }
          #footer .footer-body .footer-body_conts .footer-body_conts_info .bar:before {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            width: 1px;
            height: 12px;
            background: #d3d3d3; }
        #footer .footer-body .footer-body_conts .footer-body_conts_info address {
          margin-top: 6px; }
        #footer .footer-body .footer-body_conts .footer-body_conts_info .copyright {
          margin-top: 14px;
          color: #666;
          letter-spacing: 0; }
        #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns {
          overflow: hidden;
          margin-top: 18px;
          *zoom: 1; }
          #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns:after {
            display: block;
            clear: both;
            height: 0;
            font-size: 0;
            line-height: 0;
            content: ''; }
          #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns ul {
            overflow: hidden;
            float: left;
            *zoom: 1; }
            #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns ul:after {
              display: block;
              clear: both;
              height: 0;
              font-size: 0;
              line-height: 0;
              content: ''; }
          #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns li {
            float: left;
            margin-left: 5px; }
            #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns li:first-child {
              margin-left: 0; }
            #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns li img {
              width: 40px; }
          #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns > ul {
            margin-right: 20px; }
          #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns .footer-body_conts_info_sns_happytree {
            overflow: hidden;
            padding-left: 20px;
            border-left: 1px solid #e6e6e6;
            *zoom: 1; }
            #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns .footer-body_conts_info_sns_happytree:after {
              display: block;
              clear: both;
              height: 0;
              font-size: 0;
              line-height: 0;
              content: ''; }
            #footer .footer-body .footer-body_conts .footer-body_conts_info .footer-body_conts_info_sns .footer-body_conts_info_sns_happytree .tit-h3 {
              float: left;
              margin-right: 10px;
              font-size: 12px;
              color: #666;
              line-height: 40px; }
      #footer .footer-body .footer-body_conts .footer-body_conts_service {
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px 25px 10px;
        background: #f3f3f3; }
        #footer .footer-body .footer-body_conts .footer-body_conts_service .question-helpservice .btn-q {
          height: 38px;
          line-height: 38px; }
        #footer .footer-body .footer-body_conts .footer-body_conts_service .btn-ars-guide {
          background: #f3f3f3; }
        #footer .footer-body .footer-body_conts .footer-body_conts_service .layer-pop-ars {
          position: absolute;
          bottom: 20px;
          right: 0; }
    #footer .footer-body .footer-body_aside {
      height: 126px;
      margin-top: 35px;
      border: 1px solid #c4c0d8;
      *zoom: 1; }
      #footer .footer-body .footer-body_aside:after {
        display: block;
        clear: both;
        height: 0;
        font-size: 0;
        line-height: 0;
        content: ''; }
      #footer .footer-body .footer-body_aside dl {
        float: left;
        height: 106px; }
        #footer .footer-body .footer-body_aside dl dt {
          font-size: 14px;
          font-weight: bold; }
      #footer .footer-body .footer-body_aside .sgi {
        width: 350px;
        border-right: 1px dashed #c4c0d8;
        padding: 10px 15px; }
        #footer .footer-body .footer-body_aside .sgi dt {
          position: relative; }
          #footer .footer-body .footer-body_aside .sgi dt span {
            position: absolute;
            right: 0;
            top: 1.5px;
            background: url("https://img.happyshopping.kr/img_static/img_pres/_v3/sprite_1.png") no-repeat -167px -70px;
            width: 95px;
            height: 15px; }
        #footer .footer-body .footer-body_aside .sgi dd {
          margin-top: 5px;
          line-height: 1.4; }
          #footer .footer-body .footer-body_aside .sgi dd span {
            color: #f34522; }
          #footer .footer-body .footer-body_aside .sgi dd .btn {
            display: inline-block;
            margin-top: 5px;
            padding: 0 5px;
            font-size: 11px;
            height: 22px;
            border: 1px solid #c4c0d8;
            color: #333;
            background-color: #f0eff5;
            text-align: center;
            line-height: 20px;
            vertical-align: middle;
            cursor: pointer;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-bottom: 2px solid #c4c0d8; }
            #footer .footer-body .footer-body_aside .sgi dd .btn:hover {
              border-color: #9891ba; }
            #footer .footer-body .footer-body_aside .sgi dd .btn [class^='icon-'] {
              margin: 0 2px;
              color: #f89683; }
      #footer .footer-body .footer-body_aside .escrow {
        *zoom: 1; }
        #footer .footer-body .footer-body_aside .escrow:after {
          display: block;
          clear: both;
          height: 0;
          font-size: 0;
          line-height: 0;
          content: ''; }
        #footer .footer-body .footer-body_aside .escrow dt {
          float: left;
          margin-right: 15px;
          padding: 10px 15px; }
          #footer .footer-body .footer-body_aside .escrow dt:after {
            content: "";
            display: block;
            width: 81px;
            height: 74px;
            margin: 10px auto 0;
            background: url("https://img.happyshopping.kr/img_static/img_pres/_v3/sprite_1.png") no-repeat -76px -70px; }
        #footer .footer-body .footer-body_aside .escrow dd {
          overflow: hidden;
          position: relative;
          height: 96px;
          padding: 30px 0 0 76px;
          font-size: 13px;
          line-height: 22px; }
          #footer .footer-body .footer-body_aside .escrow dd:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 61px;
            height: 126px;
            background: url("https://img.happyshopping.kr/img_static/img_pres/_v3/sprite_1.png") no-repeat -5px -5px; }
          #footer .footer-body .footer-body_aside .escrow dd strong {
            color: #0f4f9f; }
          @media (max-width: 1209px) {
            #footer .footer-body .footer-body_aside .escrow dd {
              width: 320px;
              height: 118px;
              padding-top: 8px; }
              #footer .footer-body .footer-body_aside .escrow dd strong {
                display: block; }
              #footer .footer-body .footer-body_aside .escrow dd br {
                display: none; } }
    @media (max-width: 1209px) {
      #footer .footer-body {
        width: 950px; } }

#footer-mini .footer-mini_body {
  max-width: 1190px;
  min-width: 950px;
  margin: 0 auto;
  padding: 0 0 10px; }
  #footer-mini .footer-mini_body .copyright {
    text-align: center;
    letter-spacing: 0; }

.layer-pop-ars {
  position: absolute;
  width: 890px;
  padding: 20px;
  border: 2px solid #418ded;
  background: #fff url("https://img.happyshopping.kr/img_static/img_pres/_v3/bg_pop_ars_top.png") no-repeat 0 0;
  box-shadow: #d3d3d3 3px 3px 3px; }
  .layer-pop-ars .pop-ars_body {
    text-align: center;
    *zoom: 1; }
    .layer-pop-ars .pop-ars_body:after {
      display: block;
      clear: both;
      height: 0;
      font-size: 0;
      line-height: 0;
      content: ''; }
    .layer-pop-ars .pop-ars_body .pop-ars_body_guide {
      position: relative;
      float: left;
      width: 375px;
      height: 304px;
      margin-right: 10px;
      font-size: 26px;
      color: #0f4f9f;
      background: url("https://img.happyshopping.kr/img_static/img_pres/_v3/bg_pop_ars_guide.png") no-repeat 50% 150px; }
      .layer-pop-ars .pop-ars_body .pop-ars_body_guide p {
        margin-top: 20px;
        font-size: 14px;
        color: #333;
        line-height: 1.4; }
        .layer-pop-ars .pop-ars_body .pop-ars_body_guide p strong {
          font-size: 16px; }
      .layer-pop-ars .pop-ars_body .pop-ars_body_guide .button-group {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%; }
      .layer-pop-ars .pop-ars_body .pop-ars_body_guide a {
        display: inline-block;
        height: 40px;
        padding: 0 20px;
        font-size: 16px;
        color: #fff !important;
        line-height: 40px;
        background: #418ded;
        border-radius: 20px; }
        .layer-pop-ars .pop-ars_body .pop-ars_body_guide a:hover {
          background: #3281ed; }
        .layer-pop-ars .pop-ars_body .pop-ars_body_guide a [class^='icon-'] {
          position: relative;
          top: 2px;
          margin-left: 1px; }
    .layer-pop-ars .pop-ars_body .board .number {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #0f4f9f;
      font-size: 14px;
      color: #0f4f9f;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
      border-radius: 11px; }
  .layer-pop-ars .pop-ars_body_number {
    overflow: hidden; }
    .layer-pop-ars .pop-ars_body_number .board {
      border-top: 1px solid #0f4f9f; }
      .layer-pop-ars .pop-ars_body_number .board th {
        height: 38px;
        border-bottom: 1px solid #0f4f9f;
        font-size: 16px;
        line-height: 22px;
        color: #0f4f9f; }
      .layer-pop-ars .pop-ars_body_number .board td {
        border-bottom: 1px solid #d3d3d3;
        font-size: 13px;
        color: #666; }
      .layer-pop-ars .pop-ars_body_number .board .box-td {
        padding: 7px 5px;
        font-weight: bold;
        text-align: left;
        line-height: 18px; }
  .layer-pop-ars .btn-layer-pop_clse {
    position: absolute;
    right: 0;
    top: -37px;
    box-shadow: #d3d3d3 3px 3px 3px;
    width: 32px;
    height: 32px;
    border: 1px solid #418ded;
    color: #418ded;
    background-color: #fff;
    vertical-align: middle;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'ppingkr_v4' !important;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .layer-pop-ars .btn-layer-pop_clse:before {
      content: "";
      font-size: 30px; }
