
<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>상품평 등록하기 | 행복쇼핑</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="행복쇼핑, 행복, 쇼핑, 컴퓨터, PC, 조립PC, 조립컴퓨터, 노트북, 태블릿, 상품 추천, 가격비교, 가격비교사이트, 가격비교 싸이트, 가격 검색, 최저가, 추천, 인터넷쇼핑, 온라인쇼핑, 쇼핑, 쇼핑몰, 싸게 파는 곳, 싸게 살 수 있는 곳" />
	<meta name="description" content="행복쇼핑은 컴퓨터, 조립PC에 특화된 온라인 견적 가격비교 사이트 입니다. 안전구매시스템(전자보증,에스크로)을 갖춘 쇼핑몰, 미니샵의 최저 가격 정보를 보여드립니다. 쇼핑의 행복! 행복쇼핑" />

	<!-- 웹폰트용 -->
    <script src="https://ajax.pping.kr/font/js/hpping.webfont.js"></script>
    <script>
        const hpping = new hppingFont();
        hpping.init({
            href: 'https://ajax.pping.kr/font/css/hpping.webfont.css'
        });
    </script>
    <!-- // 웹폰트용 -->

	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/mobile_comm.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/mobile_layers.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/mobile_forms.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/buttons.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/board.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/header.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/footer.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/mobile_view.css" />

	<!-- <link rel="stylesheet" href="../../../assets/css/mobile/mobile_comm.css" />
	<link rel="stylesheet" href="../../../assets/css/mobile/mobile_layers.css" />
	<link rel="stylesheet" href="../../../assets/css/mobile/mobile_forms.css" />
	<link rel="stylesheet" href="../../../assets/css/buttons.css" />
	<link rel="stylesheet" href="../../../assets/css/board.css" />
	<link rel="stylesheet" href="../../../assets/css/header.css" />
	<link rel="stylesheet" href="../../../assets/css/footer.css" />
	<link rel="stylesheet" href="../../../assets/css/mobile/mobile_view.css" /> -->
</head>

<body>
<div id="wrap">
	<!-- header -->
	<header class="header-m-page">
		<div class="header-m-page_body">
			<h1 class="tit-h1">
				상품평 등록하기 <!-- 수정하기 -->
			</h1>

			<a href="#" class="btn_page_prev"><i class="icon-arrow_back"></i> <span class="ir">이전</span></a>
		</div>
	</header>
	<!-- // header -->
 
	<div id="container">
		<div class="container_view">		
			<section class="view_reg">
				<div class="view_reg_body">
					<form>
						<fieldset>
							<legend><span>상품평 등록 / 수정</span></legend>
							<table class="board">
								<caption><span>상세</span></caption>
								<colgroup>
									<col style="width:76px" />
									<col />
								</colgroup>
								<tbody>
								<tr>
									<th scope="row"><span>상품평<span></th>
									<td>
										<div class="box-td">
											<div class="review_rating">
												<div class="sstyle">
													<span class="star_rating">
														<span class="point1"><em>4</em></span>
													</span>

													<i class="icon-triangle-down"></i>
												</div>

												<ul class="review_rating_point" style="display: none">
													<li>
														<button type="button" class="btn_rating">
															<span class="star_rating">
																<span class="point5"><em>5</em></span>
															</span>
														</button>
													</li>
													<li>
														<button type="button" class="btn_rating">
															<span class="star_rating">
																<span class="point4"><em>4</em></span>
															</span>
														</button>
													</li>
													<li>
														<button type="button" class="btn_rating">
															<span class="star_rating">
																<span class="point3"><em>3</em></span>
															</span>
														</button>
													</li>
													<li>
														<button type="button" class="btn_rating">
															<span class="star_rating">
																<span class="point2"><em>2</em></span>
															</span>
														</button>
													</li>
													<li>
														<button type="button" class="btn_rating">
															<span class="star_rating">
																<span class="point1"><em>1</em></span>
															</span>
														</button>
													</li>
												</ul>
											</div>
										</div>
									</td>	
								</tr>
								<tr>
									<th scope="row"><label for="id-ss2">디자인<label></th>
									<td>
										<div class="box-td">
											<select id="id-ss2" class="sstyle">
												<option>디자인은 마음에 드시나요</option>
											</select>
										</div>
									</td>	
								</tr>
								<tr>
									<th scope="row"><label for="id-ss3">관리성<label></th>
									<td>
										<div class="box-td">
											<select id="id-ss3" class="sstyle">
												<option>디자인은 마음에 드시나요</option>
											</select>
										</div>
									</td>	
								</tr>
								<tr>
									<th scope="row"><label for="id-ss4">무게<label></th>
									<td>
										<div class="box-td">
											<select id="id-ss4" class="sstyle">
												<option>디자인은 마음에 드시나요</option>
											</select>
										</div>
									</td>	
								</tr>
								<tr>
									<th scope="row"><label for="id-ss5">견고함<label></th>
									<td>
										<div class="box-td">
											<select id="id-ss5" class="sstyle">
												<option>디자인은 마음에 드시나요</option>
											</select>
										</div>
									</td>	
								</tr>
								<tr>
									<th scope="row" class="vt"><label for="d-ss6">상품평<label></th>
									<td>
										<div class="box-td">
											<textarea id="d-ss6" rows="5" cols="30" class="review_textarea"></textarea>

											<span class="wordcheck">
												000 / 1000
											</span>
										</div>
									</td>	
								</tr>
								<tr>
									<th scope="row" class="vt"><label for="id-ss7">사진첨부<label></th>
									<td>
										<div class="box-td">
											<div class="file_add">
												<div class="file_add_top">
													<button type="button" class="btn_file_add">사진 첨부하기</button>
													<span class="cnt"><em>2</em>/5</span>
													<input type="file" id="id-ss7" class="ifile" />
												</div>

												<ul class="file_add_list">
													<li>
														<span class="name">행쇼사진첨부하기_01.jpg 행쇼사진첨부하기_01.jpg 행쇼사진첨부하기_01.jpg</span>
														<span class="size">96KB</span>
														<button type="button" class="btn_file_del"><i class="icon-remove"></i><span class="ir">삭제</span></button>
													</li>
													<li>
														행쇼사진첨부하기_01.jpg
														<span class="size">96KB</span>
														<button type="button" class="btn_file_del"><i class="icon-remove"></i><span class="ir">삭제</span></button>
													</li>
												</ul>

												<ul class="file_add_noti">
													<li>• jpg, png, gif, pdf만 업로드 가능합니다.</li>
													<li>• 최대 10MB 이하로 업로드 가능합니다.</li>
												</ul>
											</div>
										</div>
									</td>	
								</tr>
								</tbody>
							</table>

							<div class="button-group ctr">	
								<button type="button" class="btn_flat">등록하기<!--수정하기--></button>
							</div>
						</fieldset>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
$(document).ready(function() {
	$(".review_rating .sstyle").click(function() {
		$(".review_rating_point").toggle();
	});
});
</script>
</body>
</html>