<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>마켓 구매하기 | 행복쇼핑</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="행복쇼핑, 행복, 쇼핑, 컴퓨터, PC, 조립PC, 조립컴퓨터, 노트북, 태블릿, 상품 추천, 가격비교, 가격비교사이트, 가격비교 싸이트, 가격 검색, 최저가, 추천, 인터넷쇼핑, 온라인쇼핑, 쇼핑, 쇼핑몰, 싸게 파는 곳, 싸게 살 수 있는 곳" />
	<meta name="description" content="행복쇼핑은 컴퓨터, 조립PC에 특화된 온라인 견적 가격비교 사이트 입니다. 안전구매시스템(전자보증,에스크로)을 갖춘 쇼핑몰, 미니샵의 최저 가격 정보를 보여드립니다. 쇼핑의 행복! 행복쇼핑" />

	<!-- 웹폰트용 -->
    <script src="https://ajax.pping.kr/font/js/hpping.webfont.js"></script>
    <script>
        const hpping = new hppingFont();
        hpping.init({
            href: 'https://ajax.pping.kr/font/css/hpping.webfont.css'
        });
    </script>
    <!-- // 웹폰트용 -->

	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/mobile_comm.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/mobile_layers.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/mobile_forms.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/buttons.css?fffghgfg" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/header.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/footer.css" />
	<link rel="stylesheet" href="//dev-ajax.pping.kr:8080/_v3/css/pc/new/mobile_view.css?ghjghjg" />

	<!-- <link rel="stylesheet" href="../../../assets/css/mobile/mobile_comm.css" />
	<link rel="stylesheet" href="../../../assets/css/mobile/mobile_layers.css" />
	<link rel="stylesheet" href="../../../assets/css/mobile/mobile_forms.css" />
	<link rel="stylesheet" href="../../../assets/css/buttons.css" />
	<link rel="stylesheet" href="../../../assets/css/header.css" />
	<link rel="stylesheet" href="../../../assets/css/footer.css" />
	<link rel="stylesheet" href="../../../assets/css/mobile/mobile_view.css" /> -->
</head>

<body>
<div id="wrap">
	<!-- header -->
	<header class="header-m-page">
		<div class="header-m-page_body">
			<h1 class="tit-h1">
				마켓 구매하기
			</h1>

			<a href="#" class="btn_page_prev"><i class="icon-arrow_back"></i> <span class="ir">이전</span></a>
		</div>
	</header>
	<!-- // header -->
 
	<div id="container">
		<div class="container_view">
			<!-- 상단 장바구니/상품견적 새수 -->
			<div class="m-page_header_addcart">
				<a href="#" class="icon-paper btn-estimate"><span class="ir">상품견적</span><span>99</span></a>
				<a href="#" class="icon-cart btn-cart"><span class="ir">장바구니</span><span>99</span></a>
			</div>
			<!-- // 상단 장바구니/상품견적 새수 -->
			
			<section class="view_market">
				<div class="view_market_body">
					<div class="view_market_body_top">
						<h2 class="tit-h2">이엠텍 XENON 지포스 GTX1060 STORM X Dual D5 3GB STORM X Dual D5 3GB</h2>

						<span class="lowestprice">최저<strong>750,000</strong>원</span>
					</div>
					
					<div class="view_market_body_list">
						<!-- 오픈마켓 -->
						<div class="view_market_body_list_box">
							<div class="view_market_body_list_box_top">
								<h3 class="tit-h3">오픈마켓에서 단품으로 구매하기</h3>
							</div>

							<div class="view_market_body_list_box_sort">
								<ul>
									<li>
										<button type="button" class="btn_sort">인기순</button>
										<em class="bar"></em>
										<button type="button" class="btn_sort active">최저가순</button>
									 </li>
									<li>
										<span class="t">배송비</span>
										<label class="toggle_switch">
											<input type="checkbox" checked="checked" />
											<span class="slider round">
												<em class="on">ON</em>
												<em class="off">OFF</em>
											</span>
										</label>
									</li>
									<li>
										<span class="t">카드할인</span>
										<label class="toggle_switch">
											<input type="checkbox" />
											<span class="slider round">
												<em class="on">ON</em>
												<em class="off">OFF</em>
											</span>
										</label>
									</li>
								</ul>
							</div>

							<div class="view_market_body_list_box_board">
								<table class="board">
									<caption><span>마켓 리스트</span></caption>
									<colgroup>
										<col />
										<col style="width:70px" />
										<col style="width:120px" />
										<col style="width:45px" />
									</colgroup>
									<tbody>
									<tr>
										<td><span class="name">11번가</span></td>
										<td>
											<span class="delivery free"><i class="icon-truck"></i>무료</span>
										</td>
										<td>
											<span class="price"><strong class="lower">1,543,000</strong>원</span>
										</td>
										<td>
											<button type="button" class="btn_market"><i class="icon-cart_B"></i><span class="ir">담기</span></button>
										</td>
									</tr>
									<tr>
										<td><span class="name">11번가</span></td>
										<td>
											<span class="delivery"><i class="icon-truck"></i>2,500</span>
										</td>
										<td>
											<span class="price"><strong class="lower">1,543,000</strong>원</span>
										</td>
										<td>
											<button type="button" class="btn_market"><i class="icon-cart_B"></i><span class="ir">담기</span></button>
										</td>
									</tr>
									<tr>
										<td><span class="name">11번가</span></td>
										<td>
											<span class="delivery"><i class="icon-truck"></i>무료</span>
										</td>
										<td>
											<span class="price"><strong class="lower">1,543,000</strong>원</span>
										</td>
										<td>
											<button type="button" class="btn_market"><i class="icon-cart_B"></i><span class="ir">담기</span></button>
										</td>
									</tr>
									</tbody>
								</table>
							</div>

							<div class="view_market_body_list_box_bot">
								<p class="noti">쇼핑몰에서 가격과 상품정보를 꼭 확인하세요!</p>

								<button type="button" class="btn_market_more">더보기 <i class="icon-add"></i></button>
							</div>
						</div>
						<!-- // 오픈마켓 -->

						<!-- 미니샵 -->
						<div class="view_market_body_list_box">
							<div class="view_market_body_list_box_top">
								<h3 class="tit-h3">미니샵에서 단품으로 구매하기</h3>
							</div>

							<div class="view_market_body_list_box_sort">
								<ul>
									<li>
										<button type="button" class="btn_sort">인기순</button>
										<em class="bar"></em>
										<button type="button" class="btn_sort active">최저가순</button>
									 </li>
									<li>
										<span class="t">배송비</span>
										<label class="toggle_switch">
											<input type="checkbox" checked="checked" />
											<span class="slider round">
												<em class="on">ON</em>
												<em class="off">OFF</em>
											</span>
										</label>
									</li>
								</ul>
							</div>

							<div class="view_market_body_list_box_board">
								<table class="board">
									<caption><span>미니샵 리스트</span></caption>
									<colgroup>
										<col />
										<col style="width:70px" />
										<col style="width:120px" />
										<col style="width:45px" />
									</colgroup>
									<tbody>
									<tr>
										<td><span class="name">11번가</span></td>
										<td>
											<span class="delivery"><i class="icon-truck"></i>무료</span>
										</td>
										<td>
											<span class="price"><strong class="lower">1,543,000</strong>원</span>
										</td>
										<td>
											<button type="button" class="btn_market"><i class="icon-cart_B"></i><span class="ir">담기</span></button>
										</td>
									</tr>
									<tr>
										<td><span class="name">11번가</span></td>
										<td>
											<span class="delivery"><i class="icon-truck"></i>2,500</span>
										</td>
										<td>
											<span class="price"><strong class="lower">1,543,000</strong>원</span>
										</td>
										<td>
											<button type="button" class="btn_market"><i class="icon-cart_B"></i><span class="ir">담기</span></button>
										</td>
									</tr>
									<tr>
										<td><span class="name">11번가</span></td>
										<td>
											<span class="delivery"><i class="icon-truck"></i>무료</span>
										</td>
										<td>
											<span class="price"><strong class="lower">1,543,000</strong>원</span>
										</td>
										<td>
											<button type="button" class="btn_market"><i class="icon-cart_B"></i><span class="ir">담기</span></button>
										</td>
									</tr>
									</tbody>
								</table>
							</div>

							<div class="view_market_body_list_box_bot">
								<p class="noti">쇼핑몰에서 가격과 상품정보를 꼭 확인하세요!</p>

								<button type="button" class="btn_market_more">더보기 <i class="icon-add"></i></button>
							</div>
						</div>
						<!-- // 미니샵 -->

						<!-- 소셜... -->
						<div class="view_market_body_list_box">
							<div class="view_market_body_list_box_top">
								<h3 class="tit-h3">소셜.백화점.홈쇼핑에서 단품으로 구매하기</h3>
							</div>

							<div class="view_market_body_list_box_sort">
								<ul>
									<li>
										<button type="button" class="btn_sort">인기순</button>
										<em class="bar"></em>
										<button type="button" class="btn_sort active">최저가순</button>
									 </li>
									<li>
										<span class="t">배송비</span>
										<label class="toggle_switch">
											<input type="checkbox" checked="checked" />
											<span class="slider round">
												<em class="on">ON</em>
												<em class="off">OFF</em>
											</span>
										</label>
									</li>
									<li>
										<span class="t">카드할인</span>
										<label class="toggle_switch">
											<input type="checkbox" />
											<span class="slider round">
												<em class="on">ON</em>
												<em class="off">OFF</em>
											</span>
										</label>
									</li>
								</ul>
							</div>

							<div class="view_market_body_list_box_board">
								<table class="board">
									<caption><span>소셜.백화점.홈쇼핑 리스트</span></caption>
									<colgroup>
										<col />
										<col style="width:70px" />
										<col style="width:120px" />
										<col style="width:45px" />
									</colgroup>
									<tbody>
									<tr>
										<td><span class="name">11번가</span></td>
										<td>
											<span class="delivery"><i class="icon-truck"></i>무료</span>
										</td>
										<td>
											<span class="price"><strong class="lower">1,543,000</strong>원</span>
										</td>
										<td>
											<button type="button" class="btn_market"><i class="icon-cart_B"></i><span class="ir">담기</span></button>
										</td>
									</tr>
									<tr>
										<td><span class="name">11번가</span></td>
										<td>
											<span class="delivery"><i class="icon-truck"></i>2,500</span>
										</td>
										<td>
											<span class="price"><strong class="lower">1,543,000</strong>원</span>
										</td>
										<td>
											<button type="button" class="btn_market"><i class="icon-cart_B"></i><span class="ir">담기</span></button>
										</td>
									</tr>
									<tr>
										<td><span class="name">11번가</span></td>
										<td>
											<span class="delivery"><i class="icon-truck"></i>무료</span>
										</td>
										<td>
											<span class="price"><strong class="lower">1,543,000</strong>원</span>
										</td>
										<td>
											<button type="button" class="btn_market"><i class="icon-cart_B"></i><span class="ir">담기</span></button>
										</td>
									</tr>
									</tbody>
								</table>
							</div>

							<div class="view_market_body_list_box_bot">
								<p class="noti">쇼핑몰에서 가격과 상품정보를 꼭 확인하세요!</p>

								<button type="button" class="btn_market_more">더보기 <i class="icon-add"></i></button>
							</div>
						</div>
						<!-- 소셜 -->
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- footer-m-bar -->
	<div class="footer-m-bar">
		<ul>
			<li class="active"><a href="#"><em class="icon-bottom_home"></em>행복쇼핑 홈</a></li>
			<li><a href="#"><em class="icon-bottom_menu"></em>상품분류</a></li>
			<li><a href="#"><em class="icon-bottom_zoomlens"></em>검색</a></li>
			<li><a href="#"><em class="icon-bottom_user"></em>MY 쇼핑</a></li>
			<li><a href="#"><em class="icon-bottom_phone"></em>고객센터</a></li>
		</ul>
	</div>
	<!-- // footer-m-bar -->
</div>
</body>
</html>