@charset "utf-8";

.event-wrap {
	overflow: hidden;
	position: relative;
	background: #f9f9f9;

	> img {
		position: relative;
		left: 50%;
		margin-left: -952px;
	}

	.movie {
		position: absolute;
		left: 50%;
		top: 718px;
		width: 854px;
		height: 480px;
		margin-left: -427px;
	}
}
