                                    <nav class="lnb">
                                        <ul>
                                            <li><a href="/career/careerinfo.html" class="active">전체</a></li>
                                            <li><a href="#">HOT 이슈</a></li>
                                            <li><a href="#">리크루터 노하우</a></li>
                                            <li><a href="#">이직 노하우</a></li>
                                            <li><a href="/comm/favo.html">관심분야 수정</a></li>
                                        </ul>
                                    </nav>