                        <h3 class="tit-h3">공개범위 변경</h3>
                        
                        <div class="manage-privacy-box">
                            <form>
                                <fieldset>
                                    <legend><span>공개범위</span></legend>

                                    <ul>
                                        <li>
                                            <strong>인맥리스트</strong>

                                            <span class="icheck-switch">
                                                <input id="test-s1" type="checkbox">
                                                
                                                <label for="test-s1">
                                                    <span class="icheck-switch-in" data-checked="공개" data-unchecked="비공개"></span>
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <strong>내인맥</strong>

                                            <span class="icheck-switch">
                                                <input id="test-s2" type="checkbox">
                                                
                                                <label for="test-s2">
                                                    <span class="icheck-switch-in" data-checked="공개" data-unchecked="비공개"></span>
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <strong>학교정보</strong>

                                            <span class="icheck-switch">
                                                <input id="test-s3" type="checkbox">
                                                
                                                <label for="test-s3">
                                                    <span class="icheck-switch-in" data-checked="공개" data-unchecked="비공개"></span>
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <strong>과거직장</strong>

                                            <span class="icheck-switch">
                                                <input id="test-s4" type="checkbox">
                                                
                                                <label for="test-s4">
                                                    <span class="icheck-switch-in" data-checked="공개" data-unchecked="비공개"></span>
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <strong>경력상세</strong>

                                            <span class="icheck-switch">
                                                <input id="test-s5" type="checkbox">
                                                
                                                <label for="test-s5">
                                                    <span class="icheck-switch-in" data-checked="공개" data-unchecked="비공개"></span>
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <strong>자격증및언어</strong>

                                            <span class="icheck-switch">
                                                <input id="test-s6" type="checkbox">
                                                
                                                <label for="test-s6">
                                                    <span class="icheck-switch-in" data-checked="공개" data-unchecked="비공개"></span>
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <strong>알림</strong>

                                            <span class="icheck-switch">
                                                <input id="test-s7" type="checkbox">
                                                
                                                <label for="test-s7">
                                                    <span class="icheck-switch-in" data-checked="공개" data-unchecked="비공개"></span>
                                                </label>
                                            </span>
                                        </li>
                                    </ul>
                                </fieldset>
                            </form>
                        </div>