                                <article class="profile-manage-user-box">
                                    <div class="photo">
                                        <img src="assets/img/profile.jpg" alt="홍길동">
                                    </div>

                                    <div class="profile-manage-user-box-info">
                                        <strong class="profile-manage-user-box-info-name">홍길동</strong>

                                        <ul class="profile-manage-user-box-info-detail">
                                            <li>Venturepeople</li>
                                            <li>CEO / Sr.managing Director</li>
                                        </ul>
                                    </div>                     

                                    <div class="profile-manage-user-box-tag">
                                        <a href="#">#채용</a>
                                        <a href="#">#전략</a>
                                        <a href="#">#기획</a>
                                    </div>
                                </article>