                                    <h3 class="tit-h3">자주 묻는 질문</h3>

                                    <ul>
                                        <li><a href="#">1. 디지털마케터는 먹고 살만한가요?</a></li>
                                        <li><a href="#">2. 어떤 마케팅 채널이 가장 효율적일가요?</a></li>
                                        <li><a href="#">3. GA다들 보시나요?</a></li>
                                        <li><a href="#">4. 마케터에게 영어가 꼭 필요할까요?</a></li>
                                        <li><a href="#">5. 삼성전자 마케팅팀에 이직하는 사람은 어떤 사람일까요?</a></li>
                                        <li><a href="#">6. 인스타그램 어떻게 활용하시나요?</a></li>
                                        <li><a href="#">7. 페이스북 인사이트 분석 할때 도달율계산하기</a></li>
                                    </ul>