                    <h2 class="tit-h2"><span># 디지털마케팅</span></h2>

                    <p class="section-circle-dsc">디지털 마케팅(digital marketing)이란 인터넷을 기반으로 하는 장치를 통해 온라인 광고로 소비자들에게 제품과 서비스를 알리고, 판매하는 것이다.<br>웹 브라우저, 스마트폰, (콘솔) 게임, 등이 대표적인 인터넷 기반장치의 예 이다. 기술이 발달하고 많은 장치와 기기들이 인터넷 검색기능을 제공하면서, 디지털 마케팅의 잠재성이 점진적으로 실현되고 있는 추세이다.<br>디지털 마케팅에는 크게 Pull(유인형)과 Push가 이 두 가지 종류가 있다.</p>

                    <button type="button" class="btn-follow">팔로우</button>
                    <button type="button" class="btn-follow on">팔로우</button>