                            <nav class="lnb">
                                <ul>
                                    <li><a href="/recruiter/candidate.html" class="active">후보자 <i class="icon-right-arrow"></i></a></li>
                                    <li><a href="/recruiter/candidate_privacy.html">개인정보활용동의서관리 <i class="icon-right-arrow"></i></a></li>
                                    <li><a href="/recruiter/candidate_interview.html">사전인터뷰관리 <i class="icon-right-arrow"></i></a></li>
                                </ul>
                            </nav>