                            <nav class="lnb">
                                <ul>
                                    <li><a href="/recruiter/client.html" class="active">고객사 <i class="icon-right-arrow"></i></a></li>
                                    <li><a href="#">고객사 히스토리 <i class="icon-right-arrow"></i></a></li>
                                    <li><a href="/recruiter/card.html">명함철 <i class="icon-right-arrow"></i></a></li>
                                </ul>
                            </nav>