                        <h3 class="tit-h3">히스토리</h3>

                        <div class="recruiter-aside-history-conts">
                            <ul>
                                <li>
                                    <div class="recruiter-aside-history-conts-date">
                                        <span class="time">07:00 am</span>
                                        <span class="dsc">30분전</span>
                                    </div>

                                    <div class="recruiter-aside-history-conts-noti">
                                        <dl>
                                            <dt>미팅</dt>
                                            <dd><strong>홍길동</strong>님과 <span>미팅</span></dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="recruiter-aside-history-conts-date">
                                        <span class="time">07:00 am</span>
                                        <span class="dsc">30분전</span>
                                    </div>

                                    <div class="recruiter-aside-history-conts-noti">
                                        <dl>
                                            <dt>회의</dt>
                                            <dd>홍길동님과 <em>회의</em></dd>
                                        </dl>
                                    </div>
                                </li>
                                <li>
                                    <div class="recruiter-aside-history-conts-date">
                                        <span class="time">07:00 am</span>
                                        <span class="dsc">30분전</span>
                                    </div>

                                    <div class="recruiter-aside-history-conts-noti">
                                        <dl>
                                            <dt>회의</dt>
                                            <dd>
                                                홍길동님과 회의
                                            </dd>
                                        </dl>
                                    </div>
                                </li>
                            </ul>
                        </div>