                        <h3 class="tit-h3">스케쥴</h3>

                        <div class="recruiter-aside-schedule-list">
                            <div class="recruiter-aside-schedule-list-dsc">42 messages 6 notifications</div>

                            <ol>
                                <li>
                                    <em class="number">1</em>
                                    미팅

                                    <span class="date">09:00 pm</span>
                                </li>
                                <li>
                                    <em class="number">2</em>
                                    미팅

                                    <span class="date">09:00 pm</span>
                                </li>
                                <li>
                                    <em class="number">3</em>
                                    미팅

                                    <span class="date">09:00 pm</span>
                                </li>
                            </ol>
                        </div>