@charset "utf-8";


input[disabled], textarea:disabled {
	background-color: #eeeeee;
}
.selectBox {
	border: 1px solid #d9dddf;
	background: #ffffff;
}
textarea {
	border: 1px solid #d9dddf;
	background: #ffffff;
}
.searchBox {
	background: #f5f5f5;
}


/* box */
.boxGray {
	background: #f5f5f5;
}
.borderBox {
	border: 1px solid #d9dddf;
}
.textBox.scrollBox {
	border: 1px solid #d9dddf;
}
.textBox em {
    color: #0c50a1;
}
.msgBox.success {
	border: 1px solid #7fcea7;
	color: #009d4f;
	background: #edf8f3;
}

.msgBox.success strong {
	color: #009d4f;
}
.msgBox.success:before {
	background: url('/images/template3/resp/default/usr/icon_msgbox_success.png') center center no-repeat;
}

/* icon */
.icon {
	color: #ffffff;
}
.icon.book {
	border: 1px solid #f2444a;
	color: #f2444a;
	background: #feeced;	
}
.icon.smart {
	border: 1px solid #1d69cc;
	color: #1d69cc;
	background: #e8f0fa;
}
.icon.elearning {
	border: 1px solid #61696f;
	color: #61696f;
	background: #eff0f0;
}
.icon.refund {
	border: 1px solid #003464;
	color: #003464;
	background: #ffffff;
}
.icon.noRefund {
	border: 1px solid #009d4f;
	color: #009d4f;
	background: #ffffff;
}
.icon.present {
	border: 1px solid #ff9c00;
	background: #ff9c00;	
}
.icon.event {
	border: 1px solid #0c50a1;
	background: #0c50a1;
}

.icon.pc {
	background: #acb2b5 url('/images/template3/resp/default/usr/icon_pc.png') center center no-repeat;
}
.icon.mobile {
	background: #acb2b5 url('/images/template3/resp/default/usr/icon_mobile.png') center center no-repeat;
}
.icon.tablet {
	background: #acb2b5 url('/images/template3/resp/default/usr/icon_tablet.png') center center no-repeat;
}
.icon.new,
.icon.hot {
	color: #f2444a; 
}
.icon.lock {
	background: url('/images/template3/resp/default/usr/icon_lock.png') center 5px no-repeat;
}
.icon.normal {
	border: 1px solid #e7e9ea;
	color: #61696f;
	background: #e7e9ea;
}
.icon.question {
	border: 1px solid #e5eef6;
	color: #0057a8;
	background: #e5eef6;
}
.icon.progress {
	border: 1px solid #40b67b;
	color: #009d4f;
	background: #ffffff;
}
.icon.standby {
	border: 1px solid #f57377;
	color: #f2444a;
	background: #ffffff;
}
.icon.end {
	border: 1px solid #aab0b3;
	color: #8e9599;
	background: #ffffff;
}
.icon.member {
	color: #292f37;
	background: url('/images/template3/resp/default/usr/icon_member.png') 0 2px no-repeat;
}
.icon.feed {
	color: #292f37;
	background: url('/images/template3/resp/default/usr/icon_feed.png') 0 3px no-repeat;
}
.icon.notice {
	border: 1px solid #333333;
	color: #333333;
	background: #ffffff;
}

/* button */
.boardWrite table td button, .inclub button, .review .btnView, .btnShortcut, #sub .remote li > div button { /* ash */
	border: 1px solid #8e9599;
	color: #333333;
	background: #f9f9f9;
} 
.boardWrite table td buttonL:hover, .inclub button:hover, .review .btnView:hover, .btnShortcut:hover, #sub .remote li > div button:hover {
	border: 1px solid #555f66;
	color: #333333;
	background: #f9f9f9;
} 

.btnClassroom, .btnSurvey, .btnWrite, .btnConfirm, .btnSurveyDone, .btnList, .btnJoin, .btnSave, .btnWithdrawal, .btnPreview, .register .btnNext, 
.btnInvite, .btnPoll, .btnInclubOpen, .btnEntrance, .findIdpw .btnLogin, .btnCertify, .btnNext, .btnAgree, .btnQuiz, .inclub .btnJoin, .btnReset, 
.contentsBox .login .btnLogin { /* blue */
	border: 1px solid #0c50a1;
	color: #ffffff;
	background: #0c50a1;
}
.btnClassroom:hover, .btnSurvey:hover, .btnWrite:hover, .btnConfirm:hover, .btnSurveyDone:hover, .btnList:hover, .btnJoin:hover, .btnSave:hover, .btnWithdrawal:hover, .btnPreview:hover, .register .btnNext:hover, 
.btnInvite:hover, .btnPoll:hover, .btnInclubOpen:hover, .btnEntrance:hover, .findIdpw .btnLogin:hover, .btnCertify:hover, .btnNext:hover, .btnAgree:hover, .btnQuiz:hover, .inclub .btnJoin:hover, .btnReset:hover, 
.contentsBox .login .btnLogin:hover {
	border: 1px solid #0c50a1;
	color: #0c50a1;
	background: #ffffff;
}
.btnSearch, .btnResult, .btnDelivery, .btnDelete, .btnCancel, .btnTemporaryDone, .btnModify, .btnReturn, .btnUnfollow, .btnClose, .btnCategory, 
.btnAdd, .findIdpw .btnPwFind, .floatLeft .btnPrev, .floatLeft .btnNext, .inclub .btnWithdrawal, .btnJoinNext, .btnJoinNot, .btnRecommend, .btnInclubClose,
.course+.btnArea .btnList  {/* gray */
	border: 1px solid #7f868b;
	color: #ffffff;
	background: #7f868b; 
}
.btnSearch:hover, .btnResult:hover, .btnDelivery:hover, .btnDelete:hover, .btnCancel:hover, .btnTemporaryDone:hover, .btnModify:hover, .btnReturn:hover, .btnUnfollow:hover, .btnClose:hover, .btnCategory:hover, 
.btnAdd:hover, .findIdpw .btnPwFind:hover, .floatLeft .btnPrev:hover, .floatLeft .btnNext:hover, .inclub .btnWithdrawal:hover, .btnJoinNext:hover, .btnJoinNot:hover, .btnRecommend:hover, .btnInclubClose:hover,
.course+.btnArea .btnList:hover {
	border: 1px solid #7f868b;
	color: #7f868b;
	background: #ffffff;
}

.btnReceive {
	border: 1px solid #009d4f;
	color: #ffffff;
	background: #009d4f;
}
.btnReceive:hover {
	border: 1px solid #009d4f;
	color: #009d4f;
	background: #ffffff;
}
#sub .thumbnList.type2 li li > div.state .btnCancel, .btnJoinCancel {/* red */
	border: 1px solid #f2444a;
	color: #ffffff;
	background: #f2444a;
}
#sub .thumbnList.type2 li li > div.state .btnCancel:hover, .btnJoinCancel:hover {
	border: 1px solid #f2444a;
	color: #f2444a;
	background: #ffffff;
}
div.book .box .textBox .title .btnList {
    border: none;
    color: #ffffff;
    background: #7f868b;
}
.btnRegister { /* yellow */
	border: 1px solid #ff9c00;
	color: #ffffff;
	background: #ff9c00;
}
.btnRegister:hover {
	border: 1px solid #ff9c00;
	color: #ff9c00;
	background: #ffffff;
}

.btnFollow {
	border: 1px solid #ff9c00;
	color: #ffffff;
	background: #ff9c00;
}
.btnFollow:hover {
	border: 1px solid #ff9c00;
	color: #ff9c00;
	background: #ffffff;
}
.btnInclub {
	border: 1px solid #8e9599;
	color: #292f37;
	background: #f9f9f9;
}
.btnInclub:hover {
	border: 1px solid #555f66;
}
.btnCertificate, .textBox .btnDelivery, .feed .btnCommentWrite, .thumbnList li .btnArea .btnBook {
	border: 1px solid #8e9599;
	color: #292f37;
	background-color: #f9f9f9;
}
.btnCertificate {
	background: #f9f9f9 url('/images/template3/resp/default/button/btn_certificate.png') 74px center no-repeat;
}
.textBox .btnDelivery, .feed .btnCommentWrite {
	background: #f9f9f9 url('/images/template3/resp/default/button/btn_delivery.png') 60px center no-repeat;
}
.textBox .btnDelivery.active, .feed .btnCommentWrite.active {
	background: #f9f9f9 url('/images/template3/resp/default/button/btn_delivery_active.png') 60px center no-repeat;
}



.paging a { /* paging */
    border: none;
}
.paging a.active { 
    border: 1px solid #8e9599;
}
.paging .btnFirst {
    background: #ffffff url('/images/template3/resp/default/button/btn_paging.png') 0 0 no-repeat;
}
.paging .btnPrev,
.paging .btnPrev:hover {
    background: #ffffff url('/images/template3/resp/default/button/btn_paging.png') -35px 0 no-repeat;
}
.paging .btnNext,
.paging .btnNext:hover {
	border: none;
    background: #ffffff url('/images/template3/resp/default/button/btn_paging.png') -70px 0 no-repeat;
}
.paging .btnLast {
    background: #ffffff url('/images/template3/resp/default/button/btn_paging.png') -105px 0 no-repeat;
}

.listAttach li a {
	color: #8e9599;
}
.listAttach .btnDownload, .softwareDown .btnDownload {
	border: 1px solid #8e9599;
	color: #292f37;
	background: #f9f9f9 url('/images/template3/resp/default/button/btn_download.png') 61px center no-repeat;
}
.listAttach .btnDelete, .listAttach .btnDelete:hover {
	background: url('/images/template3/resp/default/button/btn_delete.png') 0 0 no-repeat;
}


/* layout */
#container #sub {
	background: #f5f5f5;
}
#container #sub .contentsWrap {
	background: #ffffff;
}
.popup > h3 {
	color: #ffffff;
	background: #61696f;
}
.popup > .btnClose,
.popup > .btnClose:hover {
    border: none;
	background: url('/images/template2/resp/default/button/popup_btn_close.png') center center no-repeat;
}
.popup .contentsWrap .contentsBox {
	background: #ffffff;
}


/* board */

.thumbnList li .btnArea .info {
	color: #f2444a;
}
.thumbnList li .iconBox.type2 {
	border-top: 1px solid #d9dddf;
}
.thumbnList.type2 li:hover {
	border: none;
    background: #f8fafd;
}
.thumbnList.type2 li:first-child,
.thumbnList.type2 li:first-child:hover {
	border: none;
	background: #f3f4f4;
}
.thumbnList.type2 li > div {
	border: solid #e7e9ea;
	border-width: 0px 0px 1px 1px;
}
.thumbnList.type2 li > div:first-child {
	border-width: 0px 0px 1px 0px ;
}
.thumbnList.type2 li:first-child > div {
	border-bottom: 2px solid #e7e9ea;
}
.thumbnList.type2 li .imgBox img {
	border: 1px solid #d9dddf;
}
.thumbnList.type2 li .progressRate > span.num {
	color: #f2444a;
}
.thumbnList.type2 li .progressRate .rate {
	background: #fcdadb;
}
.thumbnList.type2 li .progressRate .rate > span {
	background: #f2444a;
}
.btnSchedule {
	color: #0057a8;
}

.imgBox .badge {
	color: #ffffff;
    background: url('/images/template3/resp/default/usr/badge_inclub.png') 0 0 no-repeat;
}


/* contents */

.boardWrite.findIdpw { /* findIdPw */
	border: none;
}
.boardWrite.findIdpw table th, .boardWrite.findIdpw table td {
	border: none;
	background: none;
}
.boardWrite.findIdpw .info {
	background: #f5f5f5;
}

	
.thumbnList.type2 {
	border-top: 1px solid #e7e9ea;
}
#sub .thumbnList.type2 li {
	border-bottom: 1px solid #e7e9ea;
}
#sub .thumbnList.type2 li li {
	border-bottom: 1px solid #e7e9ea;
}
#sub .thumbnList.type2 li > div {
	border: none;
}
.toolBar .btnArea .btnRegister, .toolBar .btnArea .btnRegister:hover, .toolBar .btnArea .btnRegister.disable, .toolBar .btnArea .btnRegister.disable:hover {
	border-width: 1px 1px 1px 1px;
	background-position: center center;
}



.contentsBox .tab{ /* tab */
	border-bottom: 1px solid #0c50a1;
}
.contentsBox .tab ul li {
	border: solid #e7e9ea;
	border-width: 1px 1px 0 1px;
	border-bottom: 1px solid #0c50a1;
	background: #f5f5f5;
}
.contentsBox .tab ul li a {
	color: #61696f;
}
.contentsBox .tab ul li.active {
	border-color: #0c50a1;
	border-bottom-color: #ffffff;
	background: #ffffff;
}
.contentsBox .tab ul li.active a {
	color: #0c50a1;
}
.tab.type2 .btnPrev, .tab.type2 .btnNext {
	border: solid #e7e9ea;
	border-width: 1px 1px 0 1px;
}
.tab.type2 .btnPrev {
	background: #f5f5f5 url('/images/template3/resp/default/button/btn_tab_prev.png') center center no-repeat;
}
.tab.type2 .btnNext {
	background: #f5f5f5 url('/images/template3/resp/default/button/btn_tab_next.png') center center no-repeat;
}
