@charset "utf-8";


/* findIdPw */
.boardWrite.findIdpw table th, .boardWrite.findIdpw table td {
	height: 34px;
	padding: 5px 10px;
}

.boardWrite.findIdpw>p {
	margin-bottom: 24px;
	padding: 0 20px;
}

.boardWrite.findIdpw span.error {
	display: inline-block;
}

.boardWrite.findIdpw .info {
	margin-top: 35px;
	margin-bottom: 20px;
	padding: 40px;
	text-align: center;
}

.boardWrite.findIdpw .info>p>span {
	display: block;
	margin-bottom: 30px;
}

.findIdpw .btnPwFind {
	margin-left: 6px;
}

.boardWrite.findIdpw {
	padding-top: 20px;
}

.boardWrite.findIdpw table th {
	padding-left: 40px;
}

/* findIdPw */
.boardWrite.findIdpw table th, .boardWrite.findIdpw table td {
	height: 34px;
	padding: 5px 10px;
}
.boardWrite.findIdpw > p {
	margin-bottom: 24px;
	padding: 0 20px;
}
.boardWrite.findIdpw span.error {
	display: inline-block;
}
.boardWrite.findIdpw .info {
	margin-top: 35px;
	padding: 40px;
	text-align: center;
}
.boardWrite.findIdpw .info>p>span {
	display: block;
	margin-bottom: 30px;
}
.findIdpw .btnPwFind {
	margin-left: 6px;
}
.boardWrite.findIdpw {
	padding-top: 20px;
}
.boardWrite.findIdpw table th {
	padding-left: 22px;
}