@charset "utf-8";

#wrap {
	position: relative;
	overflow: hidden;
}

#header.gate {
	margin-bottom: 30px;
}
#header .component4 .logo {
    padding: 0 20px;
    text-align: center;
}
#header .component3 .zoom,
#header .component3 .userInfo li,
#header .component3 .userInfo li a:before,
#header .component3 .logo+.floatRight,
#header .component3 .gnbWrap {
	display: none;
}
#header .component3 .boxGray {
    height: 0px;
}
#header .component3 .userInfo {
    position: absolute;
    top: 0;
    right: -10px;
}
#header .component3 .userInfo li+li+li {
    display: block;
}
#header .component3 .userInfo li+li+li a {
    display: block;
    width: 48px;
    height: 50px;
    text-indent: -999999px;
    background: url('/images/template3/resp/default/button/btn_mobile_logout.png') center center no-repeat;
    background-size: 18px 18px;
}
#header .component3 > .box {
	width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#header .component3 .allMenu {
	display: none !important;
}
.webModule5 {
    border: none;
}
#container #sub {
	clear: both;
	overflow: hidden;
	width: 100%;
}

#contents > .headingBox {
	display: none;
}
#container #sub {
	width: 100%;
}
#container #sub .contentsWrap {
	width: 100%;
    padding: 0 0 60px 0;
}
#contents > .headingBox {
	height: 40px;
	padding: 0 15px;
}
#contents > .headingBox h3 {
	display: block;
	margin: 0;
	line-height: 40px;
	font-size: 1.15em;
}
.lnb .component1 {
	overflow: auto;
}
.lnb .component1 > ul > li:first-child {
	display: none;
}
.lnb .component1 li {
	float: left;
	width: 33.333%;
	width: calc(100%/3);
}
.lnb .component1 li > a {
	line-height: 22px;
	padding: 6px;
	border-bottom: none;
	text-align: center;
	font-size: 1em;
}
.lnb .component1 li > a:hover, .lnb .component1 li.active > a {
	border-bottom: 2px solid #0c50a1;
}
.totalList {
	border-top: 1px solid #e7e9ea;
}

/*popup*/
.popup {
	position: relative;
}
.popup > h3 {
	display: block;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding: 0 20px;
	font-size: 1.54em;
}
.popup > .btnClose,
.popup > .btnClose:hover {
	position: absolute;
	top: 17px;
	right: 20px;
	min-width: 16px;
	height: 16px;
	padding:0;
    font-size: 0;
}
.popup .contentsWrap .contentsBox {
	width: 100%;
	padding: 20px;
	min-height: 0;
}