<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>JobIndex - 잡인덱스</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="잡인덱스">
    <meta name="description" content="잡인덱스">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">  -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&amp;subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="https://webpi.github.io/jobindex/assets/css/icomoon/style.css">
    <link rel="stylesheet" href="https://webpi.github.io/jobindex/assets/css/comm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<!-- 레이어 -->
<div class="layer-pop">
    <div class="layer-pop-wrap">
        <div class="layer-template">
            <div class="template-box">
                <h2 class="tit-h2">템플릿</h2>

                내용
            </div>

            <div class="layer-pop-bot">
                <button type="button" class="btn btn-layer-submit">확인</button>
                <button type="button" class="btn btn-layer-cncl">취소</button>
            </div>
            
            <button type="button" class="btn-layer-clse"><i class="icon-cross"></i><span class="ir">닫기</span></button>
        </div>
    </div>        
</div>
<!-- // 레이어 -->

<!-- js -->
<script src="assets/js/jobindex.js"></script>
<!-- // js -->
</body>
</html>