                                <article class="networking-profile-box">
                                    <div class="photo">
                                        <img src="https://webpi.github.io/jobindex/assets/img/profile.jpg" alt="홍길동">
                                    </div>

                                    <div class="networking-profile-box-info">
                                        <strong class="networking-profile-box-info-name">홍길동</strong>

                                        <ul class="networking-profile-box-info-detail">
                                            <li>Venturepeople</li>
                                            <li>CEO / Sr.managing Director</li>
                                        </ul>
                                    </div>                     

                                    <div class="networking-profile-box-tag">
                                        <a href="#">#채용</a>
                                        <a href="#">#전략</a>
                                        <a href="#">#기획</a>
                                    </div>
                                    
                                    <ul class="networking-profile-box-grade">
                                        <li><strong class="gold">G</strong> 15</li>
                                        <li><strong class="silver">S</strong> 15</li>
                                        <li><strong class="bronze">B</strong> 15</li>
                                    </ul>

                                    <button type="button" class="btn-inmail" onclick="location.href='/comm/layer_inmail_write.html'">인메일 보내기</button>
                                </article>