                            <nav class="lnb">
                                <ul>
                                    <li><a href="/networking/networking.html" class="active">내프로필 조회자 <i class="icon-right-arrow"></i></a></li>
                                    <li><a href="/networking/recom.html">추천인맥 <i class="icon-right-arrow"></i></a></li>
                                    <li><a href="/networking/news.html">인맥소식 <i class="icon-right-arrow"></i></a></li>
                                    <li><a href="/networking/manage.html">인맥관리 <i class="icon-right-arrow"></i></a></li>
                                    <li><a href="/networking/follower.html">인맥신청관리 <i class="icon-right-arrow"></i></a></li>
                                    <li><a href="/networking/follow.html">팔로우관리 <i class="icon-right-arrow"></i></a></li>
                                    <li><a href="/comm/favo.html">관심분야 수정 <i class="icon-right-arrow"></i></a></li>
                                </ul>
                            </nav>

                            <div class="lnb-all">
                                <button type="button" class="btn-all"><i class="icon-down-arrow"></i><span class="ir">전체보기</span></button>

                                <div class="lnb-all-list">
                                    <ul>
                                        <li><a href="/networking/networking.html" class="active">내프로필 조회자</a></li>
                                        <li><a href="/networking/recom.html">추천인맥</a></li>
                                        <li><a href="/networking/news.html">인맥소식</a></li>
                                        <li><a href="/networking/manage.html">인맥관리</a></li>
                                        <li><a href="/networking/follower.html">인맥신청관리</a></li>
                                        <li><a href="/networking/follow.html">팔로우관리</a></li>
                                        <li><a href="/comm/favo.html">관심분야 수정</a></li>
                                    </ul>
                                </div>
                            </div>