@charset "UTF-8";
/* color */
@font-face {
  font-family: 'ppingkr_v4';
  src: url("https://s3.amazonaws.com/icomoon.io/44051/ppingkr_v4/ppingkr_v4.eot?z3y1hc");
  src: url("https://s3.amazonaws.com/icomoon.io/44051/ppingkr_v4/ppingkr_v4.eot?z3y1hc#iefix") format("embedded-opentype"), url("https://s3.amazonaws.com/icomoon.io/44051/ppingkr_v4/ppingkr_v4.woff2?z3y1hc") format("woff2"), url("https://s3.amazonaws.com/icomoon.io/44051/ppingkr_v4/ppingkr_v4.ttf?z3y1hc") format("truetype"), url("https://s3.amazonaws.com/icomoon.io/44051/ppingkr_v4/ppingkr_v4.woff?z3y1hc") format("woff"), url("https://s3.amazonaws.com/icomoon.io/44051/ppingkr_v4/ppingkr_v4.svg?z3y1hc#ppingkr_v4") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ppingkr_v4' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-angle-double-down:before {
  content: ""; }

.icon-angle-double-left:before {
  content: ""; }

.icon-angle-double-right:before {
  content: ""; }

.icon-angle-double-up:before {
  content: ""; }

.icon-angle-down:before {
  content: ""; }

.icon-angle-left:before {
  content: ""; }

.icon-angle-right:before {
  content: ""; }

.icon-angle-up:before {
  content: ""; }

.icon-arrow-down:before {
  content: ""; }

.icon-arrow-up:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-caret-down:before {
  content: ""; }

.icon-caret-left:before {
  content: ""; }

.icon-caret-right:before {
  content: ""; }

.icon-caret-up:before {
  content: ""; }

.icon-chat:before {
  content: ""; }

.icon-chat_bubble:before {
  content: ""; }

.icon-check:before {
  content: ""; }

.icon-chevron-left:before {
  content: ""; }

.icon-chevron-right:before {
  content: ""; }

.icon-chevron-thin-left:before {
  content: ""; }

.icon-chevron-thin-right:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-done:before {
  content: ""; }

.icon-favorite:before {
  content: ""; }

.icon-favorite_border:before {
  content: ""; }

.icon-fiber_manual_record:before {
  content: ""; }

.icon-get_app:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-in:before {
  content: ""; }

.icon-lens:before {
  content: ""; }

.icon-member_id:before {
  content: ""; }

.icon-member_pass:before {
  content: ""; }

.icon-microphone:before {
  content: ""; }

.icon-out:before {
  content: ""; }

.icon-remove_circle:before {
  content: ""; }

.icon-repeat:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-shop:before {
  content: ""; }

.icon-shopping-cart:before {
  content: ""; }

.icon-text3:before {
  content: ""; }

.icon-th-large:before {
  content: ""; }

.icon-th-list:before {
  content: ""; }

.icon-th-menu:before {
  content: ""; }

.icon-th-small:before {
  content: ""; }

.icon-triangle-down:before {
  content: ""; }

.icon-triangle-left:before {
  content: ""; }

.icon-triangle-right:before {
  content: ""; }

.icon-triangle-up:before {
  content: ""; }

.icon-typing:before {
  content: ""; }

.icon-unread:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-zoomlens:before {
  content: ""; }

.icon-trash-o:before {
  content: ""; }

.icon-add_circle:before {
  content: ""; }

.icon-remove_circle:before {
  content: ""; }

.icon-check-square:before {
  content: ""; }

.icon-expand:before {
  content: ""; }

.icon-collapse:before {
  content: ""; }

.icon-cashmall_icon:before {
  content: ""; }

.icon-credit-card:before {
  content: ""; }

.icon-home2:before {
  content: ""; }

.icon-paper:before {
  content: ""; }

.icon-cart:before {
  content: ""; }

.icon-arrow_upward:before {
  content: ""; }

body,
pre,
button,
input,
select,
textarea {
  font-family: '맑은 고딕','malgun gothic','나눔고딕',nanumgothic;
  font-size: 100%;
  letter-spacing: -.08em; }

/* reset */
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 12px;
  color: #333;
  letter-spacing: -1px; }

h1, h2, h3, h4, h5, h6, div, p, ul, ol, li, dl, dt, dd, input, textarea, pre, code, form, fieldset, blockquote, th, td, select, button, code {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

li {
  vertical-align: top; }

img {
  vertical-align: middle; }

img,
fieldset {
  border: 0 none; }

em,
address {
  font-style: normal; }

input[type=radio],
input[type=checkbox] {
  width: 13px;
  height: 13px;
  vertical-align: middle; }

option {
  padding-right: 6px; }

button,
label {
  cursor: pointer; }

input,
select {
  margin: 0;
  padding: 0; }

button[disabled=disabled] {
  cursor: pointer;
  outline: none; }

legend span,
caption span {
  visibility: hidden;
  overflow: hidden;
  position: absolute; }

table,
tr,
td {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0; }

a, a:active, a:hover {
  color: inherit;
  text-decoration: none; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

strong {
  font-weight: bold; }

hr {
  height: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

pre {
  white-space: pre-wrap; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

button,
input,
textarea {
  line-height: normal;
  outline: 0 none !important; }

button,
select {
  text-transform: none; }

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

input[type=button] {
  overflow: visible;
  border-radius: 0;
  box-sizing: content-box; }

[lang=en] {
  letter-spacing: 0; }

#wrap {
  min-width: 950px; }

.blind {
  display: none; }

.visible {
  visibility: hidden; }

.ir {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  width: 1%;
  height: 1%;
  margin: 0;
  padding: 0;
  font-size: 1%;
  line-height: 1%; }

/* mark */
.mark-event {
  color: #f47300;
  display: inline-block;
  min-width: 45px;
  height: 15px;
  padding: 1px 5px 0;
  border: 1px solid #f47300;
  font-family: "돋움", Dotum;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 15px; }
  .mark-event a {
    color: #f47300; }

.mark-hotdeal {
  color: #db00f5;
  display: inline-block;
  min-width: 45px;
  height: 15px;
  padding: 1px 5px 0;
  border: 1px solid #db00f5;
  font-family: "돋움", Dotum;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 15px; }
  .mark-hotdeal a {
    color: #db00f5; }

.mark-std {
  color: #fff;
  background: #f34522;
  border-radius: 9px;
  display: inline-block;
  min-width: 45px;
  height: 15px;
  padding: 1px 5px 0;
  border: 1px solid #f34522;
  font-family: "돋움", Dotum;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 15px; }
  .mark-std a {
    color: #f34522; }

.mark-power,
.mark-new {
  display: block;
  width: 60px;
  height: 17px;
  font-size: 11px;
  color: #fff;
  background: url("https://img.happyshopping.kr/img_static/img_pres/_v3/sprite_1.png") no-repeat;
  line-height: 17px;
  box-sizing: border-box; }

.mark-power {
  padding-left: 8px;
  background-position: -744px 0; }

.mark-new {
  padding-left: 12px;
  background-position: -744px -30px; }

/* 메세지 */
.alert-msg {
  display: block;
  height: 33px;
  color: #418ded;
  line-height: 33px; }
  .alert-msg.fail {
    color: #f34522; }

.fail + .alert-msg {
  color: #f34522; }

.fail .alert-msg {
  color: #f34522; }

/* paging */
.paging-number {
  position: relative;
  height: 30px;
  padding: 0 35px;
  font-size: 0; }
  .paging-number .paging-number_cnt {
    display: inline-block;
    height: 30px;
    font-size: 18px;
    line-height: 28px;
    vertical-align: middle;
    letter-spacing: 0; }
  .paging-number button {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #418ded;
    color: #999;
    font-size: 15px;
    background: #fff; }
    .paging-number button.btn-prev {
      left: 0; }
      .paging-number button.btn-prev:before {
        font-family: 'ppingkr_v4' !important;
        speak: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: ""; }
    .paging-number button.btn-next {
      right: 0; }
      .paging-number button.btn-next:before {
        font-family: 'ppingkr_v4' !important;
        speak: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: ""; }
    .paging-number button:hover {
      color: #418ded; }

.paging-circle {
  font-size: 0;
  text-align: center; }
  .paging-circle > a,
  .paging-circle > span {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-left: 4px;
    border: 1px solid transparent;
    font-size: 14px;
    color: #666;
    background: #d3d0e1;
    line-height: 21px;
    vertical-align: middle;
    letter-spacing: 0;
    border-radius: 10.5px; }
    .paging-circle > a:first-child,
    .paging-circle > span:first-child {
      margin-left: 0; }
    .paging-circle > a:hover,
    .paging-circle > span:hover {
      border-color: #0f4f9f; }
    .paging-circle > a.active,
    .paging-circle > span.active {
      color: #fff;
      border-color: #0f4f9f;
      background: #0f4f9f; }
  .paging-circle .btn-first:before {
    font-family: 'ppingkr_v4' !important;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: ""; }
  .paging-circle .btn-prev:before {
    font-family: 'ppingkr_v4' !important;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: ""; }
  .paging-circle .btn-next:before {
    font-family: 'ppingkr_v4' !important;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: ""; }
  .paging-circle .btn-last:before {
    font-family: 'ppingkr_v4' !important;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: ""; }
  .paging-circle .btn-first,
  .paging-circle .btn-prev,
  .paging-circle .btn-next,
  .paging-circle .btn-last {
    border-color: #d3d0e1;
    background: #fff;
    line-height: 21px; }

.question-helpservice .tit-h3 {
  height: 40px;
  font-size: 16px;
  color: #666;
  line-height: 18px; }
  .question-helpservice .tit-h3 span {
    font-size: 12px; }
.question-helpservice .btn-q {
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  border: 0;
  color: #fff;
  background-color: #418ded;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .question-helpservice .btn-q:hover {
    background: #3281e4; }
.question-helpservice .question-helpservice_callnumber {
  *zoom: 1;
  margin-top: 10px;
  font-size: 0; }
  .question-helpservice .question-helpservice_callnumber:after {
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: ''; }
  .question-helpservice .question-helpservice_callnumber .callnumber {
    float: left;
    margin-right: 7px;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: 0;
    vertical-align: middle;
    letter-spacing: -1px; }
  .question-helpservice .question-helpservice_callnumber .ars {
    position: relative;
    float: left;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: -1px; }
    .question-helpservice .question-helpservice_callnumber .ars .btn-ars {
      display: block;
      width: 65px;
      height: 16px;
      margin-bottom: 2px;
      border: 1px solid #999;
      color: #666;
      background: #fff;
      text-align: center;
      line-height: 16px;
      white-space: nowrap; }
      .question-helpservice .question-helpservice_callnumber .ars .btn-ars:hover {
        border-color: #418ded;
        color: #418ded; }
    .question-helpservice .question-helpservice_callnumber .ars .btn-ars-guide {
      font-weight: bold;
      width: 67px;
      border: 0;
      background-color: #fff;
      vertical-align: middle;
      cursor: pointer;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .question-helpservice .question-helpservice_callnumber .ars .btn-ars-guide em {
        color: #ff6600; }
      .question-helpservice .question-helpservice_callnumber .ars .btn-ars-guide img {
        width: 16px;
        margin: -2px 0 0 3px;
        vertical-align: middle; }

.compare_add_service {
  margin-top: -1px;
  padding: 20px 0;
  border-top: 2px solid #333;
  *zoom: 1; }
  .compare_add_service:after {
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: ''; }
  .compare_add_service .assembly_service,
  .compare_add_service .os_service {
    float: left;
    width: 27.5%;
    padding: 10px 0 0 10px; }
    .compare_add_service .assembly_service .tit-h3,
    .compare_add_service .os_service .tit-h3 {
      margin-bottom: 5px;
      font-size: 14px; }
    .compare_add_service .assembly_service li,
    .compare_add_service .os_service li {
      position: relative;
      height: 22px;
      margin-top: 5px;
      color: #999;
      font-weight: bold;
      line-height: 22px; }
      .compare_add_service .assembly_service li:first-child,
      .compare_add_service .os_service li:first-child {
        margin-top: 0; }
      .compare_add_service .assembly_service li .btn-question-tip,
      .compare_add_service .os_service li .btn-question-tip {
        margin: -3px 0 0 5px;
        width: 16px;
        height: 16px;
        border: 0;
        background-color: transparent;
        vertical-align: middle;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .compare_add_service .assembly_service li .btn-question-tip img,
        .compare_add_service .os_service li .btn-question-tip img {
          width: 16px;
          vertical-align: top; }
      .compare_add_service .assembly_service li .btn-add,
      .compare_add_service .os_service li .btn-add {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -11px;
        font-weight: bold;
        letter-spacing: 0;
        width: 95px;
        height: 22px;
        border: 1px solid #ccc;
        color: #333;
        background-color: #fff;
        vertical-align: middle;
        cursor: pointer;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .compare_add_service .assembly_service li .btn-add i,
        .compare_add_service .os_service li .btn-add i {
          display: inline-block;
          width: 18px;
          height: 20px;
          vertical-align: top;
          line-height: 20px; }
          .compare_add_service .assembly_service li .btn-add i:before,
          .compare_add_service .os_service li .btn-add i:before {
            font-size: 18px;
            color: #c0c0c0; }
        .compare_add_service .assembly_service li .btn-add:hover,
        .compare_add_service .os_service li .btn-add:hover {
          border-color: #418ded; }
          .compare_add_service .assembly_service li .btn-add:hover i:before,
          .compare_add_service .os_service li .btn-add:hover i:before {
            color: #418ded; }
        .compare_add_service .assembly_service li .btn-add.active,
        .compare_add_service .os_service li .btn-add.active {
          border-color: #418ded;
          color: #fff;
          background: #418ded; }
          .compare_add_service .assembly_service li .btn-add.active i:before,
          .compare_add_service .os_service li .btn-add.active i:before {
            color: #fff; }
        .compare_add_service .assembly_service li .btn-add span,
        .compare_add_service .os_service li .btn-add span {
          display: inline-block;
          height: 20px;
          width: 54px;
          text-align: right;
          vertical-align: top;
          line-height: 20px; }
  .compare_add_service .os_service {
    margin-left: 30px;
    border-left: 1px solid #e8e7ea; }
    .compare_add_service .os_service p {
      margin-top: 5px;
      font-size: 11px;
      color: #999;
      line-height: 22px; }
  .compare_add_service .tip {
    float: right;
    width: 33%;
    padding: 15px 20px;
    border: 1px solid #ccc; }
    .compare_add_service .tip ol {
      margin-bottom: 6px; }
    .compare_add_service .tip li {
      position: relative;
      margin-top: 5px;
      padding-left: 25px;
      color: #999;
      line-height: 18px; }
      .compare_add_service .tip li:before {
        position: absolute;
        left: 0;
        top: 1px;
        width: 18px;
        height: 18px;
        border-radius: 9px;
        font-size: 11px;
        color: #fff;
        font-weight: bold;
        background: #c6c6c6;
        line-height: 18px;
        text-align: center; }
      .compare_add_service .tip li:first-child:before {
        content: "1"; }
      .compare_add_service .tip li:nth-child(2):before {
        content: "2"; }
      .compare_add_service .tip li span {
        color: #333; }
    .compare_add_service .tip .btn-powerseller {
      margin-left: 25px;
      color: #418ded; }
