@charset "utf-8";

/* common */
#main, #sub {
    background: #e6e8eb;
}
.layout #main, .layout #sub {
    background: #ffffff;
}
/*h*/
.headingBox h3 {
	background: url('/images/common/mngs/ico_tit_pot_off.png') 0 3px no-repeat;
}
.headingBox h3.active {
	background: url('/images/common/mngs/ico_tit_pot_on.png') 0 3px no-repeat;
}
h5 {
	border: solid #a6a6a6;
	border-width: 1px 1px 0 1px;
	background: #fff;
}

/*text*/
.error {
	color: #b94a48;
}
.warning {
	color: #c09853;
}
.success {
	color: #468847;
}
em.title {
	color: #468847;
}

.btnSearch, .btnReset, .btnBasic {
	border: 1px solid #bbb;
	color: #384452;
	background-color: #e7e7e7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e7e7e7', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #fefefe, #e7e7e7);
    background-image: -o-linear-gradient(top, #fefefe, #e7e7e7);
    background-image: -moz-linear-gradient(top, #fefefe, #e7e7e7);
	background-image: linear-gradient(to bottom, #fefefe, #e7e7e7);
}
.btnSearch:hover, .btnReset:hover, .btnBasic:hover {
	border: 1px solid #adadad;
	color: #384452;
	background-color: #e6e6e6;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e6e6e6', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e6e6e6);
    background-image: -o-linear-gradient(top, #f3f3f3, #e6e6e6);
    background-image: -moz-linear-gradient(top, #f3f3f3, #e6e6e6);
	background-image: linear-gradient(to bottom, #f3f3f3, #e6e6e6);
}
.btnInner { /*게시판 안에 들어가는 버튼*/
	height: 24px;
	padding: 0 8px;
	border: 1px solid #999999;
	color: #384452;
	font-weight: normal;
	background-color: #f7f7f7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f7f7f7', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f7f7f7));
    background-image: -webkit-linear-gradient(top, #fefefe, #f7f7f7);
    background-image: -o-linear-gradient(top, #fefefe, #f7f7f7);
    background-image: -moz-linear-gradient(top, #fefefe, #f7f7f7);
	background-image: linear-gradient(to bottom, #fefefe, #f7f7f7);
}
button.ash, .btnRegister, .btnView {
	border: 1px solid #999999;
	color: #384452; 
	background-color: #f9f9f9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f9f9f9', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #fefefe, #f9f9f9);
    background-image: -o-linear-gradient(top, #fefefe, #f9f9f9);
    background-image: -moz-linear-gradient(top, #fefefe, #f9f9f9);
	background-image: linear-gradient(to bottom, #fefefe, #f9f9f9);
}
button.ash:hover, .btnRegister:hover, .btnView:hover,
button.ash:focus, .btnRegister:focus, .btnView:focus {
	border: 1px solid #666666;
	background-color: #ececec;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ececec', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #ececec);
    background-image: -o-linear-gradient(top, #f2f2f2, #ececec);
    background-image: -moz-linear-gradient(top, #f2f2f2, #ececec);
	background-image: linear-gradient(to bottom, #f2f2f2, #ececec);
}
button.gray, .popup > .contentsWrap .btnClose {
	border: 1px solid #636363;
	color: #fff;
	background-color: #7d7d7d;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#919191', endColorstr='#7d7d7d', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#919191), to(#7d7d7d));
    background-image: -webkit-linear-gradient(top, #919191, #f9f9f9);
    background-image: -o-linear-gradient(top, #919191, #7d7d7d);
    background-image: -moz-linear-gradient(top, #919191, #7d7d7d);
	background-image: linear-gradient(to bottom, #919191, #7d7d7d);
}
button.gray:hover, .popup > .contentsWrap .btnClose:hover,
button.gray:focus, .popup > .contentsWrap .btnClose:focus {
	border: 1px solid #4e4e4e;
	background-color: #656565;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#858585', endColorstr='#656565', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#858585), to(#656565));
    background-image: -webkit-linear-gradient(top, #858585, #656565);
    background-image: -o-linear-gradient(top, #858585, #656565);
    background-image: -moz-linear-gradient(top, #858585, #656565);
	background-image: linear-gradient(to bottom, #858585, #656565);
}
button.navy {
	border: 1px solid #222a34;
	color: #fff;
	background-color: #2d3744;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c5865', endColorstr='#2d3744', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4c5865), to(#2d3744));
    background-image: -webkit-linear-gradient(top, #4c5865, #2d3744);
    background-image: -o-linear-gradient(top, #4c5865, #2d3744);
    background-image: -moz-linear-gradient(top, #4c5865, #2d3744);
	background-image: linear-gradient(to bottom, #4c5865, #2d3744);
}
button.navy:hover
button.navy:focus{
	border: 1px solid #161d25;
	background-color: #1d2530;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333f4c', endColorstr='#1d2530', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333f4c), to(#1d2530));
    background-image: -webkit-linear-gradient(top, #333f4c, #1d2530);
    background-image: -o-linear-gradient(top, #333f4c, #1d2530);
    background-image: -moz-linear-gradient(top, #333f4c, #1d2530);
	background-image: linear-gradient(to bottom, #333f4c, #1d2530);
}
button.blue {
	border: 1px solid #475d83;
	color: #fff;
	background-color: #5c79aa;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e98c1', endColorstr='#5c79aa', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7e98c1), to(#5c79aa));
    background-image: -webkit-linear-gradient(top, #7e98c1, #5c79aa);
    background-image: -o-linear-gradient(top, #7e98c1, #5c79aa);
    background-image: -moz-linear-gradient(top, #7e98c1, #5c79aa);
	background-image: linear-gradient(to bottom, #7e98c1, #5c79aa);
}
button.blue:hover,
button.blue:focus {
	border: 1px solid #324a7b;
	background-color: #466297;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6582b1', endColorstr='#466297', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6582b1), to(#466297));
    background-image: -webkit-linear-gradient(top, #6582b1, #466297);
    background-image: -o-linear-gradient(top, #6582b1, #466297);
    background-image: -moz-linear-gradient(top, #6582b1, #466297);
	background-image: linear-gradient(to bottom, #6582b1, #466297);
}
button.sky {
	border: 1px solid #4182b6;
	color: #fff;
	background-color: #54a9eb;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76c0f2', endColorstr='#54a9eb', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#76c0f2), to(#54a9eb));
    background-image: -webkit-linear-gradient(top, #76c0f2, #54a9eb);
    background-image: -o-linear-gradient(top, #76c0f2, #54a9eb);
    background-image: -moz-linear-gradient(top, #76c0f2, #54a9eb);
	background-image: linear-gradient(to bottom, #76c0f2, #54a9eb);
}
button.sky:hover,
button.sky:focus {
	border: 1px solid #3074b2;
	background-color: #3e96e6;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5db0ed', endColorstr='#3e96e6', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5db0ed), to(#3e96e6));
    background-image: -webkit-linear-gradient(top, #5db0ed, #3e96e6);
    background-image: -o-linear-gradient(top, #5db0ed, #3e96e6);
    background-image: -moz-linear-gradient(top, #5db0ed, #3e96e6);
	background-image: linear-gradient(to bottom, #5db0ed, #3e96e6);
}
button.green {
	border: 1px solid #108078;
	color: #fff;
	background-color: #16a69d;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2cbeb7', endColorstr='#16a69d', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2cbeb7), to(#16a69d));
    background-image: -webkit-linear-gradient(top, #2cbeb7, #16a69d);
    background-image: -o-linear-gradient(top, #2cbeb7, #16a69d);
    background-image: -moz-linear-gradient(top, #2cbeb7, #16a69d);
	background-image: linear-gradient(to bottom, #2cbeb7, #16a69d);
}
button.green:hover,
button.green:focus {
	border: 1px solid #097269;
	background-color: #0d9389;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19aea5', endColorstr='#0d9389', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#19aea5), to(#0d9389));
    background-image: -webkit-linear-gradient(top, #19aea5, #0d9389);
    background-image: -o-linear-gradient(top, #19aea5, #0d9389);
    background-image: -moz-linear-gradient(top, #19aea5, #0d9389);
	background-image: linear-gradient(to bottom, #19aea5, #0d9389);
}
button.olive {
	border: 1px solid #5f8a34;
	color: #fff;
	background-color: #7cb443;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc964', endColorstr='#7cb443', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9bc964), to(#7cb443));
    background-image: -webkit-linear-gradient(top, #9bc964, #7cb443);
    background-image: -o-linear-gradient(top, #9bc964, #7cb443);
    background-image: -moz-linear-gradient(top, #9bc964, #7cb443);
	background-image: linear-gradient(to bottom, #9bc964, #7cb443);
}
button.olive:hover,
button.olive:focus {
	border: 1px solid #4e7e25;
	background-color: #65a32f;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85bb4b', endColorstr='#65a32f', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#85bb4b), to(#65a32f));
    background-image: -webkit-linear-gradient(top, #85bb4b, #65a32f);
    background-image: -o-linear-gradient(top, #85bb4b, #65a32f);
    background-image: -moz-linear-gradient(top, #85bb4b, #65a32f);
	background-image: linear-gradient(to bottom, #85bb4b, #65a32f);
}
button.yellow {
	border: 1px solid #c0721a;
	color: #fff;
	background-color: #f99521;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb03d', endColorstr='#f99521', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb03d), to(#f99521));
    background-image: -webkit-linear-gradient(top, #fbb03d, #f99521);
    background-image: -o-linear-gradient(top, #fbb03d, #f99521);
    background-image: -moz-linear-gradient(top, #fbb03d, #f99521);
	background-image: linear-gradient(to bottom, #fbb03d, #f99521);
}
button.yellow:hover,
button.yellow:focus {
	border: 1px solid #bf620f;
	background-color: #f78014;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f99e26', endColorstr='#f78014', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f99e26), to(#f78014));
    background-image: -webkit-linear-gradient(top, #f99e26, #f78014);
    background-image: -o-linear-gradient(top, #f99e26, #f78014);
    background-image: -moz-linear-gradient(top, #f99e26, #f78014);
	background-image: linear-gradient(to bottom, #f99e26, #f78014);
}
button.scarlet {
	border: 1px solid #9e2e2a;
	color: #fff;
	background-color: #cb3c37;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#da5c58', endColorstr='#cb3c37', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#da5c58), to(#cb3c37));
    background-image: -webkit-linear-gradient(top, #da5c58, #cb3c37);
    background-image: -o-linear-gradient(top, #da5c58, #cb3c37);
    background-image: -moz-linear-gradient(top, #da5c58, #cb3c37);
	background-image: linear-gradient(to bottom, #da5c58, #cb3c37);
}
button.scarlet:hover,
button.scarlet:focus {
	border: 1px solid #93201d;
	background-color: #be2925;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0433f', endColorstr='#be2925', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d0433f), to(#be2925));
    background-image: -webkit-linear-gradient(top, #d0433f, #be2925);
    background-image: -o-linear-gradient(top, #d0433f, #be2925);
    background-image: -moz-linear-gradient(top, #d0433f, #be2925);
	background-image: linear-gradient(to bottom, #d0433f, #be2925);
}
button.purple {
	border: 1px solid #694980;
	color: #fff;
	background-color: #8860a6;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a681be', endColorstr='#8860a6', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a681be), to(#8860a6));
    background-image: -webkit-linear-gradient(top, #a681be, #8860a6);
    background-image: -o-linear-gradient(top, #a681be, #8860a6);
    background-image: -moz-linear-gradient(top, #a681be, #8860a6);
	background-image: linear-gradient(to bottom, #a681be, #8860a6);
}
button.purple:hover,
button.purple:focus {
	border: 1px solid #583972;
	background-color: #724993;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9169ae', endColorstr='#724993', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9169ae), to(#724993));
    background-image: -webkit-linear-gradient(top, #9169ae, #724993);
    background-image: -o-linear-gradient(top, #9169ae, #724993);
    background-image: -moz-linear-gradient(top, #9169ae, #724993);
	background-image: linear-gradient(to bottom, #9169ae, #724993);
}

 /*icon*/
.icon {
	color: #fff; 	
}
.icon.purple { /*on/사*/		 
	background: #9870b4;
}
.icon.green {/*on/비*/	 
	background: #1cb4ab;
}
.icon.olive {/*off/사*/
 
	background: #8cc051  ;
}
.icon.scarlet { /*off/비 */
	background: #d44944;
}
.icon.coupone {
	border:solid 1px #efa759; 
	color:#ea8921; 
	background:#fdf3e8;
}
/* 설문결과 */
.surveyResult {
	margin-bottom: 20px;
	border: 1px solid #bbbbbb;
	background: #fff;
}
.surveyResult table th, .surveyResult table td {
	border: 1px solid #c9c9c9;
}
.surveyResult table th, .surveyResult table td {
	border: 1px solid #c9c9c9;
}
.surveyResult td .graph {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.surveyResult td .graph>span {
	background-color: #3e96e6;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5db0ed', endColorstr='#3e96e6', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5db0ed), to(#3e96e6));
    background-image: -webkit-linear-gradient(top, #5db0ed, #3e96e6);
    background-image: -o-linear-gradient(top, #5db0ed, #3e96e6);
    background-image: -moz-linear-gradient(top, #5db0ed, #3e96e6);
    background-image: linear-gradient(to bottom, #5db0ed, #3e96e6);
}

/* box */
.boxLeft {
	border-right: 1px dashed #ccc;
}
.boxRight {
	border-left: 1px dashed #ccc;
}
.box .tree {
	border: 1px solid #bbb;
}

/*text*/
.info {
	color: #666666;
}
.import {
    color: #e60013;
    padding: 0 3px;
}

/* popup */
.popup {
	background: #e6e8eb;
}
.popup > strong.title {
	color: #ffffff;
    background: #2f4157;
}
.popup > .btnClose {
	background: transparent url('/images/common/mngs/btn_popup_close.png') center center no-repeat;
}

/* tab */
.tab {
	border-bottom: 1px solid #a6a6a6;
}
.tab li {
	border: solid #a6a6a6;
	border-width: 1px 1px 0px 0px;
	background-color: #ededed;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ededed', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#ededed));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #ededed);
    background-image: -o-linear-gradient(top, #f7f7f7, #ededed);
    background-image: linear-gradient(to bottom, #f7f7f7, #ededed);
    background-image: -moz-linear-gradient(top, #f7f7f7, #ededed);	
}
.tab li:first-child {
	border-width: 1px 1px 0px 1px;
}
.tab li.active {
	background: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}
.tab li:hover,
.tab li:focus {
	background-color: #eeeeee;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #eeeeee, #eeeeee);
    background-image: -o-linear-gradient(top, #eeeeee, #eeeeee);
    background-image: linear-gradient(to bottom, #eeeeee, #eeeeee);
    background-image: -moz-linear-gradient(top, #eeeeee, #eeeeee);	
}
.tab li:hover a,
.tab li:focus a {
	color: #333;
}
.tab li a {
	color: #999;
}
.tab li.active a {
	color: #b94a48;
}
.tab li.active:hover,
.tab li.active:focus {
	background-color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);	
}
.tab li.active:hover a,
.tab li.active:focus a {
	color: #b94a48;
}

/* board */
th, td {
	border-left: 1px solid;
	border-top: 1px solid;
	border-color: #bbbbbb;
}
th {
	color: #666666;
	text-shadow: 0 1px 0 #ffffff;
}
.boardList, .boardView, .boardWrite {
	border: solid 1px #a6a6a6;
	background: #ffffff;
}
.boardList .ui-widget-content, .boardView .ui-widget-content, .boardWrite .ui-widget-content {
	border: none;
}
.boardList th {
	border-top: none;
	background-color: #f3f3f3; 
	-webkit-box-shadow: inset 0 0 0 1px #ffffff;
	-moz-box-shadow: inset 0 0 0 1px #ffffff;
	box-shadow: inset 0 0 0 1px #ffffff;
}
.boardList tbody tr:nth-child(even) {
	background: #f3f3f3;	
}
.boardList th:first-child, .boardList td:first-child  {
	border-left: none;
}
.boardView tr:first-child > th, .boardView tr:first-child > td, .boardWrite tr:first-child > th, .boardWrite tr:first-child > td {
	border-top: none;
}
.boardView th {
	background-color: #f3f3f3; 	
}
.boardView th, .boardView td, .boardWrite th, .boardWrite td {
	border-color: #ddd;
}
.boardView th, .boardView td, .boardWrite th, .boardWrite td  {
	border-left: none;
	border-right: none;
}
.boardWrite th {
	background-color: #f3f3f3; 	
}
 .asterisk:after {
	color: #ff4e3d;
}

/* contents */
.location li{ /*location*/
	color:#898989;
}
.location li:first-child {
	background:url('/images/common/mngs/icon_home.png') 0 2px no-repeat;
}

.headingBox h3.active+.description { /*title*/
	color: #666666;
}

.searchBox { /*searchBox*/
    border: 1px solid #a6a6a6;
	background: #fff;
}
.searchBox .btnArea {
	border-top: 1px solid #e5e5e5;
	background: #f5f5f5;
}

.box .tree { /* box */
	background: #fff;
}

.comment { /*답글*/
	border: 1px solid #a6a6a6;
}
.comment .register {
    background: #fff;
}
.comment ul li {
	border-top: 1px solid #dddddd;
	background: #fff;
}
.comment ul li:first-child {
	border-top: none;
}
.comment ul li .date {
	color: #999999;
}
.comment ul li p {
	color: #666666;
}
/* .comment ul li.twoDepth { */
/* 	background: #fff url('/images/common/mngs/icon_recommend.gif') 30px 22px no-repeat; */
/* } */
/* .comment ul li.threeDepth { */
/* 	background: #fff url('/images/common/mngs/icon_recommend.gif') 60px 22px no-repeat; */
/* } */


/* quickTask */
.quickTask ul li {
	background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #fafafa, #ededed);
    background-image: -ms-linear-gradient(top, #fafafa, #ededed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
    background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
    background-image: -o-linear-gradient(top, #fafafa, #ededed);
    background-image: linear-gradient(top, #fafafa, #ededed);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ededed', GradientType=0);
    -webkit-box-shadow: inset 0 0 1px 1px #ffffff;
    -moz-box-shadow: inset 0 0 1px 1px #ffffff;
    box-shadow: inset 0 0 1px 1px #ffffff;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #a6a6a6;	
}
.quickTask ul li a { /* quickTask */
	text-shadow: 0 1px 0 #ffffff;
}
.quickTask ul li .badge {
	color: #fff;
}
.badge.olive {
	background: #8cc051;
}
.badge.yellow {
	background: #ffae00;
}
.badge.scarlet {
	background: #e64637;
}
.btnInclub {
	border: 1px solid #a6a6a6;	
	border-radius: 5px;
	color: #333;
	font-weight: 700;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #fafafa, #ededed);
    background-image: -ms-linear-gradient(top, #fafafa, #ededed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
    background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
    background-image: -o-linear-gradient(top, #fafafa, #ededed);
    background-image: linear-gradient(top, #fafafa, #ededed);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ededed', GradientType=0);
    -webkit-box-shadow: inset 0 0 1px 1px #ffffff;
    -moz-box-shadow: inset 0 0 1px 1px #ffffff;
    box-shadow: inset 0 0 1px 1px #ffffff;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}
#inclubCnt { 
	color: #b94a48;
}

/*popup*/
.popup .contentsWrap {
	background: #e6e8eb;
}

/* 문제 미리보기  */
.test {
	border-color: #a6a6a6;
	background: #ffffff;
}
.test dt {
    border-top-color: #e5e5e5;
}
.test dt p {
	color: #49596b;
}
.test dt p > span {
	color: #bbbbbb;
}
.test dt p > span > strong {
	color: #6c89b7;
}
.test dt p > span > span {
	color: #49596b;
}
.test dd p > span {
    color: #d44944;
}
.test dd.answer > p {
    color: #d44944;
}
.test dd.answer .explain .btnView:after, .test dd.answer .explain.active .btnView:after {
	 color: #49596b;
}
.test dd.answer .explain .content {
    background: #f5f5f5;
}




