@charset "utf-8";
#cntnr1 {
	padding: 50px 0 ;
	background: #f3f4f4;	
}
#cntnr2 {
	overflow: auto;
	margin-top: -20px;
/* 	padding: 0 0 50px 0 ; */
	background: #f3f4f4;	
}
#cntnr3 {
	width: 100%;
	padding: 50px 0;
}
#cntnr4 {
	width: 100%;
	padding: 50px 0;
	background: #f3f4f4;
	
}
#cntnr5 {
	width: 100%;
	padding: 50px 0 0 0;
}
#cntnr6 {
	width: 100%;
	padding: 0 0 50px 0;
}

.layout #main #cntnr1,
.layout #main #cntnr2,
.layout #main #cntnr3,
.layout #main #cntnr4,
.layout #main #cntnr5,
.layout #main #cntnr6 {
	margin-bottom: 15px;
}
.layout #main #cntnr2 {
	margin-top: 0;
}
.layout #main #cntnr1 .textBox {
	height: 120px !important;
}
.layout #main #cntnr2 .textBox {
	height: 406px !important;
}
.layout #main #cntnr3 .textBox {
	height: 430px !important;
}
.layout #main #cntnr4 .textBox {
	height: 430px !important;
}
.layout #main #cntnr5 .textBox {
	height: 524px !important;
}
.layout #main #cntnr6 .textBox {
	height: 100px !important;
}

.layout #footer .textBox {
	height: 200px;
}

@media screen and (max-width: 800px) {
	#cntnr1, #cntnr2, #cntnr3, #cntnr4, #cntnr5, #cntnr6 {
		width: 100%;
	}
	#cntnr1, #cntnr3, #cntnr4 {
		padding: 20px;
	}
	#cntnr2 {
		margin-top: -0px;
		padding: 0 20px 20px;	
	}
	#cntnr5 {
		padding: 20px 20px 0;
	}
	#cntnr6 {
		padding: 0 20px 20px;
	}
}