@charset "utf-8";

#header .component2 .gnbWrap .loginBox button {
	min-width: 58px;
	width: 58px;
}
#header .component2 .gnbWrap .gnb > li .twoDepth {
    border-top: 2px solid #4693db;
	top: 98px;	
}
input, input[type="text"], input[type="password"], input[type="search"], input[type="file"], input[type="number"] {
	height: 34px;
	line-height: 24px;
	padding: 4px 10px;
}
input[type="checkbox"], input[type="radio"] {
	display: inline-block;
	border: none;
}
input[type="checkbox"]+label {
	padding-left: 0px;
	background: none;
}
input[type="checkbox"]:checked+label {
	padding-left: 0px;
	background: none;
}
input[type="radio"]+label {
	padding-left: 0px;
	background: none;
}
input[type="radio"]:checked+label {
	padding-left: 0px;
	background: none;
}
.textBox+input+label {
	display: inline-block;
	margin-top: 0;
}

.webModule14 .myLearning .selectBox select {
	height: 22px;
	margin-top: 7px;
}
button {
	min-width: 40px;
}
button.inside, .popup button {
	min-width: 50px;
}
.listAttach .btnDownload, .softwareDown .btnDownload {
	min-width: 62px;
}
.textBox .btnDelivery {
	min-width: 58px;
}
.feed .btnCommentWrite {
	min-width: 60px;
}
.inclub .btnArea button {
	min-width: 50px;
}


.toolBar .btnArea .btnRegister {
	    background: #ffffff url('/images/template2/resp/blue/button/ie8_btn_toolbar_register.png') 10px center no-repeat;
}
.toolBar .btnArea .btnRegister.disable {
	    background: #ffffff url('/images/template2/resp/blue/button/ie8_btn_toolbar_register_disable.png') 10px center no-repeat;
}
.icon.pc {
	background: url('/images/template3/resp/default/usr/ie8_icon_pc.png') center center no-repeat;
}
.icon.mobile {
	background: url('/images/template3/resp/default/usr/ie8_icon_mobile.png') center center no-repeat;
}
.icon.tablet {
	background: url('/images/template3/resp/default/usr/ie8_icon_tablet.png') center center no-repeat;
}

#sub .myLearning > ul > li+li {
	margin-left: 20px;
}
#sub .myLearning > ul > li+li+li {
	margin-left: 0;
}
#sub .myLearning > ul > li+li+li+li {
	margin-left: 20px;
}
#sub .myLearning > ul > li+li+li+li+li {
	margin-left: 0;
}
#sub .myLearning > ul > li+li+li+li+li+li {
	margin-left: 20px; 
}
#sub .myLearning > ul > li .content .textBox button {
	line-height: 16px;
}
.btnCertificate {
	min-width: 76px;
}
.thumbnList .btnArea button.btnBook {
	min-width: 56px;
}

.courseView .content .lecture .profileImg {
	background: url('/images/template2/resp/default/usr/ie8_bg_default_profile_110.png') center center no-repeat;
}
.courseView .content .lecture .profileImg .profileBg {
    background: url('/images/template2/resp/default/usr/ie8_bg_profile_110.png') 0 0 no-repeat;
}
.feed li .view li .profileImg {
	background: url('/images/template2/resp/default/usr/ie8_bg_default_profile_60.png') center center no-repeat;
}
.feed li .view li .profileImg .profileBg {
	background: url('/images/template2/resp/default/usr/ie8_bg_profile_60.png') 0 0 no-repeat;
}
.lecture .imgBox, .review .imgBox {
	background: none;
}
.thumbnList.type2 li > div.period.type2 {
	width: 210px;
}
#sub .thinking .title, .popup .review .title {
	min-height: 0;
}


.softwareDown li:first-child,
.softwareDown li+li+li+li+li {
	margin-left: 0;
}
.softwareDown li+li+li+li+li+li {
	margin-left: 20px;
}

.faq li span {
	background: url('/images/template2/resp/default/usr/ie8_icon_question.png') 0 0 no-repeat;
}
.faq li .content > span {
	background: url('/images/template2/resp/default/usr/ie8_icon_answer.png') 0 0 no-repeat;
}

.popup .textBox+input+label {
    display: inline-block;
    vertical-align: middle;
}

.popup.notice h3:before,
.popup.notice h3:after {
	position: absolute;
	top: 0;
	content: " ";
	display: block;
	width: 25px;
	height: 40px;
}
.popup.notice h3:before {
	left: 0;
	background: #9fc7e3 url('/images/template2/resp/default/usr/bg_ie8_popup_notice_h3_left.png') 0 0 no-repeat;
}
.popup.notice h3:after {
	right: 0;
	background: #9fc7e3 url('/images/template2/resp/default/usr/bg_ie8_popup_notice_h3_right.png') 0 0 no-repeat;
}

