@charset "utf-8";

.mobileView {
	display: none;
}

/* findIdPw */
.boardWrite.findIdpw table th, .boardWrite.findIdpw table td {
	height: 34px;
	padding: 5px 10px;
}
.boardWrite.findIdpw > p {
	margin-bottom: 24px;
	padding: 0 20px;
}
.boardWrite.findIdpw span.error {
	display: inline-block;
}
.boardWrite.findIdpw .info {
	margin-top: 35px;
	padding: 40px;
	text-align: center;
}
.boardWrite.findIdpw .info>p>span {
	display: block;
	margin-bottom: 30px;
}
.findIdpw .btnPwFind {
	margin-left: 6px;
}
.boardWrite.findIdpw {
	padding-top: 20px;
}
.boardWrite.findIdpw table th {
	padding-left: 22px;
}

/* 나의 홈 */
#sub .myLearning>.title {
	padding: 0 20px 0 0px;
	line-height: 44px;
}
#sub .myLearning>.title .selectBox select {
	top: -6px;	
}
#sub .myLearning>.title .icon {
	display: inline-block;
	width: 14px;
	height: 12px;
	margin-right: 4px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	vertical-align: middle;
}
#sub .myLearning>.title strong {
	display: inline-block;
	font-size: 1.15em;
	margin-right: 15px;
}
#sub .myLearning .state {
	overflow: auto;
	padding: 30px 20px 20px 20px;
}
#sub .myLearning .state ul {
	overflow: hidden;
	margin-bottom: 15px;
}
#sub .myLearning .state li {
	float: left;
	padding: 15px 0;
	text-align: center;
}
#sub .myLearning .state ul li {
	width: 25%;
}
#sub .myLearning .state ul+ul li {
	width: 33.33%;
}
#sub .myLearning .state li .nember {
	line-height: 36px;
	margin-bottom: 8px;
	font-size: 1.69em; /* 22/13 */
	font-weight: 700;
}
#sub .myLearning .state li .nember + div {
	line-height: 24px;
	font-size: 1em;
	font-weight: 700;
}
#sub .myLearning .state li .nember + div:before {
	content: " ";
	display: inline-block;
	margin-right: 8px;
	height: 24px;
	vertical-align: top;
}
#sub .myLearning .state li.register .nember + div:before {
	width: 15px;
}
#sub .myLearning .state li.standby .nember + div:before {
	width: 10px;
}
#sub .myLearning .state li.cancel .nember + div:before {
	width: 18px;
}
#sub .myLearning .state li.progress .nember + div:before {
	width: 17px;
}
#sub .myLearning .state li.complete .nember + div:before {
	width: 16px;
}
#sub .myLearning .state li.incomplete .nember + div:before {
	width: 13px;
}
#sub .myLearning .state li.register .nember + div {
	width: auto;
}
#sub .myLearning .graph {
	padding: 0 30px;
	text-align: center;
}
#sub .myLearning .legend {
	overflow: auto;
	padding: 30px;
}
#sub .myLearning .legend li {
	float: left;
	margin-left: 25px;
	line-height: 1;
	font-weight: 700;
}
#sub .myLearning .legend li:first-child {
	margin-left: 0;
}
#sub .myLearning .legend li span {
	display: inline-block;
	vertical-align: top;
	font-weight: 700;
}
#sub .myLearning .legend li .book, 
#sub .myLearning .legend li .smart,
#sub .myLearning .legend li .elearning {
	width: 13px;
	height: 13px;
	margin-right: 10px;
}
#sub .customer {
	overflow: auto;
	margin: 30px 0;
}
#sub .customer li {
	float: left;
	width: 357px;
	height: 128px;
}
#sub .customer li > div {
	width: 100%;
	height: 100%;
	padding: 25px 0 15px 115px;
}
#sub .customer li > div > p.time {
	display: inline-block;
	margin-right: 5px;
	letter-spacing: -0.5px;
}
#sub .customer li > div > p.time+p.time {
	margin-right: 0px;
}
#sub .customer li.remote {
	margin-left: 11px;
}
#sub .customer li.remote a {
	position: relative;
	display: block;
	height: 100%;
	padding: 26px 60px 0 125px;
}
#sub .customer li.remote a:before {
	content: " ";
	position: absolute;
	top: 50%;
	right: 25px;
	display: block;
	margin-top: -8px;
	width: 10px;
	height: 17px;
	background: url('/images/template5/resp/default/button/btn_remote.png') 0 0 no-repeat;
}
#sub .customer li p {
	line-height: 20px;
	font-weight: 700;
}
#sub .customer li p span {
	vertical-align: top;
	font-weight: 400;
}
#sub .customer li p span.email {
	display: block;
	margin-left: 60px;
	padding-left: 23px;
}
#sub .customer li p span.email a {
	vertical-align: top;
}
#sub .customer li .title {
	line-height: 31px;
	margin-bottom: 5px;
	font-size: 1.54em; /* 20/13 */
}
#sub .myLearning {
	overflow: auto;
}
#sub .myLearning>ul>li {
	float: left;
	overflow: hidden;
	width: 357px;
	height: 258px;
	margin-bottom: 10px;
}
#sub .myLearning>ul>li:nth-child(2n) {
	margin-left: 11px;
}
#sub .myLearning>ul>li>.title {
	position: relative;
	padding: 0 20px;
	line-height: 43px;
	font-size: 1.15em;
	font-weight: 700;
}
#sub .myLearning>ul>li>.title>span {
	vertical-align: top;
}
#sub .myLearning>ul>li>.title .btnMore {
	position: absolute;
	top: 12px;
	right: 17px;
	width: 20px;
	height: 20px;
	font-size: 0;
}
#sub .myLearning>ul>li>.noData {
	padding-top: 120px;
	text-align: center;
	font-weight: 700;
}
#sub .myLearning>ul>li>.content {
	position: relative;
}
#sub .myLearning>ul>li>.content .textBox {
	position: relative;
	height: 107px;
	padding: 20px 126px 15px 25px;
}
#sub .myLearning>ul>li>.content .textBox .iconBox {
	margin-bottom: 6px;
}
#sub .myLearning>ul>li>.content .textBox .title {
	display: block;
	overflow: hidden;
	height: 22px;
	line-height: 22px;
	font-size: 15px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#sub .myLearning>ul>li>.content .textBox .title:hover {
	text-decoration: underline;
}
#sub .myLearning>ul>li>.content .textBox p em {
	font-weight: 400;
}
#sub .myLearning>ul>li>.content .textBox p em,
#sub .myLearning>ul>li>.content .textBox p em strong {
	vertical-align: 0px;
}
#sub .myLearning>ul>li>.content .textBox .btnClassroom, 
#sub .myLearning>ul>li>.content .textBox .btnSurvey {
	position: absolute;
	top: 27px;
	right: 25px;
	min-width: 76px;
	height: 50px;
	line-height: 18px;
	padding: 0;
	font-size: 1em;
}
#sub .myLearning>ul>li>.content .textBox .btnClassroom span, 
#sub .myLearning>ul>li>.content .textBox .btnSurvey span {
	display: block;
}
#sub .myLearning>ul>li>.content div.info {
	padding: 22px 25px;
}
#sub .myLearning>ul>li>.content div.info dt {
	float: left;
	width: 60px;
	line-height: 18px;
	font-weight: 700;
}
#sub .myLearning>ul>li>.content div.info dd {
	width: 100%;
	margin-bottom: 7px;
	padding-left: 60px;
	line-height: 18px;
}
#sub .myLearning>ul>li>.content div.info dd em {
	display: block;
	vertical-align: top;
	font-weight: 400;
}
#sub .myLearning>ul>li>.content div.info dd em strong {
	display: inline-block;
	margin-left: 4px;
	vertical-align: top;
}
#sub .myLearning>ul>li>.content div.info dd .progressRate .rate {
	position: relative;
	display: inline-block;
	width: 190px;
	height: 15px;
	vertical-align: middle;
}
#sub .myLearning>ul>li>.content div.info dd .progressRate .rate>span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 15px;
}
#sub .myLearning>ul>li>.content div.info dd .progressRate .nember {
	margin-left: 6px;
	font-weight: 700;
}
#sub .myLearning>ul>li>.content>.prev, #sub .myLearning>ul>li>.content>.next {
	position: absolute;
	top: 74px;
	width: 15px;
	height: 55px;
	font-size: 0;
}
#sub .myLearning>ul>li>.content>.prev {
	left: -1px;
}
#sub .myLearning>ul>li>.content>.next {
	right: -1px;
}
#sub .myLearning > ul > li > .content .imgBox { 
	float: left;
	width: 100px;
	height: 75px;
	margin: 15px 0 15px 25px;
}
#sub .myLearning>ul>li>.content .imgBox > img {
	width: 100%;
	height: 100%;
}
#sub .myLearning>ul>li>.content .imgBox +.textBox {
	display: inline-block;
	width: 226px;
	padding: 20px 25px 15px;
}
#sub .myLearning>ul>li>.content div.info dd a {
	display: -webkit-box;
	overflow: hidden;
	max-height: 36px;
	vertical-align: top;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
#sub .myLearning>ul>li>.content .imgBox+.textBox+.info {
	clear: both;
}
#sub .myLearning>ul>li>.content.survey .textBox .title { 
	position: relative;
	padding-left: 13px;
}
#sub .myLearning>ul>li>.content.survey .textBox .title:before {
	content: " ";
	position: absolute;
	top: 10px;
	left: 0;
	width: 3px;
	height: 3px;
}
#sub .myLearning>ul>li>.content.survey .textBox .period {
	margin-top: 3px;
	padding-left: 13px;
}

/*course*/
div.course {
	overflow: hidden;
	padding-bottom: 20px;
}
.course > .title {
	position: relative;
	margin-bottom: 20px;
	padding: 20px 20px 20px 20px;
}
.course > .title > h4 {
	margin: 10px 0px 10px 0;
	font-size: 1.69em;
	line-height: 1.2em;
}
.course > .title .location span {
    margin: 0px 5px 0 5px;
    line-height: 16px;
}
.course > .title .location span:first-child {
	margin: 0px 5px 0 0;
}
.course .share {
	position: absolute;
	right: 5px;
	bottom: 27px;
}
.course .share a {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 0;
}
.course .share a:hover:before {
	position: absolute;	
	display: inline-block;
	top: -37px;
	left: 50%;
    margin-left: -30px;	
    padding: 0 5px 0 5px;
	min-width: 45px;
	height: 26px;
	line-height: 26px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	text-align: center;
	white-space: nowrap;	
	z-index: 99;
}
.course .share a:hover:after {
	content: " ";	
	position: absolute;
	top: -11px;
	left: 50%;
	margin-left: -3px;
}
.course .share .btnSelect:hover:before {
	content: "찜하기";
}
.course .share .btnLike:hover:before {
	content: "좋아요";
}
.course .share .btnRecommend:hover:before {
	content: "추천하기";
}
.course .share a > span {
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
}
.course > .imgBox {
	float: left;
	width: 350px;
	height: 230px;
	margin-left: 20px;
	margin-bottom: 20px;	
}
.course > .imgBox > img {
	float: left;
	width: 350px;
	height: 230px;
}
.course .imgBox .scrollBox {
	display: none;
}
.course > .textBox {
	display: inline-block;
	width: 355px;
	margin: 0px 0 20px 0;
}
.course .textBox dl {
	display: block;
	margin-left: 30px;
}
.course .textBox dt {
	float: left;
    font-weight: 700;
	line-height: 28px; 
}
.course .textBox dd {
	width: 100%;
	min-height: 23px;
	margin-left: 80px;
	margin-bottom: 5px;
	padding-top: 3px;
	line-height: 20px;	
}
.course .textBox dd .selectBox {
	height: 28px;
	margin-top: -3px;
}
.course .textBox dd .selectBox select {
	margin-top: 0;
} 
.course .sns {
    clear: both;
    float: left;
    display: block;
    width: 198px;
	padding-top: 7px;
	padding-left: 70px;
	font-size: 0;
}
.course .sns a {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-right: 6px;
}
.course .sns a.kakaotalk {  
	display: none;
}
.course .sns a.band {  
	display: none;
}
.course .btnArea {
	float: right;
	width: calc(100% - 198px);
	padding-right: 20px;
}
.course .btnArea .btnPreview {
	float: left;
	width: 110px;
	height: 36px;
	line-height: 34px;
	margin-top: 7px;
	padding: 0 0 0 10px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
.course .btnArea .btnRegister {
	margin: 0 auto;
	width: 325px;
	height: 50px;
	line-height: 48px;
}
.btnRegister.disable {
	cursor: inherit;
}
.course .btnArea .btnRegister.type2 {
	width: 160px;
	padding: 0 20px;
}
.course .btnArea button p {
	font-size: 1em;
}
.course + .btnArea { /* 목록 버튼 */
	margin: 20px 0 60px 0;
}
.courseView .content {
	padding-top: 1px;
	line-height: 25px;
}
.courseView .content h5, .view h6 {
	padding-left: 22px;
	font-size: 1.54em;
}
.courseView .content h6 {
	font-size: 1.23em;
}
.courseView .content>p+p {
	margin-top: 10px;
}
.courseView .content .lecture>.info:first-child {
	display: block;
	margin-bottom: 20px;
}
.courseView .content .lecture .profileImg {
	float: left;
	width: 110px;
	height: 110px;
	vertical-align: top;
}
.courseView .content .lecture .textBox {
	display: inline-block;
	width: 615px;
	width: calc(100% - 110px);
	padding-left: 20px;
	vertical-align: top;
}
.courseView .content .lecture .textBox .name {
	font-weight: 700;
}
.courseView .content .lecture .textBox p+p {
	margin-bottom: 10px;
}
.courseView .content .lecture .textBox p>span+span:before {
	content: "|";
	padding: 0 5px 0 1px;
}
.courseView .content .lecture .textBox .btnArea {
	padding: 0;
	text-align: left;
}
.courseView .content .lecture .textBox .btnArea .btnView {
	min-width: 0;
	width: 87px;
	height: 34px;
	padding: 0;
	font-size: 1em;
	font-weight: 400;
}
div.book .box {
	position: relative;
	padding: 30px;
}
div.book .box .imgBox {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 95px;
}
div.book .box .imgBox img {
	width: 100%;
	height: 100%;
}
div.book .box .imgBox .badge {
	position: absolute;
	top: -10px;
	left: -10px;
	display: block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	font-weight: 700;
}
div.book .box .textBox {
	display: inline-block;
	padding: 0 30px 0 15px;
	vertical-align: top;
}
div.book .box .textBox .title {
	margin-bottom: 7px;
	font-size: 1.15em;
	font-weight: 700;
}
div.book .box .textBox p span {
	margin-right: 13px;
}
div.book .box .textBox p span+span:before {
	content: "|";
	padding-right: 15px;
}
div.book .box .textBox .title .btnList {
	min-width: 0;
	width: 84px;
	height: 22px;
	padding: 0;
	font-size: 0.85em; /* 13/15 */
	font-weight: 400;
}
div.book .box .textBox .title .btnList:after {
	content: ">";
	display: inline-block;
	margin-top: 2px;
	padding-left: 5px;
	vertical-align: top;
	font-size: 0.5em;
}
div.book .box .btnView {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 200px;
	height: 25px;
	padding: 0 50px;
	margin-left: -100px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: left;
	font-size: 1em;
}
.courseView .content .book+.book {
	margin-top: 30px;
}
.courseView .content .book>strong {
	display: block;
	height: 34px;
	line-height: 34px;
	padding-left: 57px;
	font-size: 1.15em;
	font-weight: 700;
}
.view {
	padding: 15px 30px 50px;
	line-height: 25px;
}
.book .view h6+p > strong {
	display: block;
	font-size: 1.15em;
}

.courseView .content ol li p.title { 
	margin-bottom: 5px;
/* 	font-size: 1.15em; */
/* 	font-weight: 700; */
}
.courseView .content ol li p.title+ol {
	margin-bottom: 30px;
}
.courseEplg li, .appraisal li {
	position: relative;
	padding: 15px 160px 15px 20px;
}
.courseEplg .noData {
	padding:15px 20px;
	text-align: center;
}
.courseEplg li p, .appraisal li p {
	position: relative;
	padding-left: 10px;
	line-height: 22px;
}
.courseEplg li p:first-child:before, .appraisal li p:first-child:before {
	content: " ";
	position: absolute;
	top: 9px;
	left: 0;
	display: block;
	width: 3px;
	height: 3px;
}
.courseEplg li .grade, .appraisal li .grade {
	position: absolute;
	top: 11px;
	right: 20px;
}
.courseEplg li p.name, .appraisal li p span {
	display: inline-block;
	margin-top: 3px;
}
.appraisal li p span+span:before {
	content: "|";
	padding: 0 12px 0 10px;
	font-size: 10px;
}
.toolBar {
	position: fixed;
    right: 10px;
    width: auto;
    bottom: 10px;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 99;
}
.toolBar .btnArea .btnRegister {
	display: inline-block;
	height: 45px;
	padding: 0 8px 0 40px;
	margin-right: -5px;
}
.toolBar .btnArea .btnRegister p {
	font-size: 0.85em;
}
.toolBar .btnArea .btnTop {
	float: right;
	min-width: 45px;
	height: 45px;
	padding: 19px 0 0 0;
	font-size: 12px;
}
.bx-pager-item {
	display: none;
}
.courseView .content .thumbnList {
	overflow: inherit;
	position: relative;
	width: 675px;
	margin: 0 auto;
}
.courseView .content .thumbnList li {
	width: 155px !important;
	margin-right: 14px;
}
.courseView .content .thumbnList li .imgBox {
	width: 100%;
	height: 100px;
}
.courseView .content .thumbnList li .imgBox img {
	width: 100%;
	height: 100px;
}
.courseView .content .thumbnList .textBox .title > span {
	display: block;
	font-size: 0.86em;
	font-weight: 400;
}
.courseView .content .thumbnList.book li {
	width: 160px !important;
	margin-right: 10px;
	text-align: center;
}
.courseView .content .thumbnList.book li .imgBox {
	width: 107px;
	height: 156px;
	margin: 0 auto;
}
.courseView .content .thumbnList.book li .imgBox img {
	width: 100%;
	height: 100%;
}
.courseView .content .thumbnList.book li .textBox {
	padding: 15px 10px 20px 10px;
}
.courseView .content .thumbnList.book li .btnArea {
	text-align: center;
}
.courseView .content .thumbnList .bx-prev, .courseView .content .thumbnList .bx-next {
	position: absolute;
	top: 50%;
	width: 25px;
	height: 134px;
	margin-top: -67px;
	font-size: 0;
}
.courseView .content .thumbnList .bx-prev {
	left: -30px;
}
.courseView .content .thumbnList .bx-next {
	right: -30px;
}
.courseView .content .thumbnList.book .bx-prev, .courseView .content .thumbnList.book .bx-next {
	top: 55px;
	margin-top: 0;
}
.courseView .content .thumbnList .bx-viewport {
	height: auto !important;
}

/* FAQ */
h4 + .faq {
	margin-top: -10px;
}
.faq li.noData {
	padding: 13px 20px;
	text-align: center;
}
.faq li a {
	position: relative;
	display: block;
	padding: 13px 38px 13px 60px;
	line-height: 25px;
}
.faq.type2 li a {
	padding-left: 20px;
}
.faq.type2 li a > strong {
	display: block;
	line-height: 19px;
}
.faq.type2 li a > span.date {
	color: #666;
	font-size: 12px;
}
.faq li.active > a {
	font-weight: 700;
}
.faq li .content {
	position: relative;
	display: none;
	padding: 13px 38px 13px 60px;
	line-height: 25px;
}
.faq.type2 li .content  {
	padding: 13px 20px;
}
.faq li.active .content {
	display: block;
}
.faq li .content > span:first-child, 
.faq li a > span:first-child {
	position: absolute;
	top: 13px;
	left: 15px;
	width: 26px;
	height: 26px;
	line-height: 26px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	font-weight: 700;
}
.radioBox > label {
	padding-right: 10px;
}
.radioBox > input[type="radio"] {
	vertical-align: -2px;
	margin-right: 3px;
}
.radioBox + .info {
    display: block;
    margin-top: 5px;
    line-height: 18px !important;
}
.profileImg {
	position: relative;
	width: 80px;
	height: 80px;
}
.profileImg img {
	width: 100%;
	height: 100%;
}
.profileBg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

ul.sort {
	float: right;
}
.sort li {
	float: left;
}
.sort li a {
	display: inline-block;
}
.sort li:before {
	content: "|";
	margin-left: 10px;
	padding-right: 8px;
	font-size: 11px;
	font-weight: 400;
}
.sort li:first-child:before {
	display: none;
}
.sort li.active a {
	padding-left: 19px;
	font-weight: 700;
}

.expand {
	position: relative;
}
.expand .btnMore {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 23px;
	height: 23px;
	padding: 0;
	font-size: 0;
}
.expand+.btnArea {
	margin-top: 30px;
}

.review>.box, .lecture>.box {
	display: table;
	width: 100%;
}
.boxGray.textBox+.review {
	margin-top: 20px;
}
.review .imgBox, .lecture .imgBox {
	display: table-cell;
	padding: 15px;
	vertical-align: top;
	text-align: center;
}
.review .imgBox img {
	width: auto;
	height: 223px;
}
.lecture .imgBox img {
	width: auto;
	height: 114px;
}
.review .boardView, .lecture .boardView {
	display: table-cell;
	width: 100%;
}
.review .btnView {
	min-width: 0;
	height: 23px;
	margin-top: 12px;
	padding: 0 15px;
	font-size: 0.92em;
}
.review .textBox {
	clear: both;
	padding: 20px;
}
.review+.btnArea {
	margin-top: 20px;
}
.popup .review .imgBox img {
	width: auto;
	height: 210px;
}
.popup .review .title {
	display: block;
	min-height: 40px;
	line-height: 24px;
	padding: 8px 20px;
	font-size: 1.15em;
	font-weight: 700;
}
.popup .lecture h5 {
	padding-left:23px;
}
.popup .lecture dt {
	margin-bottom: 5px;
	font-size: 1.15em;
	font-weight: 700;
}

/* softwareDown */
.softwareDown ul {
	overflow: auto;
}
.softwareDown li {
	float: left;
	width: 235px;
	margin-right: 10px;
	margin-bottom: 20px;
}
.softwareDown li:nth-child(3n) {
	margin-right: 0px;
}
.softwareDown li .imgBox {
	height: 150px;
	line-height: 150px;
	text-align: center;
}
.softwareDown li .imgBox img {
	width: auto;
	height: auto;
}
.softwareDown li .textBox {
	height: 190px;
	padding: 25px 20px;
}
.softwareDown li .textBox strong {
	display: block;
	line-height: 23px;
	font-size: 1.23em; /* 16/13 */
}
.softwareDown li .textBox span {
	display: block;
	margin-top: 13px;
	line-height: 22px;
}
.softwareDown li .textBox button {
	display: block;
	min-width: 0px;
	height: 23px;
	margin-top: 14px;
	margin-left: 0;
	padding: 0 25px 0 10px;
	font-size: 0.92em;
}

.textBox+input+label {
	margin-top: 30px;
}
.textBox+input+label+.boardWrite {
	margin-top: 20px;
}

/* popup */
.register { 
	position: relative;
	margin: 0 auto;
	width: 920px;
	padding-bottom: 50px;
}
.register .msgBox {
	margin-top: 20px;
}
.register h3 {
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0 115px 0 20px;
	font-size: 1.23em; /* 16/13 */
	font-weight: 700;
}
.register>.floatRight {
	margin-top: -40px;
	font-size: 0;
}
.register .floatRight .btnReset, .register .floatRight .btnClose {
	min-width: 56px;
	height: 40px;
	margin: 0;
	padding: 0;
}
.register .contentsWrap .contentsBox {
	width: 100%;
}
.register .boardList td .imgBox {
	float: left;
	overflow: hidden;
	width: 60px;
	height: 75px;
	margin-right: 10px;
}
.register .boardList td .textBox {
	float: left;
	text-align: left;
}
.register .boardList td .textBox p.title {
	margin-bottom: 4px;
	font-weight: 700;
}
.register .boardList td .textBox p+p {
	line-height: 20px;
}
.register .boardList td .textBox p span+span:before {
    content: "|";
    padding-left: 13px;
    padding-right: 15px;
}

.popup .textBox+input+label {
	display: block;
	margin-top: 20px;
}
.popup .textBox+input[type='checkbox']+label {
	display: inline-block;
	margin-top: 15px; 
}
.popup .textBox.scrollBox {
	padding: 0 20px 20px 20px;
}
.popup .btnArea {
	margin-top: 20px;
	text-align: center;
}
.popup .courseView .btnArea { /* 관리자 - 과정차수 생성 후 미리보기 팝업 */
	text-align: right;
}
.popup .btnArea+.boardList, .popup .btnArea+.boardWrite {
	margin-top: 20px;
}
.popup .question h4 {
	text-align: center;
}
.popup .question .scrollBox {
	height: 360px;
	padding: 20px;
	overflow-y: auto;
	overflow-x: hidden;
}
.popup .question .scrollBox dt {
	line-height: 25px;
	margin-top: 20px;
	margin-bottom: 5px;
	font-weight: 700;
}
.popup .question .scrollBox dt:first-child {
	margin-top: 0;
}
.popup .question .scrollBox dd {
	line-height: 30px;
	padding-left: 15px;
}
.popup .question .scrollBox dd ul.grade li label > img {
	margin-top: -3px;
}
.popup .question .imgBox {
	max-width: 100%;
	margin: 10px 0 10px 15px;
}
.popup .question .imgBox img {
	width: auto;
	max-width: 100%;
}
.popup .question .scrollBox .btnArea {
	text-align: center;
}
.popup .question .table th, .popup .question .table td {
	text-align: left;
}
.popup .question .scrollBox ul.grade li > label {
	display: inline-block;
	width: 11px;
	height: 13px;
	vertical-align: middle;
	font-size: 0;
}
.popup .question .scrollBox ul.grade li+li > label {
	width: 24px;
}
.popup .question .scrollBox ul.grade li+li+li > label {
	width: 37px;
}
.popup .question .scrollBox ul.grade li+li+li+li > label {
	width: 50px;
}
.popup .question .scrollBox ul.grade li+li+li+li+li > label {
	width: 63px;
}

.certify { 
	display: table;
	width: 100%;
}
.certify .imgBox {
	display: table-cell;
	width: 65px;
	height: 65px;
	font-size: 0;
}
.certify .textBox {
	display: table-cell;
	padding-left: 20px;
	font-size: 1.15em;
}
.certify+.btnArea {
	text-align: center;
}

.contentsBox>.imgBox+.textBox {
	margin-top: 15px;
}


/* ����� */
.textBox.scrollBox+input+label > strong > u {
	display: inline-block;
	margin-top: -3px;
}
h6 > input+label {
	margin-top: -3px;
}
.boardWrite table td .radioncheckbox > input+label {
	margin-top: -2px;
}

 /* 수료증 */
/* .popup .certificate { */
/* 	position: relative; */
/* 	width: 960px; */
/*     height: 1380px; */
/*  	border: solid 0px white; */
/* 	font-size: 1.8em; */
/* 	background: url('/images/common/home/hihrd/img_certificate.jpg') no-repeat; */
/* 	background-size: 100% 100%; */
/* } */
/* .popup .certificate .btnCertificate { */
/* 	position: absolute; */
/* 	top: 45px; */
/* 	right: 125px; */
/* 	height: 50px; */
/* } */
/* .popup .certificate dl { */
/* 	position: absolute; */
/* 	top: 26%; */
/* 	left: 14%; */
/* 	width: 70%; */
/* 	letter-spacing: 0.05em; */
/* } */
/* .popup .certificate dt { */
/* 	display: block; */
/* 	float: left; */
/* 	margin-top: 5%; */
/* } */
/* .popup .certificate dd:before { */
/* 	content: ':'; */
/* 	padding-right: 5%; */
/* } */
/* .popup .certificate dd { */
/* 	margin-left: 21%; */
/* 	margin-top: 5%; */
/* } */
/* .popup .certificate dd span { */
/* 	width: 93.32%; */
/* 	display: block; */
/* 	float: right; */
/* 	line-height: 150%; */
/* } */

.dormant .imgBox {
	display: table-cell;
	width: 65px;
	height: 65px;
	font-size: 0;
}
.dormant .textBox {
	display: table-cell;
	padding-left: 20px;
	font-size: 1.15em;
}
.dormant .textBox p {
	display: inline;
}
.dormant.info {
	margin-top: 30px;
	padding: 25px 20px 30px 20px;
	line-height: 22px;
}
.dormant.info p {
	margin-top: 5px;
}
.dormant.info strong {
	display: block;
}
.dormant.info strong:before {
	content: '* ';
}

/* 나의 일정관리 */
.dateView {
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	padding: 20px 20px 20px 20px;
}
.dateView div {
	float: left;
	display: inline-block;
}
.dateView .btnArea {
	float: right;
}
.dateView .title {
	position: absolute;
    left: 50%;
    top: 50%;
	width: 200px;
	font-size: 2.31em;
	font-weight: 700;
	text-align: center;
 	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);	
}
.calendar th {
	height: 30px;
	padding: 0 0;
}
.calendar td {
	width: 102px;
	height: 110px;
	padding: 10px 10px 10px 5px;
}
.calendar .sunday div { 
	font-weight: 700;
}
.calendar td div {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-align: right;
}
.calendar td div strong + a {
	margin-top: 10px;
}
.calendar td div a {
	display: block;
	margin-top: 5px;
	margin-right: -5px;
	padding-left: 8px;
	font-size: 0.92em;
	text-align: left;
}
.calendar td div > a:hover {
	text-decoration: underline;
}
.calendar td div .today:before {
	position: absolute;
	right: 27px;
	margin-right: 2px;
	content: 'Today';
	font-size: 0.92em;
}
.calendar td div .today {
	display: inline-block;
	width: 26px;
	height: 26px;
	margin-top: -4px;
	margin-right: -5px;
	line-height: 26px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;	
}
.calendar td div strong.today + a {
	margin-top: 4px;
}

/* datepicker */
#ui-datepicker-div {
	width: 218px;
	padding: 0;
}
.ui-datepicker-header {
	position: relative;
    height: 38px;
    margin-bottom: 0px;
    padding: 3px 5px 3px 5px;
}
.ui-datepicker .ui-datepicker-prev, 
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 7px;
	width: 24px;
	height: 24px;
	font-size: 0;
}
.ui-datepicker-header .ui-datepicker-prev {
	left: 0px;
}
.ui-datepicker-header .ui-datepicker-next {
	right: 0px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 auto !important;
    text-align: center;
    font-size: 1.07em;
}
.ui-datepicker .ui-datepicker-title select {
	width: auto !important;
    height: 30px;
    line-height: 28px;
    margin: 1px 3px !important;
	top: 0px;
}
.ui-datepicker .ui-datepicker-buttonpane {
	padding: 10px 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	min-width: auto;
	padding: 0px 15px;
}
.ui-datepicker-calendar th {
	height: 20px;
	padding: 0;
	font-size: 9px;
}
.ui-datepicker-calendar td {
	width: 30px;
	height: 30px;
	padding: 0 !important;
}
.ui-datepicker-calendar td a,
.ui-datepicker-calendar td span {
	text-align: center !important;
}
.ui-datepicker-calendar td .ui-state-default {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
}

.popup .dateView {
	width: 218px;
	height: 38px;
	margin-bottom: 0px;
	padding: 7px 5px 7px 5px;
}
.popup .dateView .title {
	width: 100px;
	font-size: 1.07em;
}
.popup .dateView a {
	float: left;
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 0;
}

/* 학습방법 */
.guide > h4 {
	margin: 0 0 15px 0;
}
.guide li {
	width: 100%;
	margin-bottom: 50px;
}
.guide li > div { 
	display: block;
	vertical-align: top;
}
.guide li > div.step {
	width: 87px;
}
.guide li > div.step > span {
	display: block;
	width: 72px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	font-size: 1.23em;
	font-weight: 700;
}
.guide li > div.imgBox {
	position: relative;
	margin-top: -22px;
}
.guide li > div.imgBox > strong {
	display: inline-block;
	margin-bottom: 15px;
	padding-left: 90px;
	line-height: 22px;
}
.guide.type2 li {
	position: relative;
	margin-bottom: 30px;
}
.guide.type2 li > div {
	display: table-cell;
}
.guide.type2 li+li:before {
	content: " ";
	position: absolute;
	top: -19px;
	left: 289px;
	display: block;
	width: 18px;
	height: 9px;
}

/* 사이트맵 */
.siteMap > ul {
	overflow: auto;
}
.siteMap > ul > li {
	float: left;
	width: 170px;
	margin-left: 15px;
}
.siteMap > ul > li:first-child {
	margin-left: 0;
}
.siteMap > ul > li > h4 {
	margin: 0 0 5px 0;
	padding-bottom: 10px;
}
.siteMap > ul > li > ul > li {
	padding: 13px 0;
	line-height: 30px;
	font-size: 1.15em;
	font-weight: 700;
}
.siteMap > ul > li > ul > li li {
	padding-left: 10px;
	line-height: 25px;
	font-size: 0.86em;
	font-weight: 400;
}

/* 팝업 설문 */
.popup .contentsWrap .contentsBox .question dl > dt {
	margin: 15px 0 5px;
}
.popup .contentsWrap .contentsBox .question dl > dd {
	padding-left: 15px;
	line-height: 22px;
}
.popup .contentsWrap .contentsBox .question dl > dd > input {
	vertical-align: middle;
}

/* 알림메시지 */
.boardWrite.push {
	margin-top: 50px;
}
/* LYW 추가 / 댓글 작성 */

.writeBox input[type="radio"] {position:absolute;top: 2px;left: 2px;width:13px;height:13px;margin:0;padding:0;border:none;margin:0;}
.writeBox input[type="radio"] + label {position:relative;z-index:3;padding: 0 0 0 20px;line-height: 16px;font-size: 14px;cursor:pointer;display:inline-block;color:#222;font-weight:400;}
.writeBox input[type="radio"] + label:before {content: ''; position: absolute; top: 0; left: 0; width:16px; height:16px; background: url("../../../images/template5/resp/default/button/btn_radio.png") no-repeat 0 0;  background: none \0/ /*ie8*/;}
.writeBox input[type="radio"]:checked + label:before {background-position:-16px 0}

.writeBox {margin:20px 0 20px; padding:20px 25px; background-color:#f5f5f5; border:1px solid #dedede;}
.open_area {position:relative; margin:0 0 10px}
.open_area .txt {font-weight:bold; position:absolute; top:5px; left:0}
.open_area > label {margin:0 0 0 15px; cursor:pointer}

.open_area .inputList { overflow:hidden; margin:-5px 0 0 60px; }
.open_area .inputList li { position:relative; float:left; margin:5px 10px 0 0; }
.write_area {position:relative; height:66px; padding:0 80px 0 0}
.write_area > textarea {height:100%; padding:0; resize:none}
.write_area > button {position:absolute; min-width:auto; width:80px; height:100%; padding:0; top:0; right:0; background-color:#225fa4; color:white; font-size:13px; font-weight:bold}


.replyBox {margin:0 0 20px; border-top:2px solid #222; border-bottom:1px solid #dedede} 
.replyBox textarea { resize:none; border:1px solid #dedede;  }
.replyBox > ul > li {position:relative; padding:20px 15px; border-top:1px solid #dedede}
.replyBox > ul > li:first-child {border-top:0}
.replyBox > ul > li .content {position:relative; margin:0 240px 0 0}
.replyBox > ul > li .content span {vertical-align:middle; margin:0 2px 0 0;}
.replyBox > ul > li .content .tool { }
.replyBox > ul > li .content .tool > ul { display: inline-block; position:relative; top:1px; vertical-align:top; }
.replyBox > ul > li .content .tool > ul > li {float:left; margin:0 2px}
.replyBox > ul > li .content .tool > ul > li a { position:relative; margin:0 2px 0 0; font-weight:bold; font-size:12px; }
.replyBox > ul > li .content .tool > ul > li a:after { content:''; position:absolute; bottom:-1px; left:0; width:100%; height:1px; background-color:#2c2c2c; }
.replyBox > ul > li .content .tool > ul > li a:hover { color:#225fa4; }
.replyBox > ul > li .content .tool > ul > li a:hover:after { background:#225fa4; }
.replyBox > ul > li .content .inputBox {margin:0 65px 0 0}
.replyBox > ul > li .content .inputBox input {width:100%; height:32px;}
.replyBox > ul > li .content .modifyBox {position:absolute; top:0; right:0}
.replyBox > ul > li .content .modifyBox ul { padding:10px 0; }
.replyBox > ul > li .content .modifyBox a {position:relative; line-height:32px; font-size:12px; font-weight:bold; margin:0 2px}
.replyBox > ul > li .content .modifyBox a:after {content:""; position:absolute; bottom:-1px; left:0; width:100%; height:1px; background-color:#2c2c2c}
.replyBox > ul > li .content .modifyBox a:hover { color:#225fa4; }
.replyBox > ul > li .content .modifyBox a:hover:after { background:#225fa4; }
.replyBox > ul > li .content .modifyBox > ul > li {float:left; margin:0 2px}

.replyBox > ul > li .dataBox {position: absolute; top: 50%; right: 15px; margin: -7px 0 0; font-size:13px; color:#919191}
.replyBox > ul > li .dataBox .name {position:relative; padding:0 15px 0 0; color:#919191;}
.replyBox > ul > li .dataBox .name:after {content:""; position:absolute; top:50%; right:0; width:1px; height:10px; margin:-3px 0 0; background:#e3e3e3}

.replyBox > ul > li .dataBox .date {margin:0 0 0 15px; color:#919191;}
.replyBox .no_data {text-align:center;  margin:10px 0; font-size:13px; color:#919191;}

.btn_more {width:100%; /* height:25px; */ padding:0; text-align:center; color:#5e5e5e; font-size:13px; background-color:white; border: 1px solid #dedede}


/* EOD : LYW 추가 / 댓글 작성  */
@media screen and (max-width: 1023px) {
	.toolBar .btnArea {
		padding: 0;
	}
	.mobileView {
		display: block;
	   	padding: 30px 20px;
	   	font-size: 1.15em;
	   	text-align: center;
	   	line-height: 25px;
	}
	.bx-controls, .dateView, .calendar {
		display: none;
	}
	.course > .title > h4 {
		padding: 0;
	}
	.course + .btnArea {
		padding: 0 20px;
	}
	.courseView .content {
		padding: 0 20px;
	}
	.courseView .content .thumbnList {
		width: 100%;
	}
	.courseView .content .thumbnList ul {
		width: 100% !important;
	}
	.courseView .content .thumbnList li {
		width: 23% !important;
		margin: 0 1%;
		margin-bottom: 2%;
	}
	.toolBar {
		bottom: 118px;
	}	
	#sub .myLearning > ul > li,
	#sub .customer li {
		width: 49%;
	}
	#sub .myLearning > ul > li:nth-child(2n),
	#sub .customer li.remote {
		margin-left: 2%;
	}
	.guide {
		padding: 30px 20px 0 20px;
	}
	.guide li > div,
	.guide.type2 li > div  {
		display: block;
		margin-bottom: 10px;
	}
	.guide li > div.imgBox {
		margin-top: 0px;
	}
	.guide li > div.imgBox > strong {
		display: block;
		padding-left: 0px;
		line-height: 18px;
	}	
	.guide.type2 li {
		margin-bottom: 15px;
	}
	.guide.type2 li+li:before {
		display: none;
	}
	.softwareDown {
		padding: 0px 20px;
	}
	.softwareDown li,
	.softwareDown li:nth-child(3n) {
		display: table;
		width: 49%;
		margin-right: 0;
	}
	.softwareDown li:nth-child(2n) {
		margin-left: 2%;
	}
	.softwareDown li > div {
		display: table-cell;
	} 
	.softwareDown li > div.imgBox {
		width: 150px;
	}
	.siteMap {
		padding: 30px 20px 0 20px;
	}
	.siteMap > ul > li {
		width: 24%;
		margin-left: 1%;
	}
	/* LYW 추가 / 댓글 작성 */

	.writeBox {margin:20px 20px}
	.replyBox {margin:0 20px 20px}
	.moreBox {margin:0 20px}
	
	/* EOD : LYW 추가 / 댓글 작성  */
}
@media screen and (max-width: 800px) {
	.softwareDown li,
	.softwareDown li:nth-child(3n) {
		width: 100%;
	}
	.softwareDown li:nth-child(2n) {
		margin-left: 0;
	}
}
@media screen and (max-width: 767px) {
	.course > .imgBox {
		display: none;
	}
	.course .sns {
		float: right;
		width: auto;
		padding: 0 20px;
		display: inline-block;
		vertical-align: top;
	}
	.course .btnArea {
		width: 100%;
		padding: 0 20px;
	}
	div.book .box .imgBox {
		display: none;
	}
	div.book .box .textBox {
		width: 100%;
		padding: 0;
	}
	.courseView .content .thumbnList li {
		width: 49% !important;
		margin: 0 2% 2% 0;
	}
	.courseView .content .thumbnList li:nth-child(2n) {
		margin: 0 0 2% 0;
	}
	.course .btnArea .btnRegister,
	.course .btnArea .btnRegister.type2 {
		width: 100%;
	    margin-top: 10px;
	}
	#sub .myLearning > ul > li,
	#sub .customer li {
		width: 100%;
	}
	#sub .myLearning > ul > li:nth-child(2n),
	#sub .customer li.remote {
		margin-left: 0%;
	}
	#sub .customer li > div {
	    padding: 25px 0 15px 125px;
	}
	.siteMap > ul > li {
		width: 100%;
		margin-left: 0;
	    margin-top: 35px;
	}
	/* LYW 추가 / 댓글 작성  */

	.replyBox > ul > li .content {margin:0}									
	.replyBox > ul > li .dataBox {position:static; margin:10px 0 0}		
	.replyBox > ul > li .dataBox .name { padding:0; display:block; }
	.replyBox > ul > li .dataBox .name:after { display:none; }
	.replyBox > ul > li .dataBox .date { margin:4px 0 0 0; display:block; }
	
	.write_area {padding:0 60px 0 0}
	.write_area > button {width:60px}

	/* EOD : LYW 추가 / 댓글 작성 */
}
@media screen and (max-width: 480px) {
	.popup .contentsBox > .certify+.btnArea > button {
		margin: 0 auto;
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 414px) {
	.lecture .imgBox {
		display: none;
	}
	.softwareDown li > div {
		display: block;
	}
	.softwareDown li > div.imgBox {
		width: 100%;
	}
}
@media screen and (max-width: 360px) {
	.courseView .content .thumbnList li {
		width: 100% !important;
		margin: 0 0 2% 0;
	}
	#sub .myLearning .state ul li {
		width: 50%;
	}
	#sub .myLearning > ul > li > .content .imgBox {
		display: none;
	}
	#sub .myLearning>ul>li>.content .imgBox +.textBox {
		width: 100%;
	}
	#sub .myLearning>ul>li>.content div.info dd .progressRate .rate {
		width: 160px;
	}
	#sub .customer li > div {
	    padding: 14px 0 15px 125px;
	}
	#sub .customer li > div > p.time {
		display: block;
	}
}

#header .componentDiv .searchMenu {display:none}
#header .componentDiv .box .searchCon {display:inline-block}
#header .componentDiv .box .search button {top:0}


@media screen and (max-width: 1023px){


#header .componentDiv .searchMenu {position: absolute;  display: inline-block; top: 0; right: 0; min-width: 48px; width: 48px; height: 50px; padding: 0; margin: 0; text-indent:-100px; overflow:hidden; background: url('../../../images/component/btn_mobile_search.png') center center no-repeat;}
#header .componentDiv .box .searchCon {display:none; background-color: #225fa4; position: absolute; top: 50px;  left: 0;  width: 100%; height: 84px; z-index:20}  
#header .componentDiv .box .searchCon.active {display:block}
#header .componentDiv .box .search {display:inline-block; width:90%; min-width:270px; margin:25px 0; height:auto}
#header .componentDiv .box .search input {width:100%; height:34px; padding-left:10px}
#header .componentDiv .box .search .searchInput {margin:0 86px 0 0}
#header .componentDiv .box .search button {min-width:80px; width:80px; height:34px; font-size:13px; color:white; background:#689dd8}
#header .componentDiv .box .zoom {display:none}
}