@charset "utf-8";

#main {
}
#main #cntnr1 { 
	padding: 20px 0 0 0;
}
#main #cntnr2 .webModule20 {	
	padding: 32px 0 0 0;
}

#main #cntnr3 {
	padding: 22px 0 0 0;
}
#main #cntnr4 {
	padding: 22px 0 0 0;
}
#main #cntnr5 { 
	padding: 40px 0 20px 0;
}
#main #cntnr6 {
	padding: 0px 0 40px 0;
}