@charset "utf-8";

#header .component5 .box .search input {
	line-height: 38px;
	padding: 0 20px;
}
.webModule19 .loginBox .btnArea button {
	min-width: 80px;
}

.webModule20 .myLearning { 
	position: relative;
}
.webModule20 .myLearning .view {
	position: absolute;
	right: 0px;
	width: 750px;
}
.webModule20 .myLearning .view ul.state {
	position: absolute;
	right: 20px;
}
.webModule23 div.banner li a {
	letter-spacing: -1px;
}
#footer .component3 > .footerWrap {
	overflow: hidden;
}
 
/* common */
div.selectBox {
	border: none;
	background: none;
}
div.selectBox select {
	height: 30px;
	line-height: 30px;
	border: 1px solid #d9dddf;
	top: 0px;
	padding: 4px 5px;	
	background: #ffffff;
}
button {
	min-width: 0px;
	padding: 0 30px;
}
button.inside {
	min-width: 0px;
	padding: 0 20px;
}
.btnCertificate {
	padding-right: 0;
	letter-spacing: -0.5px;
}
.listAttach .btnDownload {
	min-width: 47px;
	padding-right: 25px;
}

.textBox .btnDelivery {
	min-width: 65px;
	width: 80px;
	padding: 0 0 0 10px;
}

.icon.new.type2,
.icon {
	padding: 4px 5px 3px 6px;
}

.tab ul li {
	min-width: 33%;
}

/* board */
.contentsBox .thumbnList li+li+li+li {
	margin-right: 0;
}
.contentsBox .thumbnList li+li+li+li+li {
	margin-right: 12px;
}
.contentsBox .thumbnList li+li+li+li+li+li+li+li {
	margin-right: 0;
}
.contentsBox .thumbnList li+li+li+li+li+li+li+li+li {
	margin-right: 12px;
}
.contentsBox .thumbnList li+li+li+li+li+li+li+li+li+li+li+li {
	margin-right: 0;
}
.thumbnList.type2 li div.state .btnClassroom {
	padding: 0 15px;
}

/* contents */
.course .btnArea {
	width: 525px;
}
#sub .myLearning .state ul+ul li {
	width: 33.33%;
}
#sub .customer li {
	fillter: none;
}
#sub .myLearning>ul>li+li {
	margin-left: 11px;
}
#sub .myLearning>ul>li+li+li {
	margin-left: 0;
}
#sub .myLearning>ul>li+li+li+li {
	margin-left: 11px;
}
#sub .myLearning>ul>li+li+li+li+li {
	margin-left: 0;
}
#sub .myLearning>ul>li+li+li+li+li+li {
	margin-left: 11px;
}

.softwareDown li+li+li {
	margin-right: 0;
}
.softwareDown li+li+li+li {
	margin-right: 10px;
}
.softwareDown li+li+li+li+li+li {
	margin-right: 0;
}
.softwareDown li .textBox strong {
	letter-spacing: -1px;
}

.ui-datepicker .ui-datepicker-title select {
	padding-right: 5px;
	background: #ffffff;
}
.ui-datepicker .ui-datepicker-buttonpane {
	text-align: center;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	padding: 0px 10px;
}

.toolBar .btnArea .btnRegister {
	border: solid #dedede;
	border-width: 1px;
	color: #4587d1;
	background: #ffffff url('/images/template5/resp/default/button/btn_toolbar_register_ie8.png') 10px center no-repeat;
	background-size: 22px 22px;
}
.toolBar .btnArea .btnRegister:hover {
	border: solid #c4c4c4;
	border-width: 1px;
	background: #f7f7f7 url('/images/template5/resp/default/button/btn_toolbar_register_ie8.png') 10px center no-repeat;
	background-size: 22px 22px;
}

@media screen and (max-width: 1023px) {
	.boardList thead {
		display: block;
	}
	.boardList tbody tr td,
	.boardList tbody tr td.state {
		display: block;
		height: 40px;
		padding: 0 10px;
	}
	th.hide, td.hide {
		display: none !important;
	}
}

@media screen and (max-width: 900px) {
	.webModule21 .thumbnList li:nth-child(3n) {
	    margin-right: 0 !important;
	}
}

@media screen and (max-width: 767px) {
	.course .btnArea {
		width: 100%;
		padding: 0 20px;
	}
}

.popup .contentsWrap .contentsBox > p.info {
    padding-bottom: 0px;
}
.popup .contentsWrap .contentsBox h5 {
    margin: 20px 0 5px;
}
.scrollBox {
	height: 100px;
	padding: 15px 20px;
}
