@charset "utf-8";

.section-wrap {
    max-width: 1920px;
    margin: 0 auto;

    .tit-h2 {
        font-size: 40px;
        color: $font-color1;
        font-weight: 300;
        text-align: center;

        strong {
            display: inline-block;
            position: relative;
            color: $base-color2;
            font-weight: 400;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 100%;
                height: 15px;
                font-size: 0;
                background: $base-color1;
                opacity: .3;
            }
        }

        br {
            display: none;
        }
    }
}

// 수강중인 과정
.section-course {
    height: 585px;
    padding: 97px 70px 0;
    background: url("/images/template9/resp/default/usr/bg_section_course.jpg") repeat 50% 50%;
    background-size: cover;

    @include box-sizing;

    .course-list {
        position: relative;
        margin-top: 58px;

        .slider {
            margin: 0 -10px;
        }
    
        .slick-slide {
            margin: 0 10px;
        }
    
        .item {
            overflow: hidden;
            position: relative;
            // width: calc((100% - 60px) / 4);
            max-width: 430px;
            height: 290px;
            // margin-right: 20px;
    
            // @include border-radius(12px);
            vertical-align: top;
    
            .lnk {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
    
            &:hover {
                overflow: hidden;
    
                @include border-radius(10px);
    
                .item-thumb {
                    height: 288px;

                    @include scale(1.2);
                }
    
                .item-detail {
                    opacity: 1;
                    top: 0;
                }
    
                .item-info {
                    display: none;
                }
            }
        }
    
        .item-contents {
            overflow: hidden;
            position: relative;
            border: 1px solid $border-color1;
    
            @include border-radius(10px);
            @include box-sizing;
        }
    
        .item-thumb {
            overflow: hidden;
            position: relative;
            height: 228px;
            background: $bg-color3;
            // padding-top: 53.2710%;
            // max-height: 223px;
    
            @include box-sizing;
            @include transition(all .2s);
    
            img {
                position: absolute;
                left: 0;
                bottom : 0;
                width: 100%;
                height: 100%;
                vertical-align: top;
            }
        }
    
        .item-detail {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 100%;
            padding: 39px 28px 10px;
            background: rgba(0, 0, 0, .7);
            text-align: center;
    
            @include box-sizing;
            @include transform(translateZ(0));
            @include transition(all .2s);
    
            .tit-h3 {
                margin: 19px 0 20px;
                font-size: 18px;
                color: #fff;
                font-weight: 400;
                text-decoration: underline;
    
                @include truncate;
            }
    
            .period {
                position: relative;
                padding-left: 17px;
                font-size: 14px;
                color: $font-color5;
    
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 4px;
                    background: url("/images/template9/resp/default/usr/ico_sprite.png") no-repeat -15px -18px;
    
                    @include size(13px);
                }
            }
    
            .dsc {
                overflow: hidden;
                max-height: 48px;
                margin-top: 14px;
                font-size: 16px;
                color: $font-color4;
                text-align: left;
                line-height: 1.5;
    
                @include truncate2;
            }
        }
    
        .item-time {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    
        .item-info {
            margin-top: 19px;
    
            .subject {
                display: block;
                font-size: 18px;
                color: $font-color1;
                font-weight: 400;
    
                @include truncate;
            }
    
            .info {
                margin-top: 9px;
    
                @include clear;
    
                li {
                    position: relative;
                    float: left;
                    margin-right: 20px;
                    font-size: 14px;
                    color: $font-color3;
    
                    &:last-child {
                        margin-right: 0;
                    }
    
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        font-size: 0;
                        background: url("/images/template9/resp/default/usr/ico_sprite.png") no-repeat;
                    }
    
                    &.cnt {
                        padding-left: 15px;
    
                        &:before {
                            width: 10px;
                            height: 13px;
                            margin-top: -6.5px;
                            background-position: 0 0;
                        }
                    }
    
                    &.period {
                        padding-left: 17px;
    
                        &:before {
                            margin-top: -6.5px;
                            background-position: -15px 0;
    
                            @include size(13px);
                        }
                    }
                }
            }
        }

        .btn-course-prev,
        .btn-course-next {
            position: absolute;
            top: 50%;
            margin-top: -30px;
            border: 0;
            background: rgba(255, 255, 255, .7);
            
            @include box-shadow(2px 5px 10px 0 rgba(0, 0, 0, .2));
            @include size(60px);
            @include border-radius(100px);

            &:before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 22px;
                vertical-align: top;
                background: url("/images/template9/resp/default/usr/ico_sprite.png") no-repeat;
            }

            &:hover {
                background: rgba(246, 139, 31, .7);

                &:before {
                    background-position-x: -69px;
                }
            }
        }

        .btn-course-prev {
            left: -50px;

            &:before {
                background-position: -86px 0;
            }
        }

        .btn-course-next {
            right: -50px;

            &:before {
                background-position: -86px -27px;
            }
        }
    }
    
    .course-empty {
        position: relative;
        max-width: 430px;
        margin: 58px auto 40px;
        font-size: 18px;
        color: $base-color1;
        text-align: center;

        img {
            max-width: 100%;
            vertical-align: top;
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            padding-top: 35%;
        }
    }

    .btn-more {
        display: block;
        margin-top: 44px;
        padding: 10px 0;
        font-size: 16px;
        color: $font-color1;
        text-align: center;

        span {
            position: relative;
            padding-right: 17px;

            &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                width: 7px;
                height: 13px;
                margin-top: -6.5px;
                background: url("/images/template9/resp/default/usr/ico_sprite.png") no-repeat 0 -36px;
            }
        }
    }
}

// 최고의 인기영상
.section-popular {
    overflow: hidden;
    position: relative;
    height: 866px;
    padding: 100px 70px 0;

    @include box-sizing;

    .tit-h2 {
        color: #fff;
    }

    .popular-item {
        margin-top: 99px;
        text-align: center;

        .thumb {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: {
                repeat: no-repeat;
                position: 50% 0;
                size: 100% 100%;
            }
            z-index: -1;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width:100%;
                height: 100%;
                background: rgba(0, 0, 0, .75);
            }
        }

        .contents {
            position: relative;
            height: 274px;
        }

        .lnk {
            display: block;
            max-width: 774px;
            margin: 39px auto 0;

            &:hover .tit-h3 {
                text-decoration: underline;
            }
        }

        .tit-h3 {
            font-size: 26px;
            color: #fff;
            font-weight: 500;
        }

        .info {
            margin-top: 30px;
            font-size: 0;

            li {
                display: inline-block;
                position: relative;
                margin-right: 20px;
                font-size: 14px;
                color: $font-color5;
                vertical-align: top;
                line-height: 13px;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    font-size: 0;
                    background: url("/images/template9/resp/default/usr/ico_sprite.png") no-repeat;
                }

                &.cnt {
                    padding-left: 15px;

                    &:before {
                        width: 10px;
                        height: 13px;
                        margin-top: -6.5px;
                        background-position: 0 -18px;
                    }
                }

                &.period {
                    padding-left: 18px;

                    &:before {
                        margin-top: -6.5px;
                        background-position: -15px -18px;

                        @include size(13px);
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .dsc {
            height: 72px;
            margin-top: 14px;
            font-size: 16px;
            color: $font-color4;
            line-height: 1.5;

            @include truncate2(null, 3);
        }
    }

    .popular-list {
        position: relative;
        max-width: 1260px;
        margin: 100px auto 0;

        .slick-slide {
            width: 300px;
            height: 160px;
            margin: 0 10px;
        }

        .item {
            overflow: hidden;
            position: relative;
            width: 300px;
            height: 160px;
            background: $bg-color3;
            cursor: pointer;

            @include box-sizing;
            @include border-radius(10px);

            img {
                width: 100%;
                height: 100%;
                vertical-align: top;
            }

            &.active {
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $base-color1;

                    @include box-sizing;
                    @include border-radius(10px);
                }

                .item-subject {
                    display: none;
                }
            }
        }

        .item-subject {
            display: table;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            padding: 25px;
            font-size: 18px;
            color: #fff;
            background: rgba(0, 0, 0, .6);
            text-align: center;
            vertical-align: middle;

            @include box-sizing;

            span {
                display: table-cell;               
                vertical-align: middle;

                em {
                    display: block;
                    max-height: 56px;
                    line-height: 1.5;

                    @include truncate2;
                }
            }
        }

        .custom-dots {
            bottom: -64px;
        }

        .btn-popular-prev,
        .btn-popular-next {
            position: absolute;
            top: 50%;
            border: 2px solid rgba(255, 255, 255, .2);
            margin-top: -30px;
            background: none;

            @include size(60px);
            @include border-radius(100px);

            &:before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 22px;
                vertical-align: top;
                background: url("/images/template9/resp/default/usr/ico_sprite.png") no-repeat;
            }

            &:hover {
                background: rgba(246, 139, 31, .7);

                @include box-shadow(2px 0 10px 0 rgba(0, 0, 0, .2));
            }
        }

        .btn-popular-prev {
            left: -6.25vw;

            &:before {
                background-position: -69px 0;
            }
        }

        .btn-popular-next {
            right: -6.25vw;

            &:before {
                background-position: -69px -27px;
            }
        }
    }
}

// 최신 영상
.section-trend {
    height: 545px;
    padding: 97px 70px 0;
    background: url("/images/template9/resp/default/usr/bg_section_trend.jpg") no-repeat 50% 0;
    background-size: cover;

    @include box-sizing;

    .trend-list {
        position: relative;
        max-width: 1780px;
        margin: 80px auto 0;
      
        .slider {
            margin: 0 -20px;
        }

        .slick-slide {
            margin: 0 20px;
        }

        .item {
            @include clear;
            @include box-sizing;
        }

        .item-thumb {
            overflow: hidden;
            position: relative;
            float: left;
            // width: 22.396vw;
            width: 49.89%;
            max-width: 430px;
            height: 230px;
            margin-right: 30px;
            border: 1px solid $border-color1;
            background: $bg-color3;

            @include border-radius(10px);
            @include box-sizing;

            img {
                width: 100%;
                height: 100%;
                vertical-align: top;

                @include transition(all .2s);
            }

            .box {
                opacity: 0;
                position: absolute;
                left: -100%;
                top: -100%;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .6);

                @include transition(opacity .2s);
            }

            .btn-item-view {
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -40px 0 0 -40px;
            }

            .lnk {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            &:hover {
                img {
                    left: 0;

                    @include translate(0, 0);
                    @include scale(1.2);
                }

                .box {
                    opacity: 1;
                    left: 0;
                    top: 0;
                }
            }
        }

        .item-contents {
            overflow: hidden;
            // width: 21.354vw;

            a {
                display: block;

                &:hover {
                    .tit-h3 {
                        text-decoration: underline;
                    }
                }
            }

            .tit-h3 {
                max-height: 62px;
                font-size: 22px;
                font-weight: 500;
                line-height: 1.42;

                @include truncate2;
            }

            .info {
                margin-top: 22px;
                font-size: 0;
    
                li {
                    display: inline-block;
                    position: relative;
                    margin-right: 20px;
                    font-size: 14px;
                    color: $font-color3;
                    vertical-align: top;
                    line-height: 13px;
    
                    &:last-child {
                        margin-right: 0;
                    }
    
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        font-size: 0;
                        background: url("/images/template9/resp/default/usr/ico_sprite.png") no-repeat;
                    }
    
                    &.cnt {
                        padding-left: 15px;
    
                        &:before {
                            width: 10px;
                            height: 13px;
                            margin-top: -6.5px;
                            background-position: 0 0px;
                        }
                    }
    
                    &.period {
                        padding-left: 18px;
    
                        &:before {
                            margin-top: -6.5px;
                            background-position: -15px 0;
    
                            @include size(13px);
                        }
                    }
                }
            }

            .dsc {
                max-height: 120px;
                margin-top: 12px;
                font-size: 16px;
                color: $font-color2;
                line-height: 1.5;

                @include truncate2(null, 5);
            }
        }

        .custom-dots {
            bottom: -70px;
        }

        .btn-trend-prev,
        .btn-trend-next {
            position: absolute;
            top: 50%;
            margin-top: -30px;
            border: 0;
            background: rgba(255, 255, 255, .7);
            
            @include box-shadow(2px 5px 10px 0 rgba(0, 0, 0, .2));
            @include size(60px);
            @include border-radius(100px);

            &:before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 22px;
                vertical-align: top;
                background: url("/images/template9/resp/default/usr/ico_sprite.png") no-repeat;
            }

            &:hover {
                background: rgba(246, 139, 31, .7);

                &:before {
                    background-position-x: -69px;
                }
            }
        }

        .btn-trend-prev {
            left: -50px;

            &:before {
                background-position: -86px 0;
            }
        }

        .btn-trend-next {
            right: -50px;

            &:before {
                background-position: -86px -27px;
            }
        }
    }
}

// 최신 영상
.section-hot {
    overflow: hidden;
    position: relative;
    height: 727px;
    padding-top: 100px;
    background: url("/images/template9/resp/default/usr/bg_section_hot.jpg") no-repeat 0 50%;
    background-size: cover;

    @include box-sizing;
    
    .section-wrap {
        max-width: none;
    }

    .tit-h2 {
        color: #fff;
    }

    .hot-list {
        position: relative;
        // max-width: 1260px;
        margin-top: 100px;

        .slick-slide {
            margin: 0 75px;
        }

        .item {
            opacity: .4;
            position: relative;
            max-width: 1260px;
            vertical-align: top;

            @include clear;
            @include transition(opacity .8s);
        }

        .item-thumb {
            overflow: hidden;
            float: left;
            width: 47.5260vw;
            max-width: 730px;
            height: 390px;
            margin-right: 40px;
            background: $bg-color3;

            @include border-radius(10px);

            img {
                width: 100%;
                height: 100%;
                vertical-align: top;
            }
        }

        .item-contents {
            overflow: hidden;
            width: 31.9010vw;
            max-width: 490px;
            padding-top: 93px;

            a {
                display: block;

                &:hover {
                    .tit-h3 {
                        text-decoration: underline;
                    }
                }
            }

            .tit-h3 {
                margin-top: 38px;
                padding-bottom: 2px;
                font-size: 26px;
                color: #fff;
                font-weight: 500;

                @include truncate;
            }

            .info {
                margin-top: 27px;
                font-size: 0;
    
                li {
                    display: inline-block;
                    position: relative;
                    margin-right: 20px;
                    font-size: 14px;
                    color: $font-color5;
                    vertical-align: top;
                    line-height: 13px;
    
                    &:last-child {
                        margin-right: 0;
                    }
    
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        font-size: 0;
                        background: url("/images/template9/resp/default/usr/ico_sprite.png") no-repeat;
                    }
    
                    &.cnt {
                        padding-left: 15px;
    
                        &:before {
                            width: 10px;
                            height: 13px;
                            margin-top: -6.5px;
                            background-position: 0 -18px;
                        }
                    }
    
                    &.period {
                        padding-left: 17px;
    
                        &:before {
                            margin-top: -6.5px;
                            background-position: -15px -18px;
    
                            @include size(13px);
                        }
                    }
                }
            }

            .dsc {
                max-height: 96px;
                margin-top: 14px;
                font-size: 16px;
                color: $font-color4;
                line-height: 1.5;

                @include truncate2(null, 4);
            }
        }

        .custom-dots {
            bottom: -70px;
        }

        .btn-hot-prev,
        .btn-hot-next {
            position: absolute;
            top: 50%;
            border: 2px solid rgba(255, 255, 255, .2);
            margin-top: -30px;
            background: none;

            @include size(60px);
            @include border-radius(100px);

            &:before {
                content: "";
                display: inline-block;
                width: 12px;
                height: 22px;
                vertical-align: top;
                background: url("/images/template9/resp/default/usr/ico_sprite.png") no-repeat;
            }

            &:hover {
                background: rgba(246, 139, 31, .7);

                @include box-shadow(2px 5px 10px 0 rgba(0, 0, 0, .2));
            }
        }

        .btn-hot-prev {
            left: 10.938vw;

            &:before {
                background-position: -69px 0;
            }
        }

        .btn-hot-next {
            right: 10.938vw;

            &:before {
                background-position: -69px -27px;
            }
        }

        .slick-current {
            .item {
                opacity: 1;
            }
        }
    }
}