                        <ul>
                            <li><a href="/profile/activity/profile_activity.html" class="active"><span>알림</span></a></li>
                            <li><a href="/profile/activity/profile_activity_post.html"><span>작성한글</span></a></li>
                            <li><a href="/profile/activity/profile_activity_scrap.html"><span>저장한글</span></a></li>
                            <li><a href="/profile/activity/profile_activity_repu.html"><span>평판</span></a></li>
                            <li><a href="/profile/activity/profile_activity_tag.html"><span>태그</span></a></li>
                            <li><a href="/profile/activity/profile_activity_manage.html"><span>지원관리</span></a></li>
                        </ul>