<div class="cpn-filebox">
    <div class="filebox-btn">
        <input type="file" id="test-file" title="파일찾기" class="ifile">

        <button type="button" class="btn-default btn-file-add">
            찾아보기

            <!--로딩 -->
            <span class="loading-s">
                <span class="loading-spinner"></span>
            </span>
            <!--// 로딩 -->
        </button>
    </div>

    <div class="filebox-list">
        <ul class="filebox-list-in">
            <li>
                <i class="icon-file-empty"></i> 파일 
                <button type="button" class="btn-del"><i class="icon-cross"></i><span class="ir">삭제</span></button>
            </li>
            <li>
                <i class="icon-file-empty"></i> 파일 파일파일파일파일 파일파일 파일파일 파일
                <button type="button" class="btn-del"><i class="icon-cross"></i><span class="ir">삭제</span></button>
            </li>
            <li>
                <i class="icon-file-empty"></i> 파일 
                <button type="button" class="btn-del"><i class="icon-cross"></i><span class="ir">삭제</span></button>
            </li>
        </ul>
    </div>
</div>