                        <!-- 후보자용 파일첨부 -->
                        <div class="career-infobox">
                            <h4 class="tit-h4">첨부이력서</span></h4>

                            <div class="career-infobox-form" include-html="/component/comm/cpn_filebox.html"></div>
                        </div>

                        <div class="career-infobox">
                            <h4 class="tit-h4">첨부파일</span></h4>

                            <div class="career-infobox-form" include-html="/component/comm/cpn_filebox.html"></div>
                        </div>

                        <div class="career-infobox">
                            <h4 class="tit-h4">개인정보활용동의서</span></h4>

                            <div class="career-infobox-form" include-html="/component/comm/cpn_filebox.html"></div>
                        </div>
                        <!-- // 후보자용 파일첨부 -->
                        
                        <!-- 회사 -->
                        <div class="career-infobox">
                            <h4 class="tit-h4">경력정보 <span>(총경력 11년 5개월)</span></h4>

                            <!-- 입력 -->
                            <div class="career-infobox-form">
                                <form>
                                    <fieldset>
                                        <legend><span>경력정보 입력</span></legend>

                                        <ul>
                                            <li>
                                                <input type="text" placeholder="회사명을 입력하세요" title="회사명" class="istyle">
                                            </li>
                                            <li>
                                                <input type="text" placeholder="직급을 입력하세요" title="회사명" class="istyle">
                                            </li>
                                            <li>
                                                <input type="text" placeholder="직무를 입력하세요" title="회사명" class="istyle">
                                            </li>
                                            <li class="cal">
                                                <span class="icalendar">
                                                    <input type="text" size="12" placeholder="기간 YYYY-MM" title="입사일" class="icalendar-input">
                                                    <button type="button" class="btn-icalendar"><i class="icon-calendar"></i><span class="ir">달력</span></button>
                                                </span>

                                                <span class="icalendar">
                                                    <input type="text" size="12" placeholder="기간 YYYY-MM" title="퇴사일" class="icalendar-input">
                                                    <button type="button" class="btn-icalendar"><i class="icon-calendar"></i><span class="ir">달력</span></button>
                                                </span>

                                                <span class="icheck">
                                                    <input type="checkbox" id="test-chk1" name="test-chk">
                                                    <label for="test-chk1">재직중</label>
                                                </span>
                                            </li>
                                        </ul>

                                        <div class="career-infobox-form-bot">
                                            <button type="button" class="btn btn-reg">등록</button>
                                            <button type="button" class="btn btn-cncl">취소</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <!-- // 입력 -->

                            <div class="career-infobox-list">
                                <!-- 없음 -->
                                <div class="career-infobox-item">
                                    <div class="notfound">
                                        <strong>인맥공개</strong> 정보입니다.
                                    </div>
                                </div>
                                <!-- // 없음 -->

                                <!-- 경력 -->
                                <div class="career-infobox-item">
                                    <dl>
                                        <dt>People Networking Partners</dt>
                                        <dd>2012-03 ~ 재직중</dd>
                                        <dd>이사</dd>
                                        <dd>헤드헌팅</dd>
                                    </dl>

                                    <div class="career-infobox-item-aside">
                                        <button type="button" class="btn btn-edit"><i class="icon-pencil"></i> <span class="ir">수정</span></button>
                                    </div>
                                </div>
                                <!-- // 경력 -->

                                <!-- 경력 -->
                                <div class="career-infobox-item">
                                    <dl>
                                        <dt>벤처피플(헌터x헌터)</dt>
                                        <dd>2012-03 ~ 재직중</dd>
                                        <dd>이사</dd>
                                        <dd>헤드헌팅</dd>
                                    </dl>

                                    <div class="career-infobox-item-aside">
                                        <button type="button" class="btn btn-edit"><i class="icon-pencil"></i> <span class="ir">수정</span></button>

                                        <button type="button" class="btn btn-del"><i class="icon-bin"></i> <span class="ir">삭제</span></button>
                                    </div>
                                </div>
                                <!-- // 경력 -->
                            </div>

                            <!-- 더보기 -->
                            <button type="button" class="btn-more"><i class="icon-plus-sign-to-add"></i> 더보기</button>
                            <!-- // 더보기 -->

                            <button type="button" class="btn-add"><i class="icon-plus"></i> <span class="ir">추가</span></button>
                        </div>
                        <!-- // 회사 -->

                        <!-- 학교 -->
                        <div class="career-infobox">
                            <h4 class="tit-h4">학교</h4>

                            <!-- 입력 -->
                            <div class="career-infobox-form">
                                <form>
                                    <fieldset>
                                        <legend><span>학교정보 입력</span></legend>

                                        <ul>
                                            <li>
                                                <select title="학교분류 선택" class="slt">
                                                    <option>학교분류</option>
                                                    <option>대학교</option>
                                                    <option>대학교 / MBA</option>
                                                    <option>고등학교</option>
                                                    <option>기타</option>
                                                </select>
                                            </li>
                                            <li>
                                                <input type="text" placeholder="학교명을 입력하세요" title="학교" class="istyle">
                                            </li>
                                            <li class="cal">
                                                <span class="icalendar">
                                                    <input type="text" size="8" placeholder="연도" title="연도" class="icalendar-input">
                                                    <button type="button" class="btn-icalendar"><i class="icon-calendar"></i><span class="ir">달력</span></button>
                                                </span>

                                                <select title="선택" class="slt">
                                                    <option>졸업</option>
                                                    <option>졸업예정</option>
                                                    <option>휴학</option>
                                                    <option>수료</option>
                                                    <option>중퇴</option>
                                                </select>
                                            </li>
                                            <li>
                                                <input type="text" placeholder="전공을 입력하세요" title="전공" class="istyle">
                                            </li>
                                            <li>
                                                <input type="text" placeholder="학위를 입력하세요" title="학위" class="istyle">
                                            </li>
                                        </ul>

                                        <div class="career-infobox-form-bot">
                                            <button type="button" class="btn btn-reg">등록</button>
                                            <button type="button" class="btn btn-cncl">취소</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <!-- // 입력 -->

                            <div class="career-infobox-list">
                                <div class="career-infobox-item">
                                    <dl>
                                        <dt>서울대학교 <span>대학교</span></dt>
                                        <dd>2020년 졸업</dd>
                                        <dd>경영학과</dd>
                                        <dd>학사</dd>
                                    </dl>

                                    <div class="career-infobox-item-aside">
                                        <button type="button" class="btn btn-edit"><i class="icon-pencil"></i> <span class="ir">수정</span></button>

                                        <button type="button" class="btn btn-del"><i class="icon-bin"></i> <span class="ir">삭제</span></button>
                                    </div>
                                </div>

                                <div class="career-infobox-item">
                                    <!-- 없음 -->
                                    <div class="notfound">
                                        등록된 <strong>학교정보</strong>가 없습니다.<br>
                                        <strong>우측 상단 추가 버튼</strong>을 이용하여 학교정보를 입력해 주세요.
                                    </div>
                                    <!-- // 없음 -->
                                </div>
                            </div>

                            <!-- 더보기 -->
                            <button type="button" class="btn-more"><i class="icon-plus-sign-to-add"></i> 더보기</button>
                            <!-- // 더보기 -->

                            <button type="button" class="btn-add"><i class="icon-plus"></i> <span class="ir">추가</span></button>
                        </div>
                        <!-- // 학교 -->

                        <!-- 경력상세 -->
                        <div class="career-infobox">
                            <h4 class="tit-h4">경력상세</h4>

                            <div class="career-infobox-form">
                                <form>
                                    <fieldset>
                                        <legend><span>경력상세</span></legend>
                                        <textarea cols="30" rows="5" title="경력상세" class="itastyle"></textarea>

                                        <div class="career-infobox-form-bot">
                                            <button type="button" class="btn btn-reg">등록</button>
                                            <button type="button" class="btn btn-cncl">취소</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                            <div class="career-infobox-list">
                                <div class="career-infobox-item">
                                    <!-- 없음 -->
                                    <div class="notfound">
                                        등록된 <strong>경력상세</strong>정보가 없습니다.
                                    </div>
                                    <!-- // 없음 -->
                                </div>

                                <div class="career-infobox-item">                                  <div class="career-infobox-item-txt">
                                        	15년 이상의 IT 솔루션 사업기획 및 Sales 경험
                                        	국내외 방송/통신/온라인 사업자 대상 솔루션 컨설팅 및 Sales 경험
                                        	해외 시장 개척과 신사업 추진을 위한 Creative / Analytical한 업무 자세 및 문제해결 능력.
                                        	마케팅/Sales 전략 수립에서 각종 Material 작성 실무까지 넓은 업무 스펙트럼과 CRM 기반 Sales process 및 고객사 관리 노하우 보유
                                        	글로벌 회사 근무 경험으로 높은 영어 업무능력 (PT/Con-call등) 
                                        	다양한 조직문화 경험에서 배운 빠른 업무 적응과 Team Building 능력
                                        	15년 이상의 IT 솔루션 사업기획 및 Sales 경험
                                        	국내외 방송/통신/온라인 사업자 대상 솔루션 컨설팅 및 Sales 경험
                                        	해외 시장 개척과 신사업 추진을 위한 Creative / Analytical한 업무 자세 및 문제해결 능력.
                                        	마케팅/Sales 전략 수립에서 각종 Material 작성 실무까지 넓은 업무 스펙트럼과 CRM 기반 Sales process 및 고객사 관리 노하우 보유
                                        	글로벌 회사 근무 경험으로 높은 영어 업무능력 (PT/Con-call등) 
                                        	다양한 조직문화 경험에서 배운 빠른 업무 적응과 Team Building 능력
                                        	15년 이상의 IT 솔루션 사업기획 및 Sales 경험
                                        	국내외 방송/통신/온라인 사업자 대상 솔루션 컨설팅 및 Sales 경험
                                        	해외 시장 개척과 신사업 추진을 위한 Creative / Analytical한 업무 자세 및 문제해결 능력.
                                        	마케팅/Sales 전략 수립에서 각종 Material 작성 실무까지 넓은 업무 스펙트럼과 CRM 기반 Sales process 및 고객사 관리 노하우 보유
                                        	글로벌 회사 근무 경험으로 높은 영어 업무능력 (PT/Con-call등) 
                                        	다양한 조직문화 경험에서 배운 빠른 업무 적응과 Team Building 능력
                                    </div>

                                    <!-- 등록 / 수정 -->
                                    <div class="career-infobox-item-txt" contenteditable="true">
                                        	15년 이상의 IT 솔루션 사업기획 및 Sales 경험
                                        	국내외 방송/통신/온라인 사업자 대상 솔루션 컨설팅 및 Sales 경험
                                        	해외 시장 개척과 신사업 추진을 위한 Creative / Analytical한 업무 자세 및 문제해결 능력.
                                        	마케팅/Sales 전략 수립에서 각종 Material 작성 실무까지 넓은 업무 스펙트럼과 CRM 기반 Sales process 및 고객사 관리 노하우 보유
                                        	글로벌 회사 근무 경험으로 높은 영어 업무능력 (PT/Con-call등) 
                                        	다양한 조직문화 경험에서 배운 빠른 업무 적응과 Team Building 능력
                                        	15년 이상의 IT 솔루션 사업기획 및 Sales 경험
                                        	국내외 방송/통신/온라인 사업자 대상 솔루션 컨설팅 및 Sales 경험
                                        	해외 시장 개척과 신사업 추진을 위한 Creative / Analytical한 업무 자세 및 문제해결 능력.
                                        	마케팅/Sales 전략 수립에서 각종 Material 작성 실무까지 넓은 업무 스펙트럼과 CRM 기반 Sales process 및 고객사 관리 노하우 보유
                                        	글로벌 회사 근무 경험으로 높은 영어 업무능력 (PT/Con-call등) 
                                        	다양한 조직문화 경험에서 배운 빠른 업무 적응과 Team Building 능력
                                        	15년 이상의 IT 솔루션 사업기획 및 Sales 경험
                                        	국내외 방송/통신/온라인 사업자 대상 솔루션 컨설팅 및 Sales 경험
                                        	해외 시장 개척과 신사업 추진을 위한 Creative / Analytical한 업무 자세 및 문제해결 능력.
                                        	마케팅/Sales 전략 수립에서 각종 Material 작성 실무까지 넓은 업무 스펙트럼과 CRM 기반 Sales process 및 고객사 관리 노하우 보유
                                        	글로벌 회사 근무 경험으로 높은 영어 업무능력 (PT/Con-call등) 
                                        	다양한 조직문화 경험에서 배운 빠른 업무 적응과 Team Building 능력
                                    </div>
                                    <!-- 등록 / 수정 -->

                                    <div class="career-infobox-item-aside">
                                        <button type="button" class="btn btn-edit"><i class="icon-pencil"></i> <span class="ir">수정</span></button>
                                    </div>
                                </div>
                            </div>

                            <!-- 더보기 -->
                            <button type="button" class="btn-more"><i class="icon-plus-sign-to-add"></i> 더보기</button>

                            <button type="button" class="btn-add"><i class="icon-plus"></i> <span class="ir">추가</span></button>
                            <!-- // 더보기 -->
                        </div>
                        <!-- // 경력상세 -->

                        <!-- 언어능력 -->
                        <div class="career-infobox">
                            <h4 class="tit-h4">언어능력</h4>

                            <!-- 입력 -->
                            <div class="career-infobox-form">
                                <form>
                                    <fieldset>
                                        <legend><span>언어능력 입력</span></legend>

                                        <ul>
                                            <li>
                                                <select title="언어 선택" class="slt">
                                                    <option>언어 선택</option>
                                                    <option>독일어</option>
                                                    <option>러시아어</option>
                                                    <option>스페인어</option>
                                                    <option>아랍어</option>
                                                    <option>영어</option>
                                                    <option>이탈리아어</option>
                                                    <option>일본어</option>
                                                    <option>중국어</option>
                                                    <option>프랑스어</option>
                                                    <option>직접입력</option>
                                                </select>
                                            </li>
                                            <li>
                                                <div class="radio-group">
                                                    <span class="radio-itm">
                                                        <strong class="t">구사능력</strong>
                                                    </span>

                                                    <span class="radio-itm">
                                                        <input type="radio" id="test-rdo1" name="test-rdo">
                                                        <label for="test-rdo1">비즈니스 커뮤니케이션</label>
                                                    </span>

                                                    <span class="radio-itm">
                                                        <input type="radio" id="test-rdo2" name="test-rdo">
                                                        <label for="test-rdo2">일상 의사소통</label>
                                                    </span>

                                                    <span class="radio-itm">
                                                        <input type="radio" id="test-rdo3" name="test-rdo">
                                                        <label for="test-rdo3">여행 의사소통</label>
                                                    </span>
                                                </div>
                                            </li>
                                            <li>
                                                <input type="text" placeholder="공인시험 명칭을 입력하세요" title="공인시험 명칭" class="istyle">

                                                <div class="certifiedtest">
                                                    <input type="text" placeholder="점수 또는 등급" title="점수 또는 등급" class="istyle">

                                                    <span class="icalendar">
                                                        <input type="text" size="12" placeholder="발급년월" title="발급년월" class="icalendar-input">
                                                        <button type="button" class="btn-icalendar"><i class="icon-calendar"></i><span class="ir">달력</span></button>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="career-infobox-form-bot">
                                            <button type="button" class="btn btn-reg">등록</button>
                                            <button type="button" class="btn btn-cncl">취소</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <!-- // 입력 -->

                            <div class="career-infobox-list">
                                <div class="career-infobox-item">
                                    <dl>
                                        <dt>영어</dt>
                                        <dd>비즈니스 커뮤니케이션</dd>
                                    </dl>

                                    <div class="career-infobox-item-aside">
                                        <button type="button" class="btn btn-edit"><i class="icon-pencil"></i> <span class="ir">수정</span></button>

                                        <button type="button" class="btn btn-del"><i class="icon-bin"></i> <span class="ir">삭제</span></button>
                                    </div>
                                </div>
                            </div>

                            <!-- 더보기 -->
                            <button type="button" class="btn-more"><i class="icon-plus-sign-to-add"></i> 더보기</button>
                            <!-- // 더보기 -->

                            <button type="button" class="btn-add"><i class="icon-plus"></i> <span class="ir">추가</span></button>
                        </div>
                        <!-- // 언어능력 -->

                        <!-- 자격증 -->
                        <div class="career-infobox">
                            <h4 class="tit-h4">자격증</h4>

                            <!-- 입력 -->
                            <div class="career-infobox-form">
                                <form>
                                    <fieldset>
                                        <legend><span>언어능력 입력</span></legend>

                                        <ul>
                                            <li>
                                                <input type="text" placeholder="자격증명을 입력하세요" title="자격증명" class="istyle">
                                            </li>
                                            <li class="">
                                                <div class="certifiedtest">
                                                    <input type="text" placeholder="발행처를 입력하세요" title="발행처" class="istyle">

                                                    <span class="icalendar">
                                                        <input type="text" size="12" placeholder="취득일자" title="취득일자" class="icalendar-input">
                                                        <button type="button" class="btn-icalendar"><i class="icon-calendar"></i><span class="ir">달력</span></button>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="career-infobox-form-bot">
                                            <button type="button" class="btn btn-reg">등록</button>
                                            <button type="button" class="btn btn-cncl">취소</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <!-- // 입력 -->

                            <div class="career-infobox-list">
                                <div class="career-infobox-item">
                                    <dl>
                                        <dt>운전면허증</dt>
                                        <dd>1종 보통</dd>
                                    </dl>

                                    <div class="career-infobox-item-aside">
                                        <button type="button" class="btn btn-edit"><i class="icon-pencil"></i> <span class="ir">수정</span></button>

                                        <button type="button" class="btn btn-del"><i class="icon-bin"></i> <span class="ir">삭제</span></button>
                                    </div>
                                </div>
                            </div>

                            <!-- 더보기 -->
                            <button type="button" class="btn-more"><i class="icon-plus-sign-to-add"></i> 더보기</button>
                            <!-- // 더보기 -->

                            <button type="button" class="btn-add"><i class="icon-plus"></i> <span class="ir">추가</span></button>
                        </div>
                        <!-- // 자격증 -->

                        <!-- 후보자용 기타 -->
                        <div class="career-infobox">
                            <h4 class="tit-h4">기타</span></h4>

                            <div class="career-infobox-form">
                                <form>
                                    <fieldset>
                                        <legend><span>기타</span></legend>
                                        <textarea cols="30" rows="3" title="기타" class="itastyle"></textarea>

                                        <div class="career-infobox-form-bot">
                                            <button type="button" class="btn btn-reg">등록</button>
                                            <button type="button" class="btn btn-cncl">취소</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                            <div class="career-infobox-list">
                                <div class="career-infobox-item">
                                    <div class="career-infobox-item-txt">
                                        기타내용
                                    </div>

                                    <!-- 수정 -->
                                    <div class="career-infobox-item-txt" contenteditable="true">
                                        기타내용
                                    </div>
                                    <!-- // 수정 -->

                                    <div class="career-infobox-item-aside">
                                        <button type="button" class="btn btn-edit"><i class="icon-pencil"></i> <span class="ir">수정</span></button>

                                        <button type="button" class="btn btn-del"><i class="icon-bin"></i> <span class="ir">삭제</span></button>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn-add"><i class="icon-plus"></i> <span class="ir">추가</span></button>
                        </div>
                        <!-- // 후보자용 기타 -->