<div class="cpn-client-card-box">
    <strong class="name"><a href="#">홍길동</a></strong>

    <ul class="info-basic">
        <li>이사</li>
        <li><a href="#">잡인덱스 글로벌</a></li>
        <li>인사</li>
    </ul>

    <ul class="info-contact">
        <li><i class="icon-phone"></i> <a href="tel:02-2016-6606"></a>02-2016-6606</li>
        <li><i class="icon-mobile"></i> <a href="tel:010-1234-1234">010-1234-1234</a></li>
        <li><i class="icon-email"></i> <a href="mailto:test@test.com">test@test.com</a></li>
    </ul>

    <div class="info-memo">
        <button type="button" class="btn-memo">메모 <i class="icon-plus-sign-to-add"></i></button>

        <div class="info-memo-conts">
            글로벌 어카운트 잡인덱스 글로벌 사람을 이렇게 많이 뽑을 수가 없을지언정 잡인덱스 코리아 만세만세 만만세

            <div class="info-memo-btn">
                <button type="button" class="btn">수정</button>
                <button type="button" class="btn">삭제</button>
            </div>

            <button type="button" class="btn-clse">닫기</button>
        </div>
    </div>
</div>