                            <div class="jobs-search-body">
                                <form>
                                    <fieldset>
                                        <legend><span>채용공고 검색</span></legend>

                                        <div class="jobs-search-form" include-html="component/comm/cpn_jims.html"></div>

                                        <div class="jobs-search-bot">
                                            <button type="submit" class="btn-jobs-search">위 조건으로 검색</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                            <div class="jobs-search-aside">
                                <button type="button" class="btn"><i class="icon-spinner11"></i><span class="ir">새로고침</span></button>
                                <button type="button" title="검색 열기" class="btn btn-open"><i class="icon-enlarge2"></i><span class="ir">검색 열기</span></button>
                                <button type="button" title="검색 닫기" class="btn btn-clse"><i class="icon-shrink2"></i><span class="ir">검색 닫기</span></button>
                            </div>