                                            <div class="recruiter-client-card-in">
                                                <div class="recruiter-client-card-head">
                                                    <a href="/recruiter/client_view.html" class="recruiter-client-card-head-a">
                                                        <div class="ci">
                                                            <img src="assets/img/SDI_Eng_Right.png" alt="이름">
                                                        </div>

                                                        <strong class="name">잡인덱스 <span>(외국계)</span></strong>
                                                    </a>
                                                </div>

                                                <div class="recruiter-client-card-body">
                                                    <ul class="recruiter-client-card-body-conts">
                                                        <li>글로벌의류기업</li>
                                                        <li>4천이상 25% 4천이하 20%</li>
                                                        <li>직원3개월 임원 6개월</li>
                                                        <li>계약상태 : 완료(2019.01.05)</li>
                                                    </ul>

                                                    <ul class="recruiter-client-card-body-aside">
                                                        <li>전체 10</li>
                                                        <li>성공 5</li>
                                                        <li>명함철 2</li>
                                                    </ul>
                                                </div>
                                            </div>