                                        <dl>
                                            <dt><a href="https://webpi.github.io/jobindex/recruiter/client_view.html">잡인덱스코리아</a></dt>
                                            <dd>글로벌 네트워킹 사이트</dd>
                                            <dd>외국계</dd>
                                            <dd class="full">
                                                <ul>
                                                    <li>4천이상 25%  4천이하20%</li>
                                                    <li>직원3개월 임원 6개월</li>
                                                    <li class="full">계약상태 : 완료(2019.01.05)</li>
                                                </ul>
                                            </dd>
                                        </dl>

                                        <ul class="recruiter-client-item-aside">
                                            <li><span>전체</span><span>15</span></li>
                                            <li><span>성공</span><span>10</span></li>
                                            <li><span>명함철</span><span>2</li>
                                        </ul>