    <a href="#" class="paging-btn btn-first">
        <i class="icon-double-left-chevron"></i>
        <span class="ir">처음</span>
    </a>
    <a href="#" class="paging-btn btn-prev">
        <i class="icon-left-chevron"></i>
        <span class="ir">이전</span>
    </a>
    <a href="#" class="paging-btn">1</a>
    <a href="#" class="paging-btn active">2</a>
    <a href="#" class="paging-btn">3</a>
    <a href="#" class="paging-btn">4</a>
    <a href="#" class="paging-btn">5</a>
    <a href="#" class="paging-btn btn-next">
        <i class="icon-right-chevron"></i>
        <span class="ir">다음</span>
    </a>
    <a href="#" class="paging-btn btn-last">
        <i class="icon-double-right-chevron"></i>
        <span class="ir">마지막</span>
    </a>