<div class="jobindex-multi-selecter">
    <ul class="jobindex-multi-selecter-item">
        <li class="selecter-item">
            태그
            <button type="button" class="btn-del"><i class="icon-cross"></i><span class="ir">삭제</span></button>
        </li>
        <li class="selecter-item">
            태그태그
            <button type="button" class="btn-del"><i class="icon-cross"></i><span class="ir">삭제</span></button>
        </li>
        <li class="selecter-insert">
            <div class="selecter-insert-box">
                <input type="text" placeholder="입력" value="" title="입력" class="selecter-insert-input">
                <!-- 필요시 추가 -->
                <button type="button" class="btn-selecter-insert-search">검색</button>
                <!-- // 필요시 추가 -->
            </div>
        
            <ul class="selecter-insert-list">
                <li>홍길동</li>
                <li class="on">홍길동</li>
                <li>홍길동</li>
                <li>홍길동</li>
            </ul>
        </li>
    </ul>

    <p class="jobindex-multi-selecter-noti">원하시는 검색결과가 없을 경우 <strong>Enter키를 눌러 검색 키워드를 추가</strong>하세요.  (','는 사용하실 수 없습니다.)</p>
</div>