                                    <div class="cpn-content-list-item-box">
                                        <div class="cpn-content-list-item-thumb">
                                            <a href="#" class="thumb">
                                                <img src="https://webpi.github.io/jobindex/assets/img/HwUgHzWO460fGjfC.PNG" alt="사진명">
                                            </a>
                                        </div>

                                        <div class="cpn-content-list-item-conts">
                                            <a href="https://webpi.github.io/jobindex/comm/view.html" class="cpn-content-list-item-a">
                                                <strong class="content-list-item-conts-subject">인체조직/재생의료 연구원</strong>

                                                <p class="content-list-item-conts-conts">국내 스포츠 마케팅/머천다이징/디지털서비스 회사 국내 스포츠 마케팅/머천다이징/디지털서비스 회사</p>
                                                
                                                <span class="content-list-item-conts-date">'19-02-21</span>
                                            </a>

                                            <!-- 태그 -->
                                            <div class="cpn-content-list-item-tags">
                                                <a href="#">#tag</a>
                                                <a href="#">#tag</a>
                                                <a href="#">#tag</a>
                                                <a href="#">#tagtagtagtagtag</a>
                                                <a href="#">#tag</a>
                                                <a href="#">#tag</a>
                                                <a href="#">#tag tag tag tag</a>
                                                <a href="#">#tag tag</a>
                                            </div>
                                            <!-- // 태그 -->
                                        </div>
                                    </div>

                                    <div class="cpn-content-list-item-info">
                                        <ul class="content-list-item-info-info">
                                            <li><i class="icon-eye"></i> 999</li>
                                            <li><span class="btn-scrap on"><i class="icon-bookmarks"></i> 999</span></li>
                                            <li><span class="btn-like"><i class="icon-like"></i> 999</span></li>
                                            <li><i class="icon-bubble2"></i> 999</li>
                                        </ul>

                                        <div class="content-list-item-info-user">
                                            <a href="#">
                                                <span class="photo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="홍길동"></span>

                                                <span class="name">홍길동</span>
                                            </a>
                                        </div>
                                    </div>