<div class="history-main-list">
    <!-- history-main-item-->
    <div class="history-main-item">
        <ul>
            <li>
                <span>컨택</span> : <em class="clr1">콜드콜</em>
                <em class="badge clr2">콜드콜</em>
                <em class="badge clr3">콜드콜</em>
                <em class="badge clr4">콜드콜</em>
                <em class="badge clr5">콜드콜</em>
                <em class="badge clr6">콜드콜</em>
                <em class="badge clr7">콜드콜</em>
                <em class="badge clr8">콜드콜</em>
                <em class="badge clr9">콜드콜</em>
                <em class="badge clr10">콜드콜</em>
                <em class="badge clr11">콜드콜</em>
                <em class="badge clr12">콜드콜</em>
                <em class="badge clr13">콜드콜</em>
                <em class="badge clr14">콜드콜</em>
                <em class="badge clr15">콜드콜</em>
            </li>
            <li><span>날짜(일정)</span> : `2019.12.31</li>
            <li><span>후보자</span> : <a href="#" class="name">홍길동</a></li>
            <li><span>내용</span> : 65/100 - 회계학 학사 - 호주 멜번 소재 1999.01 ~ 2000.01 Monash University (해외 소재) 고급회계학 80/100 - Postgraduate Diploma in Advanced Accounting - 호주 멜번 소재 호주 공인회계사 (2000) Head of Finance Gilead Sciences Dec 2013 ? Present Korea Hospira Head of Finance & Operations, Korea Oct 2009 ? Nov 2013 Bristol-Myers Squibb Senior Finance Manager, Korea Feb 2002 ? Oct 2009 Finance Controller, Korea Feb 2002 ? Oct 2008 McKenzie & Partners Accountant, Australia Feb 2000 ? Feb 2002 PMK Australia Pty Ltd Accountant Jan 1997 ? Dec 1998 /// 현재 status 확인 要2019.03.27</li>
            <li><span>등록일자</span> : 2019.03.26</li>
        </ul>

        <!-- 댓글 -->
        <div class="main-item-cmnt">
            <h5 class="tit-h5">댓글</h5>

            <button type="button" class="btn-prop"><i class="icon-pencil"></i><span class="ir">쓰기</span></button>

            <!-- 쓰기 -->
            <div class="main-item-cmnt-write">
                <form>
                    <fieldset>
                        <legend><span>댓글 쓰기</span></legend>
                        <textarea cols="30" rows="2" placeholder="쓰기" title="쓰기" class="tastyle"></textarea>
                        
                        <div class="main-item-cmnt-write-bot">
                            <button type="submit" class="btn btn-submit">확인</button>
                            <button type="button" class="btn btn-cncl">취소</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- // 쓰기 -->

            <ul>
                <li>
                    <span class="name"><a href="#">홍길동</a></span> 헤드헌터가 근무하는 서치펌이 크게 기본급을 주는 유형이 있고, <span class="date">`19.12.31</span>

                    <div class="main-item-cmnt-bot">
                        <button type="button" class="btn">답글</button>
                        <button type="button" class="btn">수정</button>
                        <button type="button" class="btn">삭제</button>
                    </div>
                </li>
                <li>
                    <span class="name"><a href="#">홍길동</a></span>
                    헤드헌터가 근무하는 서치펌이 크게 기본급을 주는 유형이 있고, 100% 성과급 베이스가 있을 수 있으니 구분해서 질문해보면 더 좋은 답변을 받으실 수 있을것 같네요~ 
                    <span class="date">`19.12.31</span>
                    
                    <div class="main-item-cmnt-bot">
                        <button type="button" class="btn">답글</button>
                        <button type="button" class="btn">수정</button>
                        <button type="button" class="btn">삭제</button>
                    </div>

                    <!-- 수정 -->
                    <div class="main-item-cmnt-edit">
                        <form>
                            <fieldset>
                                <legend><span>수정</span></legend>
                                <textarea cols="30" rows="2" class="itastyle" title="수정">헤드헌터가 근무하는 서치펌이 크게 기본급을 주는 유형이 있고, 100% 성과급 베이스가 있을 수 있으니 구분해서 질문해보면 더 좋은 답변을 받으실 수 있을것 같네요~ </textarea>
                                
                                <div class="main-item-cmnt-in-bot">
                                    <button type="submit" class="btn-submit">확인</button>
                                    <button type="submit" class="btn-cncl">취소</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- // 수정 -->
                </li>
                <li>
                    <span class="name"><a href="#">홍길동</a></span> 헤드헌터가 근무하는 서치펌이 크게 기본급을 주는 유형이 있고, <span class="date">`19.12.31</span>

                    <div class="main-item-cmnt-bot">
                        <button type="button" class="btn">답글</button>
                        <button type="button" class="btn">수정</button>
                        <button type="button" class="btn">삭제</button>
                    </div>
                </li>
            </ul>

            <button type="button" class="btn-more"><i class="icon-plus-sign-to-add"></i> 더보기</button>
        </div>
        <!-- // 댓글 -->

        <div class="main-item-bot">
            <button tpye="button" class="btn btn-cmnt">댓글</button>
            <button tpye="button" class="btn btn-detail">자세히보기</button>
            <button tpye="button" class="btn btn-feedback">피드백</button>
        </div>

        <button tpye="button" class="btn-edit">수정</button>
    </div>
    <!-- // history-main-item -->

    <!-- history-main-item-->
    <div class="history-main-item">
        <ul>
            <li><span>컨택</span> : <em class="badge clr3">추천</em></li>
            <li><span>날짜(일정)</span> : `2019.12.31</li>
            <li><span>후보자</span> : <a href="#" class="name">홍길동</a></li>
            <li><span>내용</span> : 2차면접일정 확정 / 대표이사면접</li>
            <li><span>등록일자</span> : 2019.03.26</li>
        </ul>

        <!-- 댓글 -->
        <div class="main-item-cmnt">
            <h5 class="tit-h5">댓글</h5>

            <button type="button" class="btn-prop"><i class="icon-pencil"></i><span class="ir">쓰기</span></button>

            <ul>
                <li>
                    <span class="name"><a href="#">홍길동</a></span> 헤드헌터가 근무하는 서치펌이 크게 기본급을 주는 유형이 있고, <span class="date">`19.12.31</span>

                    <div class="main-item-cmnt-bot">
                        <button type="button" class="btn">답글</button>
                        <button type="button" class="btn">수정</button>
                        <button type="button" class="btn">삭제</button>
                    </div>
                </li>
                <li>
                    <span class="name"><a href="#">홍길동</a></span> 헤드헌터가 근무하는 서치펌이 크게 기본급을 주는 유형이 있고, 100% 성과급 베이스가 있을 수 있으니 구분해서 질문해보면 더 좋은 답변을 받으실 수 있을것 같네요~  <span class="date">`19.12.31</span>
                    
                    <div class="main-item-cmnt-bot">
                        <button type="button" class="btn">답글</button>
                        <button type="button" class="btn">수정</button>
                        <button type="button" class="btn">삭제</button>
                    </div>

                    <!-- 답글 -->
                    <div class="main-item-cmnt-add">
                        <form>
                            <fieldset>
                                <legend><span>답글</span></legend>
                                <textarea cols="30" rows="2" class="itastyle" title="답글"></textarea>
                                
                                <div class="main-item-cmnt-in-bot">
                                    <button type="submit" class="btn-submit">확인</button>
                                    <button type="submit" class="btn-cncl">취소</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- // 답글 -->
                </li>
                <li>
                    <span class="name"><a href="#">홍길동</a></span> 헤드헌터가 근무하는 서치펌이 크게 기본급을 주는 유형이 있고, <span class="date">`19.12.31</span>

                    <div class="main-item-cmnt-bot">
                        <button type="button" class="btn">답글</button>
                        <button type="button" class="btn">수정</button>
                        <button type="button" class="btn">삭제</button>
                    </div>
                </li>
            </ul>
        </div>
        <!-- // 댓글 -->

        <div class="main-item-bot">
            <button tpye="button" class="btn btn-cmnt">댓글</button>
            <button tpye="button" class="btn btn-detail">자세히보기</button>
            <button tpye="button" class="btn btn-feedback">피드백</button>
        </div>

        <button tpye="button" class="btn-edit">수정</button>
    </div>
    <!-- // history-main-item -->

    <!-- history-main-item-->
    <div class="history-main-item">
        <ul>
            <li><span>컨택</span> : <em class="badge clr5">콜드콜</em></li>
            <li><span>날짜(일정)</span> : `2019.12.31</li>
            <li><span>후보자</span> : <a href="#" class="name">홍길동</a></li>
            <li><span>내용</span> : 2차면접일정 확정 / 대표이사면접</li>
            <li><span>등록일자</span> : 2019.03.26</li>
        </ul>

        <!-- 댓글 -->
        <div class="main-item-cmnt">
            <h5 class="tit-h5">댓글</h5>

            <button type="button" class="btn-prop"><i class="icon-pencil"></i><span class="ir">쓰기</span></button>

            <ul>
                <li>
                    <div class="notfound">댓글이 없습니다.</div>
                </li>
            </ul>
        </div>
        <!-- // 댓글 -->

        <div class="main-item-bot">
            <button tpye="button" class="btn btn-cmnt">댓글</button>
            <button tpye="button" class="btn btn-detail">자세히보기</button>
            <button tpye="button" class="btn btn-feedback">피드백</button>
        </div>

        <button tpye="button" class="btn-edit">수정</button>
    </div>
    <!-- // history-main-item -->

    <!-- history-main-item-->
    <div class="history-main-item">
        <ul>
            <li><span>컨택</span> : <em class="badge clr7">1차면접</em></li>
            <li><span>날짜(일정)</span> : `2019.12.31</li>
            <li><span>후보자</span> : <a href="#" class="name">홍길동</a></li>
            <li><span>내용</span> : 65/100 - 회계학 학사 - 호주 멜번 소재 1999.01 ~ 2000.01 Monash University (해외 소재) 고급회계학 80/100 - Postgraduate Diploma in Advanced Accounting - 호주 멜번 소재 호주 공인회계사 (2000) Head of Finance Gilead Sciences Dec 2013 ? Present Korea Hospira Head of Finance & Operations, Korea Oct 2009 ? Nov 2013 Bristol-Myers Squibb Senior Finance Manager, Korea Feb 2002 ? Oct 2009 Finance Controller, Korea Feb 2002 ? Oct 2008 McKenzie & Partners Accountant, Australia Feb 2000 ? Feb 2002 PMK Australia Pty Ltd Accountant Jan 1997 ? Dec 1998 /// 현재 status 확인 要2019.03.27</li>
            <li><span>등록일자</span> : 2019.03.26</li>
        </ul>

        <!-- 댓글 -->
        <div class="main-item-cmnt">
            <h5 class="tit-h5">댓글</h5>

            <button type="button" class="btn-prop"><i class="icon-pencil"></i><span class="ir">쓰기</span></button>

            <ul>
                <li>
                    <div class="notfound">댓글이 없습니다.</div>
                </li>
            </ul>
        </div>

        <div class="main-item-bot">
            <button tpye="button" class="btn btn-cmnt">댓글</button>
            <button tpye="button" class="btn btn-detail">자세히보기</button>
            <button tpye="button" class="btn btn-feedback">피드백</button>
        </div>

        <button tpye="button" class="btn-edit">수정</button>
    </div>
    <!-- // history-main-item -->

    <!-- history-main-item-->
    <div class="history-main-item">
        <ul>
            <li><span>컨택</span> : <em class="badge clr9">콜드콜</em></li>
            <li><span>날짜(일정)</span> : `2019.12.31</li>
            <li><span>후보자</span> : <a href="#" class="name">홍길동</a></li>
            <li><span>내용</span> : 65/100 - 회계학 학사 - 호주 멜번 소재 1999.01 ~ 2000.01 Monash University (해외 소재) 고급회계학 80/100 - Postgraduate Diploma in Advanced Accounting - 호주 멜번 소재 호주 공인회계사 (2000) Head of Finance Gilead Sciences Dec 2013 ? Present Korea Hospira Head of Finance & Operations, Korea Oct 2009 ? Nov 2013 Bristol-Myers Squibb Senior Finance Manager, Korea Feb 2002 ? Oct 2009 Finance Controller, Korea Feb 2002 ? Oct 2008 McKenzie & Partners Accountant, Australia Feb 2000 ? Feb 2002 PMK Australia Pty Ltd Accountant Jan 1997 ? Dec 1998 /// 현재 status 확인 要2019.03.27</li>
            <li><span>등록일자</span> : 2019.03.26</li>
        </ul>

        <!-- 댓글 -->
        <div class="main-item-cmnt">
            <h5 class="tit-h5">댓글</h5>

            <button type="button" class="btn-prop"><i class="icon-pencil"></i><span class="ir">쓰기</span></button>

            <ul>
                <li>
                    <div class="notfound">댓글이 없습니다.</div>
                </li>
            </ul>
        </div>

        <div class="main-item-bot">
            <button tpye="button" class="btn btn-cmnt">댓글</button>
            <button tpye="button" class="btn btn-detail">자세히보기</button>
            <button tpye="button" class="btn btn-feedback">피드백</button>
        </div>

        <button tpye="button" class="btn-edit">수정</button>
    </div>
    <!-- // history-main-item -->
</div>

<button type="button" class="btn-more"><i class="icon-plus-sign-to-add"></i> 더보기</button>