                                        <div class="circle-conts-item-box">
                                            <a href="view.html" class="circle-conts-item-box-a">
                                                <strong class="subject">헤드헌터의 연봉은 얼마정도 될까요? </strong> <span class="date">(`2019.12.31)</span>

                                                <div class="circle-conts-item-box-answer">
                                                    헤드헌터 연봉은 그때 그때 다릅니다. 자신이 한만큼받아 내는게 인지상정. 합격한 후보자의 연봉기준으로 사이닝보너스는 어떻게 헤드헌터 연봉은 그때 그때 다릅니다. 자신이 한만큼받아 내는게 인지상정. 합격한 후보자의 연봉기준으로 사이닝보너스는 어떻게
                                                </div>
                                            </a>

                                            <div class="circle-conts-item-box-tags">
                                                <a href="#">#전기,전자,제어</a>
                                                <a href="#">#기계설계,CAD,CAM</a>
                                                <a href="#">#과장</a>
                                            </div>
                                        </div>

                                        <div class="circle-conts-item-cnt">
                                            <!-- answer or check -->
                                            <ul>
                                                <li><i class="icon-like"></i> <em>추천</em> <span>2</span></li>
                                                <li class="answer"><i class="icon-bubbles4"></i> <em>답변</em> <span>2</span></li>
                                                <li><i class="icon-eye"></i> <em>뷰</em> <span>9999</span></li>
                                            </ul>
                                        </div>