                                        <div class="cpn-cardstyle-user-box">
                                            <span title="헤드헌터" class="headhunter">H<em class="ir">헤드헌터</em></span>

                                            <a href="#" class="cpn-cardstyle-user-a">
                                                <span class="photo">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="홍길동">
                                                </span>

                                                <div class="info">
                                                    <strong class="info-name">홍길동 (hong gil dong)</strong>

                                                    <ul class="info-detail">
                                                        <li>Venturepeople</li>
                                                        <li>전무 / Sr.managing Director</li>
                                                    </ul>
                                                </div>
                                            </a>

                                            <ul class="cpn-cardstyle-user-word">
                                                <li><a href="#">태그태그</a></li>
                                                <li><a href="#"> 태그태그태그태그</a></li>
                                            </ul>
                                        </div>

                                        <div class="btn">
                                            <a href="#" class="btn-button btn-mail"><i class="icon-envelop"></i> <span>인메일</span></a>
                                            <button type="button" class="btn-button btn-networking"><i class="icon-user-plus"></i> <span>인맥요청</span></button>
                                            <button type="button" class="btn-button btn-accept"><i class="icon-checkmark"></i> <span>수락</span></button>
                                            <button type="button" class="btn-button btn-refuse"><i class="icon-cross"></i> <span>거절</span></button>
                                        </div>          

                                        <!-- 필요시 추가 -->
                                        <span class="icheck-custom">
                                            <input type="checkbox" id="test-card" name="">
                                            <label for="test-card">
                                                <span class="ir">선택</span>
                                                
                                                <i class="icon-check-box"></i>
                                            </label>
                                        </span>
                                        <!-- // 필요시 추가 -->                              