        <!-- footer-btn -->
        <div class="footer-btn">
            <button type="button" class="btn-footer-btn btn-desktop-view">PC버전</button>
            <a href="#" class="btn-footer-btn btn-jobindex-app">잡인덱스APP</a>
        </div>
        <!-- // footer-btn -->

        <div class="footer-menu">
            <ul>
                <li><a href="https://webpi.github.io/jobindex/comm/aboutus.html">About us</a></li>
                <li><a href="https://webpi.github.io/jobindex/comm/terms.html">Terms</a></li>
                <li><a href="https://webpi.github.io/jobindex/comm/privacy.html">Privacy</a></li>
                <li><a href="https://webpi.github.io/jobindex/comm/contactus.html">Contact us</a></li>
            </ul>
        </div>

        <div class="copyright">Copyright &copy; <strong>Jobindex</strong> All Right Reserved.</div>