        <div class="header-body">
            <div class="in">
                <div class="header-wrapper">
                    <div class="header-wrapper-box">
                        <h1 class="tit-h1"><a href="https://webpi.github.io/jobindex/"><img src="https://webpi.github.io/jobindex/assets/img/ci_jobindex.png" alt="JobIndex"></a></h1>

                        <!-- // header aside -->
                        <div class="header-aside">
                            <ul class="header-aside-sign">
                                <li><a href="https://webpi.github.io/jobindex/comm/join/join.html">회원가입</a></li>
                                <li><a href="https://webpi.github.io/jobindex/comm/login.html">로그인</a></li>
                            </ul>

                            <ul class="header-aside-user">
                                <li><a href="https://webpi.github.io/jobindex/comm/search.html"><i class="icon-search"></i><span class="ir">검색</span></a></li>
                                <li>
                                    <a href="https://webpi.github.io/jobindex/profile/inmail/inmail.html"><i class="icon-envelop"></i><span class="ir">인메일</span></a>
                                    <span class="cnt">99</span>
                                </li>
                                <li>
                                    <a href="https://webpi.github.io/jobindex/profile/activity/profile_activity.html"><i class="icon-bullhorn"></i><span class="ir">알림</span></a>
                                    <span class="cnt">99</span>
                                </li>
                                <li class="header-aside-user-profile">
                                    <button type="button" class="btn-user"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="홍길동"></button>

                                    <div class="header-aside-user-profile-sub">
                                        <ul>
                                            <li><a href="https://webpi.github.io/jobindex/profile/profile.html">프로필 보기</a></li>
                                            <li><a href="https://webpi.github.io/jobindex/profile/manage/info.html">설정</a></li>
                                            <li><a href="#">로그아웃</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- // header aside -->
                    </div>

                    <!-- gnb -->
                    <div id="gnb">
                        <nav class="gnb-main">
                            <ul>
                                <li><a href="https://webpi.github.io/jobindex/circle/circle.html"><i class="icon-laptop"></i> <span>써클</span></a></li>
                                <li><a href="https://webpi.github.io/jobindex/networking/networking.html"><i class="icon-users"></i> <span>인맥</span></a></li>
                                <li><a href="https://webpi.github.io/jobindex/jobs/jobs.html"><i class="icon-briefcase"></i> <span>채용공고</span></a></li>
                                <li><a href="https://webpi.github.io/jobindex/career/careerinfo.html"><i class="icon-newspaper"></i> <span>경력직정보</span></a></li>
                                <li><a href="#" class="btn-recruiter"><i class="icon-binoculars"></i> <span>리크루터</span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- // gnb -->
                </div>
            </div>

            <!-- gnb sub -->
            <div class="gnb-sub">
                <nav class="gnb-sub-recuiter">
                    <ul>
                        <li><a href="https://webpi.github.io/jobindex/recruiter/dashboard.html" class="btn active">대쉬보드</a></li>
                        <li><a href="https://webpi.github.io/jobindex/recruiter/client.html" class="btn">고객사</a></li>
                        <li><a href="https://webpi.github.io/jobindex/recruiter/project.html" class="btn">프로젝트</a></li>
                        <li><a href="https://webpi.github.io/jobindex/recruiter/candidate.html" class="btn">후보자</a></li>
                        <li><a href="https://webpi.github.io/jobindex/recruiter/search.html" class="btn">히스토리 검색</a></li>
                        <li><a href="https://webpi.github.io/jobindex/recruiter/schedule.html" class="btn">일정</a></li>
                        <li><a href="https://webpi.github.io/jobindex/recruiter/report.html" class="btn">리포트 관리</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- // gnb sub -->