        <div class="wrap-noti-myinfo" >
            <!-- 직장정보 입력 -->
            <div class="wrap-noti-myinfo-job">
                <form>
                    <fieldset>
                        <legend><span>직장정보 입력</span></legend>
                        <strong class="tit">재직중인 직장정보를 입력해 주세요.</strong>
                        <input type="text" placeholder="직장명" size="20" title="직장명" class="istyle">
                        <input type="text" placeholder="직급" size="10" title="직급" class="istyle i1">
                        <input type="text" placeholder="직무" size="10" title="직무" class="istyle i2">
                        <button type="submit" class="btn-submit">등록</button>
                    </fieldset>
                </form>
            </div>
            <!-- // 직장정보 입력 -->

            <!-- 학교정보 입력 -->
            <div class="wrap-noti-myinfo-school">
                <form>
                    <fieldset>
                        <legend><span>학교정보 입력</span></legend>
                        <strong class="tit">학교정보를 입력해 주세요.</strong>
                        
                        <select title="학교" class="slt">
                            <option>선택</option>
                            <option>고등학교</option>
                            <option>대학교</option>
                            <option>대학원 &amp; MBA</option>
                            <option>기타</option>
                        </select>
                        <input type="text" placeholder="학교명" size="14" title="학교명" class="istyle i1">
                        <input type="text" placeholder="학과" size="10" title="학과" class="istyle i2">
                        <button type="submit" class="btn-submit">등록</button>
                    </fieldset>
                </form>
            </div>
            <!-- // 학교정보 입력 -->
        </div>

        <button type="button" class="btn-clse"><i class="icon-cancel"></i><span class="ir">닫기</span></button>