@charset "utf-8";

input[type="checkbox"], input[type="radio"] {
	display: inline-block;
	border: none;
}
input[type="checkbox"]+label {
	margin-right: 10px;
	padding-left: 0px;
	background: none;
}
input[type="checkbox"]:checked+label {
	margin-right: 10px;
	padding-left: 0px;
	background: none;
}
input[type="radio"]+label {
	margin-right: 10px;
	padding-left: 0px;
	background: none;
}
input[type="radio"]:checked+label {
	margin-right: 10px;
	padding-left: 0px;
	background: none;
}

input, input[type="text"], input[type="password"], input[type="search"], input[type="file"], input[type="number"] {
	height: 34px;
	line-height: 24px;
	padding: 4px 10px;
}
.webModule8 .myLearning .boxGray .selectBox select {
	height: 22px;
	margin-top: 7px;
}
button {
	min-width: 40px;
}
button.inside, .popup button {
	min-width: 50px;
}
.listAttach .btnDownload, .softwareDown .btnDownload {
	min-width: 62px;
}
.textBox .btnDelivery {
	min-width: 58px;
}
.feed .btnCommentWrite {
	min-width: 60px;
}

.inclub .btnArea button {
	min-width: 50px;
}
.btnCertificate {
	min-width: 74px;
}
.thumbnList .btnArea button.btnBook {
	min-width: 56px;
}

.icon.pc {
	background: url('/images/template3/resp/default/usr/ie8_icon_pc.png') center center no-repeat;
}
.icon.mobile {
	background: url('/images/template3/resp/default/usr/ie8_icon_mobile.png') center center no-repeat;
}
.icon.tablet {
	background: url('/images/template3/resp/default/usr/ie8_icon_tablet.png') center center no-repeat;
}

.toolBar .btnArea .btnRegister {
	    background: #ffffff url('/images/template3/resp/blue/button/ie8_btn_toolbar_register.png') 10px center no-repeat;
}
.toolBar .btnArea .btnRegister.disable {
	    background: #ffffff url('/images/template3/resp/blue/button/ie8_btn_toolbar_register_disable.png') 10px center no-repeat;
}

.myLearning > ul > li+li {
	margin-left: 19px;
}
.myLearning > ul > li+li+li {
	margin-left: 0;
}
.myLearning > ul > li+li+li+li {
	margin-left: 19px;
}
.myLearning > ul > li+li+li+li+li {
	margin-left: 0;
}
.myLearning > ul > li+li+li+li+li+li {
	margin-left: 19px; 
}

div.book .box .imgBox .badge {
	background: url('/images/template3/resp/default/usr/ie8_badge_book_type1.png') 0 0 no-repeat;
}
div.book .box .imgBox .badge.type2 {
	background: url('/images/template3/resp/default/usr/ie8_badge_book_type2.png') 0 0 no-repeat;
}

.courseView .content .lecture .profileImg {
	background: url('/images/template3/resp/default/usr/ie8_bg_default_profile_110.png') center center no-repeat;
}
.courseView .content .lecture .profileImg .profileBg {
    background: url('/images/template3/resp/default/usr/ie8_bg_profile_110.png') 0 0 no-repeat;
}
.feed li .view li .profileImg {
	background: url('/images/template3/resp/default/usr/ie8_bg_default_profile_60.png') center center no-repeat;
}
.feed li .view li .profileImg .profileBg {
	background: url('/images/template3/resp/default/usr/ie8_bg_profile_60.png') 0 0 no-repeat;

}
#sub .thinking .title, .popup .review .title, #sub .knowledge .title {
	min-height: 0;
}
.boardWrite .job input+label {
	width: 185px;
}

.softwareDown li:first-child,
.softwareDown li+li+li+li,
.softwareDown li+li+li+li+li+li+li {
	margin-left: 0;
}
.softwareDown li+li+li+li+li {
	margin-left: 15px;
}

.faq li span {
	background: url('/images/template3/resp/default/usr/ie8_icon_question.png') 0 0 no-repeat;
}
.faq li .content > span {
	background: url('/images/template3/resp/default/usr/ie8_icon_answer.png') 0 0 no-repeat;
}

.textBox+input+label {
    display: inline-block;
    vertical-align: middle;
}