@charset "utf-8";

@import url("component.css");

/* header */
#header .component1 {
	background: #384452;
}
#header .component1 .userInfo {
	border-bottom: 1px solid #2a333d;
	background: #f5f5f5;
}
#header .component1 .userInfo .user {
	color: #536374;
	font-weight: 700;
 	background: url('/images/common/mngs/user.png') left 7px no-repeat;
}
#header .component1 .userInfo .btnLogout {
    color: #fff;
	border: 1px solid #222a34;
	background-color: #3c4b5c;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#536374', endColorstr='#3c4b5c', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#536374), to(#3c4b5c));
    background-image: -webkit-linear-gradient(top, #536374, #3c4b5c);
    background-image: -o-linear-gradient(top, #536374, #3c4b5c);
    background-image: -moz-linear-gradient(top, #536374, #3c4b5c);
	background-image: linear-gradient(to bottom, #536374, #3c4b5c);
}
#header .component1 .userInfo .btnLogout:hover,
#header .component1 .userInfo .btnLogout:focus {
	border: 1px solid #161d25;
	background-color: #293545;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#435364', endColorstr='#293545', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#435364), to(#293545));
    background-image: -webkit-linear-gradient(top, #435364, #293545);
    background-image: -o-linear-gradient(top, #435364, #293545);
    background-image: -moz-linear-gradient(top, #435364, #293545);
	background-image: linear-gradient(to bottom, #435364, #293545);
}
#header .component1 .gnb > li > a:hover,
#header .component1 .gnb > li > a:focus {
	background: #2a333d;
}
#header .component1 .gnb li .twoDepth {
    border: 2px solid #384452;
    background: #fff;
}
#header .component1 .gnb li .twoDepth a {
	color: #333;
}
#header .component1 .gnb li .threeDepth li > a {
	color: #475d83;
}
#header .component1 .gnb li .fourDepth li > a {
	color: #4182b6;
}

/* visual */
.webModule1 .visual {
	background: #ffffff url('/images/common/mngs/gate_visual.png') center center no-repeat;
}
.webModule1 .visual .title strong {
	color: #384452;
}
.webModule1 .visual .title p {
	color: #626262;
}

/* loginBox */
.webModule2 .loginBox li:first-child {
	color: #384452;
}
.webModule2 .loginBox li label {
	color: #384452;
}
.webModule2 .loginBox li .btnLogin {
	color: #ffffff;
	border: 1px solid #222a34;
	background-color: #2d3744;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c5865', endColorstr='#2d3744', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4c5865), to(#2d3744));
    background-image: -webkit-linear-gradient(top, #4c5865, #2d3744);
    background-image: -o-linear-gradient(top, #4c5865, #2d3744);
    background-image: -moz-linear-gradient(top, #4c5865, #2d3744);
	background-image: linear-gradient(to bottom, #4c5865, #2d3744);
}
.webModule2 .loginBox li .btnLogin:hover,
.webModule2 .loginBox li .btnLogin:focus {
	border: 1px solid #161d25;
	background-color: #1d2530;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333f4c', endColorstr='#1d2530', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333f4c), to(#1d2530));
    background-image: -webkit-linear-gradient(top, #333f4c, #1d2530);
    background-image: -o-linear-gradient(top, #333f4c, #1d2530);
    background-image: -moz-linear-gradient(top, #333f4c, #1d2530);
	background-image: linear-gradient(to bottom, #333f4c, #1d2530);
}