/* CSS Document */

@charset "utf-8";

body{margin: 0;padding: 0;font-family:Arial,sans-serif;font-size: 32px;color: #363636;background: #fff; position: relative}
section{width:100%; height:100%}
h1,h2,h3,h4,h5,h6,div,p,ul,ol,li,dl,dt,dd,input,textarea,pre,code,form,fieldset,blockquote,th,td,select,button,code{margin: 0;padding: 0}
ul,ol,li{list-style: none}
img,fieldset{border: 0 none}

em{font-style: normal}
input: focus{outline: 0 none !important}
option{padding-right: 6px}
button,label{cursor: pointer}
button img{vertical-align: top}
input,select{margin: 0;padding: 0; border:none; background-color:#f4f4f4;height:30px;line-height:30px;border-top-left-radius:0; border-top-right-radius:0; border-bottom-left-radius:0; border-bottom-right-radius:0; -webkit-appearance:none}
button{height:30px; line-height:30px; background-color:#3c6991; padding:0 20px; font-family: 'notokr-bold'; color:#fff; text-align:center; border:none}
button[disabled=disabled]{cursor: pointer;outline: none}
legend{visibility: hidden;overflow: hidden;clear: both;position: absolute;top: 0;left: 0;width: 1%;height: 1%;margin: 0;padding: 0;font-size: 1%;line-height: 1%}
caption span{visibility: hidden;overflow: hidden;position: absolute;width: 1%;height: 1%;margin: 0;padding: 0;font-size: 1%;line-height: 1%}
table,
tr,
td{margin: 0;padding: 0;border-collapse: collapse;border-spacing: 0}
a,a:link,a:active,a:hover,a:visited{text-decoration: none}
a:focus{outline: thin dotted}
a:active,
a:hover{outline: 0}
strong{font-weight: bold}
pre{white-space: pre-wrap}
q{quotes: "\201C" "\201D" "\2018" "\2019"}
small{font-size: 80%}
sub,
sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline}
sup{top: -0.5em}
sub{bottom: -0.25em}
button,
input,
select,
textarea{font-family: inherit;font-size: 100%}
button,
input{line-height: normal; padding:0 10px}
input[type="button"]{cursor: pointer}
button,
select{text-transform: none}
textarea{overflow: auto;resize: none}
object{display: block}
address{font-style: normal}
select{background:url(../../images/common/select_bg.png) right no-repeat #f4f4f4; background-size:26px 30px; padding-left:10px}

/* CSS Common */
.blind{display: none}
.invisible{visibility: hidden}
.clearfix{*zoom: 1}
.clearfix:after{display: block;clear: both;content: ''}
.ir{visibility: hidden;overflow: hidden;position: absolute;width: 1%;height: 1%;margin: 0;padding: 0;font-size: 1%;line-height: 1%}

/* style */
.mt60{margin-top:60px}
.mt40{margin-top:40px}
.mt20{margin-top:20px}
.mt10{margin-top:10px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb50{margin-bottom:50px}
.mb70{margin-bottom:70px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.ml10{margin-left:10px}
.pt10{padding-top:10px}
.pt20{padding-top:20px}
.pt-20{padding-top:-20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pt70{padding-top:70px}
.pd10{padding:0 10px}
.pd20{padding:0 20px}
.pb10{padding-bottom:10px}
.pb20{padding-bottom:20px}
.pb50{padding-bottom:50px}

.pl30{padding-left:30px}
.pr10{padding-left:10px}

.blue{color:#3c6991}
.blue2{color:#3c6991; font-weight:600}
.lightgray{color:#888 !important}

.xsm-title{font-size:12px}
/* CSS Document */

