/* CSS Document */

@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/bebas/BebasNeuewebfont.eot');
    src: url('../fonts/bebas/BebasNeuewebfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/BebasNeuewebfont.woff2') format('woff2'),
         url('../fonts/bebas/BebasNeuewebfont.woff') format('woff'),
         url('../fonts/bebas/BebasNeuewebfont.ttf') format('truetype'),
         url('../fonts/bebas/BebasNeuewebfont.svg#bebas-neue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: normal;
    src: url(../font/NanumGothic.eot); /* IE9 Compat Modes */
    src: url(../font/NanumGothic.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
    url(../font/NanumGothic.ttf) format('truetype'), /* Modern Browsers */
    url(../font/NanumGothic.woff) format('woff'); /* Safari, Android, iOS */
}
