/* CSS Document */

.wrapper{height:100%;width:100%;min-width:720px; max-width:1920px; margin:0 auto;}
.wrapper section{position: relative}

.gnb{width:100%; height:42px; border-bottom:1px solid #888; padding-top:18px; position:fixed; z-index:100; background:rgba(255,255,255,0.8)}
.gnb .shop{float:right; width:12%; font-family:'bebas-neue'; font-size:1.5rem; text-align:center}
.gnb .shop a{color:#363636}
.gnb .shop:hover{border-bottom:#f67670 solid 6px; color:#363636; padding-bottom:8px}

.menu{min-width:720px; width:90%; max-width:1920px; margin:0 auto}
.menu li{float:left; width:12%; text-align:center; font-family:'bebas-neue'; font-size:1.5rem}
.menu li.on{color:#f67670; border-bottom:6px solid #f67670; padding-bottom:8px}
.menu li:hover.on{color:#f67670; border-bottom:#f67670 solid 6px; padding-bottom:8px}
.menu li:hover {border-bottom:#f67670 solid 6px; color:#363636; padding-bottom:8px}
.menu li:link {color:#363636}
.menu li:visited {color:#363636}
.menu li a{color:#363636}


#footer{width:100%; position:relative}

.big-title{font-family:'bebas-neue';font-size:7.5rem}
@media all and (max-width:1024px){
    .big-title{font-size: 6rem}
    section{font-size: 1.5rem}
}
@media all and (min-width:1024px){
    .big-title{font-size: 7.5rem}
    section{font-size: 1.8rem}
}
.page1{width:100%; height:94%;  position:relative}
.page1 .main-visual{text-align:center;font-size:1.15em; margin:16% 0}
.page1 .big-title{margin:4.6% 0 -0.93%}

.page2-1{background:url(../images/m2_bg1.jpg) center top no-repeat; text-align:center }
.page2-1 .big-title{margin-top:0}
.page2-1 .bg1{background:url(../images/m2_bg1_pic.png) center no-repeat; width:100%; height:828px ; margin:8% auto; position:relative}

.page3{text-align:center}
.page3-1 .big-title{margin-top:8%}

.page3-2 .big-title{margin-top:30%}
.page3-3 .big-title{margin-top:30%}
.page3-4 .big-title{margin-top:30%}

.page4-1{background:url(../images/m4_1bg.jpg) center top no-repeat; text-align:center }
.page4-1 .big-title{margin-top: 30%}

.page4-2-1{background:url(../images/m4_2_1bg.jpg) center top no-repeat; text-align:center }
.page4-2-1 .big-title{margin-top: 10%}
.page4-2-2{background:url(../images/m4_2_2bg.jpg) center top no-repeat; text-align:center }
.page4-2-3{background:url(../images/m4_2_3bg.jpg) center top no-repeat; text-align:center }
.page4-2-4{background:url(../images/m4_2_4bg.jpg) center top no-repeat; text-align:center }
.page4-2-5{background:url(../images/m4_2_5bg.jpg) center top no-repeat; text-align:center }
.page4-2-6{background:url(../images/m4_2_6bg.jpg) center top no-repeat; text-align:center }

.page5{background:url(../images/m5_1bg.jpg) center top no-repeat; text-align:center }
.page5 .big-title{margin-top: 30%}

.page6{background:url(../images/m6_1bg.jpg) center top no-repeat; text-align:center }
.page6 .big-title{margin-top: 30%}
