/* CSS Document */

.gnb{width:100%; height:42px; border-bottom:1px solid #888; padding-top:18px; position:fixed; z-index:10000; background:rgba(255,255,255,0.8)}
.gnb .shop{float:right; width:13%; font-family:'bebas-neue'; font-size:1.5rem; text-align:center}
.gnb .shop a{color:#363636}
.gnb .shop:hover{border-bottom:#f67670 solid 6px; color:#363636; padding-bottom:8px}
.menu{min-width:720px; width:100%; max-width:1024px; margin:0 auto}
.menu li{float:left; width:13%; text-align:center; font-family:'bebas-neue'; font-size:1.5rem}
.menu li.on{color:#f67670; border-bottom:6px solid #f67670; padding-bottom:8px}
.menu li:hover.on{color:#f67670; border-bottom:#f67670 solid 6px; padding-bottom:8px}
.menu li:hover {border-bottom:#f67670 solid 6px; color:#363636; padding-bottom:8px}
.menu li:link {color:#363636}
.menu li:visited {color:#363636}
.menu li a{color:#363636}

body{background:#f9f9f9 !important; }
.wrap{width:100%; height:100%; padding:70px 0 100px}
.wrap h1{font-family:'bebas-neue';font-size:1.4rem; color:#f67670; max-width:940px; margin:15px auto; font-weight:normal}
.contents{max-width:940px; border:#CCC solid 1px; background:#fff; margin:0 auto; font-size:1rem; font-family:Arial,'Nanum Gothic'}
.contents .dir{width:100%; border-bottom:#ccc solid 1px; padding:24px 0}
.contents .dir p{margin-left:30px; color:#999}
.contents .dir strong{color:#666}
.contents .dir span{padding:15px}
.contents .dir a:link{color:#999}
.contents .dir a:visited{color:#999}
.contents .dir a:hover{color:#666}
.contents .left{float:left; width:23%;height:100%; overflow:hidden}
.contents .lmenu li{border-left:#fff solid 3px; padding:20px 0 20px 27px; font-size:0.9rem}
.contents .lmenu li.on{border-left:#363636 solid 3px; font-weight:700}
.contents .lmenu li:hover.on{border-left:#363636 solid 3px; font-weight:700}
.contents .lmenu li:hover {border-left:#1aafad solid 3px; color:#363636}
.contents .lmenu li:link {color:#363636}
.contents .lmenu li:visited {color:#363636}
.contents .lmenu li a{color:#363636}
.contents .cright{float:right;  width:68%; height:100%; min-height:600px; padding:20px 4%;border-left:#ccc solid 1px}
.contents .cright p{padding-bottom:8px; font-size:0.9rem; line-height:1.5rem}
.contents .cright p.link{color:#1aafad; padding:30px 0}
.contents h2{margin-bottom:20px}
.contents h3{margin:30px 0 20px}
.contents h4{margin:5px 0}

.footer {padding-top:50px; max-width:940px; margin:0 auto; font-size:0.8rem}
.other-menu{float:left}
.other-menu li{float:left; padding-right:30px}
.other-menu li.on{font-weight:600}

.copy{float:right; color:#666}
