<h3 class="tit-h3"><span>사전 인터뷰</span> 기록</h3>

<div class="profile-interview-box">
    <ul>
        <li>
            인터뷰 <span>2019.03.25</span>
            
            <div class="interview-box-btn">
                <button type="button" class="btn">수정</button>
                <button type="button" class="btn">삭제</button>
            </div>
        </li>
        <li>
            인터뷰 <span>2019.03.25</span>
            
            <div class="interview-box-btn">
                <button type="button" class="btn">수정</button>
                <button type="button" class="btn">삭제</button>
            </div>
        </li>
        <li>
            인터뷰 <span>2019.03.25</span>
            
            <div class="interview-box-btn">
                <button type="button" class="btn">수정</button>
                <button type="button" class="btn">삭제</button>
            </div>
        </li>
    </ul>
</div>

<button type="button" class="btn-add">추가</button>