                            <ul>
                                <li>잡인덱스 활동 <span><a href="https://webpi.github.io/jobindex/profile/activity/profile_activity.html" class="btn-more"><i class="icon-plus-sign-to-add"></i> 더보기</a></span></li>
                                <li>열람 <span>333</span></li>
                                <li>작성한글 <span>333</span></li>
                                <li>업데이트 조회 <span>333</span></li>
                                <li>답변글 <span>333</span></li>
                                <li>저장한 글 <span>333</span></li>
                                <li>잡인덱스 인맥 <span>333</span></li>
                                <li>지원관리 <span>333</span></li>
                            </ul>