                        <div class="profile-top-box">
                            <div class="profile-top-box-user">
                                <div class="profile-top-box-user-head">
                                    <div class="photo">
                                        <img src="/assets/img/SDI_Eng_Right.png" alt="samsung sdi">
                                        <!-- <img src="/assets/img/50B6821A-F546-4411-9953-5E57DDE10C01.jpg" alt="samsung sdi"> -->
                                    </div>
                                    
                                    <button type="button" class="btn-photo-edit"><i class="icon-camera"></i><span class="ir">사진변경</span></button>

                                    <strong class="name">SAMSUNG</strong>
                                </div>

                                <div class="profile-top-box-user-bot">
                                    <a href="#" class="btn btn-follow on"><i class="icon-user-check"></i> 팔로우</a>
                                    <a href="#" class="btn btn-follow"><i class="icon-user-check"></i> 팔로우</a>
                                </div>
                            </div>

                            <div class="profile-top-box-career">
                                <ul class="profile-top-box-career-list">
                                    <li>업종 : 솔루션, SI, ERP</li>                            <li>설립일 : 2011</li>
                                    <li>주소 : 서울시 영등포구 여의도동</li> 
                                    <li>홈페이지 : <a href="http://www.jobindexworld.com" target="_blank">www.jobindexworld.com</a></li>
                                </ul>

                                <ul class="profile-top-box-career-grade">
                                    <li><span class="gold">Gold</span> <strong>999</strong></li>
                                    <li><span class="silver">Silver</span> <strong>999</strong></li>
                                    <li><span class="bronze">Bronze</span> <strong>999</strong></li>
                                    <li><span>Tag Ranking</span> <strong>#99</strong></li>
                                </ul>
                            </div>
                        </div>

                        <ul class="profile-top-cnt">
                            <li>
                                <strong>Reputation(point)</strong>
                                <span>124,000,000</span>
                            </li>
                            <li>
                                <strong>Profile view(total)</strong>
                                <span>1300(3.2K)</span>
                            </li>
                            <li>
                                <strong>Network Ranking</strong>
                                <span>
                                    <em>#9</em>
                                    <em>20,000</em>
                                </span>
                            </li>
                        </ul>