                        <div class="profile-top-box">
                            <div class="profile-top-box-user">
                                <div class="profile-top-box-user-head">
                                    <strong class="name">홍길동 (Dong Dong Kim)</strong>
                                </div>

                                <div class="profile-top-box-user-bot">
                                    <!-- 없을때 등록 -->
                                    <button class="btn btn-profile-write"><i class="icon-pencil"></i> 수정</button>
                                </div>
                            </div>

                            <div class="profile-top-box-career">
                                <ul class="profile-top-box-career-list">
                                    <li>Principal Engineer - Samsung Electronics</li>
                                    <li>연세대학교(Yonsei Univ)</li>
                                    <li>CPO - Real Communications Inc.</li>
                                </ul>

                                <div class="keyword-wrap">
                                    <a href="" class="keyword">마케팅전략</a>
                                    <a href="" class="keyword">마케팅전략</a>
                                    <a href="" class="keyword">마케팅전략</a>
                                    <a href="" class="keyword">마케팅전략</a>
                                    <a href="" class="keyword">마케팅전략</a>
                                </div>
                            </div>
                        </div>   