                            <ul>
                                <li>잡인덱스 활동 <span><a href="#" class="btn-more"><i class="icon-plus-sign-to-add"></i> 더보기</a></span></li>
                                <li>알람 <span>333</span></li>
                                <li>연결된 헤드헌터 <span>333</span></li>
                                <li>지원자 관리 <span>333</span></li>
                                <li>작성한 글 <span>333</span></li>
                                <li>답변 글 <span>333</span></li>
                            </ul>