                        <div class="profile-top-box">
                            <div class="profile-top-box-user">
                                <div class="profile-top-box-user-head">
                                    <div class="photo">
                                        <img src="https://webpi.github.io/jobindex/assets/img/profile.jpg" alt="홍길동">
                                    </div>
                                    
                                    <strong class="name">홍길동</strong>

                                    <button type="button" class="btn-photo-edit"><i class="icon-camera"></i><span class="ir">사진변경</span></button>
                                </div>

                                <div class="profile-top-box-user-bot">
                                    <a href="#" class="btn btn-inmail"><i class="icon-envelop"></i> 인메일</a>
                                    <a href="#" class="btn btn-networking"><i class="icon-user-plus"></i> 인맥</a>
                                    <!-- 없을때 등록 -->
                                    <button class="btn btn-profile-write"><i class="icon-pencil"></i> 수정</button>
                                </div>
                            </div>

                            <div class="profile-top-box-career">
                                <ul class="profile-top-box-career-list">
                                    <li>Principal Engineer - Samsung Electronics</li>
                                    <li>연세대학교(Yonsei Univ)</li>
                                    <li>CPO - Real Communications Inc.</li>
                                </ul>

                                <ul class="profile-top-box-career-grade">
                                    <li><span class="gold">Gold</span> <strong>999</strong></li>
                                    <li><span class="silver">Silver</span> <strong>999</strong></li>
                                    <li><span class="bronze">Bronze</span> <strong>999</strong></li>
                                    <li><span>Tag Ranking</span> <strong>#99</strong></li>
                                </ul>
                            </div>
                        </div>

                        <ul class="profile-top-cnt">
                            <li>
                                <strong>Reputation(point)</strong>
                                <span>124,000,000</span>
                            </li>
                            <li>
                                <strong>Profile view(total)</strong>
                                <span>1300(3.2K)</span>
                            </li>
                            <li>
                                <strong>Network Ranking</strong>
                                <span>
                                    <em>#9</em>
                                    <em>20,000</em>
                                </span>
                            </li>
                        </ul>      