                        <h3 class="tit-h3">인맥 <span>댓글</span></h3>

                        <button type="button" class="btn-cmnt-write"><i class="icon-pencil"></i> <span class="ir">댓글 쓰기</span></button>

                        <div class="profile-cmnt-wrap">
                            <!-- 댓글 쓰기 -->
                            <div class="profile-cmnt-write">
                                <form>
                                    <fieldset>
                                        <legend><span>댓글 입력</span></legend>

                                        <input type="text" placeholder="댓글을 입력하세요." title="입력" class="istyle">

                                        <div class="profile-cmnt-write-bot">
                                            <button type="submit" class="btn btn-cmnt">확인</button>
                                            <button type="button" class="btn btn-cncl">취소</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <!-- // 댓글 쓰기 -->

                            <!-- 댓글 리스트 -->
                            <ul class="profile-cmnt-list">
                                <li>
                                    <div class="profile-cmnt-list-head">
                                        <strong class="name"><a href="#">잡인덱스</a></strong>
                                        <span class="date">`19.12.31</span>
                                    </div>
                                    <p class="profile-cmnt-list-body">AP·로이터통신 등에 따르면 제2차 북미정상회담 참석차 베트남 수도 하노이를 방문 중인 트럼프 대통령은 이날 오전 주석궁에서 응우옌 푸 쫑 베트남 국가주석과 만나 "(북한이) 좋은 생각을 하면 무슨 일어날 수 있을지를 보여주는 예가 바로 베트남"라고 언급했다.</p>
                                </li>
                                <li>
                                    <div class="profile-cmnt-list-head">
                                        <strong class="name"><a href="#">벤처피플(헌터x헌터)</a></strong>
                                        <span class="date">`19.12.31</span>
                                    </div>
                                    <p class="profile-cmnt-list-body">AP·로이터통신 등에 따르면 제2차 북미정상회담 참석차 베트남 수도 하노이를 방문 중인 트럼프 대통령은 이날 오전 주석궁에서 응우옌 푸 쫑 베트남 국가주석과 만나 "(북한이) 좋은 생각을 하면 무슨 일어날 수 있을지를 보여주는 예가 바로 베트남"라고 언급했다.</p>
                                </li>
                                <li>
                                    <div class="profile-cmnt-list-head">
                                        <strong class="name"><a href="#">벤처피플(헌터x헌터)</a></strong>
                                        <span class="date">`19.12.31</span>
                                    </div>
                                    <p class="profile-cmnt-list-body">AP·로이터통신 등에 따르면 제2차 북미정상회담 참석차 베트남 수도 하노이를 방문 중인 트럼프</p>
                                </li>
                            </ul>
                            <!-- // 댓글 리스트 -->
                        </div>

                        <button type="button" class="btn-more"><i class="icon-plus-sign-to-add"></i> 더보기</button>