                            <h3 class="tit-h3">팔로우 <span>써클</span> (20)</h3>

                            <ul>
                                <li>
                                    <strong><a href="#">경영기획</a></strong> <span>2100234</span>
                                </li>
                                <li>
                                    <strong><a href="#">전략</a></strong> <span>2100234324234</span>
                                </li>
                                <li>
                                    <strong><a href="#">마케팅전략</a></strong> <span>2100234</span>
                                </li>
                                <li>
                                    <strong><a href="#">보안</a></strong> <span>21004234</span>
                                </li>
                                <li>
                                    <strong><a href="#">It, 인터넷</a></strong> <span>2100435</span>
                                </li>
                            </ul>

                            <a href="#" class="btn-more"><i class="icon-plus-sign-to-add"></i> 모두보기</a>