@charset "utf-8";

/* .tab li a {
	width: 130px;  
}
.tab li.active, .tab li:hover { 
	height: 50px;
	background: url('/images/classroom/template2/navy/bg_tab.png') bottom center no-repeat; 
}
  */

.selectBox {
	border: none;
	background: none;
}
.selectBox select {
	border: 1px solid #dedede;
	top: 0px;
	padding: 4px 5px;	
	background: #ffffff;
}

.userInfo p > strong {
	letter-spacing: 0;
}
.fileAttach .textInput {
	 width: 400px;
}
.fileAttach input[type="file"] {
    width: 485px;
}

/* #header { 
	float: left;
	height: 100%;
}
#container {
	height: 100%;
}
.headingBox .title {
	padding-top: 10px;
}
 */

.textBox {
	width: auto;
}
.contentsBox > .box > .textBox {
	width: auto;
}
.textBox .imgBox {
	float: left;
}
.certify .textBox .imgBox { /* 캡챠인증  부분 */
	float: inherit;
}
.textBox .box {
	display: inline-block;
}

#contents > .headingBox > .box .date p > span {
	height: 44px;
	line-height: 44px;
	padding: 0px 0 0px;
    background: #2e3e4e;
}
#contents > .headingBox > .box .date p > span:first-child {
	background: none;
}
.popup div.time > p > span {
	background: #4587d1;
}
