@charset "utf-8";

/* 150715 오픈기념 행운번호 이벤트 */
.e-lucky-number .event-form{padding:36px 46px 29px;background:#b2c2c5}
.e-lucky-number .event-form table{width:100%}
.e-lucky-number .event-form caption{height:38px;margin-bottom:30px;font-size:16px;color:#fff;background:url(/assets/img/event/lucky_number/bg_event_tit.jpg) no-repeat 50% 0;line-height:36px}
.e-lucky-number .event-form th{font-size:13px;color:#374b54}
.e-lucky-number .event-form th.vt{padding-top:4px;vertical-align:top}
.e-lucky-number .event-form td{padding:4px 0}
.e-lucky-number .event-form .istyle{height:23px;border-color:#8a9ca2;background:#d9e4e6;line-height:23px}
.e-lucky-number .event-form .sstyle{height:25px;border-color:#8a9ca2;background:#d9e4e6}
.e-lucky-number .event-form .zipcode{margin-bottom:8px}
.e-lucky-number .event-form .btn-zipcode{width:96px;height:25px;font-size:13px;color:#fff;background:url(/assets/img/event/lucky_number/btn_zipcode.jpg) no-repeat 0 0;line-height:23px}
.e-lucky-number .event-form .terms-privacy{margin-top:30px}
.e-lucky-number .event-form .terms-privacy .terms{overflow-y:auto;height:78px;margin-top:10px;padding:10px;border:1px solid #8a9ca2;color:#374b54;background:#d9e4e6;line-height:20px}
.e-lucky-number .event-form .button-group{margin-top:30px}

/* 150731 오픈이벤트 */
.e-open .row{position:relative}
.e-open .btn-telecom-join-guide{position:absolute;left:15px;top:15px}
.e-open .box{position:absolute;left:0;top:210px;width:100%;text-align:center}
.e-open .box a:first-child{margin-right:75px}