@charset "utf-8";

/* 폼 요소 */
input[type="text"], input[type="password"], input[type="search"], input[type="file"], input[type="number"] {
	border: 1px solid #dedede;
}
input[type="checkbox"] {
	border: 1px solid #dedede;
}
input[disabled], textarea:disabled {
	color: #919191;
	background-color: #f5f5f5;
}
div.selectBox {
	border: 1px solid #dedede;
	background: #ffffff url('/images/template6/resp/default/usr/bg_select.png') right center no-repeat;
}
select {
	border: none;
}
textarea {
	border: 1px solid #dedede;
	background: #ffffff;
}
.searchBox {
	background: #f5f5f5;
}

/* text */
.error {
	color: #f0564c;
}
.warning {
	color: #f0564c;
}
.success {
	color: #17adad;
}

/* box */
.boxGray {
	background: #f5f5f5;
}
.borderBox {
	border: 1px solid #dedede;
}
.textBox.scrollBox {
	border: 1px solid #dedede;
}
.textBox em,
.textBox em > strong {
    color: #0c50a1;
}
.msgBox.success {
	border: 1px solid #8bd6d6;
	color: #17adad;
	background: #eff9f9;
}

.msgBox.success strong {
	color: #f0564c;
}
.msgBox.success:before {
	background: url('/images/template6/resp/default/usr/icon_msgbox_success.png') center center no-repeat;
}

/* icon */
.icon {
	color: #ffffff;
}
.icon.refund {
	border: 1px solid #003464;
	color: #003464;
	background: #ffffff;
}
.icon.noRefund {
	border: 1px solid #003464;
	color: #003464;
	background: #ffffff;
}
.icon.individual {
	border: 1px solid #f0564c;
	color: #ffffff;
	background: #f0564c;
}
.icon.company {
	border: 1px solid #17adad;
	color: #ffffff;
	background: #17adad;
}
.icon.mobile {
	border: 1px solid #4587d1;
	color: #ffffff;
	background: #4587d1;
}
.icon.pc {
	border: 1px solid #919191;
	color: #ffffff;
	background: #919191;
}
.icon.movie {
	border: 1px solid #5e5e5e;
	color: #ffffff;
	background: #5e5e5e;
}
.icon.data {
	border: 1px solid #f68b1f;
	color: #ffffff;
	background: #f68b1f;
}
.icon.course {
	border: 1px solid #225fa4;
	color: #ffffff;
	background: #225fa4;
}

.icon.new {
	color: #ffffff;
	background: #f0564c;
}

.icon.event { /* 이벤트 */
	border: 1px solid #f68b1f;
	color: #f68b1f;
	background: #fef6ed;
}
.icon.best { /* 베스트 */
	border: 1px solid #4587d1;
	color: #4587d1;
	background: #f0f6fb;
}
.icon.new.type2 { /* 신규 */
	border: 1px solid #17adad;
	color: #17adad;
	background: #edf9f9;
}
.icon.recommend { /* 추천 */
	border: 1px solid #f0564c;
	color: #f0564c;
	background: #fef2f1;
}
.icon.popularity { /* 인기 */
	border: 1px solid #225fa4;
	color: #225fa4;
	background: #eef2f8;
}
.icon.book { /* 교재 */
	border: 1px solid #77a4d8;
	color: #ffffff;
	background: #77a4d8;
}
.icon.share { /* 모바일병행 */
	border: 1px solid #3faa53;
	color: #ffffff;
	background: #3faa53;
}

.icon.lock {
	background: url('/images/template6/resp/default/usr/icon_lock.png') center 5px no-repeat;
}
.icon.normal {
	border: 1px solid #e7e9ea;
	color: #61696f;
	background: #e7e9ea;
}
.icon.question {
	border: 1px solid #e5eef6;
	color: #0057a8;
	background: #e5eef6;
}
.icon.progress {
	border: 1px solid #51c2c2;
	color: #17adad;
	background: #ffffff;
}
.icon.standby {
	border: 1px solid #f48079;
	color: #f0564c;
	background: #ffffff;
}
.icon.end {
	border: 1px solid #adadad;
	color: #919191;
	background: #ffffff;
}
.icon.member {
	color: #292f37;
	background: url('/images/template6/resp/default/usr/icon_member.png') 0 2px no-repeat;
}
.icon.feed {
	color: #292f37;
	background: url('/images/template6/resp/default/usr/icon_feed.png') 0 3px no-repeat;
}
.icon.notice {
	border: 1px solid #333333;
	color: #333333;
	background: #ffffff;
}
.grade span {
	background: url('/images/template6/resp/default/usr/icon_grade.png') 0 0 no-repeat;
}
.grade span.active {
	background: url('/images/template6/resp/default/usr/icon_grade_active.png') 0 0 no-repeat;
}
.grade span.num {
	color: #f0564c;
	background: none;
}

/* button */
.boardWrite table td button, .inclub button, .review .btnView, .btnShortcut, #sub .remote li > div button { /* ash */
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background: #f5f5f5;
} 
.boardWrite table td button:hover, .inclub button:hover, .review .btnView:hover, .btnShortcut:hover, #sub .remote li > div button:hover {
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
	background: #fefefe;
} 

.btnClassroom, .btnSurvey, .btnWrite, .btnConfirm, .btnSurveyDone, .btnJoin, .btnSave, .btnWithdrawal, .register .btnNext, 
.btnEntrance, .findIdpw .btnLogin, .btnCertify, .btnNext, .btnAgree, .btnReset, .btnYes,
.btnRegisterDone, .inside.btnDownload, .btnModify, th .btnView  { /* blue */
	border: 1px solid #225fa4;
	color: #ffffff;
	background: #225fa4;
}
.btnClassroom:hover, .btnSurvey:hover, .btnWrite:hover, .btnConfirm:hover, .btnSurveyDone:hover, .btnJoin:hover, .btnSave:hover, .btnWithdrawal:hover, .register .btnNext:hover, 
.btnEntrance:hover, .findIdpw .btnLogin:hover, .btnCertify:hover, .btnNext:hover, .btnAgree:hover, .btnReset:hover, .btnYes:hover,
.btnRegisterDone:hover, .inside.btnDownload:hover, .btnModify:hover, th .btnView:hover {
	border: 1px solid #225fa4;
	color: #225fa4;
	background: #eef2f8;
}
.btnSearch, .btnResult, .btnDelivery, .btnDelete, .btnCancel, .btnTemporaryDone, .btnReturn, .btnUnfollow, .btnClose, .btnCategory, .btnList, 
.btnAdd, .findIdpw .btnPwFind, .floatLeft .btnPrev, .floatLeft .btnNext, .btnJoinNext, .btnJoinNot, .btnRecommend, .btnInclubClose, .btnNo,
.course+.btnArea .btnList, .inside.btnView, .courseView .content .lecture .textBox .btnArea .btnView,
.popup .certificate .btnCertificate:hover, .btnScrap   {/* gray */
	border: 1px solid #919191;
	color: #ffffff;
	background: #919191; 
}
.btnSearch:hover, .btnResult:hover, .btnDelivery:hover, .btnDelete:hover, .btnCancel:hover, .btnTemporaryDone:hover, .btnReturn:hover, .btnUnfollow:hover, .btnClose:hover, .btnCategory:hover, .btnList:hover, 
.btnAdd:hover, .findIdpw .btnPwFind:hover, .floatLeft .btnPrev:hover, .floatLeft .btnNext:hover, .btnJoinNext:hover, .btnJoinNot:hover, .btnRecommend:hover, .btnInclubClose:hover, .btnNo:hover,
.course+.btnArea .btnList:hover, .inside.btnView:hover, .courseView .content .lecture .textBox .btnArea .btnView:hover, .btnScrap:hover {
	border: 1px solid #919191;
	color: #919191;
	background: #f6f6f6;
}


#sub .thumbnList.type2 li li > div.state .btnCancel, .btnJoinCancel {/* red */
	border: 1px solid #f0564c;
	color: #ffffff;
	background: #f0564c;
}
#sub .thumbnList.type2 li li > div.state .btnCancel:hover, .btnJoinCancel:hover {
	border: 1px solid #f0564c;
	color: #f0564c;
	background: #fef2f1;
}
div.book .box .textBox .title .btnList {
    border: none;
    color: #ffffff;
    background: #919191;
}
.btnRegister { /* yellow */
	border: 1px solid #f68b1f;
	color: #ffffff;
	background: #f68b1f;
}
.btnRegister:hover {
	border: 1px solid #f68b1f;
	color: #f68b1f;
	background: #fef6ed;
}
.btnRegister.disable { /* yellow */
	border: 1px solid #fbd1a5;
	color: #ffffff;
	background: #fbd1a5;
}
.btnRegister.disable:hover {
	border: 1px solid #fbd1a5;
	color: #ffffff;
	background: #fbd1a5;
}

.textBox .btnDelivery, .thumbnList li .btnArea .btnBook {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background-color: #f5f5f5;
}
.popup .certificate .btnCertificate  {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background-color: #f5f5f5;
	background-image: none;
}
.btnCertificate {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;	
	background: #f5f5f5 url('/images/template6/resp/default/button/btn_certificate.png') 74px center no-repeat;
}
.btnCertificate:hover {
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
	background: #fefefe url('/images/template5/resp/default/button/btn_certificate.png') 74px center no-repeat;
}
.textBox .btnDelivery {	
	background: #f5f5f5 url('/images/template5/resp/default/button/btn_delivery.png') 60px center no-repeat;
}
.textBox .btnDelivery:hover {	
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
}
.textBox .btnDelivery.active {
	background: #f5f5f5 url('/images/template5/resp/default/button/btn_delivery_active.png') 60px center no-repeat;
}

.paging a { /* paging */
    border: none;
}
.paging a:hover,
.paging a.active { 
    border: 1px solid #4587d1;
    color: #ffffff;
    background: #4587d1;
}
.paging .btnFirst {
    border: 1px solid #ffffff;
    background: #ffffff url('/images/template6/resp/default/button/btn_paging.png') -1px -1px no-repeat;
}
.paging .btnFirst:hover {
    border: 1px solid #4587d1;
	background: #4587d1 url('/images/template6/resp/default/button/btn_paging_hover.png') -1px -1px no-repeat;
}
.paging .btnPrev {
    border: 1px solid #ffffff;
	background: #ffffff url('/images/template6/resp/default/button/btn_paging.png') -31px -1px no-repeat;
}
.paging .btnPrev:hover {
    border: 1px solid #4587d1;
	background: #4587d1 url('/images/template6/resp/default/button/btn_paging_hover.png') -31px -1px no-repeat;
}
.paging .btnNext {
    border: 1px solid #ffffff;
    background: #ffffff url('/images/template6/resp/default/button/btn_paging.png') -61px -1px no-repeat;
}
.paging .btnNext:hover {
    border: 1px solid #4587d1;
	background: #4587d1 url('/images/template6/resp/default/button/btn_paging_hover.png') -61px -1px no-repeat;
}
.paging .btnLast {
	border: 1px solid #ffffff;
    background: #ffffff url('/images/template6/resp/default/button/btn_paging.png') -91px -1px no-repeat;
}
.paging .btnLast:hover {
    border: 1px solid #4587d1;
	background: #4587d1 url('/images/template6/resp/default/button/btn_paging_hover.png') -91px -1px no-repeat;
}

.listAttach li a {
	color: #5e5e5e;
}
.listAttach .btnDefault, .softwareDown .btnDefault {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background: #f5f5f5;
}
.listAttach .btnDownload, .softwareDown .btnDownload {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background: #f5f5f5 url('/images/template5/resp/default/button/btn_download.png') 61px center no-repeat;
}
.listAttach .btnDefault:hover, .softwareDown .btnDefault:hover {
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
	background: #fefefe;
}
.listAttach .btnDownload:hover, .softwareDown .btnDownload:hover {
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
	background: #fefefe url('/images/template5/resp/default/button/btn_download.png') 61px center no-repeat;
}
.listAttach .btnDelete, .listAttach .btnDelete:hover {
	background: url('/images/template6/resp/default/button/btn_delete.png') 0 0 no-repeat;
}

.listAttach li:before {
	background: url('/images/template6/resp/default/usr/file.png') 0 0 no-repeat;
}
.listAttach li.ppt:before  {
	background: url('/images/template6/resp/default/usr/ppt.png') 0 center no-repeat;
}
.listAttach li.pdf:before  {
	background: url('/images/template6/resp/default/usr/pdf.png') 0 0 no-repeat;
}
.listAttach li.doc:before  {
	background: url('/images/template6/resp/default/usr/doc.png') 0 0 no-repeat;
}	
.listAttach li.xls:before  {
	background: url('/images/template6/resp/default/usr/xls.png') 0 0 no-repeat;
}
.listAttach li.txt:before  {
	background: url('/images/template6/resp/default/usr/txt.png') 0 0 no-repeat;
}
.listAttach li.hwp:before  {
	background: url('/images/template6/resp/default/usr/hwp.png') 0 0 no-repeat;
}	
.listAttach li.html:before  {
	background: url('/images/template6/resp/default/usr/html.png') 0 0 no-repeat;
}
.listAttach li.jpg:before  {
	background: url('/images/template6/resp/default/usr/jpg.png') 0 0 no-repeat;
}
.listAttach li.gif:before  {
	background: url('/images/template6/resp/default/usr/gif.png') 0 0 no-repeat;
}
.listAttach li.png:before  {
	background: url('/images/template6/resp/default/usr/png.png') 0 0 no-repeat;
}
.listAttach li.zip:before  {
	background: url('/images/template6/resp/default/usr/zip.png') 0 0 no-repeat;
}


/* tab */
.contentsBox .tab:before {
	border-bottom: 1px solid #c4c4c4;
}
.tab ul li a {
	border: solid 1px #c4c4c4;
	color: #5e5e5e;
}
.tab ul li.active a,
.tab ul li a:hover {
	border: 1px solid #77a4d8;
	color: #ffffff;
	background: #77a4d8;
}
.tab li.active:before,
.tab li:hover:before {
	border-top: 9px solid #77a4d8;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.tab.type2 {
	border-left: none;
}

.tab.type2 .btnPrev {
	border: 1px solid #c4c4c4;
    background: #ffffff url('/images/template6/resp/default/button/btn_tab.png') 0px center no-repeat;
}
.tab.type2 .btnNext {
	border: 1px solid #c4c4c4;
    background: #ffffff url('/images/template6/resp/default/button/btn_tab.png') -30px center no-repeat;
}
.contentsBox .tab.type2 .btnPrev:before,
.contentsBox .tab.type2 .btnNext:before {
	background: #ffffff;
} 

.tab+.category {
	border: solid #e9e9e9;
	border-width: 0px 1px 1px 1px;
}
.tab+.category > span:before {
	background: #919191;
} 

.step li {
	background: #e7e9ea;
}
.step li:before {
	border-left: 27px solid #ffffff;
	border-top: 55px solid transparent;
	border-bottom: 55px solid transparent;
}
.step li:after {
	border-left: 27px solid #e7e9ea;
	border-top: 55px solid transparent;
	border-bottom: 55px solid transparent;
}
.step li:first-child:before {
	border-left: 1px solid #e7e9ea;
	border-top: none;
	border-bottom: none;
}
.step li:first-child.active:before {
	border-left: 1px solid #0c50a1;
	border-top: none;
	border-bottom: none;
}
.step li.active {
	background: #0c50a1;
}
.step li.active:after {
	border-left: 27px solid #0c50a1;
}
.step li > div > p {
	color: #61696f;
}
.step li > div > p > span {
	color: #8e9599;
	border-bottom: 1px solid #a7acaf;
}
.step li.active > div > p {
	color: #ffffff;
}
.step li.active > div > p > span {
	color: #72b4f2;
	border-bottom: 1px solid #60a5e9;
}
.step li .step01 {
	background: url('/images/template6/resp/default/usr/step_01.png') 61px 11px no-repeat;
}
.step li .step02 {
	background: url('/images/template6/resp/default/usr/step_02.png') 73px 11px no-repeat;
}
.step li .step03 {
	background: url('/images/template6/resp/default/usr/step_03.png') 73px 11px no-repeat;
}
.step li .step04 {
	background: url('/images/template6/resp/default/usr/step_04.png') 65px 11px no-repeat;
}
.step li.active .step01 {
	background: url('/images/template6/resp/default/usr/step_active_01.png') 61px 11px no-repeat;
}
.step li.active .step02 {
	background: url('/images/template6/resp/default/usr/step_active_02.png') 73px 11px no-repeat;
}
.step li.active .step03 {
	background: url('/images/template6/resp/default/usr/step_active_03.png') 73px 11px no-repeat;
}
.step li.active .step04 {
	background: url('/images/template6/resp/default/usr/step_active_04.png') 65px 11px no-repeat;
}

.register .step {
	border: solid 1px #dedede;
}
.register .step li {
	color: #919191;
	background: #ffffff;
}
.register .step li:before {
	content: " ";
	border-left: 30px solid #e9e9e9;
	border-top: 45px solid transparent;
	border-bottom: 45px solid transparent;
}
.register .step li:first-child:before {
    border-left: 30px solid #ffffff;
    border-top: 45px solid transparent;
	border-bottom: 45px solid transparent;
}
.register .step li.active:first-child:before {
    border-left: 30px solid #f5f5f5;
    border-top: 45px solid transparent;
	border-bottom: 45px solid transparent;
}
.register .step li.active {
	color: #2c2c2c;
	background: #f5f5f5;
}
.register .step li span { 
	width: 42px;
	height: 42px;
    color: #c4c4c4;
    font-size: 0;
}
.register .step li.active span {
    color: #f68b1f;
}
.register .step li span {	
	background: url('/images/template6/resp/blue/usr/img_step.png') 0px 0px no-repeat;
}
.register .step li + li span {
	background: url('/images/template6/resp/blue/usr/img_step.png') -42px 0px no-repeat;
}
.register .step li.active span {	
	background: url('/images/template6/resp/blue/usr/img_step.png') 0px -42px no-repeat;
}
.register .step li + li.active span {
	background: url('/images/template6/resp/blue/usr/img_step.png') -42px -42px no-repeat;
}

/* layout */
#container #sub .contentsWrap {
	background: #ffffff;
}
#sub .contentsWrap .headingBox .location {
    color: #919191;
}
#sub .contentsWrap .headingBox .location span,
#sub .contentsWrap .headingBox .location strong {
    color: #5e5e5e;
}
.popup > h3 {
	color: #ffffff;
	background: #00346e;
	border-bottom: 3px solid #f68b1f;
}
.popup > .btnClose,
.popup > .btnClose:hover {
    border: none;
	background: url('/images/template6/resp/default/button/popup_btn_close.png') center center no-repeat;
}
.popup .contentsWrap .contentsBox {
	background: #ffffff;
}
.popup .todayClose {
	background: #ffffff;
}

.popupNotice {
    background: #9fc7e3;  
}
.popupNotice h3 {
    color: #ffffff;
	background: #0057a8;
}
.popupNotice > .btnClose,
.popupNotice > .btnClose:hover {
    border: none;
	background: url('/images/template2/resp/default/button/popup_btn_close.png') center center no-repeat;
}
.popupNotice  .contentsBox {
    border: 20px solid #9fc7e3;
    background: #ffffff;
}
.popupNotice .todayClose {
	background: #333333;
}
.popupNotice .todayClose label {
	color: #ffffff;
}

/* board */
.table {
	border-top: 1px solid #dedede;
}
.table th {
	border-left: 1px solid #e9e9e9;
	border-bottom: 1px solid #dedede;
	background: #e9eef4;
}
table th.asterisk:before {
	color: #f0564c;
}
table td {
    border-top: 1px solid #e9e9e9;
}
table tbody tr:first-child td {
    /* border-top: none; */
}
.boardList, .boardWrite, .boardView {
	border-top: 2px solid  #5e5e5e;
	border-bottom: 1px solid #dedede;
}	

.boardList tbody tr:hover { /* boardList */
	background: #f5f8fc;
} 
.boardList table th {
	border-bottom: 1px solid #dedede;
	background: #fafafa;
}
.boardView table th { /* boardView */
	border-bottom: 1px solid #e9e9e9;
	background: #fafafa;
}
.boardView td.info {
	border-bottom: 1px solid #dedede;
	background: #fafafa;
}
.boardView td.info p span {
    color: #5e5e5e;
}
.boardView td.info p span+span:before {
    color: #dedede;
}
.boardWrite table th { /* boardWrite */
	border-top: 1px solid #e9e9e9;
	background: #fafafa;
}
.boardWrite table tbody tr:first-child td {
    /* border-top: none; */
}
.boardWrite .inclubImage {
    border: 1px solid #dedede;
}
.boardWrite td ul.grade li  label span {
    background: url('/images/template6/resp/default/usr/icon_grade_active.png') 0 0 no-repeat;
}
.boardView td .info, .boardWrite td .info {
    color: #919191;
}
.boardWrite td .listAttach {
	border: 1px solid #dedede;
	background: #fafafa;
}

.thumbnList li { /* thumbnList */
	border: 1px solid #dedede;
}
.thumbnList li:hover {
	border: 1px solid #919191;
}
.thumbnList li .btnArea .info {
	color: #f0564c;
}
.thumbnList li .iconBox.type2 {
	border-top: 1px solid #e9e9e9;
	background: #ffffff;
}
.thumbnList.type2 li:hover {
	border: none;
    background: #f8fafd;
}
.thumbnList.type2 li:first-child,
.thumbnList.type2 li:first-child:hover {
	border: none;
	background: #fafafa;
}
.thumbnList.type2 li > div {
	border: 1px solid #e9e9e9;
	border-width: 0px 0px 1px 1px;
}
.thumbnList.type2 li > div:first-child {
	border-width: 0px 0px 1px 0px ;
}
.thumbnList.type2 li:first-child > div {
	border-top: 2px solid #5e5e5e;
	border-bottom: 1px solid #dedede;
}
.thumbnList.type2 li .progressRate > span.num {
	color: #f68b1f;
}
.thumbnList.type2 li .progressRate .rate {
	background: #fde8d2;
}
.thumbnList.type2 li .progressRate .rate > span {
	background: #f68b1f;
}
.btnSchedule {
	color: #0057a8;
}
.thumbnList.type2 li .imgBox img {
	border: 1px solid #dedede;
}
.thumbnList.type2 li > div p.follow span+span:before {
    border-left: 1px solid #d9dddf;
}


.table th:first-child {
	border-left: none;
}
.table tbody th {
    background: #e9eef4;
}
.table td {
	border: solid #e9e9e9;
	border-width: 0px 0px 1px 1px;
}
.table td:first-child {
	border-left: none;
}
.totalList .floatRight a {
	border: 1px solid #c4c4c4;
}
.totalList .floatRight a.active {
	border: 1px solid #5e5e5e;
}
.totalList .floatRight a.list {
	background: #ffffff url('/images/template6/resp/default/button/btn_tab_list.png') center center no-repeat;
}
.totalList .floatRight a.list.active {
	background: #ffffff url('/images/template6/resp/default/button/btn_tab_list_active.png') center center no-repeat;
}
.totalList .floatRight a.thumbnail {
	background: #ffffff url('/images/template6/resp/default/button/btn_tab_thumbnail.png') center center no-repeat;
}
.totalList .floatRight a.thumbnail.active {
	background: #ffffff url('/images/template6/resp/default/button/btn_tab_thumbnail_active.png') center center no-repeat;
}

.boardWrite.findIdpw { /* findIdPw */
	border: none;
}
.boardWrite.findIdpw table th, .boardWrite.findIdpw table td {
	border: none;
	background: none;
}
.boardWrite.findIdpw .info {
	background: #f5f5f5;
}

#sub .myLearning { /* 나의 홈 */
	border: 1px solid #dedede;
}
#sub .customer+.myLearning {
	border: none; 
}
#sub .myLearning > .title {
	border-bottom: 1px solid #dedede;
	background: #e9e9e9;
}
#sub .myLearning .state li {
	border: solid #dedede;
	border-width: 1px 1px 1px 0px;
}
#sub .myLearning .state li:first-child {
	border-width: 1px 1px 1px 1px;
}
#sub .myLearning .state li .nember {
	color: #5e5e5e;
}
#sub .myLearning .state li.complete,
#sub .myLearning .state li.incomplete {
	background: #f5f5f5;
}
#sub .myLearning .state li.complete div {
	color: #2972c4;
}
#sub .myLearning .state li.incomplete div {
	color: #f0564c;
}
#sub .myLearning .state li.register .nember+div:before {
	background: url('/images/template6/resp/default/usr/icon_state_register.png') 0 center no-repeat;
}
#sub .myLearning .state li.standby .nember+div:before {
	background: url('/images/template6/resp/default/usr/icon_state_standby.png') 0 center no-repeat;
}
#sub .myLearning .state li.cancel .nember+div:before {
	background: url('/images/template6/resp/default/usr/icon_state_cancel.png') 0 center no-repeat;
}
#sub .myLearning .state li.progress .nember+div:before {
	background: url('/images/template6/resp/default/usr/icon_state_progress.png') 0 center no-repeat;
}
#sub .myLearning .state li.processing .nember+div:before {
	background: url('/images/template6/resp/default/usr/icon_state_processing.png') 0 center no-repeat;
}
#sub .myLearning .state li.complete .nember+div:before {
	background: url('/images/template6/resp/default/usr/icon_state_complete.png') 0 center no-repeat;
}
#sub .myLearning .state li.incomplete .nember+div:before {
	background: url('/images/template6/resp/default/usr/icon_state_incomplete.png') 0 center no-repeat;
}
#sub .myLearning .legend li .book {
	background: #f2444a;
}
#sub .myLearning .legend li .smart {
	background: #1573ca;
}
#sub .myLearning .legend li .elearning {
	background: #61696f;
}
#sub .customer li {
	border: 1px solid #dedede;
	background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
}
#sub .customer li > div {
	background: url('/images/template6/resp/blue/usr/icon_myhome_customer.png') 24px center no-repeat;
}
#sub .customer li.remote a {
	background: url('/images/template6/resp/blue/usr/icon_myhome_remote.png') 24px center no-repeat;
}
#sub .customer li.remote a:before {
	background: url('/images/template6/resp/default/button/btn_remote.png') 0 0 no-repeat;
}
#sub .customer li.remote:hover {
	border: 1px solid #c4c4c4;
}

#sub .customer li .title {
	color: #2c2c2c;
}
#sub .customer li.remote p {
	color: #2c2c2c;
}
#sub .customer li.remote p.title {
	color: #2c2c2c;
}
#sub .myLearning > ul > li {
	border: 1px solid #dedede;
}
#sub .myLearning > ul > li > .title {
	border-bottom: 1px solid #dedede;
	background: #e9e9e9;
}
#sub .myLearning > ul > li > .title .btnMore {
	background: #ffffff url('/images/template6/resp/default/button/btn_myhome_more.png') center center no-repeat;
}
#sub .myLearning > ul > li > .noData span {
	color: #919191;
}
#sub .myLearning > ul > li > .noData.course {
	border-bottom: none;
	background: url('/images/template6/resp/default/usr/icon_nodata_course.png') center 40px no-repeat;
}
#sub .myLearning > ul > li > .noData.review {
	background: url('/images/template6/resp/default/usr/icon_nodata_review.png') center 40px no-repeat;
}
#sub .myLearning > ul > li > .noData.question {
	background: url('/images/template6/resp/default/usr/icon_nodata_question.png') center 40px no-repeat;
}
#sub .myLearning > ul > li > .noData.survey {
	background: url('/images/template6/resp/default/usr/icon_nodata_survey.png') center 40px no-repeat;
}
#sub .myLearning > ul > li > .noData.selected {
	background: url('/images/template6/resp/default/usr/icon_nodata_opencourse.png') center 40px no-repeat;
}
#sub .myLearning > ul > li > .noData.delivery {
	background: url('/images/template6/resp/default/usr/icon_nodata_delivery.png') center 40px no-repeat;
}
#sub .myLearning > ul > li > .content .textBox:first-child {
	border-bottom: 1px solid #e9e9e9;
}
#sub .myLearning > ul > li > .content .textBox .btnSurvey {
	border: 1px solid #17adad;
	background: #17adad;
}
#sub .myLearning > ul > li > .content .textBox .btnClassroom span,
#sub .myLearning > ul > li > .content .textBox .btnSurvey span {
	color: #ffffff;
}
#sub .myLearning > ul > li > .content .textBox .btnClassroom:hover span {
	color: #0c50a1;
}
#sub .myLearning > ul > li > .content .textBox .btnSurvey:hover {
	border: 1px solid #17adad;
	color: #17adad;
	background: #edf9f9;
}
#sub .myLearning > ul > li > .content .textBox .btnSurvey:hover span {
	color: #17adad;
}
#sub .myLearning > ul > li > .content .textBox .period {
	color: #919191;
}
#sub .myLearning>ul>li>.content .textBox p em,
#sub .myLearning>ul>li>.content .textBox p em strong,
#sub .myLearning > ul > li > .content div.info dd em,
#sub .myLearning > ul > li > .content div.info dd em strong {
	color: #f0564c;
}
#sub .myLearning > ul > li > .content div.info dd .progressRate .rate {
	background: #fde8d2;
}
#sub .myLearning > ul > li > .content div.info dd .progressRate .rate > span {
	background: #f68b1f;
}
#sub .myLearning > ul > li > .content div.info dd .progressRate .nember {
	color: #f68b1f;
}

#sub .myLearning > ul > li > .content > .prev,
#sub .myLearning > ul > li > .content > .next {
	border: 1px solid #dedede;
}
#sub .myLearning > ul > li > .content > .prev {
	background: #ffffff url('/images/template6/resp/default/button/btn_myhome_prev.png') center center no-repeat;
}
#sub .myLearning > ul > li > .content > .next {
	background: #ffffff url('/images/template6/resp/default/button/btn_myhome_next.png') center center no-repeat;
}
#sub .myLearning > ul > li > .content > .prev:hover {
	background: #f5f5f5 url('/images/template6/resp/default/button/btn_myhome_prev.png') center center no-repeat;
}
#sub .myLearning > ul > li > .content > .next:hover {
	background: #f5f5f5 url('/images/template6/resp/default/button/btn_myhome_next.png') center center no-repeat;
}

#sub .myLearning > ul > li > .content > .imgBox { /* 나의 홈 1:1문의 */
	border: 1px solid #dedede;
	background: url('/images/template6/resp/default/usr/img_default_learning.png') no-repeat;
	background-size: 100px 75px;
}

#sub .myLearning > ul > li > .content > .imgBox+.textBox+.info {
	border-top: 1px solid #e9e9e9;
}
#sub .myLearning > ul > li > .content > .box {
	border-top: 1px solid #e9e9e9;
}
#sub .myLearning > ul > li > .content > .box:first-child {
	border-top: none;
}
#sub .myLearning > ul > li > .content .standby ,
#sub .myLearning > ul > li > .content .ing {
	color: #f0564c;
}
#sub .myLearning > ul > li > .content .done {
	color: #5e5e5e;
}
#sub .myLearning > ul > li > .content.survey .textBox .title:before {
	background: #61696f;
}
#sub .myLearning > ul > li > .thumbnList li .imgBox {
	border: 1px solid #dedede;
}
#sub .myLearning > ul > li > .thumbnList li,
#sub .myLearning > ul > li > .thumbnList li:hover {
	border: none;
}
#sub .myLearning > ul > li > .thumbnList li:first-child {
	border-bottom: 1px solid #e9e9e9;
}
#sub .myLearning > ul > li > .thumbnList li .textBox .delivery {
	color: #f0564c;
}

.contentsBox > .course { /*course*/
	border-bottom: 1px solid #dedede;
}
.contentsBox  .course > .title {
	border-top: 1px solid #dedede;
	background: #f5f5f5;
}
.course > .title .location {
    color: #919191;
}
.course > .title .location span {
    color: #2c2c2c;
}
.course .share button {
	border: 1px solid #aeb4b7;
	background: #f8f8f9 url('/images/template6/resp/default/button/btn_share_select.png') center 15px no-repeat;
}
.course .share .btnSelect.active {
	background-image: url('/images/template6/resp/default/button/btn_share_select_active.png');
}
.course .share .btnSelect:hover:before {
    color: #ffffff;
    background: #444444;
}
.course .share .btnSelect:hover:after {
    border-top: 6px solid #444444;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.course > .imgBox {
	border: 1px solid #dedede;
}
.course .sns a {
	background-image: url('/images/template6/resp/default/usr/icon_sns.png');
	background-repeat: no-repeat;
}
.course .sns a.facebook {
	background-position: 0 0;
}
.course .sns a.twitter {
	background-position: -36px 0;
}
.course .sns a.url {
	background-position: -72px 0;
}
.course .sns a.kakaotalk {
	background-position: -108px 0;
}
.course .sns a.band {
	background-position: -144px 0;
}
.course .btnArea .btnPreview {
	border: 1px solid #2972c4;
	color: #ffffff;
	background: #2972c4 url('/images/template6/resp/blue/usr/icon_preview.png') 18px 10px no-repeat;
}
.course .btnArea .btnPreview:hover {
	color: #2972c4;
	background: #eef4fa url('/images/template6/resp/blue/usr/icon_preview_active.png') 18px 10px no-repeat;
}
.courseView .content .lecture > .info:first-child {
	color: #f0564c;
}
.courseView .content .lecture .textBox p > span+span:before {
	color: #dedede;
}
div.book {
    border: 1px solid #dedede;
}
.courseView .content .book ul > li {
    border-top: 1px solid #e9e9e9;
}
.courseView .content .book ul > li:first-child {
    border-top: none;
}
div.book .box .imgBox {
	border: 1px solid #dedede;
}
div.book .box .imgBox .badge {
	background: url('/images/template6/resp/default/usr/badge_book_type1.png') 0 0 no-repeat;
}
div.book .box .imgBox .badge.type2 {
    background: url('/images/template6/resp/default/usr/badge_book_type2.png') 0 0 no-repeat;
}
div.book .box .textBox p span {
    color: #5e5e5e;
}
div.book .box .textBox p span:before {
    color: #dedede;
}
div.book .box .btnView {
    color: #ffffff;
    background: #4587d1 url('/images/template6/resp/default/button/btn_view.png') 137px center no-repeat;
}
div.book .box .btnView.active {
    background: #4587d1 url('/images/template6/resp/default/button/btn_view_active.png') 137px center no-repeat;
}
.courseView .content .book > strong {
    border-bottom: 1px solid #e9e9e9;
    background: #f5f5f5 url('/images/template6/resp/default/usr/bult_book.png') 30px 11px no-repeat;
}
.book .view {
    border-top: 1px solid #e9e9e9;
    background: #f5f5f5;
}
.courseView .content h5, .view h6 {
    background: url('/images/template6/resp/default/usr/bult_courseDetail_h5.png') 0 4px no-repeat;
}
.courseEplg { 
	border-top: 2px solid #61696f;
}
.courseEplg li {
	border-bottom: 1px solid #e7e9ea;
}
.courseEplg li p:first-child:before, .appraisal li p:first-child:before {
	background: #919191;
}
.courseEplg li p.name, .appraisal li p span {
	color: #919191;
}
.toolBar .btnArea .btnRegister {
	border: solid #dedede;
	border-width: 1px;
	color: #4587d1;
	background: #ffffff url('/images/template6/resp/default/button/btn_toolbar_register.png') 10px center no-repeat;
	background-size: 22px 22px;
}
.toolBar .btnArea .btnRegister:hover {
	border: solid #c4c4c4;
	border-width: 1px;
	background: #f7f7f7 url('/images/template6/resp/default/button/btn_toolbar_register.png') 10px center no-repeat;
	background-size: 22px 22px;
}
.toolBar .btnArea .btnRegister p {
	color: #4587d1;
}
.toolBar .btnArea .btnTop {
	color: #ffffff;
	background: #4587d1 url('/images/template6/resp/default/button/btn_top.png') center 11px no-repeat;
}
.toolBar .btnArea .btnTop span {
	color: #ffffff;
}
.toolBar .btnArea .btnTop:hover {
	border: 1px solid #4587d1;
	color: #4587d1;
	background: #f0f6fb url('/images/template6/resp/default/button/btn_top_active.png') center 11px no-repeat;
}
.toolBar .btnArea .btnTop:hover span {
	color: #4587d1;
}
.toolBar .btnArea .btnRegister.disable {
	color: #c4c4c4;
	background: #ffffff url('/images/template6/resp/default/button/btn_toolbar_register_disable.png') 10px center no-repeat;
	background-size: 22px 22px;
}
.toolBar .btnArea .btnRegister.disable:hover {
	border: solid #dedede;
	border-width: 1px;
}
.toolBar .btnArea .btnRegister.disable p {
	color: #4c4c4;
}
.courseView .content .thumbnList {
	border: none;
}
.courseView .content .thumbnList.book li {
	border: none;
}
.courseView .content .thumbnList.book li .imgBox {
	border: 1px solid #dedede;
}
.courseView .content .thumbnList .bx-prev {
	background: url('/images/template6/resp/default/button/btn_slider_prev.png') 0 0 no-repeat;
}
.courseView .content .thumbnList .bx-next {
	background: url('/images/template6/resp/default/button/btn_slider_next.png') 0 0 no-repeat;
}
.thumbnList .textBox .title > a+span.info {
	color: #f0564c;
}

/* FAQ */
.faq {
	border-top: 2px solid #5e5e5e;
}
.faq li {
	border-bottom: 1px solid #dedede;
}
.faq li a {
	background: url('/images/template6/resp/default/button/btn_faq.png') right center no-repeat;
}
.faq li.active > a {
	background: url('/images/template6/resp/default/button/btn_faq_active.png') right center no-repeat;
}
.faq li.active .content {
	border-top: 1px solid #dedede;
	background: #f5f5f5;
}
.faq li a > span:first-child {
	background: #e7e9ea;
}
.faq li .content > span:first-child {
	color: #ffffff;
	background: #919191;
}

.profileImg {
	background: url('/images/template6/resp/default/usr/bg_default_profile.png') center center no-repeat;
	background-size: 100%;
}
.profileBg {
	background: url('/images/template6/resp/default/usr/bg_profile.png') 0 0 no-repeat;
	background-size: 100%;
}

.sort li a,
.sort li:before {
	color: #8e9599;
}
.sort li.active a {
	color: #333333;
	background:	url('/images/template6/resp/default/usr/tab_sort_active.png') 0 center no-repeat;
}

.expand .btnMore {
	border: none;
	background: #c4c4c4 url('/images/template6/resp/default/button/register_btn_more.png') center center no-repeat;
}
.expand .btnMore:hover {
	border: none;
	background: #919191 url('/images/template6/resp/default/button/register_btn_more.png') center center no-repeat;
}

.review .imgBox, .lecture .imgBox {  /* 리뷰n리플(상세), 교재보기팝업, 강사정보 */
	border-top: 2px solid #5e5e5e;
	border-bottom: 1px solid #dedede;
}
.review .imgBox img,
.lecture .imgBox img {
	border: 1px solid #dedede;
}
.review .textBox {
	border-bottom: 1px solid #e9e9e9;
}
.popup .review .imgBox, .popup .review .boardView {
	border-top: none;
}
.popup .review .title {
	border: solid #dedede;
	border-width: 1px 0;
	background: #f5f5f5;
}
.popup .lecture h5 {
	background: url('/images/template6/resp/blue/usr/bult_lecture.png') 0 1px no-repeat;
}

.softwareDown li { /* 소프트웨어 다운로드 */
	border: 1px solid #e7e9ea;
}
.softwareDown li .textBox {
	background: #fafafa;
}
.softwareDown li .textBox span {
    color: #61696f;
}
.softwareDown li .textBox button {
	border: 1px solid #c4c4c4;
	color: #292f37;
	background: #f9f9f9 url('/images/template6/resp/default/button/btn_download.png') 61px center no-repeat;
}
.softwareDown li .textBox button:hover {
	border: 1px solid #5e5e5e;
	background: #fefefe url('/images/template6/resp/default/button/btn_download.png') 61px center no-repeat;
}

/* popup */
.register h3 {
	color: #ffffff;
	background: #5e5e5e;
}
.register .floatRight .btnReset, .register .floatRight .btnClose {
	border: none;
	border-left: 1px solid #ffffff;
}
.register .floatRight .btnReset, .register .floatRight .btnReset:hover {
	background: #5e5e5e
		url('/images/template6/resp/default/button/popup_register_btn_reset.png')
		center center no-repeat;
}

.register .floatRight .btnClose {
	background: #f68b1f
		url('/images/template6/resp/default/button/popup_register_btn_close.png') center center no-repeat;
}
.register .boardList td .imgBox {
	border: 1px solid #d9dddf;
}
.register .boardList td .textBox p span+span:before {
    color: #e7e9ea;
}
.dormant .imgBox { /* 휴면회원 팝업 */
	background: url('/images/template6/resp/default/usr/icon_dormant.png') 0 0 no-repeat;
}
.dormant.info {
	border: solid 1px #dedede;
}
.certify .imgBox { /* 본인인증 팝업 */
	background: url('/images/template6/resp/default/usr/icon_certify.png') 0 0 no-repeat;
}

.popup .question .scrollBox ul.grade li > label {
	background: url('/images/template6/resp/default/usr/icon_grade_01.png') 0 center no-repeat;
}
.popup .question .scrollBox ul.grade li+li > label {
	background: url('/images/template6/resp/default/usr/icon_grade_02.png') 0 center no-repeat;
}
.popup .question .scrollBox ul.grade li+li+li > label {
	background: url('/images/template6/resp/default/usr/icon_grade_03.png') 0 center no-repeat;
}
.popup .question .scrollBox ul.grade li+li+li+li > label {
	background: url('/images/template6/resp/default/usr/icon_grade_04.png') 0 center no-repeat;
}
.popup .question .scrollBox ul.grade li+li+li+li+li > label {
	background: url('/images/template6/resp/default/usr/icon_grade_05.png') 0 center no-repeat;
}

/* 나의 일정관리 */
.dateView {
	background: #f5f5f5;
}
.calendar th {
	border: solid 1px #225fa4;
	color: #ffffff;
	background: #225fa4;
}
.calendar td {
	border: solid 1px #dedede;
}
.calendar td:hover {
	background: #f2f7fc;
}
.calendar .sunday div strong {
	color: #fe837c;
}
.calendar .sunday div { 
	color: #f0564c;
}
.calendar td div a {
	color: #4587d1;
	background: url('/images/template6/resp/blue/usr/bult_list.png') 0px 5px no-repeat;
}
.calendar td div > a:hover {
	color: #225fa4;
}
.calendar td div .today:before {
	color: #919191;
}
.calendar td div .today {
	color: #ffffff;
	background: #50b8ff;
}
.calendar .disable,
.calendar td.disable:hover  {
	background: #fafafa;
}
.calendar .disable div strong {
	color: #919191;
}
.btnCalendar {
	border: solid 1px #dedede;
	border-left:  solid 1px #ffffff;
	background: url('/images/template6/resp/blue/button/btn_calendar.png') 8px 9px no-repeat;
}

/* datepicker */
#ui-datepicker-div {
	background: #ffffff;
}
.ui-datepicker-header {
    background: #225fa4;
}
.ui-datepicker-header .ui-datepicker-prev {
	background: url('/images/template6/resp/blue/button/btn_paging_calendar.png') -24px 0px no-repeat;
}
.ui-datepicker-header .ui-datepicker-next {
	background: url('/images/template6/resp/blue/button/btn_paging_calendar.png') -48px 0px no-repeat;
}
.ui-datepicker .ui-datepicker-title select {
	border: 1px solid #d9dddf;
	background: #ffffff url('/images/template6/resp/default/usr/bg_select.png') right center no-repeat;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	border: 1px solid #c4c4c4;
	color: #2c2c2c;
	background: #f5f5f5;
}
.ui-datepicker .ui-datepicker-buttonpane button:hover {
	border: 1px solid #5e5e5e;
	color: #2c2c2c;
	background: #fefefe;
} 
.ui-datepicker-title span {
	color: #f5f5f5;
}
.ui-datepicker-calendar th {
	border: solid 1px #f5f5f5;
	border-right: solid 1px #dedede;
	color: #5e5e5e;
	background: #f5f5f5;
}
.ui-datepicker-calendar th:first-child {
	border-left: solid 1px #dedede;
}
.ui-datepicker-calendar td {
	border: solid 1px #dedede !important; 
}
.ui-datepicker-calendar td .ui-state-highlight {
	background: #f5f5f5;
}
.ui-datepicker-calendar td .ui-state-hover {
	color: #ffffff;
	background: #f68b1f;
}

/* 학습방법 */
.guide > h4 {
	color: #17adad;
}
.guide li > div.step > span {
	color: #ffffff;
	background: url('/images/template6/resp/default/usr/bg_guide_step.png') 0 0 no-repeat;
}
.guide.type2 li > div.step > span {
	background: url('/images/template6/resp/default/usr/bg_guide_type2_step.png') 0 0 no-repeat;
}
.guide.type2 li+li:before {
	background: url('/images/template6/resp/default/usr/icon_guide_arrow.png') 0 0 no-repeat;)
}

/* 사이트맵 */
.siteMap > ul > li > h4 {
	border-bottom: 1px solid #5e5e5e;
	color: #4587d1;
}
.siteMap > ul > li > ul > li {
	border-top: 1px solid #e9e9e9;
}
.siteMap > ul > li > ul > li:first-child {
	border-top: none;
}
.siteMap > ul > li > ul > li a {
	color: #5e5e5e;
}

@media screen and (max-width: 1023px) {
	#sub .contentsWrap .headingBox h3 {
		color: #ffffff;
		background: #4587d1;
	}
	
	.boardList thead,
	.boardList tbody td {
		border: none;
	}
	.boardList tbody tr {
		border-bottom: 1px solid #e9e9e9;
	}
	.boardList tbody tr td.date {
		color: #888888;
	}
	
	.thumbnList.type2 {
		border-bottom: 1px solid #c4c4c4;
	}
	.thumbnList.type2 li,
	.thumbnList.type2 li:hover {
		border-top: 1px solid #c4c4c4;
	}
	.thumbnList.type2 li > div {
		border: none;
	}	
}

@media screen and (max-width: 767px) {
	#sub .customer li.remote {
		border-top: none;
	}
}

@media screen and (max-width: 360px) {
	#sub .myLearning .state ul:first-child li+li+li {
		border-top: none;
		border-left: 1px solid #dedede;
	}
	#sub .myLearning .state ul:first-child li+li+li+li {
		border-left: none;
	}
}