@charset "utf-8";

/* #gate */
#gate #cntnr1 {
	width: 100%;
	height: 490px;
	margin-bottom: 20px;
}
#gate #cntnr2 {
	display: inline-block;
	width: 383px;
	height: 245px;
	vertical-align: top;
}
#gate #cntnr3 {
	display: inline-block;
	width: 383px;
	height: 245px;
	margin-left: -4px;
	vertical-align: top;
}
#gate #cntnr4 {
	display: inline-block;
	width: 233px;
	height: 245px;
	margin-left: -4px;
	vertical-align: top;
}
#main #cntnr1 {
	padding: 25px 0 0px 0;
}
#main #cntnr2 {
	padding: 0px 0 25px 0;
}
#main #cntnr3 {
	padding: 0px 0 25px 0;
}
#main #cntnr4 {
	padding: 0px 0 25px 0;
}
#main #cntnr5 {
	padding: 0px 0 20px 0;
}
#main #cntnr6 {
	padding: 0px 0 40px 0;	
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#gate #cntnr1 {
		width: 100%;
	}
	#gate #cntnr3 {
		display: none;
	}
	#gate #cntnr2 {
		width: 50%;
	}
	#gate #cntnr4 {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
	#gate #cntnr1 {
		width: 100%;
		height: auto;
	}
	#gate #cntnr3 {
		display: none;
	}
	#gate #cntnr2 {
		width: 100%;
		height: auto;
	}
	#gate #cntnr4 {
		width: 100%;
		margin-left: 0px;
	}
	#main #cntnr1 {
		padding: 20px 0 0 0;
	}
	#main #cntnr1 .webModule28 {
		padding: 0px 0 20px 0;
	}
	#main #cntnr2 {
		padding: 0px 0 20px 0;
	}
	#main #cntnr3 {
		padding: 0px 0 20px 0;
	}
	#main #cntnr4 {
		padding: 0px 0 20px 0;
	}
	#main #cntnr5 {
		padding: 0px 0 20px 0;
	}
	#main #cntnr6 {
		padding: 0px 0 30px 0;	
	}		
}	
