/* wbCommon.css */

/* txt */

.txt_point {color:#189b53}
.txt_green {color:#2dac5c}
.txt_alert {color:#189b53}
.txt_alert:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/icon/icon_txt_alert.png') no-repeat;}
.asterisk:after {color:#189b53}

/* EOD : txt */

/* checkBox & Radio */

/* checkbox */

input[type="checkbox"] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/button/common_chk.png') no-repeat;}
input[type="checkbox"]:checked + label:before , input[type="checkbox"][disabled]:checked + label:before  {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/button/common_chk.png') no-repeat -30px center;}
input[type="checkbox"][disabled] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/button/common_chk.png') no-repeat -60px center;}

.checkList.button input[type="checkbox"]:checked + label {background: #2dac5c; border: 1px solid #2dac5c;}
.checkList.button input[type="checkbox"]:focus + label:before { outline:1px solid #2dac5c; }

/* EOD : checkbox */

/* radio */

input[type="radio"] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/button/common_radio.png') no-repeat;}
input[type="radio"]:checked + label:before , input[type="radio"][disabled]:checked + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/button/common_radio.png') no-repeat -30px center;}
input[type="radio"][disabled] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/button/common_radio.png') no-repeat -60px center;}

/* EOD : radio */

/* EOD : checkBox & Radio */

/* button */

.btn_sr_blue , .btn_s_blue , .btn_m_blue , .filebox label {background:#2dac5c; border: 1px solid #2dac5c;}
.btn_sr_blue:hover , .btn_s_blue:hover , .btn_m_blue:hover {background:#189b53;  border: 1px solid #189b53;}
.btn_m_blue_gra , .btn_s_blue_gra {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.btn_m_blue_gra:hover , .btn_s_blue_gra:hover {background: #189b53; background:linear-gradient(90deg, rgba(45,172,92,1) 100%, rgba(45,172,92,1) 100%);}

.btn_s_black:hover , .btn_m_black:hover {background: #f7f8ff;}

/* EOD : button */

/* icon */

.icon_new {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/icon/icon_new.png') no-repeat;}
.icon_search {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/icon/icon_blue_search.png') no-repeat;}
.icon_q {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/icon/icon_q.png') no-repeat;}
.icon_q:hover {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/icon/icon_q_hover.png') no-repeat;}

/* EOD : icon */

/* label */

.label_s_blue {background-color: #189b53; border: 1px solid #189b53;}

/* EOD : label */

.top_banner {background-color:#5db93e}
.tob_banner_btnBox .btn_today {background-color:#2dac5c}
.tob_banner_btnBox .btn_close {background-color:#189b53}

.service_membership > li:first-child > a {color:#189b53}
.mainBannerBox .paginationIn .control_paging > li > span.now_num {color:#189b53}

.gnb .twoDepth > li > a:after {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}

.pagination a.active {background:#2dac5c;}
.moreBox .more_btn:hover {background-color:#2dac5c; border: 1px solid #2dac5c;}
.perBox .count_num {color:#189b53}

/* search */

.searchBox .textBoxIn {border-color: #2dac5c; border-image-source:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.searchBox .textBoxIn .inputBox input::placeholder {color:#189b53}
.searchWrap .dataBox .txt {color:#189b53}

/* EOD : search */

.link_arrow , .link_arrow span { color: #189b53; }
.link_arrow:after  {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/icon/icon_board_link_arrow.png') no-repeat;}
.link_arrow:hover span { text-decoration:underline; color: #189b53; }


.btn_s_point {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.btn_s_point:hover {background: #189b53;  background:linear-gradient(90deg, rgba(45,172,92,1) 100%, rgba(45,172,92,1) 100%);}

.viewBox .file_area ul li a {color:#189b53}
.faq_list li.active a {color:#189b53}


/* popup */

.popup_wrap .popupH , .windowPopH {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}

/* EOD : popup */

/* table */

.table_normal tbody tr.notice td {background:#f7f8ff}
.table_normal tbody tr.notice td:first-child {color:#189b53}
.table_normal tbody tr td .linkBox > a:hover .txt {color:#189b53}

/* EOD : table */

.gnb > li > a:before {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.header .customerInfo .num li , .header .customerInfo .mail {color:#2dac5c}
.header .customerInfo .num li + li {color:#189b53}
.linkBox.arrow > a .txt {color:#189b53}
.linkBox > a:hover  {color:#189b53}
.linkBox.arrow > a:after  {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/green/icon/icon_board_link_arrow.png') no-repeat;}

.list_Process .txtBox .label , .list_Book .txtBox .tit {color:#189b53}


/* EOD : wbCommon.css */

/* wbUser.css */

/* Layout */

.content_menuBoxIn:before {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.content_menu > ul > li > a:hover {background-color:#189b53}
.content_menu .familysite {background-color:#189b53}
.content_menu .familysite .pagination .control_paging {color:#d7d7d7}

.cop_menu > li:nth-child(2) > a {color:#189b53}
.hot_number .number {color:#189b53}

.sub_nav:before {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.sub_nav > li > a:hover, .sub_nav > li.active a {background-color: #189b53;}

.customer_areaBox .infoBox .num , .customer_areaBox .infoBox .mail {color:#189b53}
.service_membership > li:first-child > a:hover , .cop_menu > li:nth-child(2) > a:hover {color:#2dac5c}

.gnb > li:hover > a > span {color: #189b53}
.gnb > li > a > span:after {background-color: #189b53;}


/* EOD : Layout */

/* 팀 프로젝트 */

.team_intro {background-color:#f4fef8}

/* EOD : 팀 프로젝트 */

.countBox strong {color:#189b53}

/* Popup */

.main_Pop {background:#2dac5c; background:linear-gradient(90deg, rgba(141,197,32,1) 8%, rgba(45,172,92,1) 89%);}
.main_Pop .main_PopC {border: 5px solid #d5ecc1;}
.main_Pop .main_PopF_L {background-color: #217940;}
.main_Pop .main_PopF_R .btn_close {background: #1f6835;}

/* EOD : Popup */

@media only all and (max-width: 1199px) and (min-width: 641px){

    .gnb .twoDepth > li > a:hover {color:#189b53}
    .gnb > li.active > a, .gnb > li.active > a > span {color:white}
}

@media only all and (max-width: 640px) {

    .gnb .twoDepth > li > a:hover {color:#189b53}
    .gnb > li.active > a, .gnb > li.active > a > span {color:white}

}

/* EOD : sub */


/* EOD : wbUser.css */



/* datepicker.css */

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a {color: #566bec;}
.ui-datepicker .ui-datepicker-header {background: #2dac5c; background: linear-gradient(90deg, rgba(141,197,32,1) 0%, rgba(45,172,92,1) 100%);}
.ui-datepicker-current-day a {background-color: #189b53 !important;}

/* EOD : datepicker.css */
