/* wbCommon.css */

/* txt */

.txt_point {color:#f84f4f}
.txt_green {color:#fd7070}
.txt_alert {color:#f84f4f}
.txt_alert:before {background:url('../../../../images/template4/resp/pink/icon/icon_txt_alert.png') no-repeat;}
.asterisk:after {color:#f84f4f}

/* EOD : txt */

/* checkBox & Radio */

/* checkbox */

input[type="checkbox"] + label:before {background:url('../../../../images/template4/resp/pink/button/common_chk.png') no-repeat;}
input[type="checkbox"]:checked + label:before , input[type="checkbox"][disabled]:checked + label:before  {background:url('../../../../images/template4/resp/pink/button/common_chk.png') no-repeat -30px center;}
input[type="checkbox"][disabled] + label:before {background:url('../../../../images/template4/resp/pink/button/common_chk.png') no-repeat -60px center;}

.checkList.button input[type="checkbox"]:checked + label {background: #fd7070; border: 1px solid #fd7070;}
.checkList.button input[type="checkbox"]:focus + label:before { outline:1px solid #fd7070; }

/* EOD : checkbox */

/* radio */

input[type="radio"] + label:before {background:url('../../../../images/template4/resp/pink/button/common_radio.png') no-repeat;}
input[type="radio"]:checked + label:before , input[type="radio"][disabled]:checked + label:before {background:url('../../../../images/template4/resp/pink/button/common_radio.png') no-repeat -30px center;}
input[type="radio"][disabled] + label:before {background:url('../../../../images/template4/resp/pink/button/common_radio.png') no-repeat -60px center;}

/* EOD : radio */

/* EOD : checkBox & Radio */

/* button */

.btn_sr_blue , .btn_s_blue , .btn_m_blue , .filebox label {background:#fd7070; border: 1px solid #fd7070;}
.btn_sr_blue:hover , .btn_s_blue:hover , .btn_m_blue:hover {background:#f84f4f;  border: 1px solid #f84f4f;}
.btn_m_blue_gra , .btn_s_blue_gra {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.btn_m_blue_gra:hover , .btn_s_blue_gra:hover {background: #f84f4f; background:linear-gradient(90deg, rgba(248,145,189,1) 0%, rgba(248,145,189,1) 100%);}

.btn_s_black:hover , .btn_m_black:hover {background: #f7f8ff;}

/* EOD : button */

/* icon */

.icon_new {background: url('../../../../images/template4/resp/pink/icon/icon_new.png') no-repeat;}
.icon_search {background: url('../../../../images/template4/resp/pink/icon/icon_blue_search.png') no-repeat;}
.icon_q {background: url('../../../../images/template4/resp/pink/icon/icon_q.png') no-repeat;}
.icon_q:hover {background: url('../../../../images/template4/resp/pink/icon/icon_q_hover.png') no-repeat;}

/* EOD : icon */

/* label */

.label_s_blue {background-color: #f84f4f; border: 1px solid #f84f4f;}

/* EOD : label */

.top_banner {background-color: #fc7e8b;}
.tob_banner_btnBox .btn_today {background-color:#fd7070}
.tob_banner_btnBox .btn_close {background-color:#f84f4f}

.service_membership > li:first-child > a {color:#f84f4f}
.mainBannerBox .paginationIn .control_paging > li > span.now_num {color:#f84f4f}

.gnb .twoDepth > li > a:after {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}

.pagination a.active {background:#fd7070;}
.moreBox .more_btn:hover {background-color:#fd7070; border: 1px solid #fd7070;}
.perBox .count_num {color:#f84f4f}

/* search */

.searchBox .textBoxIn {border-color: #fd7070; border-image-source:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.searchBox .textBoxIn .inputBox input::placeholder {color:#f84f4f}
.searchWrap .dataBox .txt {color:#f84f4f}

/* EOD : search */

.link_arrow , .link_arrow span { color: #f84f4f; }
.link_arrow:after  {background: url('../../../../images/template4/resp/pink/icon/icon_board_link_arrow.png') no-repeat;}
.link_arrow:hover span { text-decoration:underline; color: #f84f4f; }


.btn_s_point {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.btn_s_point:hover {background: #f84f4f;  background:linear-gradient(90deg, rgba(248,145,189,1) 0%, rgba(248,145,189,1) 100%)}

.viewBox .file_area ul li a {color:#f84f4f}
.faq_list li.active a {color:#f84f4f}


/* popup */

.popup_wrap .popupH , .windowPopH {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}

/* EOD : popup */

/* table */

.table_normal tbody tr.notice td {background:#f7f8ff}
.table_normal tbody tr.notice td:first-child {color:#f84f4f}
.table_normal tbody tr td .linkBox > a:hover .txt {color:#f84f4f}

/* EOD : table */

.gnb > li > a:before {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.header .customerInfo .num li , .header .customerInfo .mail {color:#fd7070}
.header .customerInfo .num li + li {color:#f84f4f}
.linkBox.arrow > a .txt {color:#f84f4f}
.linkBox > a:hover  {color:#f84f4f}
.linkBox.arrow > a:after  {background: url('../../../../images/template4/resp/pink/icon/icon_board_link_arrow.png') no-repeat;}

.list_Process .txtBox .label , .list_Book .txtBox .tit {color:#f84f4f}


/* EOD : wbCommon.css */

/* wbUser.css */

/* Layout */

.content_menuBoxIn:before {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.content_menu > ul > li > a:hover {background-color:#f84f4f}
.content_menu .familysite {background-color:#f84f4f}
.content_menu .familysite .pagination .control_paging {color:#d7d7d7}

.cop_menu > li:nth-child(2) > a {color:#f84f4f}
.hot_number .number {color:#f84f4f}

.sub_nav:before {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.sub_nav > li > a:hover, .sub_nav > li.active a {background-color: #f84f4f;}

.customer_areaBox .infoBox .num , .customer_areaBox .infoBox .mail {color:#f84f4f}
.service_membership > li:first-child > a:hover , .cop_menu > li:nth-child(2) > a:hover {color:#fd7070}

.gnb > li:hover > a > span {color: #f84f4f}
.gnb > li > a > span:after {background-color: #f84f4f;}


/* EOD : Layout */

/* 팀 프로젝트 */

.team_intro {background-color:#fff3f3}

/* EOD : 팀 프로젝트 */


.countBox strong  {color: #f84f4f}


/* Popup */

.main_Pop {background:#fd7070; background:linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.main_Pop .main_PopC {border: 5px solid #ffe1ba;}
.main_Pop .main_PopF_L {background-color: #b15d1d;}
.main_Pop .main_PopF_R .btn_close {background: #985117;}

/* EOD : Popup */

@media only all and (max-width: 1199px) and (min-width: 641px){

    .gnb .twoDepth > li > a:hover {color:#f84f4f}
    .gnb > li.active > a, .gnb > li.active > a > span {color:white}
}

@media only all and (max-width: 640px) {

    .gnb .twoDepth > li > a:hover {color:#f84f4f}
    .gnb > li.active > a, .gnb > li.active > a > span {color:white}

}

/* EOD : sub */


/* EOD : wbUser.css */



/* datepicker.css */

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a {color: #566bec;}
.ui-datepicker .ui-datepicker-header {background: #fd7070; background: linear-gradient(90deg, rgba(248,145,189,1) 8%, rgba(253,112,112,1) 89%);}
.ui-datepicker-current-day a {background-color: #f84f4f !important;}

/* EOD : datepicker.css */
