/* wbCommon.css */

/* txt */

.txt_point {color:#485ddd}
.txt_green {color:#566bec}
.txt_alert {color:#485ddd}
.txt_alert:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/icon/icon_txt_alert.png') no-repeat;}
.asterisk:after {color:#485ddd}

/* EOD : txt */

/* checkBox & Radio */

/* checkbox */

input[type="checkbox"] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/button/common_chk.png') no-repeat;}
input[type="checkbox"]:checked + label:before , input[type="checkbox"][disabled]:checked + label:before  {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/button/common_chk.png') no-repeat -30px center;}
input[type="checkbox"][disabled] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/button/common_chk.png') no-repeat -60px center;}

.checkList.button input[type="checkbox"]:checked + label {background: #566bec; border: 1px solid #566bec;}
.checkList.button input[type="checkbox"]:focus + label:before { outline:1px solid #566bec; }

/* EOD : checkbox */

/* radio */

input[type="radio"] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/button/common_radio.png') no-repeat;}
input[type="radio"]:checked + label:before , input[type="radio"][disabled]:checked + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/button/common_radio.png') no-repeat -30px center;}
input[type="radio"][disabled] + label:before {background:url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/button/common_radio.png') no-repeat -60px center;}

/* EOD : radio */

/* EOD : checkBox & Radio */

/* button */

.btn_sr_blue , .btn_s_blue , .btn_m_blue , .filebox label {background:#566bec; border: 1px solid #566bec;}
.btn_sr_blue:hover , .btn_s_blue:hover , .btn_m_blue:hover {background:#485ddd;  border: 1px solid #485ddd;}
.btn_m_blue_gra , .btn_s_blue_gra {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%); border:1px solid #566bec;}
.btn_m_blue_gra:hover , .btn_s_blue_gra:hover {background: #485ddd; background:linear-gradient(90deg, rgba(86,107,236,1) 0%, rgba(86,107,236,1) 100%);}

.btn_s_black:hover , .btn_m_black:hover {background: #f7f8ff;}

/* EOD : button */

/* icon */

.icon_new {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/icon/icon_new.png') no-repeat;}
.icon_search {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/icon/icon_blue_search.png') no-repeat;}
.icon_q {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/icon/icon_q.png') no-repeat;}
.icon_q:hover {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/icon/icon_q_hover.png') no-repeat;}

/* EOD : icon */

/* label */

.label_s_blue {background-color: #485ddd; border: 1px solid #485ddd;}

/* EOD : label */

.top_banner {background-color:#4e77ec}
.tob_banner_btnBox .btn_today {background-color:#566bec}
.tob_banner_btnBox .btn_close {background-color:#485ddd}

.service_membership > li:first-child > a {color:#485ddd}
.mainBannerBox .paginationIn .control_paging > li > span.now_num {color:#485ddd}

.gnb .twoDepth > li > a:after {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}

.pagination a.active {background:#566bec;}
.moreBox .more_btn:hover {background-color:#566bec; border: 1px solid #566bec;}
.perBox .count_num {color:#485ddd}

/* search */

.searchBox .textBoxIn {border-color:#566bec; border-image-source:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.searchBox .textBoxIn .inputBox input::placeholder {color:#485ddd}
.searchWrap .dataBox .txt {color:#485ddd}

/* EOD : search */

.link_arrow , .link_arrow span { color: #485ddd; }
.link_arrow:after  {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/icon/icon_board_link_arrow.png') no-repeat;}
.link_arrow:hover span { text-decoration:underline; color: #485ddd; }


.btn_s_point {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.btn_s_point:hover {background: #485ddd; background:linear-gradient(90deg, rgba(86,107,236,1) 0%, rgba(86,107,236,1) 100%);}

.viewBox .file_area ul li a {color:#485ddd}
.faq_list li.active a {color:#485ddd}


/* popup */

.popup_wrap .popupH , .windowPopH {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}

/* EOD : popup */

/* table */

.table_normal tbody tr.notice td {background:#f7f8ff}
.table_normal tbody tr.notice td:first-child {color:#485ddd}
.table_normal tbody tr td .linkBox > a:hover .txt {color:#485ddd}

/* EOD : table */

.gnb > li > a:before {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.header .customerInfo .num li , .header .customerInfo .mail {color:#566bec}
.header .customerInfo .num li + li {color:#485ddd}
.linkBox.arrow > a .txt {color:#485ddd}
.linkBox > a:hover  {color:#485ddd}
.linkBox.arrow > a:after  {background: url('../../../..https://webpi.github.io/step_portal/images/template4/resp/navy/icon/icon_board_link_arrow.png') no-repeat;}

.list_Process .txtBox .label , .list_Book .txtBox .tit {color:#485ddd}

/* EOD : wbCommon.css */

/* wbUser.css */

/* Layout */

.content_menuBoxIn:before {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.content_menu > ul > li > a:hover {background-color:#485ddd}
.content_menu .familysite {background-color:#485ddd}
.content_menu .familysite .pagination .control_paging {color:#d7d7d7}

.cop_menu > li:nth-child(2) > a {color:#485ddd}
.hot_number .number {color:#485ddd}

.sub_nav:before {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.sub_nav > li > a:hover, .sub_nav > li.active a {background-color: #485ddd;}

.customer_areaBox .infoBox .num , .customer_areaBox .infoBox .mail {color:#485ddd}
.service_membership > li:first-child > a:hover , .cop_menu > li:nth-child(2) > a:hover {color:#566bec}

.gnb > li:hover > a > span {color: #485ddd}
.gnb > li > a > span:after {background-color: #485ddd;}


/* EOD : Layout */

/* 팀 프로젝트 */

.team_intro {background-color:#f7f8ff}

/* EOD : 팀 프로젝트 */


.countBox strong {color:#485ddd}


/* Popup */

.main_Pop {background:#566bec; background:linear-gradient(90deg, rgba(50,176,222,1) 8%, rgba(86,107,236,1) 89%)}
.main_Pop .main_PopC {border: 5px solid #c2e7f5}
.main_Pop .main_PopF_L {background-color: #455cce;}
.main_Pop .main_PopF_R .btn_close {background: #3b4da5;}

/* EOD : Popup */

@media only all and (max-width: 1199px) and (min-width: 641px){

    .gnb .twoDepth > li > a:hover {color:#485ddd}
    .gnb > li.active > a, .gnb > li.active > a > span {color:white}
}

@media only all and (max-width: 640px) {

    .gnb .twoDepth > li > a:hover {color:#485ddd}
    .gnb > li.active > a, .gnb > li.active > a > span {color:white}

}

/* EOD : sub */


/* EOD : wbUser.css */



/* datepicker.css */

.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a {color: #566bec;}
.ui-datepicker .ui-datepicker-header {background: #566bec; background: linear-gradient(90deg, rgba(50,176,222,1) 0%, rgba(86,107,236,1) 100%);}
.ui-datepicker-current-day a {background-color: #485ddd !important;}

/* EOD : datepicker.css */
