                <div class="cpn-circle">
                    <div class="cpn-circle-list">
                        <!-- circle -->
                        <article class="cpn-circle-list-item">
                            <div class="cpn-circle-list-in">
                                <a href="#" class="cpn-circle-list-item-a">
                                    <div class="thumb">
                                        <img src="assets/img/HwUgHzWO460fGjfC.PNG" alt="사진명">
                                    </div>

                                    <strong class="cpn-circle-list-name">서클이름</strong>
                                </a>

                                <div class="cpn-circle-list-info">
                                    <ul class="cpn-circle-list-info-list">
                                        <li>9,999,999 members</li>
                                        <li>9999 Posts</li>
                                        <li class="tags"><a href="#">태그1</a>, <a href="#">태그1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <!-- // circle -->

                        <!-- circle -->
                        <article class="cpn-circle-list-item">
                            <div class="cpn-circle-list-in">
                                <a href="#" class="cpn-circle-list-item-a">
                                    <div class="thumb">
                                        <img src="assets/img/HwUgHzWO460fGjfC.PNG" alt="사진명">
                                    </div>

                                    <strong class="cpn-circle-list-name">서클이름</strong>
                                </a>

                                <div class="cpn-circle-list-info">
                                    <ul class="cpn-circle-list-info-list">
                                        <li>9,999,999 members</li>
                                        <li>9999 Posts</li>
                                        <li class="tags"><a href="#">태그1</a>, <a href="#">태그1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <!-- // circle -->

                        <!-- circle -->
                        <article class="cpn-circle-list-item">
                            <div class="cpn-circle-list-in">
                                <a href="#" class="cpn-circle-list-item-a">
                                    <div class="thumb">
                                        <img src="assets/img/HwUgHzWO460fGjfC.PNG" alt="사진명">
                                    </div>

                                    <strong class="cpn-circle-list-name">서클이름</strong>
                                </a>

                                <div class="cpn-circle-list-info">
                                    <ul class="cpn-circle-list-info-list">
                                        <li>9,999,999 members</li>
                                        <li>9999 Posts</li>
                                        <li class="tags"><a href="#">태그1</a>, <a href="#">태그1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <!-- // circle -->

                        <!-- circle -->
                        <article class="cpn-circle-list-item">
                            <div class="cpn-circle-list-in">
                                <a href="#" class="cpn-circle-list-item-a">
                                    <div class="thumb">
                                        <img src="assets/img/HwUgHzWO460fGjfC.PNG" alt="사진명">
                                    </div>

                                    <strong class="cpn-circle-list-name">서클이름</strong>
                                </a>

                                <div class="cpn-circle-list-info">
                                    <ul class="cpn-circle-list-info-list">
                                        <li>9,999,999 members</li>
                                        <li>9999 Posts</li>
                                        <li class="tags"><a href="#">태그1</a>, <a href="#">태그1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <!-- // circle -->

                        <!-- circle -->
                        <article class="cpn-circle-list-item">
                            <div class="cpn-circle-list-in">
                                <a href="#" class="cpn-circle-list-item-a">
                                    <div class="thumb">
                                        <img src="assets/img/HwUgHzWO460fGjfC.PNG" alt="사진명">
                                    </div>

                                    <strong class="cpn-circle-list-name">서클이름 서클이름 서클이름</strong>
                                </a>

                                <div class="cpn-circle-list-info">
                                    <ul class="cpn-circle-list-info-list">
                                        <li>9,999,999 members</li>
                                        <li>9999 Posts</li>
                                        <li class="tags"><a href="#">태그1</a>, <a href="#">태그1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <!-- // circle -->

                        <!-- circle -->
                        <article class="cpn-circle-list-item">
                            <div class="cpn-circle-list-in">
                                <a href="#" class="cpn-circle-list-item-a">
                                    <div class="thumb">
                                        <img src="assets/img/HwUgHzWO460fGjfC.PNG" alt="사진명">
                                    </div>

                                    <strong class="cpn-circle-list-name">서클이름</strong>
                                </a>

                                <div class="cpn-circle-list-info">
                                    <ul class="cpn-circle-list-info-list">
                                        <li>9,999,999 members</li>
                                        <li>9999 Posts</li>
                                        <li class="tags"><a href="#">태그1</a>, <a href="#">태그1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <!-- // circle -->                        
                    </div>
                </div>