                <div class="cpn-tag">
                    <div class="cpn-tag-card">
                        <!-- item -->
                        <article class="cpn-tag-card-item">
                            <div class="cpn-tag-card-item-box">
                                <a href="#" class="cpn-tag-card-item-box-a">
                                    <div class="tit"><span>#기관, 협회, 전문서비스업</span></div>

                                    <div class="thumb"><img src="/assets/img/HwUgHzWO460fGjfC.PNG" alt="사진명"></div>

                                    <strong class="subject">IT 시니어 개발자</strong>
                                </a>

                                <ul class="cpn-tag-card-item-box-info">
                                    <li><i class="icon-eye"></i> 999</li>
                                    <li><span class="btn-like"><i class="icon-like"></i> 999</span></li>
                                    <li><i class="icon-bubble2"></i> 999</li>
                                </ul>

                                <div class="cpn-tag-card-item-box-user">
                                    <a href="/profile/profile.html">
                                        <span class="user-photo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="홍길동"></span>
                                        <span class="user-name">홍길동 홍길동 홍길동 홍길동 홍길동 홍길동 홍길동 홍길동</span>
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- // item -->

                        <!-- item -->
                        <article class="cpn-tag-card-item">
                            <div class="cpn-tag-card-item-box">
                                <a href="#" class="cpn-tag-card-item-box-a">
                                    <div class="tit"><span>#MBA</span></div>

                                    <div class="thumb"><img src="/assets/img/sample640.jpg" alt="사진명"></div>

                                    <strong class="subject">IT 시니어 개발자 IT 시니어 개발자 IT 시니어 개발자 IT 시니어 개발자</strong>
                                </a>

                                <ul class="cpn-tag-card-item-box-info">
                                    <li><i class="icon-eye"></i> 999</li>
                                    <li><span class="btn-like"><i class="icon-like"></i> 999</span></li>
                                    <li><i class="icon-bubble2"></i> 999</li>
                                </ul>

                                <div class="cpn-tag-card-item-box-user">
                                    <a href="#">
                                        <span class="user-photo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="홍길동"></span>
                                        <span class="user-name">dos santos santos dsfsdfsdfsdfsdfsff sfsdfsdfsdf</span>
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- // item -->

                        <!-- item -->
                        <article class="cpn-tag-card-item">
                            <div class="cpn-tag-card-item-box">
                                <a href="#" class="cpn-tag-card-item-box-a">
                                    <div class="tit"><span>#대학원</span></div>

                                    <div class="thumb"><img src="/assets/img/sample640.jpg" alt="사진명"></div>

                                    <strong class="subject">IT 시니어 개발자 IT 시니어 개발자 IT 시니어 개발자 IT 시니어 개발자 IT 시니어 개발자</strong>
                                </a>

                                <ul class="cpn-tag-card-item-box-info">
                                    <li><i class="icon-eye"></i> 999</li>
                                    <li><span class="btn-like"><i class="icon-like"></i> 999</span></li>
                                    <li><i class="icon-bubble2"></i> 999</li>
                                </ul>

                                <div class="cpn-tag-card-item-box-user">
                                    <a href="#">
                                        <span class="user-photo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="홍길동"></span>
                                        <span class="user-name">홍길동</span>
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- // item -->

                        <!-- item -->
                        <article class="cpn-tag-card-item">
                            <div class="cpn-tag-card-item-box">
                                <a href="#" class="cpn-tag-card-item-box-a">
                                    <div class="tit"><span>#승진급</span></div>

                                    <div class="thumb"><img src="/assets/img/sample640.jpg" alt="사진명"></div>

                                    <strong class="subject">IT 시니어 개발자</strong>
                                </a>

                                <ul class="cpn-tag-card-item-box-info">
                                    <li><i class="icon-eye"></i> 999</li>
                                    <li><span class="btn-like"><i class="icon-like"></i> 999</span></li>
                                    <li><i class="icon-bubble2"></i> 999</li>
                                </ul>

                                <div class="cpn-tag-card-item-box-user">
                                    <a href="#">
                                        <span class="user-photo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="홍길동"></span>
                                        <span class="user-name">홍길동</span>
                                    </a>
                                </div>
                            </div>
                        </article>
                        <!-- // item -->
                    </div>

                    <!-- tag list -->
                    <article class="cpn-tag-list">
                        <a href="#">#태그</a>
                        <a href="#">#태그태그태그태</a>
                        <a href="#">#태그</a>
                        <a href="#">#태그태그태그태그태그</a>
                        <a href="#">#태그</a>
                        <a href="#">#태그태그태그</a>
                        <a href="#">#태그태그태그태그태그태그</a>
                        <a href="#">#태그</a>
                        <a href="#">#태그태그태그태</a>
                        <a href="#">#태그</a>
                        <a href="#">#태그태그태그태그태그</a>
                        <a href="#">#태그</a>
                        <a href="#">#태그태그태그</a>
                        <a href="#">#태그태그태그태그태그태그</a>
                        <a href="#">#태그</a>
                        <a href="#">#태그태그태그태</a>
                        <a href="#">#태그</a>
                        <a href="#">#태그태그태그태그태그</a>
                        <a href="#">#태그</a>
                        <a href="#">#태그태그태그</a>
                        <a href="#">#태그태그태그태그태그태그</a>
                    </article>
                    <!-- // tag list -->
                </div>