                        <div class="networking-box-item-wrap">
                            <div class="networking-box-item-user">
                                <span title="헤드헌터" class="headhunter">H<em class="ir">헤드헌터</em></span>

                                <a href="/profile/profile.html" class="networking-box-item-user-a">
                                    <span class="photo">
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="홍길동">
                                    </span>

                                    <div class="info">
                                        <strong class="info-name">홍길동 (hong gil dong)</strong>

                                        <ul class="info-detail">
                                            <li>Venturepeople</li>
                                            <li>전무 / Sr.managing Director</li>
                                        </ul>
                                    </div>
                                </a>

                                <!-- <div class="btn">
                                    <a href="#" class="btn-button btn-mail"><i class="icon-envelop"></i> 인메일</a>
                                    <button type="button" class="btn-button btn-networking"><i class="icon-user-plus"></i> 인맥요청</button>
                                </div> -->

                                <div class="tag">
                                    <a href="#">#채용</a>
                                    <a href="#">#채용</a>
                                </div>
                            </div>

                            <div class="networking-box-item-info">
                                <!-- <div class="cpn-grade">
                                    <div class="cpn-grade-rating">
                                        <div class="cpn-grade-rating-star" style="width: 80%"><span class="ir">5점</span></div>
                                    </div>

                                    <div class="cpn-grade-user"><strong>Super User</strong></div>
                                </div> -->

                                <strong class="rank">#1 Network</strong>

                                <ul class="count">
                                    <li>인맥 : <strong>99999</strong></li>
                                    <li>평판 : <strong>99999</strong></li>
                                    <li>답변 : <strong>9999</strong></li>
                                </ul>
                            </div>
                        </div>