        <div class="cpn-search-wrapper">
            <article class="cpn-search-box">
                <h2 class="tit-h2">Find The Job That Fist your Life</h2>

                <div class="cpn-search-box-body">
                    <form action="/comm/search.html">
                        <fieldset>
                            <legend><span>검색</span></legend>

                            <ul class="cpn-search-box-body-tab">
                                <li>
                                    <input type="radio" id="search-tab1" name="search-tab" checked><label for="search-tab1">경력직정보</label>
                                </li>
                                <li>
                                    <input type="radio" id="search-tab2" name="search-tab"><label for="search-tab2">채용</label>
                                </li>
                                <li>
                                    <input type="radio" id="search-tab3" name="search-tab"><label for="search-tab3">인맥</label>
                                </li>
                                <li>
                                    <input type="radio" id="search-tab4" name="search-tab"><label for="search-tab4">서클</label>
                                </li>
                            </ul>

                            <div class="cpn-search-box-body-main">
                                <input type="search" placeholder="Job Title, Keywords, or Company" title="검색어" class="input-search-insert">
                                <button type="submit" class="btn-search-submit">
                                    <i class="icon-search"></i>
                                    <span class="ir">검색</span>
                                </button>
                            </div>
                        </fieldset>
                    </form>

                    <!-- 모바일시 검색 이동 -->
                    <a href="https://webpi.github.io/jobindex/comm/search.html" class="cpn-search-box-body-search"><span class="ir">검색 바로가기</span></a>
                    <!-- // 모바일시 검색 이동 -->
                </div>
            </article>

            <div class="cpn-search-bot">
                <span class="txt">Are You Hiring</span>
                <a href="https://webpi.github.io/jobindex/comm/aboutus.html" class="btn">Post Jobs FREE</a>
            </div>
        </div>