                        <div class="cpn-subjectbox-in">
                            <div class="cpn-subjectbox-subject">
                                <a href="#"><strong class="q">Q.</strong> 기억에 남는 영화나 드라마 OST는?</a>
                            </div>

                            <div class="cpn-subjectbox-tags">
                                <a href="https://webpi.github.io/jobindex/profile/profile_company.html">#기업프로필</a>
                                <a href="#">#실시간</a>
                                <a href="#">#순위</a>
                            </div>

                            <ul class="cpn-subjectbox-info">
                                <li><i class="icon-eye"></i> 999</li>
                                <li><span class="btn-like on"><i class="icon-like"></i> 999</span></li>
                                <li><i class="icon-bubble2"></i> 999</li>
                            </ul>
                        </div>