                        <a href="https://webpi.github.io/jobindex/comm/view.html" class="cpn-jobs-item-a">
                            <strong class="cpn-jobs-name">삼성시계(주)</strong>
                            <div class="cpn-jobs-conts">[SEIKO KOREA] 삼정시계</div>
                        </a>

                        <!-- tag -->
                        <div class="cpn-jobs-tag">
                            <a href="#">#일반영업</a>
                            <a href="#">#일반영업</a>
                            <a href="#">#일반영업</a>
                            <a href="#">#일반영업</a>
                        </div>
                         <!-- // tag -->

                        <!-- 스크랩 전 -->
                        <button type="button" class="btn-scrap"><i class="icon-bookmarks"></i><span class="ir">스크랩</span></button>
                        <!-- // 스크랩 전 -->

                        <!-- 스크랩 후 -->
                        <button type="button" class="btn-scrap scrap"><i class="icon-bookmarks"></i><span class="ir">스크랩</span></button>
                        <!-- // 스크랩 후 -->

                        <div class="cpn-jobs-aside">
                            <span class="day">D-4</span> <span class="label-s supp1">즉시지원</span>
                        </div>