                <div class="realtime-ranking-box">                
                    <h2 class="tit-h2"><span>경력직 정보 </span>실시간 순위</h2>

                    <div class="realtime-ranking-box-in">
                        <ol>
                            <li>
                                <a href="#">
                                    <em class="rank">1</em>
                                    <span class="photo"><img src="/assets/img/sample640.jpg" alt="사진명"></span>
                                    <div class="info">
                                        <span class="subject">변화를 꿈꾸는 사람이라면 읽어야 할 명언 10가지</span>

                                        <div class="info-box">
                                            <span>무료</span>
                                            <span>세미나/컨퍼런스</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em class="rank">2</em>
                                    <span class="photo"><img src="/assets/img/sample640.jpg" alt="사진명"></span>
                                    <div class="info">
                                        <span class="subject">변화를 꿈꾸는 사람이라면 읽어야 할 명언 10가지</span>

                                        <div class="info-box">
                                            <span>무료</span>
                                            <span>세미나/컨퍼런스</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em class="rank">3</em>
                                    <span class="photo"><img src="/assets/img/sample640.jpg" alt="사진명"></span>
                                    <div class="info">
                                        <span class="subject">변화를 꿈꾸는 사람이라면 읽어야 할 명언 10가지 변화를 꿈꾸는 사람이라면 읽어야 할 명언 10가지</span>

                                        <div class="info-box">
                                            <span>무료</span>
                                            <span>세미나/컨퍼런스</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em class="rank">4</em>
                                    <span class="photo"><img src="/assets/img/sample640.jpg" alt="사진명"></span>
                                    <div class="info">
                                        <span class="subject">변화를 꿈꾸는 사람이라면 읽어야 할 명언 10가지</span>

                                        <div class="info-box">
                                            <span>무료</span>
                                            <span>세미나/컨퍼런스</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em class="rank">5</em>
                                    <span class="photo"><img src="/assets/img/sample640.jpg" alt="사진명"></span>
                                    <div class="info">
                                        <span class="subject">변화를 꿈꾸는 사람이라면 읽어야 할 명언 10가지</span>

                                        <div class="info-box">
                                            <span>무료</span>
                                            <span>세미나/컨퍼런스</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <em class="rank">6</em>
                                    <span class="photo"><img src="/assets/img/sample640.jpg" alt="사진명"></span>
                                    <div class="info">
                                        <span class="subject">변화를 꿈꾸는 사람이라면 읽어야 할 명언 10가지</span>

                                        <div class="info-box">
                                            <span>무료</span>
                                            <span>세미나/컨퍼런스</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>